@import '@hi-ui/core-css/lib/core/index.scss';
$basic-color: #4284f5;

.hi-datepicker {
  position: relative;
  display: flex;
  z-index: 1000;
  font-size: 14px;

  &__input-root {
    display: inline-block;
  }

  &__input {
    background: #fff;
    border: 1px solid #d8d8d8;
    border-radius: 2px;
    height: 32px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &--range {
      width: 320px;

      input {
        flex: 0 1 40%;
        text-align: center;
      }
    }

    input {
      outline: none;
      border: 0;
      min-width: 0;
      min-height: 0;
      height: 30px;
      padding-left: 10px;

      &::-webkit-input-placeholder {
        color: #ccc;
      }
    }

    &--disabled {

      .hi-datepicker__input-icon,
      input {
        cursor: not-allowed;
        background: #f4f4f4;
        color: rgba(44, 48, 78, 0.2);
      }
    }
  }

  &__input-icon {
    height: 100%;
    flex: 1 0 32px;
    line-height: 32px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
  }

  &__header {
    border-bottom: 1px solid #f2f2f2;
    display: flex;
    justify-content: space-between;
    height: 47px;
    align-items: center;
    padding: 0 15px;

    &-btns {
      width: 50px;
      display: flex;
      justify-content: space-around;

      .hi-icon {
        cursor: pointer;
        flex: 1;
      }
    }

    &-text {
      font-weight: bold;
    }
  }

  &__body {
    background: #fff;
    border: 1px solid #d1dbe5;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    box-sizing: border-box;
    width: 288px;

    &--range {
      width: 578px;

      .hi-datepicker__panel {
        width: 50%;
        float: left;
      }
    }


  }

  &__time-header {

    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    padding: 15px;
    display: flex;
    justify-content: space-around;
    font-size: 14px;

    span {
      flex: 0 0 50%;
      text-align: center;
      color: rgba(153, 153, 153, 1);
    }

    em {
      flex: 0 0 1px;
      background: rgba(128, 128, 128, 0.2);
    }

    &--active {
      color: $basic-color;
    }
  }

  &__time-footer {
    clear: both;
    text-align: center;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    color: $basic-color;
    border-top: 1px solid #f2f2f2;
  }

  .hi-timepicker {

    width: 252px;

    .hi-timepicker__timebody {

      height: 265px;
    }

    &__list {
      height: 265px;
      width: 104px;

      &:nth-child(2) {
        left: 84px;
      }

      &:nth-child(3) {
        left: 168px;
        width: 84px;
      }
    }

    &__item {
      width: 84px;

      &:last-child {
        height: 38px;
      }
    }
  }

  &__calender-container {
    padding: 17px 18px 15px;

    &--year,
    &--month {
      padding: 10px 5px;

      .hi-datepicker__row {
        height: 57px;
      }

      .hi-datepicker__cell {
        width: 92px;

        &.today {
          .hi-datepicker__text {
            background: $basic-color;
            opacity: 1;
            color: #fff;
          }
        }
      }

      .hi-datepicker__text {
        width: 48px;
      }
    }
  }

  &__calender {
    border: 0;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;

    th {
      line-height: 24px;
      padding: 0;
    }
  }

  &__row {
    &--current-week {
      .hi-datepicker__content {
        background: map-get(get-palette($basic-color), '10');
      }

      .week-highlight {
        .hi-datepicker__content {
          background: $basic-color;
        }
      }
    }
  }

  &__cell {
    cursor: pointer;
    text-align: center;
    line-height: 24px;
    padding: 4px 0;
    width: 36px;
    height: 24px;

    &.disabled {
      .hi-datepicker__content {
        cursor: not-allowed;
        color: map-get(get-palette($basic-color), 'g80');
        background: map-get(get-palette($basic-color), 'g70');
      }
    }

    &.prev,
    &.next {
      .hi-datepicker__text {
        color: rgba(44, 48, 78, 0.2);
      }
    }

    &.range-start,
    &.range-end {
      .hi-datepicker__content {
        margin: 0 3px;
        background: $basic-color;
        color: #fff;
        border-radius: 2px;
      }
    }

    &.in-range {
      .hi-datepicker__content {
        background: rgba(66, 132, 245, 0.2);
      }
    }

    &.today {
      .hi-datepicker__text {
        border: 1px solid $basic-color;
        border-radius: 2px;
        opacity: 0.8;
      }
    }
  }

  &__text {
    display: inline-block;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
  }

  &__shortcuts {
    background: #fff;
    border: 1px solid #d1dbe5;
    width: 100px;
    text-align: center;

    p {
      cursor: pointer;
    }
  }

  .hide {
    display: none !important;
  }
}

.hi-timepicker {
  width: 180px;
  background: #fff;

  &__timebody {
    display: flex;
    height: 195px;
    border-bottom: 1px solid #f2f2f2;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__list {
    position: absolute;
    z-index: 1;
    width: 80px;
    height: 196px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow-x: hidden;
    overflow-y: scroll;
    background: #fff;

    &:nth-child(2) {
      z-index: 2;
      left: 60px;
    }

    &:nth-child(3) {
      width: 60px;
      z-index: 3;
      left: 120px;
    }
  }

  &__item {
    text-align: center;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.65);
    line-height: 38px;
    height: 38px;
    width: 60px;
    cursor: pointer;
    box-sizing: border-box;

    &--current {
      font-weight: bold;
    }

    &:last-child {
      height: 44px;
    }
  }

  &__footer {
    padding: 2px 0;
    text-align: right;

    button {
      margin-right: 4px;
    }
  }

  &__current-line {
    height: 38px;
    box-sizing: border-box;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    position: absolute;
    top: 76px;
    width: 100%;
    z-index: 4;
    pointer-events: none;
  }
}

@each $key, $value in $palette-primary {
  .theme__#{$key} {
    .hi-datepicker {
      &__time-header {
        &--active {
          color: map-get(get-palette($value), '50');
        }
      }

      &__time-footer {
        color: map-get(get-palette($value), '50');
      }

      &__calender-container--year,
      &__calender-container--month {
        .hi-datepicker__cell {
          &.today {
            .hi-datepicker__text {
              background: map-get(get-palette($value), '50');
            }
          }
        }
      }

      &__row {
        &--current-week {
          .hi-datepicker__content {
            background: map-get(get-palette($value), '10');
          }

          &.week-highlight {
            .hi-datepicker__content {
              background: map-get(get-palette($value), '50');
              color: #fff;
            }
          }
        }
      }

      &__cell {
        &.today {
          .hi-datepicker__text {
            border: 1px solid map-get(get-palette($value), '50');
          }
        }

        &.in-range {
          .hi-datepicker__content {
            background: map-get(get-palette($value), '10');
          }
        }

        &.range-start,
        &.range-end {
          .hi-datepicker__content {
            background: map-get(get-palette($value), '50');
          }
        }
      }

      &__body {
        .hi-datepicker__time-footer {
          color: map-get(get-palette($value), '40');
        }
      }
    }
  }
}
