.hi-timepicker {
  width: 180px;
  background: #FFFFFF;
  &__time-body {
    display: flex;
    justify-content: space-around;
    height: 195px;
    border-bottom: 1px solid #F2F2F2;
  }
  &__time-list {
    overflow: auto;
    flex:1;
    &-el {
      text-align: center;
      font-size: 14px;
      color: rgba(0,0,0,0.65);
      line-height: 22px;
      padding: 8px;
      border-right: 1px solid #F2F2F2;
      cursor: pointer;
      &_current {
        background: #F7F7F7;
        font-weight: bold;
      }
    }
  }
  &__time-footer {
    padding: 2px 0;
    text-align: right;
    button {
      margin-right:4px;
    }
  }
}