@import '~@hi-ui/core-css/lib/index.scss';

$prefix: '#{$component-prefix}-counter' !default;

.#{$prefix} {
  position: relative;
  display: inline-flex;
  height: auto;
  min-height: 32px;
  box-sizing: border-box;
  color: use-color('gray-80');
  font-size: $font-size-normal;
  outline: none;

  $this: &;

  &--focused {
    .#{$prefix}__input {
      border: 1px solid use-color('primary');
    }
  }

  &--out-of-bounds {
    color: get-color($palette-secondary, 'danger');
  }

  &__minus,
  &__plus {
    appearance: none;
    background-color: transparent;
    padding: 0;
    border: none;
    user-select: none;
    font: inherit;
    outline: none;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border: 1px solid use-color('gray-30');
    border-radius: 2px;
    font-weight: bold;
    color: use-color('primary');
    cursor: pointer;

    &.disabled {
      color: use-color('gray-50');
      cursor: not-allowed;
    }
  }

  &__minus {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__plus {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &__input {
    flex: 1 1 auto;
    width: 2 * 32px;
    padding: 0 6px;
    border: 1px solid use-color('gray-30');
    color: inherit;
    outline: none;
    box-sizing: border-box;
    transition: border-color 0.2s ease;
  }
}
