
@import '@hi-ui/core-css/index.scss';

@mixin breadcrumb-styles($themeColor: get-color($palette-primary, 'hiui-blue')) {
  .hi-breadcrumb {
    &__content {
      &:hover {
        color: $themeColor;
      }
    }
  }
}

.hi-breadcrumb {
  color: rgba(153, 153, 153, 1);

  &__content {
    cursor: pointer;

    .hi-icon {
      margin: 0 4px;
    }
  }

  &__separator {
    margin: 0 10px;
  }

  &__item:last-child {
    .hi-breadcrumb__content {
      cursor: text;

      &:hover {
        color: rgba(153, 153, 153, 1);
      }
    }

    .hi-breadcrumb__separator {
      display: none;
    }
  }
}

@include breadcrumb-styles();

@each $key, $value in $theme-colors {
  .theme__#{$key} {
    @include breadcrumb-styles($value);
  }
}
