@import '@hi-ui/core-css/index.scss';

.hi-breadcrumb {
  font-size: 12px;

  ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    font-size: 0;
  }

  li {
    margin: 0;
    list-style: none;
  }

  &__content {
    cursor: pointer;

    .hi-icon {
      margin: 0 4px;
    }
  }

  &__separator {
    margin: 0 8px;
    color: #ccc;
  }

  &__item {
    display: inline-block;

    a {
      color: #666;
    }

    .hi-breadcrumb__content:hover {
      color: #4284f5;
    }
  }

  &__item:last-child {
    .hi-breadcrumb__content {
      cursor: text;
    }

    .hi-breadcrumb__separator {
      display: none;
    }
  }
}

@each $key, $value in $palette-primary {
  .hi-breadcrumb.theme__#{$key} {
    .hi-breadcrumb__content {
      &:hover {
        color: $value;
      }
    }

    .hi-breadcrumb__item:last-child {
      .hi-breadcrumb__content {
        cursor: text;
        color: #666;

        &:hover {
          color: #666;
        }
      }
    }
  }
}
