@import '../common/index.scss';

// 基础边框粗细
$border-size-base-map: (
  none: 0,
  normal: '1px solid',
  semibold: '2px solid',
  bold: '4px solid'
) !default;

// 基础边框圆角弧度
$border-radius-base-map: (
  none: 0,
  sm: 2px,
  normal: 4px,
  // md: 4px,
  lg: 6px,
  full: 9999px,
) !default;

@function get-border-size($size) {
  @return map-safe-get($border-size-base-map, $size);
}

@function get-border-radius($size) {
  @return map-safe-get($border-radius-base-map, $size);
}
