@import '../common/index.scss';

// 基础调色板
$color-palette-base-map: (
  'static': (
    'white': #fff,
    'black': #000,
    'transparent': transparent,
    'currentColor': currentColor,
  ),
  'brandblue': (
    50: #e2f3fe,
    100: #bde2ff,
    200: #96ceff,
    300: #70b8ff,
    400: #4a9eff   ,
    500: #237ffa   ,
    600: #1360d4,
    700: #0744ad,
    800: #002d87,
    900: #001d61,
  ),
  'skyblue': (
    50: #e5fafe,
    100: #b9f0fe,
    200: #8ee4fe,
    300: #63d5fe,
    400: #38c3fe,
    500: #0daeff,
    600: #0089d9,
    700: #006bb3,
    800: #004f8c,
    900: #003666,
  ),
  'ultramarine': (
    50: #e5ebfe ,
    100: #ccd8ff   ,
    200: #b3c2ff   ,
    300: #9af,
    400: #8090ff   ,
    500: #6372ff,
    600: #4c55d9   ,
    700: #363ab3   ,
    800: #23238c   ,
    900: #171466   ,
  ),
  'purple': (
    50: #f0e5fe,
    100: #e1cefe,
    200: #d1b7fe,
    300: #bfa0fe,
    400: #a889fe,
    500: #9772fb,
    600: #7255d4,
    700: #533dad,
    800: #382987,
    900: #221861,
  ),
  'red': (
    50: #fee9e5,
    100: #ffd1c9,
    200: #ffb6ad,
    300: #ff9991,
    400: #ff7a75,
    500: #ff5959,
    600: #d94146,
    700: #b32d36,
    800: #8c1c27,
    900: #660f1b,
  ),
  'pastelblue': (
    50: #e5f3fe,
    100: #d4ebff,
    200: #bcdaf7,
    300: #a2c4eb,
    400: #8aaede,
    500: #7298d0,
    600: #5575ab,
    700: #3c5485,
    800: #26375e,
    900: #141d38,
  ),
  'gray': (
    50: #f5f7fa,
    100:#f2f4f7,
    200:#ebedf0,
    300:#dfe2e8,
    400:#c9ced6,
    500:#929aa6,
    600:#5f6a7a,
    700:#1f2733,
    800:#1f2937,
    900: #111827,
  ),
  'green': (
    50: #e5feeb,
    100: #b3f2c6,
    200: #8bf0ad,
    300: #5fe390,
    400: #38d677,
    500: #14ca64,
    600: #08a351,
    700: #007d3e,
    800: #00572e,
    900: #00301b,
  ),
  'cyan': (
    50: #e5fefa,
    100: #befaf2,
    200: #93ede4,
    300: #6ce0d9,
    400: #48d4cf,
    500: #28c7c7,
    600: #189ca1,
    700: #0c737a,
    800: #044c54,
    900: #00282e,
  ),
  'yellow': (
    50: #fefae0,
    100: #fef2b4,
    200: #fee789,
    300: #fed95e,
    400: #fec833,
    500: #fab007,
    600: #d99100,
    700: #b37100,
    800: #ad6e00,
    900: #613700,
  ),
  'amber': (
    50: #fefee5,
    100: #fefbb9,
    200: #fef58e,
    300: #feec63,
    400: #fec938,
    500: #face0c,
    600: #d4a600,
    700: #ad8200,
    800: #876100,
    900: #614200,
  ),
  'orange': (
    50: #fef0e5,
    100: #feddc4,
    200: #fec7a3,
    300: #feaf82,
    400: #fe9561,
    500: #fe7940,
    600: #d95a2b,
    700: #b33e1b,
    800: #8c270e,
    900: #661505,
  ),
) !default;

@function get-color($scheme, $gradation, $alpha: '') {
  $color: map-safe-get(
    map-safe-get($color-palette-base-map, $scheme),
    $gradation,
  );

  @if $alpha != '' {
    @return rgba($color, $alpha);
  }

  @else {
    @return $color;
  }
}
