// 基础动画时长
$motion-duration-base-map: (
  none: 0,
  faster: 150ms,
  normal: 200ms,
  slow: 350ms,
  slower: 500ms,
) !default;

// 基础动画曲线
$motion-bezier-base-map: (
  none: none,
  easing: cubic-bezier(0.37, 0.02, 0.34, 1),
  normal: cubic-bezier(0.37, 0.02, 0.34, 1), // easing
  ease-in: cubic-bezier(0.4, 0, 1, 1),
  ease-out: cubic-bezier(0, 0, 0.2, 1),
  ease-in-out: cubic-bezier(0.4, 0, 0.2, 1),
) !default;

@function get-motion-duration($name) {
  @return map-safe-get($motion-duration-base-map, $name);
}

@function get-motion-bezier($name) {
  @return map-safe-get($motion-bezier-base-map, $name);
}
