@import '~@hi-ui/core-css/lib/index.scss';

$prefix: '#{$component-prefix}-cascader' !default;

.#{$prefix} {
  .#{$component-prefix}-input__suffix  {
    font-size: 16px;
    color: rgba(132, 132, 132, 1);
  }
}

.#{$prefix}-menus {
  color: var(--color-gray-80);
  display: flex;
  box-sizing:  border-box;

  &-menu {
    @include component-reset;

    list-style: none;
    width: auto;
    padding: $spacer-2 0;
    box-sizing: border-box;

    &:not(:last-child) {
      border-right: 1px solid #e8e8e8;
    }

    &__item {
      width: auto;
      padding: $spacer-1 0;
      position: relative;
      cursor: pointer;
      display: flex;
    }

    &-option {
      padding: 0 $spacer-2 + 2px;
      box-sizing: border-box;
      min-height: 32px;
      width: auto;
      display: flex;
      align-items: center;
    }
  }
}

.#{$prefix}-search {
  @include component-reset;
  list-style: none;

  display: flex;
  flex-direction: column;
  background-color: var(--white);

  &__row {
    width: auto;
    padding: $spacer-1 0;
    position: relative;
    cursor: pointer;
    display: flex;

    &-item {
      padding: 0 $spacer-2 + 2px;
      box-sizing: border-box;
      min-height: 32px;
      width: auto;
      display: flex;
      align-items: center;
    }
  }

  &__cols {
    display: block;
    width: 100%;
    @include component-reset;
    list-style: none;
  }

  &__col {
    display: inline-block;

    &::after {
      content: "\00a0/\00a0";
    }

    &:last-child {
      &:after {
        content: none;
      }
    }
  }
}

.#{$prefix}-modal {
  box-sizing: border-box;
  width: auto;
  background-color: use-color('white');
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  position: relative;
  padding: $spacer-2;
}
