@import '~@hi-ui/core-css/lib/index.scss';

$prefix: '#{$component-prefix}-cascader' !default;

.#{$prefix} {
  &--open {
    .#{$component-prefix}-mock-input {
      border-color: var(--color-primary);
    }
  }
}

.#{$prefix}-panel {
  white-space: nowrap;
  box-sizing: border-box;
  padding-top: 8px;
}

.#{$prefix}-search {
  box-sizing: border-box;
  // padding: 10px;
  padding: 0 10px 10px;
  position: relative;

  .#{$component-prefix}-input__prefix {
    font-size: 16px;
    padding-left: 0;
  }

  &__empty {
    display: inline-block;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #999;
    line-height: 20px;
  }
}

.#{$prefix}-menu-list {
  display: flex;
  box-sizing: border-box;
  overflow-x: auto;

  &--flatted {
    .#{$prefix}-menu {
      flex-basis: 100%;
    }
  }
}

.#{$prefix}-menu {
  @include component-reset;

  list-style: none;
  width: auto;
  box-sizing: border-box;
  flex-shrink: 0;
  display: inline-block;
  min-width: 160px;
  min-height: 160px;
  max-height: 260px;
  overflow: auto;
  padding-bottom: 10px;

  // 分界线
  &:not(:last-child) {
    // border-right: 1px solid #e8e8e8;
  }

  $this: &;

  &-item {
    width: 100%;
    padding: $spacer-1 0;
    position: relative;
    cursor: pointer;
    display: flex;
  }

  &-option {
    padding: 0 $spacer-2 + 2px;
    box-sizing: border-box;
    min-height: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;

    &:hover {
      background-color: use-color('primary-20');
    }

    &--selected {
      background-color: use-color('primary-20');
      font-weight: 700;
    }

    &--focused {
      background-color: use-color('primary-10');
    }

    &--checked {
      font-weight: 700;
    }

    &--disabled {
      cursor: not-allowed;
      color: var(--color-gray-50);
      font-weight: 400;

      .#{$prefix}-menu-switcher {
        color: var(--color-gray-50);
      }
    }
  }

  .title__text {
    flex: 1;

    &--cols {
      display: block;
      width: 100%;

      @include component-reset;

      list-style: none;
    }

    &--col {
      display: inline-block;

      &::after {
        content: '\00a0/\00a0';
      }

      &:last-child {
        &::after {
          content: none;
        }
      }
    }

    &--matched {
      color: use-color('primary');
    }
  }

  &-switcher {
    flex-shrink: 0;
    font-size: 16px;
    color: #666;

    svg {
      width: 1em;
      height: 1em;
      fill: currentColor;
      stroke: currentColor;
      display: inline-block;
      vertical-align: -0.15em;
    }

    &--loading {
      color: var(--color-primary);
    }

    &--arrow {
      transform: rotate(-90deg);
    }
  }
}

// TODO: 迁移
.hi-v4-tree--icon-loading {
  animation-name: hi-rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes hi-rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
