@import '../../style/icon/index.scss';

$hoverColor:#ecf6fd;
$selectColor:#f7f7f7;

.single-select-container{
	display: inline-block;
	vertical-align: middle;
	position: relative;
	width: 100%;
	min-width: 50px;
	white-space: nowrap;
	box-sizing: border-box;
}

.select-list{
	padding: 0;
	margin:0;
	position: absolute;
	top: 20px;
	left: 0;
	width: 100%;
	box-shadow: 0 0 0 2px rgba(0,0,0,.2);
	box-sizing:border-box;
	.list-item{
		list-style: none;
		padding:2px;
		&:hover{
			background:$hoverColor; 
		}
		&[data-enabled="false"]{
			cursor: not-allowed;
			&:hover{
				background:none;
			}
		}
		&[selected="true"]{
			background:$selectColor; 
		}
	}
}

