@import '@hi-ui/core-css/index.scss';

// Define component colors
@mixin hi-cascader-style($color: get-color($palette-primary, 'hiui-blue')) {
  .hi-cascader {
    &.hi-cascader--focused {
      .hi-cascader {
        &__input-container {
          border-color: $color;
        }
      }
    }
  }
}

.hi-cascader {
  // &.hi-cascader--focused {
  //   .hi-cascader {
  //     &__input-container {
  //       border-color: #4284f5;
  //     }
  //   }
  // }

  &.hi-cascader--disabled {
    cursor: not-allowed;
    opacity: 0.6;

    .hi-cascader__input-keyword {
      cursor: not-allowed;
    }
  }

  &:not(.hi-cascader--disabled) {
    &.hi-cascader--clearable:hover {
      .hi-cascader__icon--expand {
        display: none;
      }

      .hi-cascader__icon--clear {
        display: block;
        color: #999;
      }
    }
  }

  &__input-container {
    display: flex;
    align-items: center;
    padding: 5px 12px;
    border: 1px solid #d9d9d9;
  }

  &__input-keyword {
    flex: auto;
    font-size: 14px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: none;
    outline: none;
    box-sizing: border-box;
  }

  &__icon {
    flex: none;
    height: 22px;
    line-height: 22px;

    &--clear {
      display: none;
      cursor: pointer;
    }
  }
}

@include hi-cascader-style();

@each $key, $value in $theme-colors {
  .theme__#{$key} {
    @include hi-cascader-style($value);
  }
}
