@import '@hi-ui/core-css/index.scss';

$cascader: 'hi-cascader' !default;

.#{$cascader} {
  &.hi-cascader--focused {
    .hi-cascader {
      &__input-container {
        border-color: #4284f5;
      }
    }
  }

  &.hi-cascader--disabled {
    cursor: not-allowed;
    opacity: 0.6;

    .hi-cascader__input-keyword {
      cursor: not-allowed;
    }
  }

  &:not(.hi-cascader--disabled) {
    &.hi-cascader--clearable:hover {
      .hi-cascader__icon--expand.has-value {
        display: none;
      }

      .hi-cascader__icon--clear {
        display: block;
        color: #666;
      }
    }
  }

  &__input-container {
    display: flex;
    align-items: center;
    padding: 5px 12px;
    border: 1px solid #d8d8d8;
  }

  &__input-keyword {
    flex: auto;
    font-size: 14px;
    cursor: pointer;
    overflow: hidden !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: none;
    outline: none;
    box-sizing: border-box;

    &::-webkit-input-placeholder {
      color: #ccc;
    }
  }

  &__icon {
    flex: none;
    height: 22px;
    line-height: 22px;

    &--clear {
      display: none;
      cursor: pointer;
    }
  }
}

@each $key, $value in $palette-primary {
  .#{$cascader}.theme__#{$key} {
    &.hi-cascader--focused {
      .hi-cascader {
        &__input-container {
          border-color: $value;
        }
      }
    }
  }
}
