@import '@hi-ui/core-css/index.scss';
$AnimationClassName: 'hi-cascader_transition' !default;

.hi-cascader__popper {
  display: flex;
  font-size: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.hi-cascader-menuOutter {
  display: flex;

  &.hi-cascader-menuOutter--empty {
    height: 233px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #a9abaf;
    font-size: 14px;
    background-color: #fff;
  }
}

.hi-cascader-menu {
  height: 180px;
  min-width: 110px;
  overflow: auto;

  &:not(:last-child) {
    border-right: 1px solid #e8e8e8;
  }

  &,
  &__item {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    position: relative;
    padding: 5px 12px;
    color: #48576a;
    cursor: pointer;

    &.hi-cascader-menu__item-disabled span,
    &.hi-cascader-menu__item-disabled .hi-cascader-menu__item--label-noHightlight {
      color: #bfcbd9 !important;
      cursor: not-allowed;
    }

    &.hi-cascader-menu__item-expanded {
      padding-right: 25px;
    }

    &.hi-cascader-menu__item-active {
      color: #4284f5;
      background-color: transparent !important;

      &:hover {
        background-color: rgba(66, 133, 244, 0.15) !important;
      }
    }

    &:hover {
      background-color: #f5f5f5;
    }

    &-focus {
      background-color: rgba(0, 0, 0, 0.1) !important;
    }

    &--icon {
      position: absolute;
      right: 12px;
    }

    &--label {
      white-space: nowrap;
    }

    &--isFiltered {
      > span,
      i {
        color: #333;
      }
    }

    &--path {
      font-weight: 600;

      i {
        color: #48576a;
      }
    }

    &--label-hightlight {
      color: #4284f5;
    }

    &--label-noHightlight {
      color: #333;
    }

    &--label-split {
      margin: 0 3px;
    }
  }
}

@each $key, $value in $palette-primary {
  .hi-cascader-menu.theme__#{$key} {
    .hi-cascader-menu__item:hover {
      background-color: rgba($value, 0.15);
    }

    .hi-cascader-menu__item.hi-cascader-menu__item-active {
      background-color: rgba($value, 0.15);
    }
  }
}

@keyframes transitionStyle {
  from {
    transform: scale(0.9);
    transform: translate(-6%);
    opacity: 0;
    background-color: none;
  }

  to {
    opacity: 1;
    background-color: #fff;
  }
}

.#{$AnimationClassName} {
  animation: transitionStyle 0.3s 1 forwards;
}
