@import '~@hi-ui/core-css/lib/index.scss';

$prefix: '#{$component-prefix}-input' !default;

.#{$prefix} {
  // reset native input
  margin: 0;
  border: none;
  outline: none;
  box-shadow: none;
  appearance: none;
  height: inherit;
  background-color: transparent;
  cursor: text;
  // basic
  flex: 1;
  display: inline-block;
  box-sizing: border-box;
  transition: all .3s;
  width: 100%;
  font-size: inherit;
  color: use-color('black');
  line-height: $line-height-size-normal;

  &::placeholder {
    color: use-color('gray-50')
  }

  &:disabled {
    cursor: not-allowed;
  }

  &__inner {
    position: relative;
    display: inline-flex;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    font-size: inherit;
    border: 1px solid transparent;
    border-radius: $spacer-1;
    background-color: use-color('white');
    transition: all 0.3s;
    outline: 2px solid transparent;

    &:not(.disabled):hover {
      z-index: 1;
    }

    &:not(.disabled).focused {
      z-index: 1;
    }
  }

  &__outer {
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    height: auto;
    width: 100%;
  }

  // clear icon
  &__clear {
    display: inline-flex;
    align-items: center;
    height: auto;
    font-size: 14px;
    text-align: center;
    color: use-color('gray-50');
    flex-shrink: 0;
    cursor: pointer;
    transition: all 0.3s;
    visibility: hidden;
    opacity: 0;

    &:hover {
      color: use-color('black');
    }

    &.active {
      visibility: visible;
      opacity: 1;
    }

    // 和用户传入 suffix 保持间隔
    .#{$prefix}__inner--suffix & {
      margin-right: 4px;
    }
  }

  &__prefix,
  &__suffix {
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
    color: use-color('black');
    font-size: inherit;
    text-align: center;
  }

  // 减去左或右边框 1px
  $input-padding-width: 11px;

  &__prefix {
    padding-left: $input-padding-width;
  }

  &__suffix {
    // 减去右边框 1px
    padding-right: $input-padding-width;
  }

  &__prepend,
  &__append {
    position: relative;
    color: use-color('black');
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    font-size: inherit;
    text-align: center;
    transition: all .3s;
    padding: 0 $input-padding-width;
    border: 1px solid transparent;
    white-space: nowrap;
    border-radius: $spacer-1;
  }

  &__prepend,
  &__append {
    background-color: rgb(248, 248, 248);
  }

  &__prepend {
    border-right-width: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__append {
    border-left-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &--size {
    &-sm {
      font-size: $font-size-normal;

      .#{$prefix} {
        padding: $spacer-1 $input-padding-width;
      }
    }

    &-md {
      font-size: $font-size-large;

      .#{$prefix} {
        padding: $spacer-2 $input-padding-width;
      }
    }

    &-lg {
      font-size: $font-size-x-large;

      .#{$prefix} {
        padding: $spacer-3 $input-padding-width;
      }
    }
  }

  &--appearance {
    &-outline {
      .#{$prefix}__inner {
        border-color: use-color('gray-30');

        &:not(.disabled):hover {
          border-color: use-color('primary');
        }

        &:not(.disabled).focused {
          box-shadow: 0 0 0 1px use-color('primary');
          border-color: use-color('primary');
        }

        &.disabled {
          color: var(--color-gray-50);
          background-color: var(--color-gray-10);
        }
      }

      .#{$prefix}__prepend,
      .#{$prefix}__append {
        border-color: use-color('gray-30');
      }
    }

    &-unset {
      .#{$prefix} {
        padding-left: 0;
        padding-right: 0;
      }

      &.#{$prefix}__outer--prepend,
      .#{$prefix}__inner--prefix {
        .#{$prefix} {
          padding-left: $input-padding-width;
        }
      }

      &.#{$prefix}__outer--append,
      .#{$prefix}__inner--suffix {
        .#{$prefix} {
          padding-right: $input-padding-width;
        }
      }
    }

    &-filled {
      .#{$prefix}__inner {
        background-color: rgb(248, 248, 248);
        border-radius: $spacer-1;

        &:not(.disabled):hover {
          box-shadow: 0 0 0 1px use-color('primary');
          border-color: use-color('primary');
        }

        &:not(.disabled).focused {
          box-shadow: 0 0 0 1px use-color('primary');
          border-color: use-color('primary');
          background-color: use-color('white');
        }
      }
    }

    &-underline {
      .#{$prefix} {
        padding-left: 0;
        padding-right: 0;
      }

      &.#{$prefix}__outer--prepend,
      .#{$prefix}__inner--prefix {
        .#{$prefix} {
          padding-left: $input-padding-width;
        }
      }

      &.#{$prefix}__outer--append,
      .#{$prefix}__inner--suffix {
        .#{$prefix} {
          padding-right: $input-padding-width;
        }
      }

      .#{$prefix}__inner {
        border-radius: 0;

        &::after {
          content: '';
          box-sizing: border-box;
          display: block;
          position: absolute;
          bottom: 0;
          // 两边透明边框各负 1px
          left: -1px;
          right: -1px;
          border-bottom: 1px solid use-color('gray-30');
          transition: all .3s;
        }

        &:not(.disabled):hover {
          &::after {
            border-bottom-color: use-color('primary');
          }
        }

        &:not(.disabled).focused {
          &::after {
            border-bottom-color: use-color('primary');
            box-shadow: 0 1px 0 0 use-color('primary');
          }
        }
      }
    }
  }

  // 移除连接处圆角
  &__outer--prepend {
    .#{$prefix}__inner {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &__outer--append {
    .#{$prefix}__inner {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
