@import '~@hi-ui/core-css/lib/index.scss';

$prefix: '#{$component-prefix}-time-picker' !default;
$input-prefix: '#{$component-prefix}-time-picker__input' !default;
$interact-area: '#{$input-prefix}__interact-area' !default;
$wrapper: '#{$input-prefix}__wrapper' !default;

.#{$input-prefix} {
  display: flex;
  align-items: center;
  width: 100%;
  color: use-color('gray', 800);

  &--disabled {
    color: use-color('gray', 500);
  }

  &--not-valid {
    color: use-color-mode('danger');
  }

  &--range {
    .#{$interact-area} {
      text-align: left;
    }
  }

  &--fit-content {
    .#{$input-prefix} {
      &__wrapper {
        width: fit-content;
      }
    }
  }

  &__wrapper {
    box-sizing: border-box;
    position: relative;
    z-index: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
  }

  &__shadow-text {
    display: inline-block;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    color: transparent;
  }

  &__interact-area {
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    color: inherit;
    border: none;
    outline: none;
    height: 100%;
    font-size: inherit;
    background: transparent;
    font-weight: inherit;
    font-family: inherit;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:disabled {
      background: transparent;
    }

    &::placeholder {
      color: use-color('gray', 500);

      .#{$prefix}--appearance-unset & {
        color: use-color('gray', 500);
      }
    }
  }
}
