@import '~@hi-ui/core-css/lib/index.scss';

$input-prefix: '#{$component-prefix}-time-picker__input' !default;
$interact-area: '#{$input-prefix}__interact-area' !default;

.#{$input-prefix}{
  display: flex;
  align-items: center;
  width: fit-content;
  font-size: 14px;

  &--disabled{
    color: get-color('gray', 500);
  }

  &--not-valid{
    color: get-color('magenta', 600);
  }

  &--range{
    .#{$interact-area}{
      text-align: center;
    }
  }

  &__interact-area{
    color: inherit;
    border: none;
    outline: none;
    height: 28px;
    width: 144px;
    line-height: 28px;
    padding: 0;
    padding-left: 10px;
    font-size: inherit;

    &:disabled{
      background: transparent;
    }
  }
}
