@import '~@hi-ui/core-css/lib/index.scss';

$panel-prefix: '#{$component-prefix}-time-picker__panel' !default;
$separate-line-color: get-color('gray', 200);

.#{$panel-prefix}{
  //min-width: 180px;
  padding: 4px 8px;
  box-sizing: border-box;

  //&__header{
  //  display: flex;
  //  height: 48px;
  //  align-items: center;
  //  border-bottom: 1px solid $separate-line-color;
  //  user-select: none;
  //  cursor: default;
  //}
  //
  //&__header-title{
  //  flex: 1;
  //  display: flex;
  //  align-items: center;
  //  justify-content: center;
  //  font-size: 14px;
  //  font-weight: bold;
  //  color: get-color('gray', 700);
  //}

  &__selector-container{
    display: flex;
    position: relative;
    z-index: 0;
    justify-content: center;
  }

  &__selector-content{
    position: relative;
  }

  &__indicator{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    background: use-color('brandblue', 50);
    z-index: -1;
    width: 54px;

    &--left{
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      left: 0;
    }

    &--right{
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      right: 0;
    }

    &--middle{
      left: 0;
    }
  }
}
