@import '~@hi-ui/core-css/lib/index.scss';

$panel-prefix: '#{$component-prefix}-time-picker__panel' !default;
$separate-line-color: get-color('gray', 200) !default;

.#{$panel-prefix} {
  //min-width: 180px;
  padding: 4px 8px;
  box-sizing: border-box;
  height: 100%;

  //&__header{
  //  display: flex;
  //  height: 48px;
  //  align-items: center;
  //  border-bottom: 1px solid $separate-line-color;
  //  user-select: none;
  //  cursor: default;
  //}
  //
  //&__header-title{
  //  flex: 1;
  //  display: flex;
  //  align-items: center;
  //  justify-content: center;
  //  font-size: 14px;
  //  font-weight: bold;
  //  color: get-color('gray', 700);
  //}

  &__selector-container {
    display: flex;
    position: relative;
    z-index: 0;
    justify-content: center;
  }

  &__selector-content {
    position: relative;
  }

  &__indicator {
    position: absolute;
    top: 0;
    pointer-events: none;
    background: use-color-mode('primary', 50);
    z-index: -1;
    width: 52px;
    height: 32px;
    border-radius: use-border-radius('lg');

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }

    &--middle {
      left: 0;
    }
  }
}
