@import '~@hi-ui/core-css/lib/index.scss';

$pop-content-prefix: '#{$component-prefix}-time-picker__pop-content' !default;
$separate-line-color: get-color('gray', 100);

.#{$pop-content-prefix}{
  display: flex;
  width: fit-content;
  position: relative;
  align-items: stretch;
  border-radius: 4px;

  &__separator{
    width: 40px;
    border-left: 1px solid $separate-line-color;
    border-right: 1px solid $separate-line-color;
  }
}
