@import '~@hi-ui/core-css/lib/index.scss';

$pop-content-prefix: '#{$component-prefix}-time-picker__pop-content' !default;

.#{$pop-content-prefix} {
  display: flex;
  width: fit-content;
  position: relative;
  align-items: stretch;
  min-width: 100%;
  justify-content: center;

  &__separator {
    width: 1px;
    background-color: use-color('gray', 200);
    border-left: none;
    border-right: none;
  }
}
