@import '~@hi-ui/core-css/lib/index.scss';

$prefix: '#{$component-prefix}-time-picker' !default;
$input-wrapper-class: '#{$prefix}__input-wrapper' !default;

.#{$prefix} {
  box-sizing: border-box;
  border: use-border-size('normal') transparent;
  border-radius: use-border-radius('lg');
  box-shadow: 0 0 0 2px transparent;

  &__input-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__prefix {
    display: inline-flex;
    margin-right: use-spacing(6);
    align-items: center;
    flex-shrink: 0;
    color: use-color('gray', 800);
    font-size: inherit;
    text-align: center;
  }

  &--appearance-line {
    position: relative;
    z-index: 0;
    background: use-color-static('white');
    border-color: use-color('gray', 400);

    &:not(.#{$prefix}--disabled):not(.#{$prefix}--input-not-valid):hover {
      border-color: use-color-mode('primary');
    }
  }

  &--appearance-filled {
    background: use-color('gray', 200);

    &:not(.#{$prefix}--disabled):hover {
      background: use-color('gray', 300);
    }
  }

  &--appearance-unset {
    &:not(.#{$prefix}--disabled):hover,
    &.#{$prefix}--active {
      background: use-color('gray', 200);
    }
  }

  &--appearance-borderless {
    border: none;
  }

  &--appearance-contained {
    background: use-color('gray', 100);

    .#{$prefix}__label {
      color: use-color('gray', 700);
      white-space: nowrap;

      .#{$prefix}--disabled & {
        color: use-color('gray', 500);
      }
    }

    &.#{$prefix}--has-value,
    &:not(.#{$prefix}--disabled):hover {
      background: use-color-mode('primary', 50);

      .#{$prefix}__label,
      .#{$prefix}__input-wrapper {
        color: use-color-mode('primary', 600);
      }

      .#{$prefix}__function-button {
        color: use-color-mode('primary', 600);

        &:hover {
          color: use-color-mode('primary', 800);
        }
      }

      .#{$prefix}__input__wrapper {
        color: use-color-mode('primary', 600);
      }
    }

    .#{$prefix}__function-button {
      color: use-color('gray', 700);
    }
  }

  &--appearance-unset,
  &--appearance-contained {
    width: fit-content;

    .#{$prefix}__input-wrapper {
      width: fit-content;
    }
  }

  &--size-xs {
    line-height: use-height-size(6);
    font-size: use-text-size('sm');
    height: use-height-size(6);

    &:not(.#{$prefix}--appearance-borderless) {
      padding: 0 use-spacing(4);
    }
  }

  &--size-sm {
    line-height: use-height-size(7);
    font-size: use-text-size('sm');
    height: use-height-size(7);

    &:not(.#{$prefix}--appearance-borderless) {
      padding: 0 use-spacing(4);
    }
  }

  &--size-md {
    line-height: use-height-size(8);
    font-size: use-text-size('normal');
    height: use-height-size(8);

    &:not(.#{$prefix}--appearance-borderless) {
      padding: 0 use-spacing(6);
    }
  }

  &--size-lg {
    line-height: use-height-size(10);
    font-size: use-text-size('lg');
    height: use-height-size(10);

    &:not(.#{$prefix}--appearance-borderless) {
      padding: 0 use-spacing(8);
    }
  }

  &--appearance-line,
  &--appearance-filled {
    &.#{$prefix}--active {
      border-color: use-color-mode('primary');
      background: transparent;

      &:not(.#{$prefix}--disabled):hover {
        background: transparent;
      }
    }
  }

  &--input-not-valid {
    &,
    &:hover {
      border-color: use-color-mode('danger');
    }
  }

  &__pop-function-buttons {
    display: flex;
    justify-content: space-between;
    padding: 10px 8px;
    border-top: 1px solid use-color('gray', 200);
    align-items: center;
    flex-wrap: wrap;
    // 单个情况下居右
    flex-direction: row-reverse;

    .#{$prefix}__pop-now-btn {
      margin-inline-start: 0;
      margin-inline-end: use-spacing(6);
    }
  }

  &__function-button {
    margin-left: use-spacing(4);
    font-size: use-text-size('lg');
    cursor: pointer;
    display: flex;
    align-items: center;
    color: use-color('gray', 600);
  }

  &--disabled {
    cursor: not-allowed;
    background: use-color('gray', 100);

    .#{$input-wrapper-class} {
      pointer-events: none;
    }

    .#{$prefix}__function-button {
      color: use-color('gray', 500);
    }
  }

  &__close-button {
    &:not(.#{$prefix}--disabled):hover {
      color: use-color-mode('primary');
    }
  }

  &__input__range-separator {
    padding: 0 use-spacing(6);
  }
}
