@import '~@hi-ui/core-css/lib/index.scss';

$prefix: '#{$component-prefix}-drawer' !default;

.#{$prefix} {
  position: fixed;
  width: 0;
  height: 0;
  z-index: use-zindex('drawer');
  overflow: hidden;

  &__extra {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: use-spacing(8);
    align-items: center;
  }

  &--placement-left {
    left: 0;
  }

  &--placement-right {
    right: 0;
  }

  &--placement-left,
  &--placement-right {
    top: 0;
    bottom: 0;
  }

  &--motion-enter,
  &--motion-enter-active,
  &--motion-enter-done,
  &--motion-exit,
  &--motion-exit-active {
    width: 100%;
    height: 100%;
  }

  &__body {
    color: use-color('gray', 700);
    font-size: use-text-size('normal');
    transition: transform 0.3s, opacity 0.3s;

    &:focus {
      outline: 0;
    }

    width: var(--hi-v4-drawer-body-width, 360px);
    height: 100%;
    display: flex;
    flex-direction: column;
    background: use-color-static('white');
    position: absolute;
    top: 0;
    transform: translateX(100%);

    .#{$prefix}--motion-enter-done & {
      opacity: 1;
      transform: translateX(0);
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
    }

    .#{$prefix}--placement-left & {
      left: 0;
      height: 100%;
      max-height: 100%;
    }

    // left
    .#{$prefix}--motion-enter.#{$prefix}--placement-left & {
      transform: translateX(-100%);
    }

    .#{$prefix}--motion-enter-active.#{$prefix}--placement-left & {
      transform: translateX(0);
    }

    .#{$prefix}--motion-exit.#{$prefix}--placement-left & {
      transform: translateX(0);
    }

    .#{$prefix}--motion-exit-active.#{$prefix}--placement-left & {
      transform: translateX(-100%);
    }

    // right
    .#{$prefix}--placement-right & {
      right: 0;
      height: 100%;
      max-height: 100%;
    }

    .#{$prefix}--motion-enter.#{$prefix}--placement-right & {
      transform: translateX(100%);
    }

    .#{$prefix}--motion-enter-active.#{$prefix}--placement-right & {
      transform: translateX(0);
    }

    .#{$prefix}--motion-exit.#{$prefix}--placement-right & {
      transform: translateX(0);
    }

    .#{$prefix}--motion-exit-active.#{$prefix}--placement-right & {
      transform: translateX(100%);
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    background: rgba(0, 0, 0, 0.45);
    opacity: 0;
    transition: opacity 0.3s;

    .#{$prefix}--motion-enter & {
      opacity: 0;
    }

    .#{$prefix}--motion-enter-active & {
      opacity: 1;
      height: 100%;
    }

    .#{$prefix}--motion-enter-done & {
      opacity: 1;
      pointer-events: all;
      height: 100%;
    }

    .#{$prefix}--motion-exit & {
      opacity: 1;
      height: 100%;
    }

    .#{$prefix}--motion-exit-active & {
      opacity: 0;
    }

    .#{$prefix}--motion-exit-done & {
      opacity: 0;
      pointer-events: none;
    }
  }

  &__header {
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-size: use-text-size('normal');
    font-weight: use-text-weight('medium');
    height: 56px;
    color: use-color('gray', 700);
    border-bottom: 1px solid use-color('gray', 200);
    box-sizing: border-box;
    padding: use-spacing(10);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    box-sizing: border-box;
    overflow: auto;
    flex: 1;
    padding: use-spacing(10);
  }

  &__footer {
    border-top: 1px solid use-color('gray', 200);
    padding: use-spacing(10);
    flex-shrink: 0;
  }
}
