@import '~@hi-ui/core-css/lib/index.scss';

$prefix: '#{$component-prefix}-list' !default;

.#{$prefix} {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: use-text-size('normal');
  line-height: use-text-lineheight('normal');
  color: use-color('gray', 800);
  background-color: use-color-static('white');

  &:not(.#{$prefix}-item--split) {
    .#{$prefix}__wrapper {
      padding: use-spacing(4);
    }
  }

  &__header {
    padding: use-spacing(6) use-spacing(8);
    border-bottom: use-border-size('normal') use-color('gray', 200);
    font-size: use-text-size('normal');
    line-height: use-text-lineheight('normal');
    color: use-color('gray', 800);
  }

  &__pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: use-spacing(8);
  }

  &--with-pagination {
    padding-bottom: use-spacing(8);
  }

  &--bordered {
    border: 1px solid use-color('gray', 300);
    border-radius: use-border-radius('normal');

    .#{$prefix}-item--split {
      &:last-of-type {
        .#{$prefix}-item {
          border-bottom: none;
        }
      }
    }
  }

  &-item {
    display: flex;

    &__title {
      font-size: use-text-size('normal');
      line-height: use-text-lineheight('normal');

      &:not(:last-child) {
        margin-bottom: use-spacing(2);
        font-weight: use-text-weight('medium');
      }
    }

    &__desc {
      font-size: use-text-size('normal');
      line-height: use-text-lineheight('normal');
      color: use-color('gray', 700);
    }

    &__extra {
      color: use-color('gray', 700);
      margin-top: use-spacing(6);
    }

    &__content {
      flex: 1;
    }

    &__action {
      flex-shrink: 0;
    }

    &__avatar {
      margin-inline-end: use-spacing(8);
    }
  }

  &-item__wrapper {
    list-style: none;

    &:not(.#{$prefix}-item--split) {
      .#{$prefix}-item {
        padding: use-spacing(6);
        border-radius: use-border-radius('lg');

        &:hover {
          cursor: pointer;
          background-color: use-color('gray', 100);
        }
      }
    }

    &.#{$prefix}-item--split {
      .#{$prefix}-item {
        padding: use-spacing(6) use-spacing(8);
        border-bottom: 1px solid use-color('gray', 200);

        &:hover {
          cursor: pointer;

          .#{$prefix}-item__title {
            color: use-color-mode('primary');
          }
        }
      }
    }
  }

  &__wrapper {
    padding: 0;
    margin: 0;
  }
}
