@import '~@hi-ui/core-css/lib/index.scss';

$search-trigger-prefix: '#{$component-prefix}-search-trigger' !default;

.#{$search-trigger-prefix} {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 8px;
  height: 32px;
  margin: 0 8px 12px;
  font-size: 16px;
  color: use-color('gray', 600);
  background-color: rgba(#717ea3, 0.1);
  cursor: pointer;
  border-radius: 9999px;

  &:not(&--mini) {
    padding: 0 12px;
  }

  &--mini {
    justify-content: center;
    width: 32px;
    margin-left: auto;
    margin-right: auto;
  }

  &__placeholder {
    font-size: use-text-size('md');
    line-height: use-text-lineheight('md');
  }

  &__popper-container {
    border-radius: use-border-radius('xl') !important;
    border: use-border-size('normal') use-color('gray', 200);
  }
}
