@import '~@hi-ui/core-css/lib/index.scss';

$sider-prefix: '#{$component-prefix}-sider' !default;
$scrollbar-prefix: '#{$component-prefix}-scrollbar' !default;
$menu-prefix: '#{$component-prefix}-menu' !default;
$siderPrimaryColor: #2b64ff !default;

.#{$sider-prefix} {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: 100%;
  overflow: hidden;
  box-shadow: 1px 0 0 0 use-color('gray', 300);

  &--collapsed {
    transition: width 0.4s;
  }

  &__resizable-handler {
    box-sizing: content-box;
    position: absolute;
    z-index: 9;
    inset-block-start: 0;
    inset-inline-end: -2px;
    width: 2px;
    height: 100%;
    border-inline-start: 2px solid transparent;
    border-inline-end: 2px solid transparent;
    cursor: col-resize;
    background-color: $siderPrimaryColor;
    background-clip: content-box;
    opacity: 0;
    transition: opacity 0.2s;

    &:hover {
      opacity: 1;
    }
  }

  .#{$scrollbar-prefix} {
    &__wrapper {
      width: auto;
    }
  }

  .#{$menu-prefix} {
    width: auto;
    height: auto;

    &--vertical {
      .#{$menu-prefix}-item {
        &__inner {
          margin-block-end: use-spacing(4) !important;

          &:not(&--active):hover {
            background-color: rgba(#7c87a6, 0.15);
          }

          &--active {
            background-color: #fff;

            .#{$menu-prefix}-item__icon {
              color: $siderPrimaryColor;
            }

            &-p {
              .#{$menu-prefix}-item__icon {
                color: $siderPrimaryColor;
              }
            }
          }

          &--mini {
            .#{$menu-prefix}-item__inner--active-p {
              background-color: use-color-static('white');

              .#{$menu-prefix}-item__icon {
                color: $siderPrimaryColor;
              }

              &-p {
                .#{$menu-prefix}-item__icon {
                  color: $siderPrimaryColor;
                }
              }

              &:hover {
                background-color: use-color-static('white') !important;
              }
            }
          }
        }

        &__icon {
          color: #7c87a6;
        }

        &__arrow {
          color: #60636b;
        }
      }

      .#{$menu-prefix}-submenu {
        .#{$menu-prefix}-item {
          &__inner {
            margin-block-end: 0 !important;
          }
        }
      }
    }
  }
}

.#{$menu-prefix}-popmenu {
  width: 160px !important;
}
