@import '~@hi-ui/core-css/lib/index.scss';

$prefix: '#{$component-prefix}-ellipsis-tooltip' !default;

.#{$prefix} {

  &.#{$prefix}--single {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &.#{$prefix}--multiple {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
}
