.hi-tooltip {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.hi-tooltip-base {
  border-radius: 2px;
  background: #4a4a4a;
  font-size: 12px;
  color: #fff;
  padding: 0 5px;
  line-height: 24px;
  white-space: nowrap;
  transition: all 0.5s;

  &::after {
    content: '';
    position: absolute;
  }
}

.hi-tooltip-top {
  position: relative;
  margin-bottom: 5px;

  &::after {
    border: 5px solid transparent;
    border-top-color: #4a4a4a;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.hi-tooltip-right {
  position: relative;
  margin-left: 5px;

  &::after {
    border: 5px solid transparent;
    border-right-color: #4a4a4a;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.hi-tooltip-bottom {
  position: relative;
  margin-top: 5px;

  &::after {
    border: 5px solid transparent;
    border-bottom-color: #4a4a4a;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.hi-tooltip-left {
  position: relative;
  margin-right: 5px;

  &::after {
    border: 5px solid transparent;
    border-left-color: #4a4a4a;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.hi-tooltip-top-left {
  position: relative;
  margin-bottom: 5px;

  &::after {
    border: 5px solid transparent;
    border-top-color: #4a4a4a;
    bottom: -10px;
    left: 20%;
    transform: translateX(-50%);
  }
}

.hi-tooltip-top-right {
  position: relative;
  margin-bottom: 5px;

  &::after {
    border: 5px solid transparent;
    border-top-color: #4a4a4a;
    bottom: -10px;
    right: 10%;
    transform: translateX(-50%);
  }
}

.hi-tooltip-bottom-right {
  position: relative;
  margin-top: 5px;

  &::after {
    border: 5px solid transparent;
    border-bottom-color: #4a4a4a;
    top: -10px;
    right: 10%;
    transform: translateX(-50%);
  }
}

.hi-tooltip-bottom-left {
  position: relative;
  margin-top: 5px;

  &::after {
    border: 5px solid transparent;
    border-bottom-color: #4a4a4a;
    top: -10px;
    left: 20%;
    transform: translateX(-50%);
  }
}

.hi-tooltip-left-top {
  position: relative;
  margin-right: 5px;

  &::after {
    border: 5px solid transparent;
    border-left-color: #4a4a4a;
    right: -10px;
    top: 15%;
  }
}

.hi-tooltip-left-bottom {
  position: relative;
  margin-right: 5px;

  &::after {
    border: 5px solid transparent;
    border-left-color: #4a4a4a;
    right: -10px;
    bottom: 15%;
  }
}

.hi-tooltip-right-top {
  position: relative;
  margin-left: 5px;

  &::after {
    border: 5px solid transparent;
    border-right-color: #4a4a4a;
    left: -10px;
    top: 15%;
  }
}

.hi-tooltip-right-bottom {
  position: relative;
  margin-left: 5px;

  &::after {
    border: 5px solid transparent;
    border-right-color: #4a4a4a;
    left: -10px;
    bottom: 15%;
  }
}
