@import '~@hi-ui/core-css/lib/index.scss';

$prefix: '#{$component-prefix}-date-picker' !default;
$error-color: use-color('red', 600) !default;
$input-container-class: '#{$prefix}__input' !default;
$row-class: '#{$prefix}__row' !default;
$cell-class: '#{$prefix}__cell' !default;


$calendar-large-indicator-size: 40px;
$calendar-large-indicator-border-radius: 8px;
$calendar-large-diff: 6px;
$calendar-large-background-border-radius: $calendar-large-indicator-border-radius + $calendar-large-diff/2;

.#{$prefix} {
  position: relative;
  z-index: 1060;

  &__popper {
    //width: 288px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    border-radius: use-border-radius('md');
    overflow: hidden;

    //&--range {
    //  //width: 576px;
    //
    //  &.#{$prefix}__popper--large {
    //    width: 866px;
    //  }
    //}

    //&--timeperiod,
    //&--large {
    //  width: 432px;
    //}

    //&--timeperiod{
    //  width: 432px;
    //}

    //&--time {
    //  width: 468px;
    //}

    //&--shortcuts {
    //  width: 681px;
    //}
  }

  &__root {
    display: inline-flex;
  }

  &__picker {
    background: use-color-static('white');
    border-radius: use-border-radius('md');
    height: 32px;
    width: 240px;
    line-height: 28px;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    position: relative;
    z-index: 0;

    &.bordered {
      .#{$input-container-class}{
        border: use-border-size('normal') use-color('gray', 300);
      }

      &::before {
        content: '';
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        background: use-color('brandblue', 500);
        opacity: 0;
        pointer-events: none;
        z-index: -1;
        border-radius: 6px;
      }
    }

    &:hover:not(.#{$prefix}__picker--disabled):not(.#{$prefix}__picker--error).bordered {
      .#{$input-container-class}{
        border-color: use-color('brandblue', 500);
      }
    }

    &--focus.bordered {
      .#{$input-container-class}{
        border-color: use-color('brandblue', 500);
      }

      &::before {
        opacity: 0.2;
      }
    }

    &--error.bordered {
      .#{$input-container-class}{
        border-color: $error-color;
      }

      &::before {
        background: $error-color;
      }
    }

    &--disabled {
      cursor: not-allowed;

     .#{$input-container-class}{
        background: use-color('gray',100);
     }
    }

    &--daterange,
    &--weekrange,
    &--yearrange,
    &--timerange,
    &--monthrange {
      width: 320px;

      input {
        text-align: center;
      }

      &.#{$prefix}__picker--hastime {
        width: 400px;
      }
    }

    &--timeperiod {
      width: 400px;

      input {
        text-align: center;
      }
    }

    &--hastime {
      width: 240px;
    }

    .hi-icon {
      margin-right: 8px;
      font-size: 16px;
      cursor: pointer;
      display: block;
      flex-shrink: 0;
      color: use-color('gray', 500);

      &--disabled {
        cursor: not-allowed;
        color: use-color('gray', 400);
      }
    }

    //.icon-close-circle {
    //  color: use-color('gray', 300);
    //}
    //
    //.icon-close-circle:hover {
    //  color: use-color-static('black');
    //}

    input {
      outline: none;
      border: 0;
      height: 22px;
      line-height: 22px;
      padding-left: 12px;
      width: 190px;

      &::-webkit-input-placeholder {
        color: use-color('gray', 400);
      }

      &.disabled {
        cursor: not-allowed;
      }
    }
  }

  &__input {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    background: use-color-static('white');
    border-radius: use-border-radius('md');
    font-size: use-text-size('normal');
    color: use-color('gray', 700);
    overflow: hidden;
  }

  &__panel {
    // width: 288px;
    width: 100%;
    // height: 296px;
    background: use-color-static('white');
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    display: flex;

    //.#{$prefix}__panel--left {
    //  //min-width: 288px;
    //  flex: 1;
    //}
    //
    //.#{$prefix}__panel--right {
    //  flex: 1;
    //}

    &__time-container{
      border-left:1px solid use-color('gray',200);
      display: flex;
      flex-direction: column;
    }

    &__time-header{
      border-bottom:1px solid use-color('gray',200);
      line-height: 40px;
      text-align: center;
    }

    &__time-content{
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &--noshadow {
      box-shadow: none;
    }
  }

  &__header {
    border-bottom: 1px solid use-color('gray', 200);
    display: flex;
    justify-content: space-between;
    height: 40px;
    box-sizing: border-box;
    align-items: center;
    padding: 0 8px;

    &-btns {
      width: 50px;
      display: flex;
      justify-content: space-around;
      color: use-color('gray',500);
    }

    &-icon {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      font-size: 14px;

      &:hover {
        color: use-color('brandblue', 500);
        background:use-color('gray',100) ;
      }
    }

    &-text {
      cursor: pointer;
      color: use-color('gray',700);
      font-size: use-text-size('normal');
    }
  }

  &__calendar-wrap {
    padding: 8px;
  }

  &__calendar {
    width: 100%;
    height: 100%;
    font-size: 14px;
    border-spacing: 0 4px;

    thead th {
      height: 32px;
      width: 32px;
      font-weight: normal;
      padding: 0;
    }

    &--year,
    &--month {
      //.#{$prefix}__row {
      //  height: 52px;
      //}
      //
      .#{$prefix}__cell {
        width: 74px;

        &-text {
          width: 70px;
        }
      }
    }
  }

  &__cell {
    text-align: center;
    width: 32px;
    height: 32px;
    cursor: pointer;
    color: rgb(51, 51, 51);
    position: relative;
    z-index: 0;
    padding: 0;


    &-text,&-week-indicator {
      width: 28px;
      border-radius: 14px;
      display: inline-block;
      height: 28px;
      line-height: 28px;
      box-sizing: border-box;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
    }

    &:first-child{
      .#{$prefix}__cell-week-indicator{
        margin-left: 2px;
        border-radius: 14px 0 0 14px;
      }
    }

    &:last-child{
      .#{$prefix}__cell-week-indicator{
        margin-left: -2px;
        border-radius: 0 14px 14px 0 ;
      }
    }

    &-week-indicator{
      width: 100%;
      border-radius: 0;
    }

    // 周模式有特殊处理
    &:hover:not(#{&}--selected):not(#{&}--week-mode-select){
      .#{$prefix}__cell-text{
        background: use-color('gray',100);
      }
    }

    &--out {
      color: rgba(44, 48, 78, 0.2);
    }

    &--today {
      &::after{
        content: '';
        background: use-color('brandblue',500);
        width: 4px;
        height: 4px;
        border-radius: 50%;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
      }
    }

    &--range:not(.#{$prefix}__cell--out) {
      background: use-color('brandblue',50);
    }

    &--disabled {
      color: rgba(44, 48, 78, 0.2);
      cursor: not-allowed;

      &::before {
        content: '';
        display: block;
        height: 24px;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(140, 140, 140, 0.1);
      }
    }

    &--selected {
      // 周选择器需要特殊处理
      &:not(.#{$cell-class}--week-mode-select){
        .#{$prefix}{
          &__cell-text{
            background: use-color('brandblue',50);
            color: use-color('brandblue',500);
          }

          &__cell--lunar{
            color: use-color-static('white');
          }

          &__lunar{
            color: use-color('brandblue',200);
          }
        }
      }

      &.#{$cell-class}--range-start,&.#{$cell-class}--range-end{
        background: use-color('brandblue',50);
        .#{$cell-class}-text{
          background: use-color('brandblue',500);
          color: use-color-static('white');
        }

        .#{$prefix}{
          &__lunar{
            color: use-color-static('white');
          }

          &__mark{
            color: use-color-static('white');
          }
        }
      }
    }

    &--range-start{
      border-bottom-left-radius: 16px;
      border-top-left-radius: 16px;
    }

    &--range-end{
      border-bottom-right-radius: 16px;
      border-top-right-radius: 16px;
    }

    &--large {
      width: $calendar-large-indicator-size + $calendar-large-diff;
      height: $calendar-large-indicator-size + $calendar-large-diff;

      &.#{$cell-class}--range-start{
        border-bottom-left-radius: $calendar-large-background-border-radius;
        border-top-left-radius: $calendar-large-background-border-radius;
      }

      &.#{$cell-class}--range-end{
        border-bottom-right-radius: $calendar-large-background-border-radius;
        border-top-right-radius: $calendar-large-background-border-radius;
      }

      .#{$cell-class} {
        &-text{
          width: $calendar-large-indicator-size;
          height: $calendar-large-indicator-size;
          border-radius: $calendar-large-indicator-border-radius;
          font-size: use-text-size('lg');
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-end;
          line-height: 16px;
        }

        &-week-indicator{
          height: $calendar-large-indicator-size;
        }
      }

      &:first-child{
        .#{$cell-class}-week-indicator{
          margin-left: $calendar-large-diff/2;
          border-radius: $calendar-large-indicator-border-radius 0 0 $calendar-large-indicator-border-radius;
        }
      }

      &:last-child{
        .#{$cell-class}-week-indicator{
          margin-left: -$calendar-large-diff/2;
          border-radius: 0 $calendar-large-indicator-border-radius $calendar-large-indicator-border-radius 0 ;
        }
      }
    }
  }

  &__row {
    margin-top: 4px;
    padding: 0;

    &#{&}--week-mode-select{
      &:hover{
        .#{$cell-class}-week-indicator{
          background: use-color('gray',100);
        }
      }
    }

    // 当前行有选中的日期，并且现在是周选择器模式
    // 则，使用 周指示器 元素来标识选择
    &--has-selected#{&}--week-mode-select{
      .#{$cell-class}{
        &-week-indicator{
          background: use-color('brandblue',50);
        }
        color: use-color('brandblue',500);
      }

      &.#{$row-class}--range-mode{
        .#{$cell-class}{
          &-week-indicator{
            background: use-color('brandblue',500);
          }
          color: use-color-static('white');
        }

        .#{$prefix}__mark,.#{$prefix}__lunar{
          color: use-color-static('white');
        }
      }

      .#{$prefix}__lunar{
        color: use-color('brandblue',200);
      }
    }

    &--has-start#{&}--week-mode-select{
      .#{$cell-class}{
        background: use-color('brandblue',50);;

        &--range-start{
          border-radius: 0;
        }

        &:first-child{
          border-bottom-left-radius: 16px;
          border-top-left-radius: 16px;
        }

        &--large:first-child{
          border-bottom-left-radius: $calendar-large-background-border-radius;
          border-top-left-radius: $calendar-large-background-border-radius;
        }
      }
    }

    &--has-end#{&}--week-mode-select{
      .#{$cell-class}{
        background: use-color('brandblue',50);

        &--range-end{
          border-radius: 0;
        }

        &:last-child{
          border-bottom-right-radius: 16px;
          border-top-right-radius: 16px;
        }

        &:last-child{
          border-bottom-right-radius: $calendar-large-background-border-radius;
          border-top-right-radius: $calendar-large-background-border-radius;
        }
      }
    }
  }

  &__cellnum {
    display: inline-block;
    transition: all 100ms;
  }

  &__lunar {
    font-size: use-text-size('sm');
    color: use-color('gray',500);
    transform: scale(0.8);
    line-height: 16px;
    margin-bottom: -1px;

    &--highlight {
      color: use-color('brandblue', 500);
    }
  }

  &__mark {
    position: absolute;
    font-size: use-text-size('sm');
    transform: scale(0.6);
    right: -4px;
    top: -2px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &--rest {
      color: use-color('green', 600);
    }

    &--work {
      color: use-color('red', 600);
    }
  }

  &__footer {
    height: 48px;
    border-top: 1px solid use-color('gray', 100);
    box-sizing: border-box;
    line-height: 48px;
    text-align: center;
    cursor: pointer;
    position: relative;
    font-size: 14px;
    width: 100%;

    &:not(.#{$prefix}__footer--disable):hover {
      color: use-color('brandblue', 500);
    }

    &--disable {
      cursor: not-allowed;
      color: use-color('gray', 500);
    }
  }

  &__mask {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
  }

  &__timetext {
    position: absolute;
    width: 148px;
    height: 32px;
    border-radius: 2px;
    left: 50%;
    top: 8px;
    transform: translateX(-50%);
    background: use-color-static('white');
    z-index: 2;
    line-height: 32px;
  }

  &__time-period {
    //width: 144px;
    border-left: 1px solid use-color('gray', 200);
    text-align: center;
    box-sizing: border-box;
    font-size: use-text-size('normal');
    color: use-color('gray', 700)
  }

  &__period-header {
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid use-color('gray', 200);
    box-sizing: border-box;
  }

  &__period-list {
    list-style: none;
    margin: 8px 0;
    padding: 0;
    overflow: auto;
    height: 250px;
  }

  &__period-item {
    padding:0 12px;
    cursor: pointer;
    margin: 4px 8px;
    line-height: 32px;
    font-size: use-text-size('normal');
    border-radius: 16px;

    &:hover {
      background: use-color('gray', 100);
    }

    &--active {
      background: use-color('brandblue', 50);
      color: use-color('brandblue', 500);
    }
  }

  &__shortcuts {
    background: use-color-static('white');
    border-right: 1px solid use-color('gray', 200);
    //width: 105px;
    box-sizing: border-box;
    overflow: hidden;

    &-list {
      //width: 120px;
      padding: 0;
      height: 100%;
      margin: 0;
      overflow: auto;
    }

    &-item {
      cursor: pointer;
      margin: 10px 8px;
      line-height: 24px;
      padding: 0 16px;
      list-style: none;
      font-size: use-text-size('sm');
      color: use-color("gray", 500);
      border-radius: use-border-radius('normal');

      &:hover {
        background: use-color('gray', 100);
      }
    }
  }

  &__indiaHoli {
    display: none;
    position: absolute;
    top: 36px;
    left: 0;
    width: 430px;
    text-align: center;

    &-text {
      display: inline-block;
      max-width: 410px;
      word-break: break-all;
      background: use-color('brandblue', 500);
      border: 1px solid #d8e5ff;
      padding: 7px 12px;
      border-radius: 2px;
    }

    &-enter {
      display: none;
      opacity: 0;
      transition: all 0.3s ease-in;
    }

    &-enter-done {
      display: block;
      opacity: 1;
      transition: all 0.3s ease-in;
    }

    &-exit {
      display: block;
      opacity: 1;
    }

    &-exit-done {
      display: none;
      opacity: 0;
      transition: all 0.3s ease-in;
    }
  }
}
