@import '@hi-ui/core-css/index.scss';

.anchor {
  position: fixed;
  top: 96px;
  right: 24px;
  width: 120px;
  border-left: 1px solid #f2f2f2;
  background-color: #fff;

  ul {
    margin: 0 0 0 -1px;
    padding: 0;
    list-style-type: none;
  }

  li {
    a {
      display: block;
      padding: 4px 0 4px 16px;
      border-left: 1px solid #f2f2f2;
      font-size: $font-size-small;
      line-height: $line-height-size-small;
      color: $black;
    }

    &.active a,
    a:hover {
      border-color: #4284f5;
      color: #4284f5;
    }
  }
}
