.anchor {
  position: fixed;
  top: 112px;
  right: 24px;
  width: 124px;
  height: auto;
  border-left: 1px solid #f2f2f2;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    cursor: pointer;
    padding-left: 16px;
    margin-left: -1px;
    border-left: 1px solid #f2f2f2;

    &:hover {
      border-color: #4284f5;

      a {
        color: #4284f5;
      }
    }
  }

  li.active {
    border-color: #4284f5;

    a {
      color: #4284f5;
    }
  }

  a {
    font-size: 12px;
    line-height: 24px;
    color: #333;
  }
}
