@import './component.scss';
@import './prism.scss';
@import './anchor.scss';
@import './foot-nav.scss';

.sidebar__item {
  &-icon {
    span {
      width: 16px;
      height: 16px;
      display: inline-block;
      vertical-align: middle;
      background-image: url('../../../static/img/docs/icon_sider.png');
      background-image: -webkit-image-set(url('../../../static/img/docs/icon_sider_16.png') 1x, url('../../../static/img/docs/icon_sider.png') 2x);
      background-position-x: 0;
      background-repeat: no-repeat;
      background-size: 32px 80px;
    }
  } 
}

.sider__icon-start {
  background-position-y: 0;
}
.sider__icon-principle {
  background-position-y: -16px;
}
.sider__icon-layout {
  background-position-y: -32px;
}
.sider__icon-vision {
  background-position-y: -48px;
}
.sider__icon-component {
  background-position-y: -64px;
}
