{
  "presets": [
    "@babel/preset-env", "@babel/preset-react"
    // [
    //   "env",
    //   {
    //     "targets": {
    //       "browsers": ["last 2 versions", "ie >= 10"]
    //     },
    //     "loose": true,
    //     "modules": false,
    //     "useBuiltIns": "usage"
    //   }
    // ],
    // "stage-0",
    // "react"
  ],
  "plugins": ["@babel/plugin-proposal-class-properties"]
}
