# MIFE dotfiles

# npmignore
dist/
docs/
site/

# Editor generate files
.idea/
.settings/
.vscode/
.tmp/

# Dev dependencies and cache files
node_modules/
yarn.lock
package-lock.json
.gitignore
.travis.yml

# Misc files
*~
~*
._*
.DS_Store
Desktop.ini
Thumbs.db
.Spotlight-V100
.Trashes
