{
  "extends": ["stylelint-config-standard", "stylelint-config-recommended-scss"],
  "rules": {
    "max-nesting-depth": 10,
    "string-quotes": "single",
    "declaration-colon-space-after": "always",
    "declaration-colon-space-before": "never",
    "scss/dollar-variable-default": [
      true,
      {
        "ignore": "local"
      }
    ],
    "declaration-block-single-line-max-declarations": 1,
    "property-no-vendor-prefix": true,
    "value-no-vendor-prefix": true,
    "color-named": "never",
    "function-url-quotes": "always",
    "at-rule-blacklist": "while",
    "selector-list-comma-newline-after": "always",
    "color-no-invalid-hex": true,
    "no-descending-specificity": null
  }
}
