@import '~@hi-ui/core-css/lib/index.scss';

$prefix: '#{$component-prefix}-popper' !default;

.#{$prefix} {
  border-radius: 4px;
  box-sizing: border-box;

  &__arrow {
    z-index: 1;
    position: relative;

    &.hidden {
      visibility: hidden;
      opacity: 0;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: transparent;
      border-width: 6px;
    }

    &::after {
      filter: blur(8px);
      z-index: -1;
    }
  }

  $arrow-color: use-color('white');

  &[data-popper-placement^=top] {
    .#{$prefix}__arrow {
      bottom: 0;

      &::before {
        left: 0;
        transform: translateX(-6px);
        top: -1px;
        border-top-color: $arrow-color;
      }

      &::after {
        left: 0;
        transform: translateX(-6px);
        top: 1px;
        border-top-color: rgba(0, 0, 0, 0.1);
      }
    }
  }

  &[data-popper-placement^=bottom] {
    .#{$prefix}__arrow {
      &::before {
        left: 0;
        transform: translateX(-6px);
        bottom: -1px;
        border-bottom-color: $arrow-color;
      }

      &::after {
        left: 0;
        transform: translateX(-6px);
        bottom: 1px;
        border-bottom-color: rgba(0, 0, 0, 0.1);
      }
    }
  }

  &[data-popper-placement^=left] {
    .#{$prefix}__arrow {
      right: 0;

      &::before {
        top: 0;
        transform: translateY(-50%);
        left: -1px;
        border-left-color: $arrow-color;
      }

      &::after {
        top: 0px;
        transform: translateY(-50%);
        left: 1px;
        border-left-color: rgba(0, 0, 0, 0.1);
      }
    }
  }

  &[data-popper-placement^=right] {
    .#{$prefix}__arrow {
      &::before {
        top: 0;
        transform: translateY(-50%);
        right: -1px;
        border-right-color: $arrow-color;
      }

      &::after {
        top: 0px;
        transform: translateY(-50%);
        right: 1px;
        border-right-color: rgba(0, 0, 0, 0.1);
      }
    }
  }

  &__overlay {
    position: relative;
    box-sizing: border-box;
    background-color: use-color('white');
    box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.12);
    border-radius: $spacer-1;
    // 为了保证 arrow 三角形可以正常展示
    min-width: 36px;
    min-height: 36px;
    // animation
    transition: opacity 0.1s linear, transform 0.1s ease-out;
    transform-origin: var(--popper-transform-origin);
    opacity: 0;
    transform: scale(0) translateX(0);
    will-change: transform;
  }

  &--motion {
    &-enter {
      .#{$prefix}__overlay {
        opacity: 0;
        transform: scale(0);
      }
    }

    &-enter-active {
      .#{$prefix}__overlay {
        opacity: 1;
        transform: scale(0);
      }
    }

    &-enter-done {
      .#{$prefix}__overlay {
        opacity: 1;
        transform: scale(1);
      }
    }

    &-exit {
      .#{$prefix}__overlay {
        opacity: 1;
        transform: scale(1) translateX(100%);
      }
    }

    &-exit-active {
      .#{$prefix}__overlay {
        opacity: 1;
        transform: scale(0);
      }
    }

    &-exit-done {
      // 即使保留dom，但是需要 hidden 不可点击
      visibility: hidden;

      .#{$prefix}__overlay {
        opacity: 0;
      }
    }
  }
}
