@import '~@hi-ui/core-css/lib/index.scss';

$prefix: '#{$component-prefix}-popper' !default;

.#{$prefix} {
  border-radius: use-border-radius('xl');
  box-sizing: border-box;

  &__arrow {
    z-index: 1;
    position: relative;
    display: inline-flex;
  }

  $arrow-color: use-color-static('white');

  &[data-popper-placement^=top] {
    .#{$prefix}__arrow {
      inset-block-end: -6px;
    }
  }

  &[data-popper-placement^=bottom] {
    .#{$prefix}__arrow {
      inset-block-start: -6px;

      svg {
        transform: rotate(180deg);
      }
    }
  }

  &[data-popper-placement^=left] {
    .#{$prefix}__arrow {
      inset-inline-end: -10.5px;

      svg {
        transform: rotate(-90deg);
      }
    }
  }

  &[data-popper-placement^=right] {
    .#{$prefix}__arrow {
      inset-inline-start: -10.5px;

      svg {
        transform: rotate(90deg);
      }
    }
  }

  &__container {
    position: relative;
    box-sizing: border-box;
    background-color: use-color-static('white');
    box-shadow: use-shadow('normal');
    border-radius: use-border-radius('xl');
    // 为了保证 arrow 三角形可以正常展示
    min-width: 36px;
    min-height: 36px;
    // animation
    transition-timing-function: use-motion-bezier('normal');
    transition-duration: use-motion-duration('normal');
    transition-property: opacity, transform;
    // 该变量通过 JS 注入👇🏻
    transform-origin: var(--popper-transform-origin);
    opacity: 0;
    transform: scale(0) translateX(0);
    will-change: transform;
  }

  &__content {
    position: relative;
    box-sizing: border-box;
  }

  &--motion-scaleX {
    &-enter {
      .#{$prefix}__container {
        opacity: 0;
        transform: scale(0, 1);
      }
    }

    &-enter-active {
      .#{$prefix}__container {
        opacity: 1;
        transform: scale(1, 1);
      }
    }

    &-enter-done {
      .#{$prefix}__container {
        opacity: 1;
        transform: scale(1, 1);
      }
    }

    &-exit {
      .#{$prefix}__container {
        opacity: 1;
        transform: scale(1, 1) translateX(100%);
      }
    }

    &-exit-active {
      .#{$prefix}__container {
        opacity: 0;
        transform: scale(0, 1);
      }
    }

    &-exit-done {
      // 即使保留dom，但是需要 hidden 不可点击
      visibility: hidden;

      .#{$prefix}__container {
        opacity: 0;
        transform: scale(0, 1);
        transition-property: none;
      }
    }
  }

  &--motion-scaleY {
    &-enter {
      .#{$prefix}__container {
        opacity: 0;
        transform: scale(1, 0);
      }
    }

    &-enter-active {
      .#{$prefix}__container {
        opacity: 1;
        transform: scale(1, 1);
      }
    }

    &-enter-done {
      .#{$prefix}__container {
        opacity: 1;
        transform: scale(1, 1);
      }
    }

    &-exit {
      .#{$prefix}__container {
        opacity: 1;
        transform: scale(1, 1) translateX(100%);
      }
    }

    &-exit-active {
      .#{$prefix}__container {
        opacity: 0;
        transform: scale(1, 0);
      }
    }

    &-exit-done {
      // 即使保留dom，但是需要 hidden 不可点击
      visibility: hidden;

      .#{$prefix}__container {
        opacity: 0;
        transform: scale(1, 0);
        transition-property: none;
      }
    }
  }

  &--motion-scale {
    &-enter {
      .#{$prefix}__container {
        opacity: 0;
        transform: scale(0);
      }
    }

    &-enter-active {
      .#{$prefix}__container {
        opacity: 1;
        transform: scale(1);
      }
    }

    &-enter-done {
      .#{$prefix}__container {
        opacity: 1;
        transform: scale(1);
      }
    }

    &-exit {
      .#{$prefix}__container {
        opacity: 1;
        transform: scale(1) translateX(100%);
      }
    }

    &-exit-active {
      .#{$prefix}__container {
        opacity: 0;
        transform: scale(0);
      }
    }

    &-exit-done {
      // 即使保留dom，但是需要 hidden 不可点击
      visibility: hidden;

      .#{$prefix}__container {
        opacity: 0;
        transform: scale(0);
        transition-property: none;
      }
    }
  }
}
