@import '~@hi-ui/core-css/lib/index.scss';

$prefix: '#{$component-prefix}-badge' !default;

$dotSize: 10px !default;
$bubbleSize: 20px !default;

.#{$prefix} {
  display: inline-block;
  position: relative;
  line-height: 1;

  &-value {
    position: absolute;
    top: calc(-#{($bubbleSize + 2px * 2) / 2});
    right: 0;
    transform: translateX(50%);
    height: $bubbleSize;
    padding: 0 use-spacing(3);
    min-width: $bubbleSize - 12px;
    border: 2px solid use-color-static('white');
    border-radius: use-border-radius('full');
    line-height: $bubbleSize;
    background: use-color-mode('danger');
    font-size: use-text-size('sm');
    color: use-color-static('white');
    letter-spacing: 0;
    text-align: center;
  }

  &-dot {
    position: absolute;
    width: $dotSize;
    height: $dotSize;
    top: calc(-#{($dotSize + 2px * 2) / 2});
    right: calc(-#{($dotSize + 2px * 2) / 2});
    background: use-color-mode('danger');
    border: 2px solid use-color-static('white');
    border-radius: 50%;
    z-index: 1;
  }
}
