@import '../../core-css/index.scss';

// Define component colors
@mixin hi-pagination-style($color: use-color('primary')) {
  .hi-pagination {
    &__item {
      &:not(.hi-pagination__item--disabled) {
        > span {
          &:hover {
            border-color: rgba($color, 0.8);
            color: $color;
          }
          // &:focus {
          //   outline: none;
          //   border-color: rgba($color, 0.8);
          //   color: $color;
          // }
        }
      }
      &:focus {
        outline: none;
        &:not(.hi-pagination__item--disabled) {
          & > span {
            border-color: rgba($color, 0.8);
            color: $color;
          }
        }
      }

      &--active:not(.hi-pagination__item--disabled) {
        > span {
          border-color: $color !important;
          background-color: $color;
          color: $white !important;
          cursor: default;

          &:hover {
            border-color: $color;
            color: $white;
          }
        }
      }
    }
  }
}

.hi-pagination {
  display: flex;
  align-items: center;
  user-select: none;

  &__text {
    line-height: 32px;
    color: use-color('gray-80');
  }

  &__total {
    margin-right: $spacer-4;
  }

  &__sizes {
    margin-right: $spacer-4;
  }

  &__jumper {
    margin-left: $spacer-4;
  }

  &__span {
    display: inline-block;
    margin: 0 $spacer-1;

    .hi-select__input {
      border: 1px solid use-color('gray-20');
    }
  }

  &__jumper-input {
    display: inline-block;
    margin: 0 $spacer-5 0 $spacer-2;
    color: use-color('gray-80');

    .hi-input {
      width: 64px;

      &__inner {
        border: 1px solid use-color('gray-20');
      }

      &__text {
        text-align: center;
      }

      &__fix-box {
        display: none;
      }
    }
  }

  &__item {
    float: left;

    & + & {
      margin-left: $spacer-2;
    }

    &-break {
      width: 32px;
      text-align: center;
    }

    > span {
      box-sizing: border-box;
      display: inline-block;
      min-width: 32px;
      padding: 0 4px;
      height: 32px;
      border: 1px solid use-color('gray-20');
      border-radius: 2px;
      font-size: $font-size-normal;
      line-height: 30px;
      text-decoration: none;
      text-align: center;
      color: use-color('gray-80');
      cursor: pointer;

      &:hover {
        border: 1px solid transparent;
        transition: border-color $speed-fast $easing, color $speed-fast $easing;
      }
      
    }

    &--active {
      > span {
        border: 1px solid transparent;
      }
    }

    &--disabled {
      > span {
        border: 1px solid use-color('gray-20');
        color: use-color('gray-20');
        cursor: default;

        &:hover {
          border: 1px solid use-color('gray-20');
        }
      }
    }
  }

  // Overwrite dropdown
  .hi-dropdown-menu {
    min-width: 0;
  }
}

// Component colors
@include hi-pagination-style();
