@import '../../style/index.scss';

$pagination: 'hi-pagination';
.#{$pagination} {
  display: flex;
  .hi-pagination-total {
    line-height: 32px;
    font-size: 14px;
    margin-right: 10px;
    color: #666666;
  }
  .hi-dropdown-menu {
    min-width: 0;
  }
  .hi-pagination-sizechange {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #666666;
    margin-right: 15px;
    .hi-pagination-sizechange-button {
      margin: 0 10px;
      .hi-btn {
        border: 1px solid #F2F2F2;
      }
    }
  }
  .hi-pagination-jump {
    display: flex;
    align-items: center;
    margin-left: 16px;
    font-size: 14px;
    color: #666666;
    .hi-input {
      margin-left: 10px;
      width: 60px;
      .hi-input__text {
        text-align: center;
      }
      .hi-input__fix-box {
        display: none;
      }
    }
  }
  .hi-pagination-list-container {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    & > li {
      float: left;
      &:not(:last-of-type) {
        margin-right: 8px;
      }
      & > a {
        box-sizing: border-box;
        display: inline-block;
        width: 32px;
        height: 32px;
        line-height: 30px;
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        color: #666;
        border-radius: 2px;
        border: 1px solid #F2F2F2;
        &:hover{
          text-decoration: none;
          border: 1px solid #4284F5;
          color: #4284F5;
        }
      }
      &.#{$pagination}-item-active > a {
        border: 1px solid #4284F5;
        background: #4284F5;
        color: #fff;
      }
      &.hi-pagination-disabled > a {
        color: #ccc;
        cursor: default;
        &:hover{
          border: 1px solid #F2F2F2;
        }
      }
    }
  }
  &.classics {
    .hi-pagination-list-container {
      & > li {
        & > a {
          &:hover{
            border-color: #FF6633;
            color: #FF6633;
          }
        }
        &.#{$pagination}-item-active > a {
          border-color: #FF6633;
          background: #FF6633;
          color: #fff;
        }
        &.hi-pagination-disabled > a {
          color: #ccc;
          &:hover{
            border-color:  #F2F2F2;
          }
        }
      }
    }
  }
}
