@import '@hi-ui/core-css/index.scss';

// Define component colors
@mixin hi-pagination-style($color: get-color($palette-primary, 'hiui-blue')) {
  .hi-pagination {
    &__item {
      &:not(.hi-pagination__item--disabled) {
        > span {
          &:hover {
            border-color: rgba($color, 0.8);
            color: $color;
          }
        }
      }

      &--active:not(.hi-pagination__item--disabled) {
        > span {
          border-color: $color;
          background-color: $color;
          color: $white;
          cursor: default;

          &:hover {
            border-color: $color;
            color: $white;
          }
        }
      }
    }
  }
}

.hi-pagination {
  display: flex;
  align-items: center;
  user-select: none;

  @include component-reset();

  &__text {
    line-height: 32px;
    color: $gray-darker;
  }

  &__total {
    margin-right: $spacer-4;
  }

  &__sizes {
    margin-right: $spacer-4;
  }

  &__jumper {
    margin-left: $spacer-4;
  }

  &__span {
    display: inline-block;
    margin: 0 $spacer-1;

    .hi-select__input {
      border: 1px solid $gray-light;
    }
  }

  &__jumper-input {
    display: inline-block;
    margin: 0 $spacer-5 0 $spacer-2;
    color: $gray-darker;

    .hi-input {
      width: 64px;

      &__inner {
        border: 1px solid $gray-light;
      }

      &__text {
        text-align: center;
      }

      &__fix-box {
        display: none;
      }
    }
  }

  &__item {
    float: left;

    & + & {
      margin-left: $spacer-2;
    }

    &-break {
      width: 32px;
      text-align: center;
    }

    > span {
      box-sizing: border-box;
      display: inline-block;
      min-width: 32px;
      padding: 0 4px;
      height: 32px;
      border: 1px solid $gray-light;
      border-radius: 2px;
      font-size: $font-size-normal;
      line-height: 30px;
      text-decoration: none;
      text-align: center;
      color: $gray-darker;
      cursor: pointer;

      &:hover {
        border: 1px solid transparent;
        transition: border-color $speed-fast $easing, color $speed-fast $easing;
      }
    }

    &--active {
      > span {
        border: 1px solid transparent;
      }
    }

    &--disabled {
      > span {
        border: 1px solid $gray-light;
        color: $gray-light;
        cursor: default;

        &:hover {
          border: 1px solid $gray-light;
        }
      }
    }
  }

  // Overwrite dropdown
  .hi-dropdown-menu {
    min-width: 0;
  }
}

// Component colors
@include hi-pagination-style();

@each $key, $value in $theme-colors {
  .theme__#{$key} {
    @include hi-pagination-style($value);
  }
}
