@import '~@hi-ui/core-css/lib/index.scss';

$prefix: '#{$component-prefix}-select' !default;

.#{$prefix} {
  &--open {
    .#{$component-prefix}-mock-input {
      border-color: use-color-mode('primary');
    }
  }

  @include component-reset;

  list-style: none;
  width: auto;
  box-sizing: border-box;
  flex-shrink: 0;
  display: inline-block;
  // min-width: 160px;
  overflow: auto;

  $this: &;

  &-item {
    width: 100%;
    padding: use-spacing(2) 0;
    position: relative;
    cursor: pointer;
    display: flex;
  }

  &-option {
    &:last-of-type {
      margin-bottom: 0;
    }

    padding: 0 use-spacing(4) + 2px;
    margin-bottom: use-spacing(4);
    box-sizing: border-box;
    min-height: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    border-radius: use-border-radius('normal');
    cursor: pointer;

    &:hover {
      background-color: use-color('gray', 100);
    }

    &--selected {
      background-color: use-color-mode('primary-05');
      color: use-color-mode('primary');
    }

    &--focused {
      background-color: use-color('gray', 100);
    }

    &--disabled {
      cursor: not-allowed;
      color: use-color('gray', 500);

      .#{$prefix}-menu-switcher {
        color: use-color('gray', 500);
      }
    }
  }

  .title__text {
    flex: 1;
  }
}

.#{$prefix}-panel {
  white-space: nowrap;
  box-sizing: border-box;
  // padding: 6px 0;
  border-radius: use-border-radius('normal');
  padding: use-spacing(4);
  font-size: use-text-size('normal');
}

.#{$prefix}-search {
  box-sizing: border-box;
  // padding: 10px;
  padding: 0 10px 10px;
  position: relative;

  .#{$component-prefix}-input__prefix {
    font-size: 16px;
    padding-left: 0;
  }

  &__empty {
    display: inline-block;
    margin-top: 20px;
    font-size: 14px;
    color: #999;
    line-height: 20px;
  }
}
