$AnimationClassName: 'hi-popper_transition' !default;

.hi-popper__container {
  position: absolute;
  outline: none;

  &--hide {
    display: none !important;
  }

  .hi-popper__content {
    position: absolute;

    &--hide {
      visibility: hidden;
      opacity: 0;
    }

    &--top {
      bottom: 0;
      // left: 50%;
      transform: translateX(-50%);
    }

    &--top-start {
      bottom: 0;
    }

    &--top-end {
      bottom: 0;
    }

    &--right {
      // left: 100%;
      // top: 50%;
      transform: translateY(-50%);
    }

    &--bottom {
      // top: 100%;
      // left: 50%;
      transform: translateX(-50%);
    }

    &--left {
      right: 0;
      // top: 50%;
      transform: translateY(-50%);
    }
  }
}

.#{$AnimationClassName} {
  &-enter {
    opacity: 0;
    transform: scale(0.9);
  }

  &-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
  }

  &-exit {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 300ms, transform 300ms;
  }

  &-exit-done {
    opacity: 0;
    transform: translateX(100%);
  }

  &-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
  }
}
