// markdown样式
@import './typo.scss';
@import '../../components/style/icon/index.scss';

#app {
  .layout__body {
    position: relative;
    z-index: 1;
  }

  .layout__main--lr {
    margin-left: 240px;
  }

  .logo__title {
    .title--wrapper {
      position: relative;

      .version {
        position: absolute;
        left: calc(100% + 2px);
        height: 20px;
        line-height: 18px;
        padding: 0 8px;
        border: 1px solid rgb(66, 133, 244);
        color: rgb(66, 133, 244);
        border-radius: 10px;
        top: 8px;
        font-size: 12px;
        box-sizing: border-box;
        font-weight: 500;
      }
    }
  }

  .sidebar {
    box-shadow: inset -1px 0 0 0 #e7e7e7;
    width: 240px;

    .sidebar__toggle {
      display: none;
    }
  }

  .sidebar__wrapper {
    .sidebar__list {
      width: 100%;
      overflow-y: hidden;

      &:hover {
        overflow-y: auto;
      }

      & > li:first-child {
        margin-top: 24px;
      }

      & > li:last-child {
        margin-bottom: 32px;
      }

      .sidebar__item {
        width: 100%;
        line-height: 48px;
        padding: 0 24px;
      }

      .sidebar__item-toggle {
        top: 0;
        left: 192px;
      }
    }

    .sidebar__item--noaction {
      font-size: 14px;
    }

    .sidebar__list--submenu {
      width: 100%;

      & > li:first-child {
        margin-top: 0;
      }

      & > li:last-child {
        margin-bottom: 0;
      }

      .sidebar__item {
        width: 100%;
        line-height: 48px;
        padding: 0 24px 0 48px;
      }
    }
  }

  .layout--classic.layout--white .header {
    border-color: #e7e7e7;
  }
}
