@import '../../components/style/icon/index.scss';

table.grid {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #e4e4e4;
  margin-bottom: 20px;
  color: #333;
  font-size: 14px;
  th,
  td {
    border: 1px solid #e4e4e4;
    text-align: left;
    padding: 8px 16px;
  }
  th {
    background-color: #f5f5f5;
  }
  td {
    background-color: #fff;
  }

  .hi-icon {
    font-size: 30px;
    vertical-align: middle;
  }
}
