@import '@hi-ui/core-css/index.scss';

.article > div {
  @include typoBase;
  @include typoCode;
  @include typoHeadings;
  @include typoImages;
  @include typoLists;

  > {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      a {
        color: inherit;
      }
    }

    h2 {
      padding-top: 63px;
      margin-top: -23px;

      a {
        display: none;
      }

      span {
        display: flex;
      }

      span:hover {
        a {
          margin-left: 5px;
          color: #4284f5;
          display: inline-block;
          font-size: 16px;
        }
      }
    }

    // @To-do: 表格样式
    table {
      font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
      width: 100%;
      border-radius: 2px;
      border-collapse: collapse;
      border: 1px solid rgba(231, 231, 231, 1);
      line-height: 22px;
      color: #666;

      code {
        margin: 0 1px;
        padding: 0.2em 0.4em;
        font-size: 1.1em;
        background: #f2f4f5;
        border: 1px solid #eee;
        border-radius: 3px;
      }

      tr > td:first-of-type {
        color: #4284f5;
      }

      tr > td:nth-of-type(3) {
        color: #f63;
      }

      th {
        text-align: left;
        border: 1px solid #e7e7e7;
        padding: 11px 10px;
        background: #f6f6f6;
      }

      td {
        padding: 10px 9px;
        border: 1px solid #e7e7e7;
      }
    }

    p {
      code {
        margin: 0 1px;
        padding: 0.2em 0.4em;
        font-size: 1.1em;
        background: #f2f4f5;
        border: 1px solid #eee;
        border-radius: 3px;
      }
    }
  }

  &:lang(zh) {
    > {
      // 修改中文标题文字渲染
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        -webkit-font-smoothing: antialiased;
      }

      // 中文不使用斜体
      dl {
        dt {
          font-style: normal;
        }
      }
    }
  }
}
