@import '@hi-ui/core-css/index.scss';

.article {
  @include typoBase;
  @include typoCode;
  @include typoHeadings;
  @include typoImages;
  @include typoLists;

  & > ul ul {
    margin-left: 16px;
  }

  // 设计语言图片描述
  figure {
    margin: 0;
    text-align: center;

    p {
      margin-left: 12px;
      margin-right: 12px;
      font-size: 12px;
    }
  }

  figcaption {
    font-size: 16px;
  }

  code {
    padding: 4px;
    border: 1px solid #eee;
    border-radius: 4px;
    background-color: #f2f4f5;
  }

  pre {
    padding: 4px 8px;
    background-color: #f2f4f5;

    code {
      all: unset;
    }
  }

  > {
    // 锚点样式
    h2 {
      span {
        display: flex;

        &:hover {
          a {
            margin-left: 8px;
            visibility: visible;
            font-size: 16px;
            color: #4284f5;
          }
        }

        a {
          visibility: hidden;
        }
      }
      // for anchor offset
      padding-top: 80px;
      margin-top: -40px;
    }

    // 首段大号概述
    p.large {
      font-size: 16px;
    }

    // @To-do: 表格缺省样式
    table:not(.no-border):not(.no-vertical-border) {
      font-family: $font-family-mono;
      width: 100%;
      border-radius: 2px;
      border-collapse: collapse;
      border: 1px solid rgba(231, 231, 231, 1);
      line-height: 22px;
      color: #666;

      tr {
        > td:first-of-type {
          color: #3b77db;
        }

        > td:nth-of-type(3) {
          color: #e65069;
        }
      }

      th {
        text-align: left;
        border: 1px solid #e7e7e7;
        padding: 11px 10px;
        background: #f6f6f6;
      }

      td {
        padding: 10px 9px;
        border: 1px solid #e7e7e7;
      }
    }

    // 表格无边框样式
    table.no-border {
      border-collapse: collapse;

      td {
        padding: 12px 16px;
        border: 0;
        vertical-align: top;
      }
    }

    // 表格无垂直边框样式
    table.no-vertical-border {
      border-collapse: collapse;

      th {
        padding: 12px;
        font-weight: 400;
        text-align: left;
        background-color: #f0f5ff;
        border-color: #f0f5ff;
      }

      td {
        padding: 12px;
        border-left-width: 0;
        border-right-width: 0;
        border-bottom: 1px solid #e8e8e8;
        vertical-align: top;
      }

      p:first-child {
        margin-top: 0;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }
  }

  &:lang(zh) {
    > {
      // 修改中文标题文字渲染
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        -webkit-font-smoothing: antialiased;
      }

      // 中文不使用斜体
      dl dt,
      p em {
        font-style: normal;
      }
    }
  }
}

// 排版区域样式重置
.entry--typography-demo {
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    margin-top: 0;
    padding-top: 0;
  }
}
