@import '~@hi-ui/core-css/lib/index.scss';

$group-menu-prefix: '#{$component-prefix}-group-menu' !default;

.#{$group-menu-prefix} {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: use-spacing(4) 0;

  &-item {
    &:not(:first-child) {
      margin-top: use-spacing(4);
    }

    &__content {
      display: flex;
      align-items: center;
      height: use-height-size(8);
      padding: 0 use-spacing(4);
      margin: 0 use-spacing(4);
      border-radius: use-border-radius('lg');
      font-size: use-text-size('normal');
      line-height: use-text-lineheight('normal');
      color: use-color('gray', 800);
    }

    &:not(&--parent):not(&--disabled) {
      cursor: pointer;

      &:hover {
        .#{$group-menu-prefix}-item__content {
          background-color: use-color('gray', 200);
        }
      }

      &.#{$group-menu-prefix}-item--active {
        > .#{$group-menu-prefix}-item__content {
          font-weight: use-text-weight('medium');
          color: use-color-mode('primary');
          background-color: use-color-mode('primary', 100);
        }

        &:hover {
          > .#{$group-menu-prefix}-item__content {
            background-color: use-color-mode('primary', 100);
          }
        }
      }
    }

    &--disabled {
      > .#{$group-menu-prefix}-item__content {
        color: use-color('gray', 500);
      }
    }

    &--empty {
      > .#{$group-menu-prefix}-item__content {
        display: none;
      }
    }

    &__icon {
      display: inline-flex;
      margin-right: use-spacing(4);
      font-size: use-text-size('lg');
    }
  }

  &-parent-item {
    display: flex;
    flex-direction: column;

    > .#{$group-menu-prefix}-item__content {
      height: use-height-size(7);
      color: use-color('gray', 600);

      .#{$group-menu-prefix}-item__title {
        font-size: use-text-size('sm');
        line-height: use-text-lineheight('sm');
      }
    }

    &:not(:first-child) {
      > .#{$group-menu-prefix}-item__content {
        margin-top: use-spacing(12);
      }
    }

    + .#{$group-menu-prefix}-item {
      margin-top: use-spacing(12);
    }
  }
}
