@import '~@hi-ui/core-css/lib/index.scss';

$prefix: '#{$component-prefix}-table' !default;

.#{$prefix} {
  box-sizing: border-box;
  font-size: 14px;
  position: relative;

  table {
    width: 100%;
    text-align: left;
    border-radius: 2px 2px 0 0;
    border-collapse: separate;
    border-spacing: 0;
    background: #fff;
  }

  &__wrapper {
    position: relative;
    // z-index: 1;
  }

  &--bordered {
    table {
      thead {
        & > tr > th {
          border-right: use-border-size('normal') use-color('gray', 200);
        }
      }

      td {
        border-right: use-border-size('normal') use-color('gray', 200);
      }
    }

    .#{$prefix}__header {
      border-top: use-border-size('normal') use-color('gray', 200);
      border-left: use-border-size('normal') use-color('gray', 200);
    }

    .#{$prefix}__body {
      border-left: use-border-size('normal') use-color('gray', 200);
    }
  }

  &--striped {
    .#{$prefix}-row:nth-child(2n) {
      .#{$prefix}-cell {
        background-color: use-color('gray', 50);
      }
    }
  }

  &--sticky {
    position: sticky;
    top: 0;
  }

  &__header {
    overflow: hidden;
    position: relative;

    th {
    }

    tr {
      & > th {
        padding: 16px;
        color: #999;
        // background: rgb(251, 251, 251);
        border-bottom: 1px solid #f0f0f0;
        font-weight: 500;
      }
    }
  }

  &__body {
    // & > tr {
    //   & > td {
    //     background: #fff;
    //     white-space: nowrap;
    //     padding: 16px;
    //     color: #333;
    //     border-bottom: 1px solid #f0f0f0;
    //   }
    // }
  }

  &-row {
    &:hover {
      & > td {
        background-color: use-color-mode('primary-10');
      }
    }

    &__indent {
      display: inline-block;
      width: 14px;
      height: 100%;
    }

    &--hovered {
      background: #f0f5fe;
    }

    &--expanded {
      background: #fbfbfb;

      & > td {
        color: use-color('gray', 800);
      }
    }

    &--error {
      & > td {
        color: use-color-mode('danger');
      }
    }

    &--highlight {
      & > td {
        background-color: use-color-mode('primary-10');
      }
    }

    &--dragging {
      // background: use-color('primary-20');
      background-color: use-color-mode('primary-10');

      // .hi-table__col--sticky {
      //   background: use-color('primary-20');
      // }
    }

    &--drag-top {
      // TODO: 使用伪类，避免位置抖动
      td {
        border-top: 2px dashed use-color-mode('primary');
      }
    }

    &--drag-bottom {
      td {
        border-bottom: 2px dashed use-color-mode('primary');
      }
    }
  }

  // 利用 table colgroup 控制列
  &-col {
    .#{$prefix}__header  & {
      background-color: use-color('gray', 50);
    }

    &[data-hover-highlight] {
      .#{$prefix}__body  & {
        background-color: use-color-mode('primary-10');
      }

      .#{$prefix}__header  & {
        background-color: use-color('gray', 100);
      }
    }
  }

  &__resizable {
    position: relative;
    background-clip: padding-box;

    &-handle {
      position: absolute;
      width: 2px;
      height: 100%;
      bottom: 0;
      right: -5px;
      cursor: col-resize;
      z-index: 1;
      background-color: use-color-mode('primary');
    }
  }
}

// 单元格
.#{$prefix}-cell {
  // background: #fff;
  // white-space: nowrap;
  padding: 16px;
  color: #333;
  border-bottom: 1px solid #f0f0f0;
  word-break: break-word;

  // &__col--hovered-highlight {
  //   background-color: use-color-mode('primary-10');
  // }
  &[data-sticky] {
    background-color: use-color-static('white');
  }
}

th[data-sticky] {
  background-color: use-color('gray', 50);
}

// 冻结列 阴影
.#{$prefix}-freeze-shadow {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 20;
  pointer-events: none;
  overflow: hidden;
  height: 100%;
  width: 200px;

  &--left {
    margin-right: 10px;
    left: 0;
    box-shadow: 6px 0 6px -4px rgba(0, 0, 0, 0.15);
  }

  &--right {
    margin-left: 10px;
    right: 0;
    box-shadow: -6px 0 6px -4px rgba(0, 0, 0, 0.15);
  }
}

.#{$prefix}-setting {
  position: absolute;
  height: 100%;
  z-index: 11;
  box-sizing: border-box;
  right: 0;
  display: flex;
  align-items: center;
  border-left: 1px solid #e0e1e2;
  border-bottom: 1px solid #e0e1e2;
  border-top: none;
  color: #999;
  cursor: pointer;
  font-size: 14px;
  width: 16px;
  background: rgb(251, 251, 251);

  &__content {
    height: 400px;
    overflow-y: scroll;
  }

  &__btn-group {
    display: flex;
    border-top: 1px solid rgba(231, 231, 231, 1);
    height: 48px;
    align-items: center;
  }

  &__btn {
    width: 50%;
    text-align: center;
    cursor: pointer;

    &:first-child {
      border-right: 1px solid rgba(231, 231, 231, 1);
    }
  }
}

.#{$prefix}-setting-item {
  @include flex(space-between);

  user-select: none;
  padding: use-spacing(2);
  margin-bottom: use-spacing(2);
  border: use-border-size('normal') use-color-static('transparent');

  &--dragging {
    border: use-border-size('normal') use-color-mode('primary');
  }

  &--direction {
    &-before {
      border-top-color: use-color-mode('primary');
    }

    &-after {
      border-bottom-color: use-color-mode('primary');
    }
  }
}

.#{$prefix}-pagination {
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  margin: use-spacing(8) 0;

  &--placement-left {
    justify-content: flex-start;
  }

  &--placement-right {
    justify-content: flex-end;
  }

  &--placement-middle {
    justify-content: center;
  }
}
