@import '../../core-css/index.scss';
$modal: 'hi-modal' !default;

.#{$modal} {
  color: use-color('black');
  font-size: $font-size-normal;

  &__mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.45);
    opacity: 0;
    transition: opacity 0.3s, height 0s 0.3s;

    &--visible {
      opacity: 1;
      height: 100%;
      transition: opacity 0.3s;
    }
  }

  &__container {
    z-index: 1000;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    outline: 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    background: use-color('white');
    border-radius: 2px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);

    &--default {
      width: 600px;
      max-height: 600px;
      min-height: 240px;
    }

    &--large {
      width: 800px;
      max-height: 600px;
      min-height: 240px;
    }

    &--small {
      width: 360px;
      max-height: 600px;
      min-height: 240px;
    }
  }

  &__header {
    font-size: $font-size-large;
    color: use-color('black');
    font-weight: $font-weight-bold;
    height: 54px;
    box-sizing: border-box;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;

    &--divided {
      border-bottom: 1px solid use-color('gray-20');
    }
  }

  &__content {
    flex: 1;
    box-sizing: border-box;
    overflow: auto;
    padding: 24px;
  }

  &__footer {
    height: 54px;
    box-sizing: border-box;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;

    &--divided {
      border-top: 1px solid use-color('gray-20');
    }
  }

  .modal-transition {
    &-enter {
      opacity: 0;
      transform: scale(0.4);
    }

    &-enter-done {
      opacity: 1;
      transform: scale(1);
      transition: opacity 0.3s, transform 0.3s;
    }

    &-exit {
      opacity: 1;
      transform: scale(1);
    }

    &-exit-done {
      opacity: 0;
      transform: scale(0.4);
      transition: opacity 0.3s, transform 0.3s;
    }
  }
}
