@import '../../style/index.scss';

.hi-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;

  &.hide {
    display: none;
  }

  .modal-shade {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(55, 55, 55, 0.6);
    z-index: 1;
    transition: all 0.2s ease-out;
  }

  .modal-dialog {
    position: relative;
    top: 120px;
    margin: auto;
    z-index: 1000;
    width: 520px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    transition: all 0.2s ease-out;

    .title-container {
      display: flex;
      align-items: center;
      height: 40px;
      border-bottom: 1px solid #e6e7e8;

      .fa-close {
        cursor: pointer;
      }

      .title {
        display: block;
        font-size: 16px;
        color: #383e47;
        text-align: left;
        font-weight: initial;
        padding: 0 16px;
        flex: 1;
      }
    }

    .content {
      width: 100%;
      box-sizing: border-box;
      display: block;
      padding: 16px;
      font-size: 14px;
      overflow-x: hidden;
      overflow-y: auto;
    }

    .control {
      display: flex;
      border-top: 1px solid #e6e7e8;
      padding: 10px;
      justify-content: flex-end;
      overflow-x: auto;

      button {
        margin: 0 10px;
      }
    }
  }
}
