@import '@hi-ui/core-css/index.scss';

.hi-select {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  overflow: hidden;
  vertical-align: middle;
  outline: none;

  &.is-disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  &__hide {
    display: none;
  }

  &:focus {
    .hi-select__input {
      border-color: use-color("primary");
    }
  }
}
