$tree: 'select-tree' !default;
$fontColor: #383e47 !default;
$mainColor: #4284f5 !default;
$hoverColor: rgba(66, 133, 244, 0.08) !default;

.#{$tree}-menu {
  background: #fff;
  transform: translateY(calc(50% - 12px));
  width: 120px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 4px 0;
  margin-left: 4px;
  font-size: 14px;

  .menu-item {
    font-size: 14px;
    color: $fontColor;
    cursor: pointer;
    height: 36px;
    line-height: 36px;
    padding-left: 12px;

    &:hover {
      background: $hoverColor;
    }
  }
}

.#{$tree} {
  color: $fontColor;
  // width: 296px;
  height: 100%;
  padding: 0 12px 12px 12px;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .root-list > .tree-node {
    &:first-child {
      margin-top: 0;

      .tree-node__self {
        margin-top: 0;
      }
    }
  }

  .tree-node {
    margin-top: 12px;

    ul {
      padding: 0 16px;
    }

    &__self {
      display: flex;
      align-items: center;
      cursor: pointer;
      margin-top: 12px;

      .icon-check {
        color: $mainColor;
      }
    }

    .hi-icon {
      cursor: pointer;
      font-size: 16px;
      margin-right: 8px;
    }

    &__title {
      height: 24px;
      line-height: 24px;
      text-align: left;
      white-space: nowrap;

      &:hover {
        color: #383e47;
      }

      &--selected {
        color: $mainColor;

        &:hover {
          color: $mainColor;
        }
      }
    }
  }
}
