@import '@hi-ui/core-css/lib/core/index.scss';
.dashboard {
  .header-nav {
    align-items: center;
  }
}
// 'hiui-blue': #4285f4,
//   'orange': #f63,
//   'cyan': #46bc99,
//   'blue': #3da8f5,
//   'purple': #8a8acb,
//   'green': #1da653
.colors {
  position: relative;
}
.color-list {
  position: absolute;
  top: 24px;
  &.hide {
    display: none;
  }
  li {
    margin: 2px 0;
  }
}
.hiui-blue {
  background-color: map-get($palette-hiui, '50');
}
.orange {
  background-color: map-get($palette-orange, '50');
}
.cyan {
  background-color: map-get($palette-cyan, '50');
}
.blue {
  background-color: map-get($palette-blue, '50');
}
.purple {
  background-color: map-get($palette-purple, '50');
}

.hi-demo {
  &__dropdown {
    position: relative;
  }
  &__title {
    .hi-icon {
      margin-left: 6px;
    }
  }
  &__list {
    font-size: 12px;
    position: absolute;
    background: #fff;
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #e6e7e8;
    border-top: none;
    &--hide {
      display: none;
    }
    &--colors {
      padding: 10px 8px;
      box-sizing: border-box;
    }
  }
  &__item {
    padding: 8px 0;
    cursor: pointer;
    &:hover {
      color: #4284f5;
    }
    &--color {
      display: flex;
      align-items: center;
      span:last-child {
        margin-left: 6px;
      }
    }
  }
  &__item-dot {
    display: block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    border-radius: 50%;
    @each $key, $value in $palette-primary {
      &.theme__#{$key} {
        background-color: map-get(get-palette($value), '50');
      }
    }
  }
}
