@import '~@hi-ui/core-css/lib/index.scss';

// 默认态
$filled-background-map: (
  'primary': use-color-mode('primary'),
  'secondary': use-color-mode('primary-05'),
  'default': use-color('gray', 100),
  'success': use-color-mode('success-05'),
  'danger': use-color-mode('danger-05'),
) !default;

$filled-color-map: (
  'primary': use-color-static('white'),
  'secondary': use-color-mode('primary'),
  'default': use-color('gray', 700),
  'success': use-color-mode('success'),
  'danger': use-color-mode('danger'),
) !default;

// hover 态
$filled-hover-background-map: (
  'primary': use-color-mode('primary-40'),
  'secondary': use-color-mode('primary-10'),
  'default': use-color('gray', 200),
  'success': use-color-mode('success-10'),
  'danger': use-color-mode('danger-10'),
) !default;

$filled-hover-color-map: $filled-color-map !default;

// active 态
$filled-active-background-map: (
  'primary': use-color-mode('primary-60'),
  'secondary': use-color-mode('primary-20'),
  'default': use-color('gray', 300),
  'success': use-color-mode('success-20'),
  'danger': use-color-mode('danger-20'),
) !default;

$filled-active-color-map: $filled-color-map !default;

// 禁用态
$filled-disabled-background-map: (
  'primary': use-color-mode('primary-20'),
  'secondary': use-color-mode('primary-05'),
  'default': use-color('gray', 100),
  'success': use-color-mode('success-05'),
  'danger': use-color-mode('danger-05'),
) !default;

$filled-disabled-color-map: (
  'primary': use-color-static('white'),
  'secondary': use-color-mode('primary-30'),
  'default': use-color('gray', 400),
  'success': use-color-mode('success-30'),
  'danger': use-color-mode('danger-30'),
) !default;

// focus 态
$filled-focus-shadow-map: (
  'primary': use-color-mode('primary-20'),
  'secondary': use-color-mode('primary-20'),
  'default': use-color-mode('primary-20'),
  'success': use-color-mode('success-20'),
  'danger': use-color-mode('danger-20'),
) !default;

@mixin render-filled-button() {
  & {

    // 尺寸
    &--appearance-filled#{&}--size-sm {
      height: calc(#{get-text-lineheight('sm')} + #{2px * 2 + 1px * 2});
      padding: 2px 7px;

      &.#{$prefix}--icon-only {
        width: calc(#{get-text-lineheight('sm')} + #{2px * 2 + 1px * 2});
        padding: 0;
      }
    }
    &--appearance-filled#{&}--size-md {
      height: calc(#{get-text-lineheight('normal')} + #{4px * 2 + 1px * 2});
      padding: 4px 11px;

      &.#{$prefix}--icon-only {
        width: calc(#{get-text-lineheight('normal')} + #{4px * 2 + 1px * 2});
        padding: 0;
      }
    }

    &--appearance-filled#{&}--size-lg {
      height: calc(#{get-text-lineheight('lg')} + #{7px * 2 + 1px * 2});
      padding: 7px 15px;

      &.#{$prefix}--icon-only {
        width: calc(#{get-text-lineheight('lg')} + #{7px * 2 + 1px * 2});
        padding: 0;
      }
    }

    &--appearance-filled#{&}--size-xl {
      height: calc(#{get-text-lineheight('xxl')} + #{13px * 2 + 1px * 2});
      padding: 13px 60px;

      &.#{$prefix}--icon-only {
        width: calc(#{get-text-lineheight('xxl')} + #{13px * 2 + 1px * 2});
        padding: 0;
      }
    }

    @each $key, $value in 'primary', 'secondary', 'default', 'success', 'danger' {
      $prefix: & !default;
      &--appearance-filled#{&}--type-#{$key} {
        background-color: map-get($filled-background-map, $key);
        border: 1px solid map-get($filled-background-map, $key);
        color: map-get($filled-color-map, $key);

        &:not(.#{$prefix}--disabled):not(.#{$prefix}--loading):hover {
          background-color: map-get($filled-hover-background-map, $key);
          border: 1px solid map-get($filled-hover-background-map, $key);
          color: map-get($filled-hover-color-map, $key);
        }

        &:not(.#{$prefix}--disabled):not(.#{$prefix}--loading):active {
          background-color: map-get($filled-active-background-map, $key);
          border: 1px solid map-get($filled-active-background-map, $key);
          color: map-get($filled-active-color-map, $key);
        }

        &:not(.#{$prefix}--disabled):not(.#{$prefix}--loading):focus {
          box-shadow: 0 0 0 2px map-get($filled-focus-shadow-map, $key);
        }

        &.#{$prefix}--disabled {
          background-color: map-get($filled-disabled-background-map, $key);
          border: 1px solid map-get($filled-disabled-background-map, $key);
          color: map-get($filled-disabled-color-map, $key);
        }
      }
    }
  }
}
