@import '~@hi-ui/core-css/lib/index.scss';

// 默认态

$line-border-color-map: (
  'primary': use-color-mode('primary'),
  'secondary': use-color-mode('primary', 400),
  'default': use-color('gray', 400),
  'success': use-color-mode('success'),
  'danger': use-color-mode('danger'),
) !default;

$line-color-map: (
  'primary': use-color-mode('primary'),
  'secondary': use-color-mode('primary', 400),
  'default': use-color('gray', 800),
  'success': use-color-mode('success'),
  'danger': use-color-mode('danger'),
) !default;

// hover 态

$line-hover-border-color-map:(
  'primary': use-color-mode('primary', 400),
  'secondary': use-color-mode('primary', 300),
  'default': use-color('gray', 400),
  'success': use-color-mode('success', 400),
  'danger': use-color-mode('danger'),
) !default;

$line-hover-color-map:(
  'primary': use-color-mode('primary'),
  'secondary': use-color-mode('primary', 300),
  'default': use-color('gray', 800),
  'success': use-color-mode('success', 400),
  'danger': use-color-mode('danger'),
) !default;

$line-hover-bg-color-map:(
  'primary': use-color-mode('primary', 50),
  'secondary': use-color-mode('primary', 50),
  'default': use-color('gray', 100),
  'success': use-color-mode('success', 50),
  'danger': use-color-mode('danger', 50),
) !default;

// active 态

$line-active-border-color-map: (
  'primary': use-color-mode('primary'),
  'secondary': use-color-mode('primary'),
  'default': use-color('gray', 400),
  'success': use-color-mode('success', 600),
  'danger': use-color-mode('danger'),
) !default;

$line-active-color-map: (
  'primary': use-color-mode('primary'),
  'secondary': use-color-mode('primary'),
  'default': use-color('gray', 800),
  'success': use-color-mode('success', 600),
  'danger': use-color-mode('danger'),
) !default;

$line-active-bg-color-map:(
  'primary': use-color-mode('primary', 100),
  'secondary': use-color-mode('primary', 100),
  'default': use-color('gray', 300),
  'success': use-color-mode('success', 100),
  'danger': use-color-mode('danger', 100),
) !default;

// 加载态

$line-loading-border-color-map: (
  'primary': use-color-mode('primary', 300),
  'secondary': use-color-mode('primary', 200),
  'default': use-color('gray', 400),
  'success': use-color-mode('success', 200),
  'danger': use-color-mode('danger', 200),
) !default;

$line-loading-color-map: (
  'primary': use-color-mode('primary', 200),
  'secondary': use-color-mode('primary', 200),
  'default': use-color('gray', 500),
  'success': use-color-mode('success', 200),
  'danger': use-color-mode('danger', 300),
) !default;

// 禁用态

$line-disabled-border-color-map: (
  'primary': use-color('gray', 400),
  'secondary': use-color('gray', 400),
  'default': use-color('gray', 400),
  'success': use-color('gray', 400),
  'danger': use-color('gray', 400),
) !default;

$line-disabled-color-map: (
  'primary': use-color('gray', 500),
  'secondary': use-color('gray', 500),
  'default': use-color('gray', 500),
  'success': use-color('gray', 500),
  'danger': use-color('gray', 500),
) !default;

// focus 态
$line-focus-shadow-map: (
  'primary': use-color-mode('primary', 200),
  'secondary': use-color-mode('primary', 100),
  'default': use-color('gray', 400),
  'success': use-color-mode('success', 200),
  'danger': use-color-mode('danger', 200),
) !default;

@mixin render-line-button() {
  & {
    // 尺寸
    &--appearance-line#{&}--size-xs {
      height: calc(#{use-text-lineheight('sm')} + #{1px * 2 + 1px * 2});
      font-size: use-text-size('sm');

      &:not(.#{$prefix}--icon-only) {
        min-width: use-height-size(12);
        padding: 0 use-spacing(4);
      }

      &.#{$prefix}--icon-only {
        width: calc(#{use-text-lineheight('sm')} + #{1px * 2 + 1px * 2});
      }
    }

    &--appearance-line#{&}--size-sm {
      height: calc(#{use-text-lineheight('sm')} + #{3px * 2 + 1px * 2});
      font-size: use-text-size('sm');

      &:not(.#{$prefix}--icon-only) {
        min-width: use-height-size(12);
        padding: 0 use-spacing(4);
      }

      &.#{$prefix}--icon-only {
        width: calc(#{use-text-lineheight('sm')} + #{3px * 2 + 1px * 2});
      }
    }

    &--appearance-line#{&}--size-md {
      height: calc(#{use-text-lineheight('normal')} + #{4px * 2 + 1px * 2});
      font-size: use-text-size('normal');

      &:not(.#{$prefix}--icon-only) {
        min-width: use-height-size(18);
        padding: 0 use-spacing(6);
      }

      &.#{$prefix}--icon-only {
        width: calc(#{use-text-lineheight('normal')} + #{4px * 2 + 1px * 2});
      }
    }

    &--appearance-line#{&}--size-lg {
      height: calc(#{use-text-lineheight('lg')} + #{7px * 2 + 1px * 2});
      font-size: use-text-size('lg');

      &:not(.#{$prefix}--icon-only) {
        min-width: use-height-size(22);
        padding: 0 use-spacing(8);
      }

      &.#{$prefix}--icon-only {
        width: calc(#{use-text-lineheight('lg')} + #{7px * 2 + 1px * 2});
      }
    }

    $color-list: ('primary', 'secondary', 'default', 'success', 'danger');

    @each $key in $color-list {
      $prefix: & !default;
      &--appearance-line#{&}--type-#{$key} {
        background-color: use-color-static('white');
        border: use-border-size('normal') map-get($line-border-color-map, $key);
        color: map-get($line-color-map, $key);

        &:not(.#{$prefix}--disabled):not(.#{$prefix}--loading):hover {
          background-color: map-get($line-hover-bg-color-map, $key);
          border-color: map-get($line-hover-border-color-map, $key);
        }

        &:not(.#{$prefix}--disabled):not(.#{$prefix}--loading):active {
          background-color: map-get($line-active-bg-color-map, $key);
          border-color: map-get($line-active-border-color-map, $key);
        }

        // &:not(.#{$prefix}--disabled):not(.#{$prefix}--loading):focus {
        //   box-shadow: 0 0 0 2px map-get($line-focus-shadow-map, $key);
        // }

        &.#{$prefix}--disabled {
          color: map-get($line-disabled-color-map, $key);
          border-color: map-get($line-disabled-border-color-map, $key);
        }

        &.#{$prefix}--loading {
          color: map-get($line-loading-color-map, $key);
          border-color: map-get($line-loading-border-color-map, $key);
        }
      }
    }
  }
}
