@import '~@hi-ui/core-css/lib/index.scss';

$prefix: '#{$component-prefix}-notification' !default;

.#{$prefix}-manager {
  margin-top: 6px;
}

.#{$prefix} {
  position: relative;
  box-sizing: border-box;
  width: 360px;
  padding: use-spacing(10);
  margin: use-spacing(9) use-spacing(8);
  border-radius: use-border-radius('lg');
  pointer-events: auto;
  box-shadow: 0 4px 16px 0 rgba(0, 29, 97, 0.12);
  font-size: use-text-size('normal');
  line-height: get-text-lineheight('normal');
  background-color: use-color-static('white');

  &__header {
    display: flex;
    align-items: center;
    word-break: break-word;
    font-size: use-text-size('lg');
    margin-bottom: use-spacing(4);
  }

  &__content {
    padding: 0 use-spacing(7) 0 use-spacing(16);
    word-break: break-word;
    color: use-color('gray', 600);
  }

  &__icon {
    display: flex;
    align-items: center;
    margin-right: use-spacing(6);

    svg {
      flex-shrink: 0;
      font-size: use-text-size('xxl');
    }
  }

  $transition-duration: 0.3s;
  $transition-height-delay: 0.21s;
  $transition-height-duration: 0.2s;

  &-container {
    width: auto;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    position: relative;
    transform: translateX(100%);
    transform-origin: 50% 50% 0;
    overflow: hidden;
    opacity: 1;
    max-height: 50vh;
    transition: transform $transition-duration ease, opacity $transition-duration ease, height $transition-height-duration ease-out $transition-height-delay;
  }

  &--motion {
    &-enter {
      transform: translateX(100%);

      &-active {
        transform: translateX(0);
      }

      &-done {
        transform: none;
      }
    }

    &-exit {
      transform: translateX(0%);

      &-active {
        transform: translateX(100%);
      }

      &-done {
        visibility: hidden;
        opacity: 0;
      }
    }
  }

  &--type {
    &-info {

      .#{$prefix}__icon {
        color: use-color-mode('primary');
      }
    }

    &-success {

      .#{$prefix}__icon {
        color: use-color-mode('success');
      }
    }

    &-error {

      .#{$prefix}__icon {
        color: use-color-mode('danger');
      }
    }

    &-warning {

      .#{$prefix}__icon {
        color: use-color-mode('warning');
      }
    }
  }

  &__close {
    cursor: pointer;
    background: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    position: absolute;
    padding: 0;
    margin: 0;
    top: use-spacing(10);
    right: use-spacing(10);
    color: use-color('gray', 600);
    font-size: use-text-size('normal');
  }
}
