@import '~@hi-ui/core-css/lib/index.scss';

$prefix: '#{$component-prefix}-pagination' !default;
$border-color: #e6e6e6 !default;
$border-radius: 2px !default;
$primary-color: #4387f4 !default;

.#{$prefix} {
  list-style:none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;

  &__item {
    display: inline-block;
    margin-left: 8px;
    min-width: 32px;
    border:1px solid $border-color;
    box-sizing: border-box;
    height: 32px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    outline: 0;
    border-radius: $border-radius;
    vertical-align: middle;

    &:hover:not(#{&}--break) {
      color: $primary-color;
      border-color: $primary-color;
      transition: all 0.3s;
    }

    &:focus:not(#{&}--break) {
      color: $primary-color;
      border-color: $primary-color;
      transition: all 0.3s;
    }

    &--active {
      color: #fff !important;
      background-color: $primary-color;
      border-color: $primary-color;
    }

    &--break {
      border: none;
      cursor: default;
    }
  }
  &__btn {
    display: inline-block;
    min-width: 32px;
    height: 32px;

    &:last-of-type {
      margin-left: 8px;
    }
    vertical-align: middle;
    & > button {
      width: 100%;
      height: 100%;
      background: #fff;
      border: 1px solid $border-color;
      border-radius: $border-radius;
      outline: 0;
      cursor: pointer;

      &:hover {
        color: $primary-color;
        border-color: $primary-color;
        transition: all 0.3s;
      }

      &:focus {
        color: $primary-color;
        border-color: $primary-color;
        transition: all 0.3s;
      }
    }
  }
}


$input-pagination-prefix: '#{$component-prefix}-input-pagination' !default;

.#{$input-pagination-prefix} {
  position: relative;
  display: inline-flex;
  height: auto;
  min-height: 24px;
  box-sizing: border-box;
  color: use-color('gray-80');
  font-size: $font-size-normal;
  outline: none;

  $this: &;

  &--focused {
    #{$this}__input {
      border: 1px solid use-color('primary');
    }
  }

  &__minus,
  &__plus {
    @include button-reset;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
    transition: color 0.25s;

    &:hover {
      color: use-color('primary');
    }

    &.disabled {
      color: use-color('gray-50');
      cursor: not-allowed;
    }
  }

  &__input {
    @include input-reset;

    flex: 1 1 auto;
    width: 48px;
    padding: 0 6px;
    border: 1px solid use-color('gray-30');
    border-radius: 4px;
    color: inherit;
    outline: none;
    box-sizing: border-box;
    transition: border-color 0.2s ease;
  }

  &__total {
    line-height: 24px;
    margin-left: 8px;
  }
}
