.hi-icon-list {
  width: 100%;
  margin: 24px 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;

  li {
    float: left;
    width: 16.6%;
    height: 124px;
    margin: 4px 0;
    border-radius: 4px;
    text-align: center;
    color: #333;
    transition: color, background-color 0.2s;

    &:hover {
      background: #4284f5;
      color: #fff;
    }
  }

  .hi-icon {
    display: inline-block;
    margin: 16px 0;
    font-size: 32px;
  }

  .hi-icon-name {
    display: block;
    font-size: 12px;
  }

  .hi-icon-cname {
    display: block;
    margin: 4px 0;
    font-size: 12px;
  }
}
