@import '~@hi-ui/core-css/lib/index.scss';

$tag-group-prefix: '#{$component-prefix}-tag-group' !default;

.#{$tag-group-prefix} {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: calc(-1 * #{use-spacing(4)});

  &__item {
    margin-top: use-spacing(4);
    margin-inline-end: use-spacing(4);
  }

  &__add-new-button {
    height: use-height-size(6);
    display: flex;
    align-items: center;
    margin-top: use-spacing(4);
  }
}
