@import '~@hi-ui/core-css/lib/index.scss';

$prefix: '#{$component-prefix}-tooltip' !default;

.#{$prefix} {
  $content-color: use-color('gray', 800);
  $arrow-color: use-color('gray', 800);
  $font-color: use-color-static('white');

  box-sizing: border-box;
  color: $font-color;
  border-color: $content-color;
  background-color: $content-color;
  border-radius: use-border-radius('normal');
  box-shadow: use-shadow('normal');

  // animation
  transition-timing-function: use-motion-bezier('normal');
  transition-duration: use-motion-duration('fast');
  transition-property: opacity, transform;
  // 该变量通过 JS 注入👇🏻
  transform-origin: var(--popper-transform-origin);
  opacity: 0;
  transform: scale(0);
  will-change: transform;

  // 为了保证 arrow 三角形可以正常展示
  position: relative;
  min-width: 36px;
  min-height: 36px;

  &--motion {
    &-enter {
      .#{$prefix} {
        opacity: 0;
        transform: scale(0.8);
      }
    }

    &-enter-active {
      .#{$prefix} {
        opacity: 1;
        transform: scale(1);
      }
    }

    &-enter-done {
      .#{$prefix} {
        opacity: 1;
        transform: scale(1);
      }
    }

    &-exit {
      .#{$prefix} {
        opacity: 1;
        transform: scale(1);
      }
    }

    &-exit-active {
      .#{$prefix} {
        opacity: 0;
        transform: scale(0.8);
      }
    }

    &-exit-done {
      // 即使保留dom，但是需要 hidden 不可点击
      visibility: hidden;

      .#{$prefix} {
        transition-property: none;
        opacity: 0;
        transform: scale(0);
      }
    }
  }

  &__arrow {
    z-index: 1;
    position: relative;
    display: inline-flex;

    svg {
      position: absolute;
      transform-origin: center center;
    }
  }

  &__popper {
    &[data-popper-placement^=top] {
      .#{$prefix}__arrow {
        inset-block-end: 0;

        svg {
          transform: translate3d(-50%, 0, 0);
        }
      }
    }

    &[data-popper-placement^=bottom] {
      .#{$prefix}__arrow {
        inset-block-start: -6px;

        svg {
          transform: rotate(180deg) translate3d(50%, 0, 0);
        }
      }
    }

    &[data-popper-placement^=left] {
      .#{$prefix}__arrow {
        inset-inline-end: 9px;

        svg {
          transform: rotate(-90deg) translate3d(3px, 0, 0);
        }
      }
    }

    &[data-popper-placement^=right] {
      .#{$prefix}__arrow {
        inset-inline-start: -15px;

        svg {
          transform: rotate(90deg) translate3d(-3px, 0, 0);
        }
      }
    }
  }

  &__content {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    color: inherit;
    padding: use-spacing(4) use-spacing(5);
    font-size: use-text-size('normal');
    line-height: use-text-lineheight('normal');
  }
}
