@import "~@hi-ui/core-css/lib/index.scss";

$prefix: "#{$component-prefix}-icon" !default;

[class^=#{$prefix}] {
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: currentColor;
  display: inline-block;
  // 用于和任意文本内容排版时，垂直对齐
  vertical-align: -0.15em;
}
