@import '../../core-css/index.scss';

.hi-collapse {
  text-align: left;
  border-bottom: 0;
  font-size: $font-size-normal;

  .collapse-item {
    border-bottom: 1px solid use-color('gray-30');

    &__head {
      display: flex;
      align-items: center;
      background-color: use-color('white');
      padding: 12px 0 12px 16px;
      color: rgba(0, 0, 0, 0.85);
      cursor: pointer;

      &:focus {
        outline: none;
      }

      .collapse-item__title {
        flex: auto;
        line-height: 1;
      }

      > .collapse-item__icon {
        flex: none;
        margin-right: 10px;
        transition: all 0.2s ease-out;
      }
    }

    &__content {
      display: block;
      width: 100%;
      transition: all 0.2s ease-out;
      height: 0;
      transform-origin: top;
      padding: 0 16px;
      color: rgba(0, 0, 0, 0.65);
      overflow: hidden;
      box-sizing: border-box;
      background-color: use-color('gray-10');
    }

    &--show {
      border: none;

      > .collapse-item__head > .collapse-item__icon {
        transform: rotate(-180deg);
      }

      > .collapse-item__content {
        padding: 16px;
        height: auto;
        width: 100%;
      }
    }

    &--disabled {
      .collapse-item__head {
        cursor: not-allowed;
        color: use-color('gray-50');
      }
    }
  }

  &__simple {
    .collapse-item {
      .head {
        background-color: use-color('white');
      }
    }
  }
}
