
.hi-collapse {
  text-align: left;
  border-top: 1px solid #d9d9d9;
  border-bottom: 0;
  border-radius: 3px;
  font-size: 14px;

  .collapse-item {
    border-bottom: 1px solid #d9d9d9;

    &__head {
      display: flex;
      align-items: center;
      background-color: #fff;
      padding: 12px 0 12px 16px;
      color: rgba(0, 0, 0, 0.85);
      cursor: pointer;

      .collapse-item__title {
        flex: auto;
        line-height: 1;
      }

      > .collapse-item__icon {
        flex: none;
        margin-right: 10px;
        transition: all 0.2s ease-out;
      }
    }

    &__content {
      display: block;
      width: 100%;
      transition: all 0.2s ease-out;
      height: 0;
      transform-origin: top;
      padding: 0 16px;
      color: rgba(0, 0, 0, 0.65);
      overflow: hidden;
      box-sizing: border-box;
      background-color: #fbfbfb;
    }

    &--show {
      > .collapse-item__head > .collapse-item__icon {
        transform: rotate(-180deg);
      }

      > .collapse-item__content {
        padding: 16px;
        height: auto;
        width: 100%;
        margin-bottom: 16px;
      }
    }

    &--disabled {
      .collapse-item__head {
        cursor: not-allowed;
        color: #ccc;
      }
    }
  }

  &__simple {
    .collapse-item {
      .head {
        background-color: #fff;
      }
    }
  }
}
