@import '@hi-ui/core-css/index.scss';
@import '../../core-css/index.scss';

@mixin ellipsis($max-width: initial, $width: auto) {
  width: $width;
  max-width: $max-width;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin subMenuPadding($level) {
  .hi-menu--#{$level} {
    @if $level > 1 {
      > .hi-menu__title {
        padding-left: 16px + ($level - 1) * 40px;
      }
    }

    .hi-submenu__items {
      > .hi-menu__title {
        padding-left: 16px + ($level) * 40px;
      }
    }
  }
}

.hi-menu,
.hi-submenu__popper {
  ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    font-size: 0;
  }

  li {
    margin: 0;
    list-style: none;
  }

  .hi-menu-items {
    display: flex;
  }

  .hi-menu-item {
    &--active {
      > .hi-menu__title .hi-menu__title-content,
      > .hi-menu__title-content {
        color: use-color('primary');
      }

      > .hi-menu__title .hi-menu__title-icon,
      > .hi-menu__title-icon {
        color: use-color('primary');
      }

      > .hi-submenu__title {
        & > .hi-menu__title-toggle-icon {
          color: use-color('primary');
        }
      }
    }

    &--disabled {
      .hi-menu__title {
        cursor: not-allowed;
        color: use-color('gray-30');
      }
    }
  }

  .hi-menu__title {
    display: flex;
    line-height: 22px;
    font-size: 14px;
    color: use-color('black');
    cursor: pointer;
    align-items: center;

    &-icon {
      flex: none;
      margin-right: 8px;

      .hi-icon {
        font-size: 16px;
      }
    }

    &-content {
      flex: auto;

      @include ellipsis();
    }

    &-toggle-icon {
      flex: none;
      margin-left: 8px;
    }
  }
}

.hi-menu {
  &--horizontal {
    border-bottom: 1px solid use-color('gray-20');

    .hi-menu-item {
      position: relative;
      margin-right: 48px;

      &--active::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 32px;
        height: 2px;
        background-color: use-color('primary');
      }

      &:last-child {
        margin-right: 0;
      }
    }

    .hi-menu__title {
      padding: 12px 0;

      &-content {
        max-width: 100px;
      }
    }
  }

  &--vertical {
    display: inline-block;
    width: 216px;
    padding: 12px 0;
    background: use-color('white');
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    box-sizing: border-box;

    .hi-menu-items {
      display: flex;
      flex-direction: column;
    }

    .hi-menu-item {
      position: relative;

      &--active:not(.hi-submenu) {
        background-color: use-color('primary-20');

        &::after {
          content: '';
          position: absolute;
          width: 2px;
          height: 100%;
          background-color: use-color('primary');
          left: 0;
        }
      }
    }

    .hi-menu__title {
      padding: 0 16px;
      height: 48px;

      &:hover {
        background-color: use-color('primary-20');
      }
    }

    .hi-submenu {
      display: flex;
      flex-direction: column;
    }

    @include subMenuPadding(1);
    @include subMenuPadding(2);
  }

  &--mini {
    width: 48px;
    padding: 12px 0;
    overflow: hidden;

    .hi-menu--1.hi-menu-item--active {
      background-color: use-color('primary-20');
    }

    .hi-menu__title {
      padding: 0;
    }

    .hi-menu-item {
      position: relative;

      &--active {
        background-color: use-color('primary-20');

        &::after {
          content: '';
          position: absolute;
          width: 2px;
          height: 100%;
          background-color: use-color('primary');
          left: 0;
        }
      }
    }

    .hi-menu__title-icon {
      width: 48px;
      height: 48px;
      line-height: 48px;
      margin-right: 0;
      text-align: center;
    }

    &__toggle {
      height: 48px;
      line-height: 48px;
      padding: 0 16px;
      cursor: pointer;
      font-size: 16px;
      text-align: right;
    }
  }
}

.hi-submenu {
  &__items--hide {
    display: none;
  }

  &__popper {
    width: 200px;
    padding: 8px 0;
    background-color: use-color('white');
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid use-color('gray-20');
    box-sizing: border-box;

    .hi-submenu__items {
      display: flex;
      flex-direction: column;

      .hi-menu-item--disabled {
        cursor: not-allowed;
        color: use-color('gray-30');
      }
    }

    .hi-menu__title {
      padding: 8px 12px;
    }

    &--fat {
      width: auto;

      .hi-submenu__items {
        flex-direction: row;
      }
    }

    .hi-menu-fat {
      margin-right: 12px;
      width: 120px;

      &__title {
        color: use-color('gray-70');
      }

      &__content {
        font-size: 14px;
        color: use-color('gray-70');
        box-sizing: border-box;

        @include ellipsis();
      }
    }
  }
}
