@import '@hi-ui/core-css/index.scss';

.hi-navmenu {
  position: relative;

  &__list {
    border-bottom: 1px solid #e6e7e8;
    height: 48px;
    overflow: hidden;
    padding: 0 !important;
    margin: 0 !important;

    &--on {
      height: auto;
    }

    li {
      @extend .common-li;
    }

    &--vertical {
      height: auto;
      border-bottom: none;

      .hi-navmenu__item {
        margin-right: 0 !important;
        display: block !important;
        padding-left: 16px !important;
        padding-right: 16px !important;

        &.on {
          color: #4284f5;
          background: #ecf2fe;

          &::after {
            display: none;
          }
        }
      }
    }
  }

  &__toggle {
    display: none;
    box-sizing: border-box;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 12px;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    border: 1px solid #d8d8d8;
    cursor: pointer;

    &--show {
      display: inline-block;
    }

    &::before {
      content: ' ';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
      border: 4px solid transparent;
      border-top: 4.4px solid #999;
      border-bottom: none;
      transition: transform 0.3s;
      transform-origin: 25% 12.5%;
    }

    &--on {
      &::before {
        transform: rotate(-180deg);
      }
    }
  }

  &__sublist {
    display: none;

    &--on {
      display: block;
    }

    li {
      @extend .common-li;

      &--on {
        &::after {
          display: none;
        }
      }

      &:not(:last-child) {
        &::before {
          position: absolute;
          right: -20px;
          top: 50%;
          transform: translate3d(0, -50%, 0);
          content: ' ';
          height: 10px;
          width: 1px;
          background-color: #d8d8d8;
        }
      }
    }
  }

  &__content {
    padding: 10px;
  }

  &__content-item {
    display: none;

    &--show {
      display: block;
    }
  }

  .common-li {
    font-size: 14px;
    color: #333;
    display: inline-block;
    line-height: 20px;
    padding: 14px 4px;
    margin-right: 40px;
    position: relative;
    cursor: pointer;
    margin-top: 0;

    img {
      vertical-align: middle;
      margin-right: 5px;
    }

    a {
      color: #333;
    }

    &:hover {
      color: #4284f5;

      a {
        color: #4284f5;
      }
    }

    &.on {
      color: #4284f5;

      &::after {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate3d(-50%, 0, 0);
        content: ' ';
        height: 2px;
        width: 32px;
        background-color: #4284f5;
      }
    }
  }

  &__item,
  &__sub {
    &--disabled {
      cursor: not-allowed;
      opacity: 0.5;

      &:hover {
        color: #333;
      }
    }
  }
}
