@import '~@hi-ui/core-css/lib/index.scss';

$prefix: '#{$component-prefix}-result' !default;

.#{$prefix} {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: use-spacing(20) use-spacing(16);
  box-sizing: border-box;

  &__image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: use-spacing(8);
  }

  &__title {
    font-size: use-text-size('normal');
    font-weight: use-text-weight('medium');
    color: use-color('gray', 700);
    line-height: use-text-lineheight('normal');
  }

  &__content {
    font-size: use-text-size('normal');
    font-weight: use-text-weight('normal');
    color: use-color('gray', 600);
    line-height: use-text-lineheight('normal');
    margin-top: use-spacing(2);
  }

  &__children {
    width: 100%;
    text-align: center;
    margin-top: use-spacing(12);
  }

}
