@import '~@hi-ui/core-css/lib/index.scss';

$prefix: '#{$component-prefix}-result' !default;

.#{$prefix} {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: use-spacing(20) use-spacing(16);
  box-sizing: border-box;

  &__image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: use-spacing(1);
    font-size: 56px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__title {
    margin-top: use-spacing(6);
    font-size: use-text-size('lg');
    font-weight: use-text-weight('medium');
    color: use-color('gray', 800);
    line-height: use-text-lineheight('lg');
  }

  &__content {
    margin-top: use-spacing(2);
    font-size: use-text-size('normal');
    font-weight: use-text-weight('normal');
    color: use-color('gray', 700);
    line-height: use-text-lineheight('normal');
  }

  &__children {
    width: 100%;
    text-align: center;
    margin-top: use-spacing(4);
  }

  &--type-info {
    .#{$prefix}__image-container {
      color: use-color-mode('primary');
    }
  }

  &--type-success {
    .#{$prefix}__image-container {
      color: use-color-mode('success');
    }
  }

  &--type-warning {
    .#{$prefix}__image-container {
      color: use-color-mode('warning');
    }
  }

  &--type-error {
    .#{$prefix}__image-container {
      color: use-color-mode('danger');
    }
  }

  &--size-sm {
    .#{$prefix}__image-container {
      max-width: 80px;
      max-height: 80px;
    }
  }

  &--size-md {
    .#{$prefix}__image-container {
      max-width: 100px;
      max-height: 100px;
    }
  }

  &--size-lg {
    .#{$prefix}__image-container {
      max-width: 120px;
      max-height: 120px;
    }
  }
}
