.anchor {
  position: fixed;
  top: 112px;
  right: 24px;
  width: 124px;
  height: auto;
  border-left: 1px solid #F2F2F2;

  li {
    padding-left: 16px;
    margin-left: -1px;
    border-left: 1px solid #F2F2F2;

    &:hover {
      border-color: #4284F5;

      a {
        color: #4284F5;
      }
    }
  }
  
  a {
    //font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 12px;
    line-height: 24px;
    color: #333333;
    cursor: pointer;
  }
}