.foot-nav {
  border-top: 1px solid #E7E7E7;
  margin: 80px 24px 0 48px;

  a {
    display: inline-block;
    padding: 24px 0;
    font-size: 14px;
    color: #4284F5;
    -moz-user-select:none;
    -webkit-user-select:none;
    user-select:none;
    &.none {
      display: none;
    }
  }

  .pre {
    position: relative;
    float: left;
    padding-left: 18px;
    &:before {
      position: absolute;
      left: 3px;
      top: 50%;
      content: '';
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      border-right: 4px solid #4284F5;
      transform: translateY(-50%);
      transition: all .2s;
    }
    &:hover {
      color: #50a8f3;
      &:before {
        transform: translateX(3px) translateY(-50%);
        border-right-color: #4283f3;
      }
    }
  }

  .next {
    position: relative;
    float: right;
    text-align: right;
    padding-right: 18px;
    &:before {
      content: '';
      position: absolute;
      right: 3px;
      top: 50%;
      transform: translateY(-50%);
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      border-left: 4px solid #4284F5;
      transition: all .2s;
    }
    &:hover {
      color: #50a8f3;
      &:before {
        transform: translateX(-3px) translateY(-50%);
        border-left-color: #4283f3;
      }
    }
  }
}
