@import './component.scss';
@import './prism.scss';
@import './anchor.scss';
@import './foot-nav.scss';

.sider {
  .noaction {
    font-size: 12px;
  }
  .components-title {
    color: #999;
  }
  &-list-item:hover,
  &-list-item.active {
    .sider-list-icon {
      span {
        background-position-x: -16px;
      }
    }
  }

  &-list-icon {
    span {
      width: 16px;
      height: 16px;
      display: inline-block;
      vertical-align: middle;
      background-image: url(../../../../static/img/icon_sider.png);
      background-image: -webkit-image-set(
        url(../../../../static/img/icon_sider_16.png) 1x,
        url(../../../../static/img/icon_sider.png) 2x
      );
      background-position-x: 0;
      background-repeat: no-repeat;
      background-size: 32px 80px;
    }
  }
  &__icon-start {
    background-position-y: 0;
  }
  &__icon-principle {
    background-position-y: -16px;
  }
  &__icon-layout {
    background-position-y: -32px;
  }
  &__icon-vision {
    background-position-y: -48px;
  }
  &__icon-component {
    background-position-y: -64px;
  }
}
