.hi-radio {
  display: inline-block;
  height: 32px;
  line-height: 32px;

  .input-group {
    position: relative;
    font-size: 0;
    user-select: none;

    >span {
      font-size: 14px;
    }

    .radio-input {
      margin-right: 4px;
    }

    .hi-radio-origin-input {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }

    .hi-raido-simulation-input {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      border: 1px solid #D8D8D8;
      display: inline-block;
      box-sizing: border-box;
      vertical-align: sub;
      position: relative;
    }

    &.checked {
      .hi-raido-simulation-input {
        &::before {
          content: "";
          display: inline-block;
          width: 16px;
          height: 16px;
          transform: scale(0.7);
          background: #4284F5;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) scale(0.5);
        }
      }

      button {
        color: #4284F5;
        background: rgba(66, 132, 245, 0.10);
        border: 1px solid #A8C6FB;
      }

    }

    &.disabled {
      cursor: not-allowed;
      color: #D8D8D8;

      .hi-raido-simulation-input {
        &::before {
          background: #D8D8D8;
        }
      }
    }

    &.input-group-vertical {
      display: block;
      margin: 4px;
    }

    &.first-radio {
      .hi-btn {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &.after-radio {
      margin-left: -1px;

      .hi-btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    &.middle-radio {
      .hi-btn {
        border-radius: 0;
      }
    }

    &.input-group-button-vertical {
      display: block;

      &.first-radio {
        .hi-btn {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }

      &.after-radio {
        margin-top: -1px;
        margin-left: 0;

        .hi-btn {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }

      &.middle-radio {
        .hi-btn {
          border-radius: 0;
        }
      }
    }

    button.hi-btn {
      position: relative;

      &:hover {
        z-index: 1;
      }
    }

  }

  .label {
    padding: 0 16px 0 0;
  }

}
