@import '@hi-ui/core-css/index.scss';

$prefixCls: '.hi-radio' !default;

@mixin hi-radio-style($active-color: get-color($palette-primary, 'hiui-blue')) {
  &:not(#{$prefixCls}--disabled):hover {
    #{$prefixCls}__input {
      border-color: $active-color;
    }
  }

  input {
    &:focus + #{$prefixCls}__input {
      border-color: $active-color;
    }
  }

  &__button.hi-btn {
    &#{$prefixCls}__button--checked {
      border-color: $active-color;
      color: $active-color;
      background-color: rgba($active-color, 0.1);

      #{$prefixCls} {
        color: $active-color;
      }
    }

    &:not(.hi-btn--disabled):hover {
      border-color: $active-color;
    }
  }

  &__input {
    &::after {
      background: $active-color;
    }

    &--checked {
      border-color: $active-color;
    }
  }

  &__button--checked {
    border-color: $active-color;
  }
}

#{$prefixCls} {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  height: 32px;
  vertical-align: middle;

  @include component-reset();

  input {
    cursor: pointer;
    position: absolute;
    width: 16px;
    height: 16px;
    opacity: 0;
  }

  &__button.hi-btn {
    padding: 0;
    min-width: 60px;
    width: fit-content;
    box-sizing: border-box;

    #{$prefixCls} {
      box-sizing: border-box;
      padding: 8px 15px;
      margin-top: -1px;
      margin-left: -1px;
    }

    &#{$prefixCls}__button--checked {
      z-index: 2;
    }

    &.hi-btn--disabled {
      input {
        cursor: not-allowed;
      }
    }
  }

  &__input {
    position: relative;
    box-sizing: border-box;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    border: 1px solid #d8d8d8;
    transition: 0.3s ease-out;
    line-height: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      content: '';
      display: block;
      height: 8px;
      width: 8px;
      border-radius: 50%;
      opacity: 0;
      transition: 0.3s ease-out;
    }

    &--checked {
      &::after {
        opacity: 1;
      }
    }
  }

  &__text {
    padding: 0 32px 0 8px;
    line-height: unset;
  }

  &--disabled {
    cursor: not-allowed;

    #{$prefixCls}__input {
      border-color: #d8d8d8;
      background: #f2f2f2;

      &::after {
        background: #d8d8d8;
      }
    }

    #{$prefixCls}__text {
      color: rgba(#000, 0.65);
    }
  }

  &-group {
    display: inline-block;

    &.vertical {
      .hi-radio {
        display: flex;
      }
    }

    &.hi-btn-group {
      #{$prefixCls} {
        &__input {
          display: none;
        }

        &__text {
          padding: 0;
        }
      }

      input {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        left: 0;
      }
    }
  }

  @include hi-radio-style();
}

@each $key, $value in $theme-colors {
  .theme__#{$key$prefixCls} {
    @include hi-radio-style($value);
  }

  .theme__#{$key}#{$prefixCls}:not(#{$prefixCls}--disabled):hover {
    #{$prefixCls}__input {
      border-color: $value;
    }
  }

  .theme__#{$key}#{$prefixCls} {
    input {
      &:focus + #{$prefixCls}__input {
        border-color: $value;
      }
    }

    &__button.hi-btn {
      &#{$prefixCls}__button--checked {
        border-color: $value;
        color: $value;
        background-color: rgba($value, 0.1);

        #{$prefixCls} {
          color: $value;
        }
      }

      &:not(.hi-btn--disabled):hover {
        border-color: $value;
      }
    }
  }
}
