@import '../../core-css/index.scss';

$prefixCls: '.hi-radio' !default;

@mixin hi-radio-style($active-color: use-color('primary')) {
  &:not(#{$prefixCls}--disabled):hover {
    #{$prefixCls}__input {
      border-color: $active-color;
    }
  }

  &:not(#{$prefixCls}--disabled):focus {
    #{$prefixCls}__input {
      border-color: $active-color;
    }
  }

  &:focus {
    outline: none;
  }

  input {
    &:focus + #{$prefixCls}__input {
      border-color: $active-color;
    }
  }

  &__button.hi-btn {
    &#{$prefixCls}__button--checked {
      border-color: $active-color;
      color: $active-color;
      background-color: rgba($active-color, 0.1);

      #{$prefixCls} {
        color: $active-color;
      }
    }

    &:not(.hi-btn--disabled):hover {
      border-color: $active-color;
    }
  }

  &__input {
    &::after {
      background: $active-color;
    }

    &--checked {
      border-color: $active-color;
    }
  }

  &__button--checked {
    border-color: $active-color;
  }
}

#{$prefixCls} {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  height: 32px;
  vertical-align: middle;

  input {
    cursor: pointer;
    position: absolute;
    width: 16px;
    height: 16px;
    opacity: 0;
  }

  &__button.hi-btn {
    padding: 0;
    min-width: 60px;
    width: fit-content;
    box-sizing: border-box;

    #{$prefixCls} {
      box-sizing: border-box;
      padding: 8px 15px;
      margin-top: -1px;
      margin-left: -1px;
    }

    &#{$prefixCls}__button--checked {
      z-index: 2;
    }

    &.hi-btn--disabled {
      input {
        cursor: not-allowed;
      }
    }
  }

  &__input {
    position: relative;
    box-sizing: border-box;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    border: 1px solid use-color('gray-30');
    transition: 0.3s ease-out;
    line-height: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      content: '';
      display: block;
      height: 8px;
      width: 8px;
      border-radius: 50%;
      opacity: 0;
      transition: 0.3s ease-out;
    }

    &--checked {
      &::after {
        opacity: 1;
      }
    }
  }

  &__text {
    padding: 0 32px 0 8px;
    line-height: unset;
  }

  &--disabled {
    cursor: not-allowed;

    #{$prefixCls}__input {
      border-color: use-color('gray-30');
      background: use-color('gray-10');

      &::after {
        background: use-color('gray-30');
      }
    }

    #{$prefixCls}__text {
      color: use-color('gray-80');
    }
  }

  &-group {
    display: inline-block;

    &.vertical {
      .hi-radio {
        display: flex;
      }
    }

    &.hi-btn-group {
      #{$prefixCls} {
        &__input {
          display: none;
        }

        &__text {
          padding: 0;
        }
      }

      input {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        left: 0;
      }
    }
  }

  @include hi-radio-style();
}
