%full-fill {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

%hide {
  display: none;
}

%no-border {
  border: none;
  outline: none;
}

// clear inner floats
%clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

%capsule {
  &::before,
  &::after {
    content: '';
    display: table;
  }
}

%reset-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

%text-ell {
  white-space: nowrap;
  word-break: keep-all;
  overflow: hidden;
  text-overflow: ellipsis;
}

%no-select {
  user-select: none;
}

%disabled {
  $background: palette('background_disabled');

  background: $background;
  color: palette('disabled');
  cursor: not-allowed;
  box-shadow: none;
  pointer-events: none;

  &:hover,
  &:focus {
    box-shadow: none;
  }
}

%button-reset {
  color: inherit;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  padding: 0;
  position: relative;
  align-items: center;
  user-select: none;
  border-radius: 0;
  vertical-align: middle;
  appearance: none;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

// vertical
%v-mid {
  top: 50%;
  transform: translateY(-50%);
}

// horizontal
%h-mid {
  left: 50%;
  transform: translateX(-50%);
}
