.dashboard {
  .header {
    &-nav {
      height: 64px;
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      justify-content: flex-end;
      a {
        position: relative;
        height: 64px;
        line-height: 64px;
        padding: 0 20px;
        display: inline-block;
        cursor: pointer;
        color: #383e47;
        &:hover,
        &.active {
          color: #4284f5;
        }
      }
    }
  }
}
