@import '../../style/icon/index.scss';
@import './select-dropdown.scss';
@import './select-input.scss';

$hoverColor:#ecf6fd;
$selectColor:#f7f7f7;
.hi-select {
	&.is-disabled {
		opacity: .4;
		cursor: not-allowed;
	}
}
