.hi-select {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  overflow: hidden;
  vertical-align: middle;
  outline: none;

  &.is-disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  &__hide {
    display: none;
  }
}
