$hoverColor:#ecf6fd !default;
$selectColor:#f7f7f7 !default;

.hi-select {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  overflow: hidden;

  &.is-disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  &__hide {
    display: none;
  }
}
