@import '../../core-css/index.scss';

.hi-select__dropdown {
  width: 100%;
  font-size: 12px;
  color: use-color('black');
  overflow-x: hidden;
  overflow-y: auto;
  background-color: use-color('white');
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  box-sizing: border-box;
  text-align: left;

  &--loading {
    height: 50px;
  }

  &--items {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &-check-all {
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
    font-size: 12px;
    color: use-color('primary');
    cursor: pointer;
    border-top: 1px solid use-color('gray-30');

    .hi-checkbox__text {
      padding: 0;
    }
  }

  &--item {
    flex: none;
    display: block;
    height: 36px;
    line-height: 36px;
    padding: 0 12px;
    margin: 0;
    font-weight: 400;
    cursor: pointer;
    list-style: none;
    transition: all 0.3s ease;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &--child {
      padding-left: 24px;
    }

    &.hi-select__dropdown--item-default {
      display: flex;
      align-items: center;
    }

    .hi-select__dropdown--item__name {
      padding-right: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 14px;

      &-hightlight {
        color: #f63;
      }
    }

    .hi-select__dropdown--item__checkbox {
      flex: none;
      position: relative;
    }

    .hi-checkbox-label {
      padding: 0;
      margin-right: 10px;
    }

    &.is-active {
      color: use-color('primary');
    }

    &.is-disabled {
      cursor: not-allowed;
      opacity: 0.4;
    }

    &[data-focused='true'] {
      background-color: use-color('primary-20');
    }

    &:hover {
      background-color: use-color('primary-20');
    }

    &.is-focus {
      background-color: use-color('primary-20');
    }

    &.disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }

    &__name {
      flex: auto;
    }

    &__check-icon {
      flex: none;
    }
  }

  &--label {
    color: var(--color-gray-50);
    font-size: 14px;
    cursor: auto;

    &:hover {
      background-color: use-color('white');
    }
  }

  &__searchbar {
    background-color: use-color('white');
    width: 100%;
    padding: 0 12px;
    box-sizing: border-box;

    &--input {
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      padding: 0 10px;
    }

    .icon-close-circle {
      color: use-color('gray-50');
    }

    .hi-select__dropdown--icon__close:hover {
      color: use-color('black');
    }

    &--content {
      height: 36px;
      border-bottom: 1px solid use-color('gray-30');
      box-sizing: border-box;
      display: flex;
      align-items: center;

      .hi-input__inner {
        border: none;
      }
    }
  }
}
