@import '../../core-css/index.scss';

.hi-select__input {
  position: relative;
  display: flex;
  align-items: center;
  background-color: use-color('white');
  color: use-color('black');
  line-height: 1;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  user-select: none;
  box-sizing: border-box;
  height: 32px;

  &--readonly {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    transition: margin 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  &.bordered {
    border: 1px solid use-color('gray-30');
  }

  &.disabled {
    cursor: not-allowed;
    background-color: use-color('gray-10');
    color: use-color('gray-50');

    .hi-select__input--icon {
      background-color: use-color('gray-10');
      color: use-color('gray-50');
      margin-left: 0 !important;
    }

    .hi-select__input--icon,
    input {
      cursor: not-allowed;
    }

    &.multiple-values .hi-select__input-items--left {
      color: use-color('gray-50');
    }

    .hi-select__input--item {
      .hi-select__input--item__remove {
        cursor: not-allowed;
      }
    }
  }

  .hi-icon {
    margin-left: 0 !important;
  }

  &.active:not(.disabled),
  &:not(.disabled):hover {
    border-color: use-color('primary');
  }

  &__focus:not(.disabled) {
    border-color: use-color('primary');
  }

  &:not(.disabled):hover {
    .clearable {
      display: none;
    }

    .hi-select__input--icon__close {
      display: block;
      color: use-color('gray-50');
    }

    .hi-select__input--icon__close:hover {
      display: block;
      color: use-color('black');
    }
  }

  .hi-select__input--icon {
    flex: none;
  }

  &--search {
    input {
      position: relative;
      max-width: 100%;
      width: 100%;
      height: 100%;
      padding: 0;
      line-height: 1;
      border-radius: 2px;
      font-size: $font-size-normal;
      cursor: pointer;
      background: transparent;
      border-width: 0;
      outline: 0;
      z-index: 10;

      &[data-visbility='false'] {
        width: 1px;
      }
    }

    input::-webkit-input-placeholder {
      font-weight: 300;
      color: use-color('gray-50');
    }

    input::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      font-weight: 300;
      color: use-color('gray-50');
    }

    input:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      font-weight: 300;
      color: use-color('gray-50');
    }

    input:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      font-weight: 300;
      color: use-color('gray-50');
    }

    &--value input {
      color: use-color('black');
    }
  }

  &--icon {
    position: relative;
    flex: none;
    display: inline-block;
    padding-right: 8px;
    cursor: pointer;
    font-size: 22px;
    color: #434343;
    background-color: use-color('white');
    transform: scale(0.66666667) rotate(0deg);
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    zoom: 1;
    filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=1, M12=0, M21=0, M22=1)";

    .hi-select__input--icon__close {
      display: none;
    }
  }

  &.single-value {
    height: 32px;
    line-height: 32px;

    .hi-select__input--item,
    .hi-select__input--search {
      flex: auto;
      padding: 0 0 0 12px;
    }

    .hi-select__input--item {
      height: 32px;
      line-height: 32px;
      overflow: hidden;
      transition: padding 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
      text-align: left;

      &__name {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        transition: margin 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
      }
    }
  }

  &.multiple-values {
    padding: 4px 4px 0 4px;

    .hi-select__input--icon {
      margin-top: -4px;
      margin-right: -4px;
    }

    .hi-select__input--placeholder {
      position: absolute;
      top: 3px;
      left: 13px;
      right: 30px;
      height: 24px;
      line-height: 24px;
      color: use-color('gray-50');
      z-index: 1;

      & ~ .hi-select__input-items .hi-select__input--search {
        padding: 0 20px 0 11px;
      }
    }

    .hi-select__input-items {
      display: flex;
      flex: auto;
      overflow: hidden;

      &.hi-select__input-items--all {
        flex-wrap: wrap;
      }

      &--left {
        display: flex;
        align-items: center;
        padding: 0 8px;
        height: 22px;
        line-height: 22px;
        font-size: 12px;
        color: use-color('black');
        background-color: use-color('gray-20');
        border-radius: 2px;
        box-sizing: border-box;
      }
    }

    .hi-select__input--item {
      flex: none;
      position: relative;
      max-width: 60%;
      height: 22px;
      line-height: 22px;
      padding: 0 20px 0 10px;
      margin: 0 4px 4px 0;
      overflow: hidden;
      vertical-align: middle;
      background-color: use-color('gray-20');
      border-radius: 2px;
      text-align: left;

      &__name {
        font-size: 13px;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
      }

      &__remove {
        cursor: pointer;
        display: inline-block;
        font-size: 12px;
        position: absolute;
        top: 0;
        right: 4px;
        padding: 0 0 0 8px;
      }
    }

    .hi-select__input--search {
      height: 22px;
      line-height: 22px;
      margin-bottom: 4px;
      padding-left: 3px;
    }
  }
}
