@import '@hi-ui/core-css/index.scss';

.hi-select__dropdown {
  width: 100%;
  max-height: 300px;
  font-size: 12px;
  color: #333;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 2px 2px;
  box-sizing: border-box;
  text-align: left;

  &--loading {
    height: 50px;
  }

  &--items {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &-check-all {
    padding: 8px 12px;
    font-size: 12px;
    color: #4284f5;
    cursor: pointer;
  }

  &--item {
    flex: none;
    display: block;
    height: 36px;
    line-height: 36px;
    padding: 0 12px;
    margin: 0;
    font-weight: 400;
    cursor: pointer;
    list-style: none;
    transition: all 0.3s ease;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.hi-select__dropdown--item-default {
      display: flex;
      align-items: center;
    }

    .hi-select__dropdown--item__name {
      padding-right: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 14px;

      &-hightlight {
        color: #f63;
      }
    }

    .hi-select__dropdown--item__checkbox {
      flex: none;
      position: relative;
    }

    .hi-checkbox-label {
      padding: 0;
      margin-right: 10px;
    }

    &.is-active {
      color: #4284f5;
    }

    &.is-disabled {
      cursor: not-allowed;
      opacity: 0.4;
    }

    &[data-focused='true'] {
      background-color: rgba(66, 132, 245, 0.08);
    }

    &.disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }

    &__name {
      flex: auto;
    }

    &__check-icon {
      flex: none;
    }
  }

  &__searchbar {
    background-color: #fff;
    width: 100%;
    padding: 0 6px;
    box-sizing: border-box;
    border-radius: 2px 2px 0 0;

    &--content {
      height: 36px;
      margin: 0 auto;
      border-bottom: 1px solid #e6e7e8;
      box-sizing: border-box;
      display: flex;
      align-items: center;

      .hi-input__inner {
        border: none;
      }
    }
  }
}

@each $key, $value in $theme-colors {
  .theme__#{$key}.hi-select__dropdown {
    &-check-all {
      color: $value;
    }

    &--item {
      &.is-active {
        color: $value;
      }
    }
  }
}
