// color
$normal-color: #333 !default;
// $active-color: #4284f5 !default;
$disabled-color: #d8d8d8 !default;
$border-color-normal: #d8d8d8 !default;

// size m
$m-font-size: 14px !default;
$m-width-ceil: 32px !default;
