@import '~@hi-ui/core-css/lib/index.scss';

$prefix: '#{$component-prefix}-stepper' !default;

.#{$prefix}--vertical {
  display: flex;
  flex-direction: column;
  font-size: use-text-size('normal');
  overflow: auto;

  .vertical-wrapper {
    margin-left: use-spacing(4);
  }

  .#{$prefix}__item {
    display: flex;
    flex: 1;
    position: relative;
    padding-bottom: use-spacing(8);
    min-height: 80px;

    &::after {
      content: '';
      position: absolute;
      top: calc(#{use-height-size('xs')} + #{use-spacing(8)});
      left: 11px;
      width: 1px;
      height: calc(100% - #{use-spacing(8)} * 2 - #{use-height-size('xs')});
      background-color: use-color('gray', 200);
    }

    &:last-of-type {
      flex: none;

      &::after {
        content: none;
      }
    }

    &.#{$prefix}__item--active {
      .item-step {
        &__dot {
          background-color: use-color-mode('primary');
        }

        &__icon {
          color: use-color-mode('primary');
        }
      }
    }

    .item-step {
      width: use-height-size('xs');
      height: use-height-size('xs');
      text-align: center;
      line-height: use-height-size('xs');
      border-radius: use-border-radius('full');
      color: use-color-static('white');
      background-color: use-color('gray', 200);


      &__dot {
        background-color: use-color('gray', 200);
        width: 8px;
        height: 8px;
        border-radius: use-border-radius('full');
        margin: use-spacing(4);
      }


      &__icon {
        color: use-color('gray', 200);
        font-size: 24px;
      }

      &__title {
        color: use-color('gray', 500);
        margin-bottom: use-spacing(4);
      }

      &__content {
        text-align: center;
        display: box;
        -webkit-line-clamp: 2;
        box-orient: vertical;
        overflow: hidden;
        font-size: use-text-size('sm');
        color: use-color('gray', 500);
        padding: 0;
      }
    }

    &.#{$prefix}__item--right-active {
      &::after {
        background-color: use-color-mode('primary');
      }
    }
  }
}

.#{$prefix} {
  display: flex;
  font-size: use-text-size('normal');
  overflow: auto;
  align-items: center;

  

  &__item {
    overflow: hidden;

    &.#{$prefix}__item--active {
      .item-step {
        &__dot {
          background-color: use-color-mode('primary');
        }
        &__icon {
          color: use-color-mode('primary');
        }
      }
    }

    .item-step {
      width: use-height-size('xs');
      height: use-height-size('xs');
      text-align: center;
      line-height: use-height-size('xs');
      border-radius: use-border-radius('full');
      color: use-color('gray', 500);
      background-color: use-color('gray', 200);

      &__dot {
        background-color: use-color('gray', 200);
        width: 8px;
        height: 8px;
        border-radius: use-border-radius('full');
        margin: use-spacing(4);
      }

      &::after {
        background-color: use-color('gray', 200);
      }

      &__icon {
        color: use-color('gray', 200);
        font-size: 24px;
      }

      &__title {
        color: use-color('gray', 500);

        &::after {
          background-color: use-color('gray', 200);
        }
      }

      &__content {
        text-align: center;
        display: box;
        -webkit-line-clamp: 2;
        box-orient: vertical;
        overflow: hidden;
        font-size: use-text-size('sm');
        color: use-color('gray', 500);
        padding: 0 use-spacing(6) px;
      }
    }

    &.#{$prefix}__item--right-active {
      .item-step {
        background-color: use-color-mode('primary-05');
        color: use-color-mode('primary');

        &::after {
          background-color: use-color-mode('primary');
        }

        &__title {
          color: use-color('gray', 700);

          &::after {
            background-color: use-color-mode('primary');
          }

          &__title {
            &::after {
              background-color: use-color-mode('primary') !important;
            }
          }
        }
      }
    }

    &.#{$prefix}__item--active:not(.#{$prefix}__item--right-active) {
      .item-step {
        background-color: use-color-mode('primary');
        color: use-color-static('white');

        &__icon {
          opacity: 1;
        }

        &__title {
          color: use-color-mode('primary');
          font-weight: use-text-weight('medium');
        }

        &__content {
          color: use-color('gray', 700);
        }
      }
    }

    &--horizontal {
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: flex-start;
      min-width: 20%;
      flex: 1;
      padding-left: use-spacing(6);

      &:last-of-type {
        flex: none;
      }

      .item-step {
        margin-right: use-spacing(4);

        &__content {
          padding-left: use-spacing(16) !important;
        }

        &__wrapper {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin-bottom: use-spacing(4);
          z-index: 1;
        }

        &__title {
          position: relative;
          padding-right: use-spacing(6);
        }

        &__icon {
          margin-right: use-spacing(4);
        }
      }

      &:not(:last-of-type) {
        .item-step {
          &__title {
            &::after {
              content: '';
              position: absolute;
              top: use-spacing(4);
              left: 100%;
              width: 9999px !important;
              height: 1px;
            }
          }
        }
      }
    }

    &--vertical {
      display: flex;
      position: relative;
      align-items: center;
      flex: 1;
      min-width: 20%;
      flex-direction: column;

      .item-step {
        &__title {
          margin-bottom: use-spacing(4);
        }

        &__wrapper {
          height: use-height-size('xs');
          width: use-height-size('xs');
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: use-spacing(6);
          z-index: 1;
        }
      }

      &.#{$prefix}__item--left-active {
        &::before {
          background-color: use-color-mode('primary') !important;
        }
      }

      &.#{$prefix}__item--right-active {
        &::after {
          background-color: use-color-mode('primary') !important;
        }

        .item-step {
          background-color: use-color-mode('primary-05');
          color: use-color-mode('primary');

          &__title {
            color: use-color('gray', 700);
          }
        }
      }

      &:not(.#{$prefix}__item--first)::before {
        content: '';
        position: absolute;
        top: use-spacing(6);
        width: calc(50% - #{use-spacing(4)} - #{use-height-size('xs')} / 2);
        left: 0;
        height: 1px;
        background-color: use-color('gray', 200);
      }

      &:not(.#{$prefix}__item--last)::after {
        content: '';
        position: absolute;
        top: use-spacing(6);
        right: 0;
        width: calc(50% - #{use-spacing(4)} - #{use-height-size('xs')} / 2);
        height: 1px;
        background-color: use-color('gray', 200);
      }
    }

    &--last {
      color: use-color('gray', 700);
    }
  }
}
