@import '~@hi-ui/core-css/lib/index.scss';

$prefix: '#{$component-prefix}-avatar' !default;

.#{$prefix} {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  background-color: use-color-mode('primary');
  color: use-color-static('white');
  font-size: use-text-size('xl');
  overflow: hidden;

  &--empty {
    background-color: use-color-mode('primary-10');
  }

  &__content {
    text-align: inherit;
    background-color: use-color-static('transparent');
    color: inherit;
    overflow: hidden;
    font-size: inherit;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &--circle {
    border-radius: use-border-radius('full');
  }

  &--square {
    border-radius: var(--hi-v4-global-border-radius, 4px);
  }

  &--md {
    width: var(--hi-v4-avatar-profile-size-md, 40px);
    height: var(--hi-v4-avatar-profile-size-md, 40px);
    line-height: var(--hi-v4-avatar-profile-size-md, 40px);
  }

  &--sm {
    width: var(--hi-v4-avatar-profile-size-sm, 32px);
    height: var(--hi-v4-avatar-profile-size-sm, 32px);
    line-height: var(--hi-v4-avatar-profile-size-md, 32px);
    font-size: use-text-size('lg');
  }

  &--xs {
    width: var(--hi-v4-avatar-profile-size-xs, 24px);
    height: var(--hi-v4-avatar-profile-size-xs, 24px);
    line-height: var(--hi-v4-avatar-profile-size-md, 24px);
    font-size: use-text-size('normal');
  }

  &--lg {
    width: var(--hi-v4-avatar-profile-size-lg, 48px);
    height: var(--hi-v4-avatar-profile-size-lg, 48px);
    line-height: var(--hi-v4-avatar-profile-size-md, 48px);
    font-size: use-text-size('xxl');
  }

  &--xl {
    width: var(--hi-v4-avatar-profile-size-xl, 64px);
    height: var(--hi-v4-avatar-profile-size-xl, 64px);
    line-height: var(--hi-v4-avatar-profile-size-md, 64px);
    font-size: use-text-size('xxl');
  }
}
