$drawer: 'hi-drawer';
$fontColor: #383e47;
$borderColor: #e7e7e7;

.#{$drawer} {
  color: $fontColor;
  font-size: 14px;

  &__mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.45);
  }

  &__wrapper {
    width: 360px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #fff;
    z-index: 1000;
    top: 0;
    right: 0;
    position: fixed;
    border-radius: 2px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
    transform: translateX(100%);
    transition: transform 0.3s;

    &--visible {
      transform: none;
    }
  }

  &__header {
    font-size: 16px;
    color: #383e47;
    font-weight: 500;
    height: 54px;
    border-bottom: 1px solid $borderColor;
    box-sizing: border-box;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    box-sizing: border-box;
    overflow: auto;
    flex: 1;
    padding: 24px;
  }

  &__footer {
    height: 64px;
    border-top: 1px solid $borderColor;
    box-sizing: border-box;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
