@import '../../core-css/index.scss';

$drawer: 'hi-drawer' !default;

.#{$drawer} {
  color: use-color('gray-80');
  font-size: $font-size-normal;

  &__mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.45);
    opacity: 0;
    transition: opacity 0.3s, height 0s 0.3s;

    &--visible {
      opacity: 1;
      height: 100%;
      transition: opacity 0.3s;
    }
  }

  &__wrapper {
    &:focus {
      outline: 0;
    }

    width: 360px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: use-color('white');
    z-index: 1000;
    top: 0;
    position: fixed;
    border-radius: 2px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
    transform: translateX(100%);
    transition: transform 0.3s;

    &--left {
      left: 0;
      transform: translateX(-100%);
    }

    &--right {
      right: 0;
      transform: translateX(100%);
    }

    &--visible {
      transform: none;
    }
  }

  &__header {
    font-size: 16px;
    color: use-color('gray-80');
    font-weight: 500;
    height: 54px;
    border-bottom: 1px solid use-color('gray-30');
    box-sizing: border-box;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    box-sizing: border-box;
    overflow: auto;
    flex: 1;
    padding: 24px;
  }

  &__footer {
    border-top: 1px solid use-color('gray-30');
    padding: 12px;
    flex-shrink: 0;
  }
}
