@import '@hi-ui/core-css/index.scss';

.hi-timeline {
  position: relative;
  padding: 4px;

  ul {
    margin: 0 !important;
    padding: 0 !important;
  }

  &--cross {
    .timeline__item {
      position: relative;
      margin-bottom: 20px;
      display: flex;

      &--last {
        margin-bottom: 0;

        .item__line {
          height: 100% !important;
        }
      }

      &--first {
        .item__line {
          top: 7px;
          height: calc(100% + 20px - 7px) !important;
        }
      }

      &--left {
        width: calc(50% - 20px);
        margin-right: calc(50% + 20px);
        flex-direction: row-reverse;

        .item__dot {
          width: 8px;
          height: 8px;
          border: 2px solid #4284f5;
          background: #fff;
          border-radius: 50%;
          box-sizing: border-box;
          position: absolute;
          top: 7px;
          right: -20px;
          transform: translateX(50%);
          z-index: 2;
        }

        .item__line {
          position: absolute;
          right: -20px;
          width: 2px;
          background: rgb(242, 242, 242);
          height: calc(100% + 20px);
          transform: translateX(50%);
        }

        .item--left {
          text-align: right;
          width: calc(30% - 20px);
          margin-left: 20px;

          .item__time {
            color: rgb(51, 51, 51);
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 2px;
          }

          .item__extra {
            color: rgb(158, 158, 158);
            font-size: 12px;
            line-height: 20px;
          }
        }

        .item--right {
          text-align: right;
          width: 70%;

          .item__title {
            color: rgb(51, 51, 51);
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 2px;
          }

          .item__content {
            color: rgb(158, 158, 158);
            font-size: 12px;
            line-height: 20px;
          }
        }
      }

      &--right {
        width: calc(50% - 20px);
        margin-left: calc(50% + 20px);

        .item__dot {
          width: 8px;
          height: 8px;
          border: 2px solid #4284f5;
          background: #fff;
          border-radius: 50%;
          box-sizing: border-box;
          position: absolute;
          top: 7px;
          left: -20px;
          transform: translateX(-50%);
          z-index: 2;
        }

        .item__line {
          position: absolute;
          left: -20px;
          width: 2px;
          background: rgb(242, 242, 242);
          height: calc(100% + 20px);
          transform: translateX(-50%);
        }

        .item--left {
          width: calc(30% - 20px);
          margin-right: 20px;

          .item__time {
            color: rgb(51, 51, 51);
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 2px;
          }

          .item__extra {
            color: rgb(158, 158, 158);
            font-size: 12px;
            line-height: 20px;
          }
        }

        .item--right {
          width: 70%;

          .item__title {
            color: rgb(51, 51, 51);
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 2px;
          }

          .item__content {
            color: rgb(158, 158, 158);
            font-size: 12px;
            line-height: 20px;
          }
        }
      }
    }
  }

  &--right {
    .timeline__item {
      position: relative;
      margin-bottom: 20px;
      margin-left: 24px;

      .item__title {
        color: rgb(51, 51, 51);
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 2px;
      }

      .item__content {
        color: #666;
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 6px;
      }

      .item__time {
        color: #999;
        font-size: 12px;
        line-height: 20px;
      }

      &--last {
        &.timeline__item {
          margin-bottom: 0;

          .item__line {
            height: calc(100%);
          }
        }
      }

      &--first {
        &.timeline__item {
          .item__line {
            top: 7px;
            height: calc(100% + 20px - 7px);
          }
        }
      }

      .item__dot {
        width: 8px;
        height: 8px;
        border: 2px solid #4284f5;
        background: #fff;
        border-radius: 50%;
        box-sizing: border-box;
        position: absolute;
        top: 7px;
        left: -20px;
        transform: translateX(-50%);
        z-index: 2;
      }

      .item__line {
        position: absolute;
        left: -22px;
        top: 0;
        width: 2px;
        background: rgb(242, 242, 242);
        height: calc(100% + 20px);
        transform: translateX(50%);
      }
    }
  }

  &--default {
    .timeline__group-title {
      text-align: right;
      width: calc(30% - 20px);
      margin-right: 20px;
      margin-bottom: 10px;
      color: rgb(0, 0, 0);
      font-weight: bolder;
      position: relative;

      .item__line {
        position: absolute;
        top: 0;
        left: calc(100% + 20px);
        right: 0;
        width: 2px;
        background: #f2f2f2;
        height: calc(100% + 10px);
        transform: translateX(-50%);
      }
    }

    .timeline__item {
      display: flex;
      position: relative;

      .item--left {
        text-align: right;
        width: calc(30% - 20px);
        margin-right: 20px;

        .item__time {
          color: rgb(51, 51, 51);
          font-size: 14px;
          line-height: 22px;
          margin-bottom: 2px;
        }

        .item__extra {
          color: rgb(158, 158, 158);
          font-size: 12px;
          line-height: 20px;
        }
      }

      .item__dot {
        width: 8px;
        height: 8px;
        border: 2px solid #4284f5;
        background: #fff;
        border-radius: 50%;
        box-sizing: border-box;
        position: absolute;
        top: 7px;
        left: 30%;
        transform: translateX(-50%);
        z-index: 2;
      }

      .item__line {
        position: absolute;
        left: 30%;
        width: 2px;
        background: rgb(242, 242, 242);
        height: 100%;
        transform: translateX(-50%);
      }

      .item--right {
        width: calc(70% - 20px);
        margin-left: 20px;
        margin-bottom: 20px;

        .item__title {
          color: rgb(51, 51, 51);
          font-size: 14px;
          line-height: 22px;
          margin-bottom: 2px;
        }

        .item__content {
          color: rgb(158, 158, 158);
          font-size: 12px;
          line-height: 20px;
        }
      }

      &--last {
        .item--right {
          margin-bottom: 0;
        }
      }

      &--first {
        .item__line {
          top: 7px;
          height: calc(100% - 7px);
        }
      }
    }
  }
}

// @each $key, $value in $theme-colors {
//   .theme__#{$key}.hi-timeline {
//     .hi-timeline__dot {
//       border: 2px solid $value;

//       &.hi-timeline__dot--custom {
//         border: none;
//       }

//       &--sub {
//         background: $value;
//       }
//     }
//   }
// }
