@import '@hi-ui/core-css/index.scss';

// Define component colors
@mixin hi-dropdown-style($color: get-color($palette-primary, 'hiui-blue')) {
  .hi-dropdown {
    &__item {
      &:hover {
        background-color: rgba($color, 0.08);
      }

      &--active {
        color: $color;
      }

      &--disabled {
        color: map-get(get-palette($color), 'g70');
      }
    }
  }
}

.hi-dropdown {
  position: relative;
  user-select: none;
  max-width: 200px;

  @include component-reset();

  &__popper {
    &.hi-popper__content--top-start {
      .hi-dropdown__menu {
        box-shadow: 8px 0 12px rgba(0, 0, 0, 0.175);
      }
    }
    &.hi-popper__content--bottom-start {
      .hi-dropdown__menu {
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.175);
      }
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    padding: 0 $spacer-4;
    cursor: pointer;
  }

  &__text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__menu {
    box-sizing: border-box;
    width: 100%;
    min-width: 140px;
    margin-top: 2px !important;
    margin-bottom: 2px;
    padding: $spacer-1 0 !important;
    border: 1px solid $gray;
    list-style: none;
    font-size: $font-size-normal;
    text-align: left;
    background-color: $white;
    background-clip: padding-box;
  }

  &__item {
    display: flex;
    height: 36px;
    padding: 0 $spacer-4;
    line-height: 36px;
    color: $black;
    cursor: pointer;

    &--disabled {
      cursor: not-allowed;
    }
  }

  &__item-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__item-prefix {
    flex: 0 0 18px;
  }

  &__item-suffix {
    flex: 1;
    text-align: right;
  }

  &__divider {
    height: 1px;
    overflow: hidden;
    background-color: $gray-light;
    line-height: 0;
  }

  &__button-group {
    .hi-btn {
      position: relative;

      &:first-child {
        margin-left: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        &:hover {
          z-index: 1;
        }
      }

      & + .hi-btn {
        margin-left: -1px;
        padding: 0 8px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        &:hover {
          z-index: 1;
        }
      }
    }
  }
}

// Component colors
@include hi-dropdown-style();

@each $key, $value in $theme-colors {
  .theme__#{$key} {
    @include hi-dropdown-style($value);
  }
}
