@import '../../style/index.scss';

.hi-dropdown{
  position: relative;
  user-select: none;
  max-width: 200px;
  
  ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .dropdown-toggle{
    margin: 0;
  }
  .hi-dropdown-title {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    .hi-dropdown-title-text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &-menu {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 1000;
    min-width: 140px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: $white;
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
    &.hide {
      display: none;
    }
    .hi-dropdown-divider {
      height: 1px;
      overflow: hidden;
      background-color: #e8e8e8;
      line-height: 0;
    }
    .hi-dropdown-menu-item {
      cursor: pointer;
      padding: 0 16px;
      line-height: 36px;
      font-weight: 400;
      color: #383E47;
      height: 36px;
      display: flex;
      &.disable {
        cursor: not-allowed;
        color: #bfcbd9;
      }
      .hi-dropdown-menu-item-prefix {
        flex: 0 0 18px;
      }
      .hi-dropdown-menu-item-suffix {
        flex: 1;
        text-align: right;
      }
      .hi-dropdown-menu-item-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &:hover{
        background-color: rgba(66,133,244,0.08);;
      }
    }

  }
  
  .hi-dropdow-group-button {
    .hi-btn:first-child{
      margin-left: 0;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      position: relative;
      &:hover {
        z-index:1;
      }
    }
  }
  .hi-btn+.hi-btn{
    margin-left: -1px;
    padding: 0 8px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    position: relative;
    &:hover {
      z-index:1;
    }
  }
}
