@import '@hi-ui/core-css/index.scss';

$prefixCls: 'hi-dropdown' !default;

%reset-active {
  &,
  &:active,
  &:hover,
  &:focus {
    background-color: transparent !important;
    box-shadow: none !important;
    border-color: transparent !important;
    outline: none !important;
  }
}

.#{$prefixCls} {
  @include component-reset();

  user-select: none;
  display: inline-block;

  &--disabled {
    .#{$prefixCls}__button {
      color: #ccc;
      cursor: not-allowed;

      &:hover {
        color: #ccc !important;
      }
    }
  }

  &__button {
    i {
      margin-left: 4px;
      margin-right: 0 !important;
    }

    &--text {
      @extend %reset-active;

      padding-left: 0;
      padding-right: 0;
    }

    &--active {
      color: get-color($palette-primary, 'hiui-blue') !important;
    }
  }

  &__icon {
    padding-right: 8px;
    padding-left: 8px;
    position: relative;
    display: inline-block;

    i {
      margin-right: 0 !important;
    }

    &--text {
      @extend %reset-active;
    }
  }

  &__icon-btnwrap {
    width: 32px;
    height: 32px;

    .hi-dropdown__icon {
      padding: 0;
    }
  }

  &__popper {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    border-radius: 2px;
  }

  &__divider {
    background-color: #e8e8e8;
    width: 100%;
    height: 1px;
    margin: 4px 0;
  }

  &__menu {
    list-style: none;
    margin: 0;
    padding: 0;
    padding: 4px 0;
    max-height: 267px;
    overflow: auto;

    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 12px;
      cursor: pointer;
      user-select: none;
      transition: 0.3s ease;

      &--disabled {
        color: #ccc;
        cursor: not-allowed;
      }

      a {
        color: #333;
        width: 100%;
      }

      &:not(#{&}--disabled):hover {
        background-color: #ecf2fe;
      }
    }
  }
}

@each $key, $value in $palette-primary {
  .theme__#{$key}.#{$prefixCls}__button--active {
    color: $value !important;
  }

  .theme__#{$key}.#{$prefixCls}__menu {
    .#{$prefixCls}__menu-item:not(.hi-dropdown__menu-item----disabled):hover {
      background-color: rgba($value, 0.15);
    }
  }
}
