@import '~@hi-ui/core-css/lib/index.scss';

$prefix: '#{$component-prefix}-textarea' !default;

.#{$prefix} {
  $input-padding-width: calc(#{use-spacing(6)} - 1px);
  $input-shadow: 0 0 0 2px use-color-mode('primary', 100);
  $input-error-shadow: 0 0 0 2px use-color-mode('danger', 100);

  @include input-reset;

  display: block;
  resize: vertical;
  overflow: auto;
  position: relative;
  width: 100%;
  z-index: auto;
  word-break: break-all;

  // UI
  border: use-border-size('normal') use-color-static('transparent');
  background-color: use-color-static('white');
  transition-property: color, border-color, background-color, box-shadow;
  transition-duration: use-motion-duration('normal');
  transition-timing-function: use-motion-bezier('normal');
  color: use-color('gray', 700);

  &::placeholder {
    color: use-color('gray', 400);
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:not(.#{$prefix}--disabled):hover {
    z-index: calc(#{use-zindex('absolute')} + 1);
  }

  &:not(.#{$prefix}--disabled).#{$prefix}--focused {
    z-index: calc(#{use-zindex('absolute')} + 1);
  }

  &--size {
    &-sm {
      // height: use-height-size(6);
      height: auto;
      font-size: use-text-size('sm');
      line-height: use-text-lineheight('sm');
      padding: 1px $input-padding-width;
      border-radius: use-border-radius('normal');
    }

    &-md {
      height: auto;
      // height: use-height-size(8);
      font-size: use-text-size('normal');
      line-height: use-text-lineheight('normal');
      padding: 4px $input-padding-width;
      border-radius: use-border-radius('normal');
    }

    &-lg {
      // height: use-height-size(10);
      height: auto;
      font-size: use-text-size('lg');
      line-height: use-text-lineheight('lg');
      padding: 7px $input-padding-width;
      border-radius: use-border-radius('normal');
    }
  }

  &--appearance {
    &-line {
      border-color: use-color('gray', 300);

      &:not(.#{$prefix}--disabled):hover {
        border-color: use-color-mode('primary');
      }

      &:not(.#{$prefix}--disabled).#{$prefix}--focused {
        box-shadow: $input-shadow;
        border-color: use-color-mode('primary');
      }

      &:not(.#{$prefix}--disabled).#{$prefix}--invalid {
        border-color: use-color-mode('error');

        &.hover {
          border-color: use-color-mode('error');
        }

        &.#{$prefix}--focused {
          box-shadow: $input-error-shadow;
        }
      }
    }

    &-unset {
      &::placeholder {
        color: use-color('gray', 500);
      }

      .#{$prefix} {
        padding-left: 0;
        padding-right: 0;
      }

      border-radius: 0;
    }

    &-filled {
      background-color: use-color('gray', 100);

      &:not(.#{$prefix}--disabled):hover {
        background-color: use-color-static('white');
        border-color: use-color-mode('primary');
      }

      &:not(.#{$prefix}--disabled).#{$prefix}--focused {
        box-shadow: $input-shadow;
        border-color: use-color-mode('primary');
        background-color: use-color-static('white');
      }

      &:not(.#{$prefix}--disabled).#{$prefix}--invalid {
        border-color: use-color-mode('error');

        &.hover {
          border-color: use-color-mode('error');
        }

        &.#{$prefix}--focused {
          box-shadow: $input-error-shadow;
        }
      }
    }

    &-underline {
      padding-left: 0;
      padding-right: 0;
      border-radius: 0;

      &::after {
        content: '';
        box-sizing: border-box;
        display: block;
        position: absolute;
        bottom: 0;
        // 两边透明边框各负 1px
        left: -1px;
        right: -1px;
        border-bottom: 1px solid use-color('gray', 300);
        transition: all 0.3s;
      }

      &:not(.#{$prefix}--disabled):hover {
        &::after {
          border-bottom-color: use-color-mode('primary');
        }
      }

      &:not(.#{$prefix}--disabled).#{$prefix}--focused {
        &::after {
          border-bottom-color: use-color-mode('primary');
        }
      }

      &:not(.#{$prefix}--disabled).#{$prefix}--invalid {
        &::after {
          border-bottom-color: use-color-mode('error');
        }

        &.hover {
          &::after {
            border-bottom-color: use-color-mode('error');
          }
        }
      }
    }

    &-line,
    &-unset,
    &-filled,
    &-underline {
      &.#{$prefix}--disabled {
        color: use-color('gray', 400);
        background-color: use-color('gray', 200);
      }
    }
  }

  &-wrapper {
    width: 100%;

    &--show-count {
      position: relative;

      > .#{$prefix} {
        padding-bottom: use-spacing(10);
      }

      &[data-count]::after {
        content: attr(data-count);
        color: use-color('gray', 500);
        font-size: use-text-size('sm');
        font-weight: use-font-weight('normal');
        line-height: use-text-lineheight('sm');
        white-space: nowrap;
        pointer-events: none;
        float: right;
        position: absolute;
        right: use-spacing(5);
        bottom: use-spacing(1);
        z-index: calc(#{use-zindex('absolute')} + 1);
      }
    }
  }
}
