@import '~@hi-ui/core-css/lib/index.scss';

$prefix: '#{$component-prefix}-tabs' !default;

.#{$prefix} {
  &__add-btn {
    cursor: pointer;
  }

  &__close-btn {
    cursor: pointer;
    color: use-color-static('black');
    margin-left: 4px;
  }

  &__list {
    position: relative;
    font-size: use-text-size('normal');
    color: use-color-static('black');
    display: flex;
    overflow: hidden;
    align-items: center;

    &--card {
      .#{$prefix}__item {
        margin: 0 4px 0 0;
        padding: 4px 8px;
        background-color: use-color('gray', 200);
        border-radius: 4px 4px 0 0;
        border: 1px solid use-color('gray', 300);

        &--active {
          color: use-color-mode('primary');
          background-color: use-color-static('white');
          border-bottom: 2px solid use-color-static('white');
        }
      }
    }

    &::before {
      content: '';
      clear: both;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: use-color('gray', 200);
      display: block;
    }

    &--inner {
      display: flex;
      // align-items: center;
      flex: 1;
      position: relative;
      overflow: hidden;
    }

    &--scroll {
      display: flex;
      position: relative;
      transition: all 0.3s;
    }
  }

  &--vertical {
    display: flex;
    .#{$prefix}__list {
      flex-shrink: 0;
      flex-direction: column;
      // height: 100%;

      &--card {
        .#{$prefix}__item {
          margin: 0 0 4px 0;
          padding: 4px 8px;
          background-color: use-color('gray', 200);
          border-radius: 4px 0 0  4px;
          border: 1px solid use-color('gray', 300);

          &--active {
            color: use-color-mode('primary');
            background-color: use-color-static('white');
            border-right: 1px solid use-color-static('white');
          }
        }
      }

      &::before {
        content: '';
        clear: both;
        position: absolute;
        top: 0;
        right: 0;
        left: auto;
        height: 100%;
        width: 1px;
        background-color: use-color('gray', 200);
        display: block;
      }

      &--inner {
        width: auto;
        display: block;
        position: relative;
      }

      &--scroll {
        flex-direction: column;
        position: relative;
      }
    }

    .#{$prefix}__item {
      line-height: 22px;
      padding: 0 8px;
      margin: 8px 0;
      transition: all 0.2s cubic-bezier(0.34, 0.69, 0.1, 1);

      &--prev {
        border-top: 1px solid use-color-mode('primary');
        border-left: none;
      }

      &--next {
        border-bottom: 1px solid use-color-mode('primary');
        border-right: none;
      }
    }

    .#{$prefix}__content {
      padding-left: 16px;
      padding-top: 0;
    }

    .#{$prefix}__ink {
      position: absolute;
      right: 0;
      bottom: auto;
      width: 2px;
      background-color: use-color-mode('primary');
      transition: top 0.2s cubic-bezier(0.34, 0.69, 0.1, 1), height 0.2s cubic-bezier(0.34, 0.69, 0.1, 1);
    }
  }

  &__ink {
    position: absolute;
    bottom: 0;
    right: auto;
    top: auto;
    height: 2px;
    background-color: use-color-mode('primary');
    transition: left 0.2s cubic-bezier(0.34, 0.69, 0.1, 1), width 0.2s cubic-bezier(0.34, 0.69, 0.1, 1);
  }

  &__item {
    line-height: 22px;
    padding: 8px 0;
    margin: 0 16px;
    cursor: pointer;
    flex-shrink: 0;
    transition: all 0.2s cubic-bezier(0.34, 0.69, 0.1, 1);

    &:not(&--disabled):hover {
      color: use-color-mode('primary');
    }

    &--active {
      color: use-color-mode('primary');

      // font-weight: bold;
    }

    &--prev {
      border-left: 1px solid use-color-mode('primary');
    }

    &--next {
      border-right: 1px solid use-color-mode('primary');
    }

    &--disabled {
      color: use-color('gray', 500) !important;
      cursor: not-allowed;
    }

    &:not(&--active) {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &__content {
    width: 100%;
    overflow: hidden;
    padding-top: 16px;
    box-sizing: border-box;
  }

  //   .#{$prefix}__add {
  //     position: absolute;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     width: 24px;
  //     height: 24px;
  //     color: use-color('gray', 700);
  //     border-radius: 2px;
  //     cursor: pointer;
  //     box-sizing: border-box;
  //     font-size: use-text-size('lg');
  //   }

  //   .#{$prefix}__item-close {
  //     margin-left: 8px;
  //     font-size: use-text-size('lg');
  //   }

  //   &__content {
  //     overflow: hidden;
  //     display: flex;
  //     position: relative;
  //     flex: 1;
  //   }

  //   &--card {
  //     .#{$prefix}__header {
  //       .#{$prefix}__nav {
  //         display: flex;
  //         flex-wrap: nowrap;
  //       }

  //       .#{$prefix}__item {
  //         height: 48px;
  //         line-height: 46px;
  //         padding: 0 16px;
  //         box-sizing: border-box;

  //         &:hover {
  //           color: use-color-mode('primary');
  //         }

  //         &--active {
  //           border: 1px solid use-color('gray', 200);
  //           border-radius: 2px;
  //           color: use-color-mode('primary');
  //         }
  //       }
  //     }
  //   }

  //   &--card.#{$prefix}--horizontal {
  //     .#{$prefix}__nav {
  //       margin-bottom: -1px;
  //     }

  //     .#{$prefix}__header {
  //       border-bottom: 1px solid use-color('gray', 200);
  //     }

  //     .#{$prefix}__item {
  //       &--active {
  //         border-bottom-color: use-color-static('white');
  //       }
  //     }
  //   }

  //   &.hi-tabs--line:not(.hi-tabs--vertical) {
  //     .hi-tabs__item:first-of-type {
  //       padding-left: 0;
  //     }
  //   }

  //   &--card.#{$prefix}--vertical {
  //     display: flex;
  //     flex-wrap: nowrap;

  //     .#{$prefix}__header {
  //       flex: none;
  //       display: inline-block;
  //       border-right: 1px solid use-color('gray', 200);
  //     }

  //     .#{$prefix}__nav {
  //       flex-direction: column;
  //       margin-right: -1px;
  //     }

  //     .#{$prefix}__item {
  //       border-top-left-radius: 4px;
  //       border-bottom-left-radius: 4px;

  //       &--active {
  //         border-right-color: use-color-static('white');
  //       }
  //     }
  //   }

  //   &--editable {
  //     .#{$prefix}__header {
  //       border-bottom: 1px solid use-color('gray', 200);

  //       .#{$prefix}__nav {
  //         display: flex;
  //         flex-wrap: nowrap;
  //         overflow: hidden;
  //         margin-bottom: -1px;
  //         margin-right: 40px;
  //         min-height: 40px;
  //       }

  //       .#{$prefix}__item {
  //         height: 40px;
  //         line-height: 40px;
  //         margin-right: 4px;
  //         padding: 0 8px;
  //         background: use-color('gray', 100);
  //         border-radius: 2px 2px 0 0;
  //         border: 1px solid use-color('gray', 200);
  //         text-align: center;
  //         box-sizing: border-box;
  //         display: flex;
  //         transition: all 200ms;

  //         &-name {
  //           overflow: hidden;
  //           text-overflow: ellipsis;
  //           white-space: nowrap;
  //           display: block;
  //         }

  //         &:last-child {
  //           margin-right: 0;
  //         }

  //         &:hover:not(.#{$prefix}__item--active) {
  //           background-color: use-color('gray', 200);
  //         }

  //         &--active {
  //           background-color: use-color-static('white');
  //           border-bottom-color: use-color-static('white');
  //           color: use-color-mode('primary');
  //           flex: none;
  //         }
  //       }

  //       .#{$prefix}__add {
  //         right: 4px;
  //         bottom: 12px;
  //       }
  //     }
  //   }

  //   &--desc {
  //     .#{$prefix}__header {
  //       .#{$prefix}__nav {
  //         display: flex;
  //         flex-wrap: nowrap;
  //         overflow: hidden;
  //       }

  //       .#{$prefix}__item {
  //         display: flex;
  //         flex-direction: column;
  //         padding: 16px 20px;
  //         text-align: center;
  //         border: 1px solid use-color('gray', 200);
  //         box-sizing: border-box;
  //         background-color: use-color-static('white');

  //         &:not(:first-child) {
  //           margin-left: -1px;
  //         }

  //         &:hover {
  //           color: use-color-mode('primary');

  //           .#{$prefix}__item-desc {
  //             color: use-color-mode('primary');
  //           }
  //         }

  //         &--active {
  //           color: use-color-mode('primary');
  //           border-color: use-color-mode('primary');
  //           z-index: 1;

  //           .#{$prefix}__item-desc {
  //             color: use-color-mode('primary');
  //           }
  //         }

  //         &-name {
  //           margin-top: 4px;
  //         }

  //         &-desc {
  //           font-size: 12px;
  //           color: use-color('gray', 700);
  //         }
  //       }
  //     }
  //   }

  //   &--button {
  //     .#{$prefix}__header {
  //       .#{$prefix}__nav {
  //         display: flex;
  //         flex-wrap: wrap;
  //       }

  //       .#{$prefix}__item {
  //         flex: none;
  //         height: 36px;
  //         line-height: 34px;
  //         padding: 0 23px;
  //         box-sizing: border-box;
  //         margin-right: 24px;
  //         border: 1px solid use-color('gray', 300);
  //         border-radius: 18px;

  //         &:hover:not(.hi-tabs__item--active) {
  //           color: use-color-mode('primary');
  //           border: 1px solid use-color-mode('primary');
  //         }

  //         &--active {
  //           color: use-color-static('white');
  //           background-color: use-color-mode('primary');
  //           border: 1px solid use-color-mode('primary');
  //         }
  //       }
  //     }
  //   }

  //   &--line {
  //     .#{$prefix}__header {
  //       border-bottom: 1px solid use-color('gray', 200);

  //       .#{$prefix}__nav {
  //         display: flex;
  //         flex-wrap: nowrap;
  //       }

  //       .#{$prefix}__item {
  //         height: 40px;
  //         line-height: 40px;
  //         padding: 0 16px;
  //         box-sizing: border-box;

  //         &:hover {
  //           color: use-color-mode('primary');
  //         }

  //         &--active {
  //           border-radius: 2px;
  //           color: use-color-mode('primary');
  //         }
  //       }
  //     }

  //     &__ink {
  //       content: '';
  //       width: 0;
  //       display: block;
  //       height: 2px;
  //       background-color: use-color-mode('primary');
  //       bottom: -1px;
  //       transition: transform 300ms;
  //       position: absolute;

  //       &-disabled {
  //         background-color: use-color('gray', 500);
  //       }
  //     }
  //   }

  //   &--line.#{$prefix}--vertical {
  //     display: flex;
  //     flex-wrap: nowrap;

  //     .#{$prefix}__header {
  //       flex: none;
  //       display: inline-block;
  //       border-right: 1px solid use-color('gray', 200);
  //       border-bottom: 1px solid transparent;
  //     }

  //     .#{$prefix}--line__ink {
  //       content: '';
  //       display: block;
  //       top: 0;
  //       width: 2px !important;
  //       background-color: use-color-mode('primary');
  //       right: -1px;
  //       height: 40px;
  //       transition: transform 300ms;
  //       position: absolute;
  //     }

  //     .#{$prefix}__nav {
  //       flex-direction: column;
  //       margin-right: -1px;
  //     }

  //     .#{$prefix}__item {
  //       transition: background 300ms;

  //       &--active {
  //         background: use-color-mode('primary-20');
  //       }
  //     }
  //   }

  //   &-pane {
  //     position: relative;
  //     width: 100%;
  //   }

  //   &--scroll {
  //     .contain {
  //       position: relative;
  //       transition: all 300ms;
  //       transform: translateX(0);
  //     }

  //     .#{$prefix}__header {
  //       overflow: hidden;
  //     }

  //     .#{$prefix}__item {
  //       overflow: initial !important;
  //     }
  //   }

  //   &__scroll--outter {
  //     display: flex;
  //     align-items: center;

  //     .#{$prefix}__scroll__icon {
  //       cursor: pointer;
  //       display: flex;
  //       font-size: 40px;
  //       justify-content: center;
  //       align-items: center;
  //       color: use-color('gray', 800);
  //     }
  //   }
  // }

  // .hi-tabs-dropdown {
  //   &__wrapper {
  //     max-height: 178px;
  //     padding: 8px 0;
  //     overflow: auto;
  //     background-color: use-color-static('white');
  //     border-radius: 2px;
  //     border: 1px solid use-color('gray', 200);
  //     box-shadow: 0 2px 8px 0 rgba(56, 62, 71, 0.1);
  //   }

  //   &__toggle-title {
  //     margin-right: 8px;
  //   }

  //   &__items {
  //     max-height: 162px;
  //     list-style: none;
  //     margin: 0;
  //     padding: 0;
  //     overflow: auto;
  //   }

  //   &__item {
  //     height: 36px;
  //     min-width: 140px;
  //     line-height: 36px;
  //     padding: 0 16px;
  //     font-size: use-text-size('normal');
  //     color: use-color-static('black');
  //     white-space: nowrap;
  //     cursor: pointer;
  //     box-sizing: border-box;

  //     &:hover {
  //       background-color: use-color-mode('primary-20');
  //     }

  //     &--focus {
  //       background-color: use-color-mode('primary-20');
  //     }

  //     &--active {
  //       color: use-color-mode('primary');
  //     }
  //   }
}
