.multiple-select-input-container{
    position: relative;
	display:block;
    width:100%;
    height: 32px;
    padding: 0 4px;
    line-height: 32px;
	min-height:28px;
    outline: none;
    user-select: none;
    box-sizing: border-box;
    display: block;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #d9d9d9;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0;
    color: #333;
    box-sizing: border-box;
    cursor: pointer;
    &:hover{
        overflow: visible;
        white-space: normal;
        position: absolute;
        top: 0;
        height: auto;
        z-index: 1;
    }
    &.active,
    &:not(.disabled):hover {
        border-color: #4284F5;
    }
    &:not(.disabled):hover .icon-mark__remove {
        z-index: 1;
        opacity: 1;
        color: #999;
    }
    ul{
        line-height: 30px;
    }
	li{
        height: 22px;
        line-height: 22px;
        display: inline-block;
	}
	.selected-item{
        margin: -1px 4px 0 0;
        background-color: #f2f2f2;
        border-radius: 2px;
        // cursor: default;
        max-width: 80%;
        position: relative;
        overflow: hidden;
        padding: 0 20px 0 10px;
        vertical-align: middle;
    }
	.selected-item-name{
        font-size: 13px;
		display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
	}
	.selected-item-remove{
        cursor: pointer;
        display: inline-block;
        font-size: 12px;
        position: absolute;
        top: 0;
        right: 4px;
        padding: 0 0 0 8px;
	}
	.select-search{
        vertical-align: middle;
        padding-left: 8px;
		.multiple-input{
		    max-width: 100%;
	        width: 1px;
			border-width: 0;
    	    font-size: 14px;
    	    height: 100%;
    	    background: transparent;
    	    outline: 0;
    	    border-radius: 2px;
            line-height: 1;
            padding: 0px;
            cursor: pointer;
        }
        input::-webkit-input-placeholder{
			font-weight: 300;
			color: #ccc;
		}
		input::-moz-placeholder{   /* Mozilla Firefox 19+ */
			font-weight: 300;
			color:#ccc;
		}
		input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
			font-weight: 300;
			color:#ccc;
		}
		input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
			font-weight: 300;
			color:#ccc;
		}
    }
    // .select-remove,
    // .select-mark_arrow {
    //     position: absolute;
    //     right: 0px;
    //     top: 50%;
    //     line-height: 30px;
    //     padding: 0 10px;
    //     vertical-align: middle;
    //     font-size: 14px;
    //     transform: translateY(-50%);
    //     background-color: #fff;
    // }
}