.detailBody {
  margin: 2px 0 0;
  box-sizing: border-box;
  min-width: 0;

  :global(.group-container.schema-group__container) {
    gap: 16px;
  }

  :global(.hi-v5-card.group-panel[data-nest-level='1'] > .hi-v5-card__body) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
