@import './variables.scss';
@import '@hi-ui/core-css/index.scss';

$input: 'hi-input' !default;

@mixin input-styles($themeColor: get-color($palette-primary, 'hiui-blue')) {
  textarea.#{$input} {
    &:not(.disabled):hover {
      border-color: $themeColor;
    }

    &.active {
      border-color: $themeColor;
    }
  }

  .#{$input},
  .#{$input}_m {
    &:not(.disabled):hover {
      border-color: $themeColor;
    }

    &.active {
      border-color: $themeColor;
    }
  }
}

textarea.#{$input} {
  box-shadow: none;
  outline: none;
  color: $normal-color;
  font-size: $font-size;
  min-height: 30px;
  height: auto;
  line-height: $line-height;
  resize: vertical;
  overflow: auto;
  padding: 4px 12px;
  border: 1px solid $border-color-normal;
  box-sizing: border-box;
  border-radius: $border-radius;
  background-color: #fff;
  transition: border-color 0.3s;

  // &:not(.disabled):hover {
  //   border-color: $border-color-active;
  // }

  // &.active {
  //   border-color: $border-color-active;
  // }

  &.disabled {
    color: $disabled-color;
    background-color: $disabled-bg-color;
  }

  &::-webkit-input-placeholder {
    color: $placeholder-color;
  }

  &:-moz-placeholder {
    color: $placeholder-color;
  }

  &::-moz-placeholder {
    color: $placeholder-color;
  }

  &:-ms-input-placeholder {
    color: $placeholder-color;
  }
}

.#{$input},
.#{$input}_m {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 32px;
  box-sizing: border-box;

  ::-webkit-input-placeholder {
    color: $placeholder-color;
  }

  :-moz-placeholder {
    color: $placeholder-color;
  }

  ::-moz-placeholder {
    color: $placeholder-color;
  }

  :-ms-input-placeholder {
    color: $placeholder-color;
  }

  input {
    flex: 1 1 auto;
    border: none;
    outline: none;
    min-height: 30px;
    box-sizing: border-box;
    color: $normal-color;
    font-size: $font-size;
    line-height: $line-height;
    box-shadow: none;

    &.disabled {
      color: $disabled-color;
      background-color: $disabled-bg-color;
    }
  }

  input[type='search'] {
    /* stylelint-disable */
    -webkit-appearance: none;
    /* stylelint-enable */
  }

  ::-webkit-search-cancel-button {
    display: none;
  }

  .hi-input__out {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }

  .hi-input__inner {
    position: relative;
    display: flex;
    width: 100%;
    border: 1px solid $border-color-normal;
    box-sizing: border-box;
    border-radius: $border-radius;
    background-color: #fff;
    transition: border-color 0.3s;

    // &:not(.disabled):hover {
    //   border-color: $border-color-active;
    // }

    // &.active {
    //   border-color: $border-color-active;
    // }

    &.disabled {
      color: $disabled-color;
      background-color: $disabled-bg-color;
    }
  }

  &__fix-box {
    display: inline-block;
    width: 12px;
    height: auto;
    padding: 0 18px 0 2px;
    flex: 1 0 auto;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s;

    &.invisible {
      visibility: hidden;
      opacity: 0;
    }

    .hi-input__clear {
      display: block;
      border-radius: 50%;
      color: #666;
      font-size: 14px;
      text-align: center;
    }

    .hi-input__suffix__icon {
      position: absolute;
      top: 50%;
      width: 14px;
      height: 14px;
      line-height: 14px;
      transform: translateY(-50%);
      font-size: 14px;
    }
  }

  &__text {
    width: 100%;
    padding: 4px 12px;
  }

  &__prefix,
  &__suffix {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1 0 auto;
    color: $normal-color;
    font-size: $font-size;
    line-height: 30px;
  }

  &__prefix {
    padding-left: 12px;
  }

  &__suffix {
    padding-right: 12px;
  }

  &--prepend {
    .hi-input__inner {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &__prepend {
    .hi-btn,
    .hi-select__input {
      border-right-color: transparent;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }
  }

  &--append {
    .hi-input__inner {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &__append {
    .hi-btn,
    .hi-select__input {
      border-left-color: transparent;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }

  &.required {
    &::after {
      position: absolute;
      top: 0;
      content: '*';
      right: -30px;
      width: 30px;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: #f00;
    }
  }
}

@each $key, $value in $theme-colors {
  .theme__#{$key} {
    @include input-styles ($value);
  }
}
