@import '../../core-css/index.scss';

$input: 'hi-input' !default;

textarea.#{$input} {
  display: block;
  box-shadow: none;
  outline: none;
  color: use-color('black');
  font-size: $font-size-normal;
  min-height: 32px;
  height: auto;
  line-height: $line-height-size-normal;
  resize: vertical;
  overflow: auto;
  padding: 4px 12px;
  border: 1px solid use-color('gray-30');
  box-sizing: border-box;
  border-radius: 2px;
  background-color: use-color('white');
  transition: border-color 0.3s;

  &:not(.disabled):hover {
    z-index: 1;
    border-color: use-color('primary');
  }

  &.active {
    z-index: 1;
    border-color: use-color('primary');
  }

  &.disabled {
    color: use-color('gray-50');
    background-color: use-color('gray-10');
  }

  &::-webkit-input-placeholder {
    color: use-color('gray-50');
  }

  &:-moz-placeholder {
    color: use-color('gray-50');
  }

  &::-moz-placeholder {
    color: use-color('gray-50');
  }

  &:-ms-input-placeholder {
    color: use-color('gray-50');
  }
}

.#{$input},
.#{$input}_m {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 32px;
  box-sizing: border-box;

  ::-webkit-input-placeholder {
    color: use-color('gray-50');
  }

  :-moz-placeholder {
    color: use-color('gray-50');
  }

  ::-moz-placeholder {
    color: use-color('gray-50');
  }

  :-ms-input-placeholder {
    color: use-color('gray-50');
  }

  input {
    flex: 1 1 auto;
    border: none;
    outline: none;
    min-height: 30px;
    box-sizing: border-box;
    color: use-color('black');
    font-size: $font-size-normal;
    line-height: $line-height-size-normal;
    box-shadow: none;

    &.disabled {
      color: use-color('gray-50');
      background-color: use-color('gray-10');
    }
  }

  input[type='search'] {
    /* stylelint-disable */
    -webkit-appearance: none;
    /* stylelint-enable */
  }

  ::-webkit-search-cancel-button {
    display: none;
  }

  .hi-input__out {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }

  .hi-input__inner {
    position: relative;
    display: flex;
    width: 100%;
    border: 1px solid use-color('gray-30');
    box-sizing: border-box;
    border-radius: 2px;
    background-color: use-color('white');
    transition: border-color 0.3s;

    &:not(.disabled):hover {
      z-index: 1;
      border-color: use-color('primary');
    }

    &.active {
      z-index: 1;
      border-color: use-color('primary');
    }

    &.disabled {
      color: use-color('gray-50');
      background-color: use-color('gray-10');
    }
  }

  &__fix-box {
    display: inline-block;
    width: 12px;
    height: auto;
    padding: 0 18px 0 2px;
    flex: 1 0 auto;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s;

    &.invisible {
      visibility: hidden;
      opacity: 0;
    }

    .hi-input__clear {
      display: block;
      border-radius: 50%;
      color: use-color('gray-50');
      font-size: 22px;
      text-align: center;

      &:hover {
        color: use-color('black');
      }
    }

    .hi-input__suffix__icon {
      position: absolute;
      top: 50%;
      width: 14px;
      height: 14px;
      line-height: 14px;
      transform: translateY(-50%);
      font-size: 14px;
    }
  }

  &__text {
    width: 100%;
    padding: 4px 12px;
  }

  &__prefix,
  &__suffix {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1 0 auto;
    color: use-color('black');
    font-size: $font-size-normal;
    line-height: 30px;
  }

  &__prefix {
    padding-left: 12px;
  }

  &__suffix {
    padding-right: 12px;
  }

  &--prepend {
    .hi-input__inner {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &__prepend {
    margin-right: -1px;
    z-index: 1;

    .hi-btn,
    .hi-select__input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }
  }

  &--append {
    .hi-input__inner {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &__append {
    color: use-color('primary');
    margin-left: -1px;

    .hi-btn,
    .hi-select__input {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }

  &.required {
    &::after {
      position: absolute;
      top: 0;
      content: '*';
      right: -30px;
      width: 30px;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: get-color($palette-secondary, 'danger');
    }
  }
}
