/* stylelint-disable */
// color
$normal-color: #333;

$border-color-normal: #d8d8d8;
$border-color-active: #4284f5;
$border-radius: 2px;

$disabled-bg-color: #f2f2f2;
$disabled-color: #ccc;

$placeholder-color: $disabled-color;

$label-bg-color: #eee;


// size m
$font-size: 14px;
$line-height: 22px;
$placeholder-size: $font-size;

$m-font-size: 14px;
$m-placeholder-size: $font-size;

$m-width: 240px;


// size s
$s-font-size: 12px;
$s-placeholder-size: 12px;

$s-width: 200px;


// size l
$l-font-size: 16px;
$l-placeholder-size: 16px;

$l-width: 280px;
