.hi-rate {
  $h: 24px;
  $w: 24px;

  list-style: none;
  display: inline-block;
  width: fit-content;
  padding-left: 0 !important;
  margin: 0 !important;
  height: 100%;

  &_mask {
    position: absolute;
    opacity: 0;
    z-index: 19;
  }

  &__star {
    cursor: pointer;
    position: relative;
    display: inline-block;
    transition: 0.3s ease;
    margin: 0 6px !important;
    height: 100%;

    &:active,
    &:hover {
      transform: scale(1.2);
    }

    &--disabled {
      cursor: not-allowed;

      &:hover {
        transform: none;
      }
    }

    &--readOnly {
      cursor: auto;

      &:hover {
        transform: none;
      }
    }

    &__half {
      width: 50%;
      display: inline-block;
      z-index: 1;
      height: 100%;

      &.grayscale {
        filter: grayscale(100%);
      }

      &--wrapper {
        position: absolute;
        top: 0;
        left: 0;
      }

      &--left {
        width: 50%;
        position: absolute;
        z-index: 10;
        overflow: hidden;
      }

      &--right {
        right: 0;
        width: 100%;
      }

      &--top {
        height: 50%;
        position: absolute;
        z-index: 10;
        width: 100%;
        overflow: hidden;
      }

      &--bottom {
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  &__desc {
    margin-left: 14px;
    display: flex;
    padding-top: 4px;
  }

  &__icon {
    display: inline-block;
    width: $w;
    height: $h;

    svg {
      width: $w;
      height: $h;
    }
  }

  &__outter {
    display: flex;
    flex-direction: row;
    height: 32px;
    padding: 2px 0;
    box-sizing: border-box;
    position: relative;
  }
}
