@import '../../style/index.scss';
@import './mixins.scss';

// normal
// default
$btn-default-background: $default;
$btn-primary-background: $primary;
$btn-success-background: $green;
$btn-info-background: $blue;
$btn-warning-background: $yellow;
$btn-danger-background: $red;

// :hover
$btn-default-hover-background: get-color($paletteSecondary, default, 2);
$btn-primary-hover-background: get-color($paletteSecondary, primary, 2);
$btn-success-hover-background: get-color($paletteSecondary, green, 2);
$btn-info-hover-background: get-color($paletteSecondary, blue, 2);
$btn-warning-hover-background: get-color($paletteSecondary, yellow, 2);
$btn-danger-hover-background: get-color($paletteSecondary, red, 2);

// line
$btn-default-border-ghost: #ccc;
$btn-primary-border-ghost: #3B76DC;
$btn-success-border-ghost: #1DA653;
$btn-danger-border-ghost: #EB5252;

//size
$padding-base-vertical: 4px;
$padding-base-horizontal: 16px;

$padding-large-vertical: 12px;
$padding-large-horizontal: 60px;

$padding-small-vertical: 4px;
$padding-small-horizontal: 12px;

$font-size-base: 14px;
$font-size-large: 18px;
$font-size-small: 12px;

$line-height-base: 1.571428571;
$line-height-large: 1.555555556;
$line-height-small: 1.1666667;

.theme__hiui-blue.hi-btn {
  display: inline-block;
  box-sizing: border-box;
  margin-bottom: 0; // For input.btn
  height: $font-size-base * $line-height-base + $padding-base-vertical * 2 + 2;
  padding: $padding-base-vertical $padding-base-horizontal;
  border: 1px solid transparent;
  border-radius: 2px;
  font-size: $font-size-base;
  font-weight: normal;
  line-height: $line-height-base;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  touch-action: manipulation;
  cursor: pointer;
  transition: all 0.2s;
  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      outline: none;
    }
  }

  &:hover,
  &:focus,
  &.focus {
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }

  &.hi-btn-disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
  }

  //default
  &-default-default {
    @include button-variant($white, $btn-default-background, $btn-default-hover-background);
  }
  &-default-primary {
    @include button-variant($white, $btn-primary-background, $btn-primary-hover-background);
  }
  &-default-success {
    @include button-variant($white, $btn-success-background, $btn-success-hover-background);
  }
  &-default-info {
    @include button-variant($white, $btn-info-background, $btn-info-hover-background);
  }
  &-default-warning {
    @include button-variant($white, $btn-warning-background, $btn-warning-hover-background);
  }
  &-default-danger {
    @include button-variant($white, $btn-danger-background, $btn-danger-hover-background);
  }

  // line
  &-line-default {
    background-color: $white;
    color: $black;
    border-color: get-color($paletteSecondary, default, 1);
    &:not(.hi-btn-disabled):hover {
      border-color: get-color($paletteSecondary, default, 2);
    }
    &:active {
      background-color: $grayLight;
      border-color: rgba(get-color($paletteSecondary, default, 2), 0.6);
      box-shadow: none;
    }
    // Disabled
    &.hi-btn-disabled,
    &[disabled],
    fieldset[disabled] & {
      background-color: $grayLighter;
      color: rgba($black, 0.2);
      border-color: get-color($paletteSecondary, default, 1);
    }
  }
  &-line-primary {
    @include line-btn($btn-primary-background);
  }
  &-line-success {
    @include line-btn($btn-success-background);
  }
  &-line-info {
    @include line-btn($btn-info-background);
  }
  &-line-warning {
    @include line-btn($btn-warning-background);
  }
  &-line-danger {
    @include line-btn($btn-danger-background);
  }

  // link
  &-link-default {
    @include link-btn($btn-default-hover-background);
  }
  &-link-primary {
    @include link-btn($btn-primary-hover-background);
  }
  &-link-success {
    @include link-btn($btn-success-hover-background);
  }
  &-link-info {
    @include link-btn($btn-info-hover-background);
  }
  &-link-warning {
    @include link-btn($btn-warning-hover-background);
  }
  &-link-danger {
    @include link-btn($btn-danger-hover-background);
  }
}


.dark.hi-btn {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  @include darktheme;
  transition: all 0.2s;

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      outline: none;
    }
  }

  &:hover,
  &:focus,
  &.focus {
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }

  &.hi-btn-disabled,
  &[disabled],
  fieldset[disabled] & {
     cursor: not-allowed;
    //opacity: 0.65;
  }
  //default
  &-default {
    @include button-variant($black, $btn-default-background, $btn-default-hover-background);
  }
  &-primary {
    @include button-variant($white, $btn-primary-background, $btn-primary-hover-background);
  }
  &-success {
    @include button-variant($white, $btn-success-background, $btn-success-hover-background);
  }
  &-info {
    @include button-variant($white, $btn-info-background, $btn-info-hover-background);
  }
  &-warning {
    @include button-variant($white, $btn-warning-background, $btn-warning-hover-background);
  }
  &-danger {
    @include button-variant($white, $btn-danger-background, $btn-danger-hover-background);
  }
  //link
  &-link-default {
    @include link-btn($btn-default-hover-background);
  }
  &-link-primary {
    @include link-btn($btn-primary-hover-background);
  }
  &-link-success {
    @include link-btn($btn-success-hover-background);
  }
  &-link-info {
    @include link-btn($btn-info-hover-background);
  }
  &-link-warning {
    @include link-btn($btn-warning-hover-background);
  }
  &-link-danger {
    @include link-btn($btn-danger-hover-background);
  }
}
a.hi-btn {
  &.disabled,
  fieldset[disabled] & {
    pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
  }
}

// Link buttons
// -------------------------

// Make a button look and behave like a link
.hi-btn-link {
  // color: $link-color;
  font-weight: normal;
  border-radius: 0;

  &,
  &:active,
  &.active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    box-shadow: none;
  }
  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover,
  &:focus {
    // color: $link-hover-color;
    // text-decoration: $link-hover-decoration;
    background-color: transparent;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      // color: $btn-link-disabled-color;
      text-decoration: none;
    }
  }
}

// Button Sizes
// --------------------------------------------------

.theme__hiui-blue.hi-btn-large {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-base);
}
.theme__hiui-blue.hi-btn-small {
  // line-height: ensure proper height of button next to small input
  @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small);
}
//.default.hi-btn-xs {
//  @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small);
//}

// Block button
// --------------------------------------------------

.hi-btn-block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.hi-btn-block + .hi-btn-block {
  margin-top: 5px;
}

// Specificity overrides
input[type='submit'],
input[type='reset'],
input[type='button'] {
  &.hi-btn-block {
    width: 100%;
  }
}

// Button Group
.hi-btn-group {
  position: relative;
  display: inline-block;
  > .hi-btn {
    position: relative;
    z-index: 0;
    margin-left: 0;
    margin-right: 0;
    &:hover {
      z-index: 1;
    }
    &:not(:first-child) {
      margin-left: -1px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    &:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.hi-btn + .hi-btn {
  margin-left: 8px;
}
