@import '@hi-ui/core-css/index.scss';

// Render flat style button
@mixin render-flat-button($themeColor) {
  $themePalette: get-palette($themeColor) !default;

  background-color: $themeColor;
  color: $white;

  &:not(.hi-btn--disabled):focus {
    box-shadow: 0 0 0 2px rgba($themeColor, 0.25);
  }

  &:not(.hi-btn--disabled):hover {
    background-color: map-get($themePalette, '60');
    color: $white;
  }

  &:not(.hi-btn--disabled):active {
    background-color: map-get($themePalette, '80');
    color: $white;
  }

  // Status: disabled
  &.hi-btn--disabled,
  &[disabled] {
    &:not(.hi-btn--loading) {
      background-color: rgba($themeColor, 0.2);
      color: $white;
    }
  }

  // Make a button look and behave like a link
  &.hi-btn--appearance--link {
    color: $themeColor !important;

    // Status: disabled
    &.hi-btn--disabled,
    &[disabled] {
      // background-color: transparent;
      color: $themeColor;
      opacity: 0.54;
    }
  }
}

// Render line style button
@mixin render-line-button($themeColor) {
  $themePalette: get-palette($themeColor) !default;

  background-color: rgba($themeColor, 0.1);
  border-color: rgba($themeColor, 0.4);
  color: $themeColor;

  &:not(.hi-btn--disabled):focus {
    box-shadow: 0 0 0 2px rgba($themeColor, 0.25);
  }

  &:not(.hi-btn--disabled):hover {
    border-color: rgba($themeColor, 0.8);
    color: $themeColor;
  }

  &:not(.hi-btn--disabled):active {
    background-color: rgba($themeColor, 0.15);
    color: $themeColor;
  }

  // Status: disabled
  &.hi-btn--disabled,
  &[disabled] {
    &:not(.hi-btn--loading) {
      border-color: rgba($themeColor, 0.2);
      color: rgba($themeColor, 0.3);
    }
  }

  // Make a button look and behave like a link
  &.hi-btn--appearance--link {
    color: $themeColor;

    // Status: disabled
    &.hi-btn--disabled,
    &[disabled] {
      background-color: transparent;
      border-color: transparent;
      color: $themeColor;
      opacity: 0.54;
    }
  }
}

// Define component colors
@mixin btn-theme-styles($themeColor: get-color($palette-primary, 'hiui-blue')) {
  & {
    // Types
    &--type--primary {
      @include render-flat-button($themeColor);
    }

    &--type--line {
      @include render-line-button($themeColor);
    }

    &--type--default {
      &:not(.hi-btn--disabled):focus {
        box-shadow: 0 0 0 2px rgba($themeColor, 0.25);
      }
    }
  }
}

.hi-btn {
  position: relative; // Used by button :focus radio-style etc.
  display: inline-block;
  box-sizing: border-box;
  margin: 0; // For input.btn
  height: $line-height-size-normal + 4px * 2 + 1px * 2;
  padding: 4px 15px;
  border: 1px solid transparent;
  border-radius: 2px;
  font-size: $font-size-normal;
  font-weight: $font-weight-normal;
  line-height: $line-height-size-normal;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  touch-action: manipulation;
  cursor: pointer;
  transition: background-color $speed-normal $easing, border-color $speed-normal $easing, box-shadow $speed-fast $easing, color $speed-normal $easing;

  &.hi-btn--appearance--link {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
  }

  @include btn-theme-styles();

  &:focus {
    outline: 0;
    z-index: 1; // Display box-shadow in front
  }

  & + & {
    margin-left: $spacer-2;
  }

  .hi-icon {
    margin-right: $font-size-normal - 10;
  }

  // Sizes
  &--size--large {
    height: $line-height-size-x-large + 13px * 2 + 1px * 2;
    padding: 13px 60px;
    font-size: $font-size-x-large;
    line-height: $line-height-size-x-large;

    &.hi-btn--icon {
      padding-left: 17px;
      padding-right: 17px;
    }

    .hi-icon {
      margin-right: $font-size-x-large - 14;
    }
  }

  &--size--small {
    height: $line-height-size-small + 1px * 2 + 1px * 2;
    padding: 1px 11px;
    font-size: $font-size-small;
    line-height: $line-height-size-small;

    &.hi-btn--icon {
      padding-left: 5px;
      padding-right: 5px;
    }

    .hi-icon {
      margin-right: $font-size-small - 10;
    }
  }

  &--icon {
    padding-left: 8px;
    padding-right: 8px;

    .hi-icon {
      margin-right: 0;
    }
  }

  // Common Styles
  &--type--default,
  &--type--info {
    background-color: $white;
    border-color: $gray;
    color: $black;

    &:not(.hi-btn--disabled):hover {
      border-color: $gray-dark;
      color: $black;
    }

    &:not(.hi-btn--disabled):active {
      background-color: $gray-lighter;
      color: $black;
    }

    // Status: disabled
    &.hi-btn--disabled,
    &[disabled] {
      background-color: $gray-lighter;
      border-color: rgba($black, 0.1);
      color: $gray;
    }

    // Make a button look and behave like a link
    &.hi-btn--appearance--link {
      &:not(.hi-btn--disabled):hover {
        color: $black;
      }

      &:not(.hi-btn--disabled):active {
        color: $black;
      }

      // Status: disabled
      &.hi-btn--disabled,
      &[disabled] {
        color: $black;
        opacity: 0.54;
      }
    }
  }

  @each $key in 'success', 'danger', 'warning' {
    &--type--#{$key} {
      $status-color: map-get(get-palette(get-color($palette-secondary, $key)), '50');

      @include render-line-button($status-color);
    }
  }

  // Status
  &--loading {
    position: relative;

    &::before {
      position: absolute;
      top: -1px;
      bottom: -1px;
      left: -1px;
      right: -1px;
      content: '';
      background-color: $white;
      cursor: default;
      opacity: 0.4;
    }

    &--icon {
      display: inline-block;
      width: 1em;
      height: 1em;
      cursor: default;

      svg {
        @keyframes rotate {
          to {
            transform: rotate(360deg);
          }
        }

        animation: rotate 1s linear infinite;
      }
    }
  }

  &--disabled,
  &[disabled]:not(&--loading) {
    cursor: not-allowed;
  }

  // Block
  &--block {
    display: block;
    width: 100%;

    & + & {
      margin-top: 4px;
    }
  }
}

@each $key, $value in $theme-colors {
  .theme__#{$key}.hi-btn {
    @include btn-theme-styles($value);
  }
}

// Button Group
.hi-btn-group {
  display: inline-block;

  > .hi-btn {
    margin-left: 0;
    margin-right: 0;

    &:hover {
      z-index: 1;
    }

    &:not(:first-child) {
      margin-left: -1px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
