@import '~@hi-ui/core-css/lib/index.scss';

$prefix: '#{$component-prefix}-check-cascader' !default;

.#{$prefix} {
  color: #333;

  &__suffix {
    font-size: 16px;
    transform: rotate(0);
  }

  &--open {
    .#{$prefix}__suffix {
      transform: rotate(-180deg);
    }

    .#{$component-prefix}-tag-input {
      border-color: var(--color-primary);
    }
  }
}

.#{$prefix}-panel {
  white-space: nowrap;
  box-sizing: border-box;
  padding-top: 10px;

  &-search {
    box-sizing: border-box;
    // padding: 10px;
    padding: 0 10px 10px;
    position: relative;

    .#{$component-prefix}-input__prefix {
      font-size: 16px;
      padding-left: 0;
    }

    &__empty {
      display: inline-block;
      margin-top: 20px;
      font-size: 14px;
      font-weight: 400;
      color: #999;
      line-height: 20px;
    }
  }
}

.#{$prefix}-menus {
  display: flex;
  box-sizing: border-box;
  overflow-x: auto;

  &--flatted {
    .#{$prefix}-menu {
      flex-basis: 100%;
    }
  }
}

.#{$prefix}-menu {
  @include component-reset;

  // padding: 0 0 10px 0;
  list-style: none;
  width: auto;
  box-sizing: border-box;
  flex-shrink: 0;
  display: inline-block;
  min-width: 160px;
  min-height: 160px;
  max-height: 260px;
  overflow: auto;
  padding-bottom: 10px;

  // 分界线
  &:not(:last-child) {
    // border-right: 1px solid #e8e8e8;
  }

  $this: &;

  &--checkable {
    .title__text {
      padding-left: 24px;
    }

    #{$this}-checkbox + .title__text {
      padding-left: 0;
    }
  }

  &-item {
    width: 100%;
    padding: $spacer-1 0;
    position: relative;
    cursor: pointer;
    display: flex;
  }

  &-checkbox {
    position: relative;

    &::after {
      right: 0;
      top: -8px;
      bottom: -8px;
      left: -8px;
      content: '';
      position: absolute;
      display: block;
    }
  }

  &-option {
    padding: 0 $spacer-2 + 2px;
    box-sizing: border-box;
    min-height: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;

    &:hover {
      background-color: use-color('primary-20');

      // checkbox 联动颜色
      .#{$component-prefix}-checkbox__icon {
        .#{$prefix}-menus--selectchange & {
          border-color: use-color('primary');
        }
      }
    }

    &--selected {
      background-color: use-color('primary-20');
      font-weight: 700;
    }

    &--focused {
      background-color: use-color('primary-10');
    }

    &--checked {
      font-weight: 700;
    }

    &--disabled {
      cursor: not-allowed;
      color: var(--color-gray-50);
      font-weight: 400;

      .#{$prefix}-menu-switcher {
        color: var(--color-gray-50);
      }
    }
  }

  .title__text {
    flex: 1;

    &--cols {
      display: block;
      width: 100%;

      @include component-reset;

      list-style: none;
    }

    &--col {
      display: inline-block;

      &::after {
        content: '\00a0/\00a0';
      }

      &:last-child {
        &::after {
          content: none;
        }
      }
    }

    &--matched {
      color: use-color('primary');
    }
  }

  &-switcher {
    flex-shrink: 0;
    font-size: 16px;
    color: #666;

    svg {
      width: 1em;
      height: 1em;
      fill: currentColor;
      stroke: currentColor;
      display: inline-block;
      vertical-align: -0.15em;
    }

    &--loading {
      color: var(--color-primary);
    }
  }
}

// TODO: 迁移
.hi-v4-tree--icon-loading {
  animation-name: hi-rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes hi-rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
