@import '../../core-css/index.scss';

$color-map: (
  'primary': use-color('primary'),
  'warning': get-color($palette-secondary, 'warning'),
  'success': get-color($palette-secondary, 'success'),
  'danger': get-color($palette-secondary, 'danger')
) !default;

.hi-notification__container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1020;

  .hi-notification {
    position: relative;
    padding: 9px 12px;
    margin-bottom: 10px;
    border-radius: 2px;
    transition: 0.3s ease;
    display: flex;
    align-items: flex-start;
    width: 340px;
    box-sizing: border-box;

    @each $key, $value in $color-map {
      &--#{$key} {
        background-color: use-color(#{$key}-20);
        border: 1px solid use-color(#{$key}-40);

        .hi-notification__title {
          color: $value;
        }

        .hi-notification__icon {
          fill: $value;
        }
      }
    }

    &__closer {
      position: absolute;
      height: 16px;
      width: 16px;
      top: 12px;
      right: 12px;
    }
  }

  .hi-notification__header {
    height: $line-height-size-normal;
    line-height: $line-height-size-normal;
    display: flex;
    align-items: center;

    .hi-notification__title {
      font-size: $font-size-normal;
    }
  }

  .hi-notification__icon {
    height: 16px;
    width: 16px;
    margin-right: 8px;
  }

  .hi-notification__content {
    padding: 0 24px;
    margin-top: 4px;
    font-size: $font-size-small;
    line-height: 20px;
    color: use-color('gray-80');
  }

  .hi-notification__content--wrapper {
    width: 100%;
  }

  .hi-notification__footer {
    text-align: right;
    margin-top: 9px;
  }

  .hi-notification-enter {
    transform: translateX(100%);
  }

  .hi-notification-enter-done {
    transform: none;
  }

  .hi-notification-exit {
    transform: none;
  }

  .hi-notification-exit-done {
    transform: translateX(100%);
  }
}
