@import '~@hi-ui/core-css/lib/index.scss';

$arrows-class: '#{$component-prefix}-carousel__arrows-button' !default;

.#{$arrows-class} {

  $large-diff: 24px;
  $middle-diff: 16px;
  $small-diff: 12px;

  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: use-color-static('white');
  overflow: hidden;
  cursor: pointer;

  &--horizontal {
    inset-block-start: 50%;
    transform: translateY(-50%);
  }

  &--vertical {
    inset-inline-start: 50%;
    transform: translateX(-50%) rotate(90deg);
  }

  &::before {
    content: '';
    position: absolute;
    background: use-color('gray', 700);
    opacity: 0.35;
    width: 100%;
    height: 100%;
    inset-inline-start: 0;
    inset-block-start: 0;
    z-index: -1;
  }

  &:hover {
    &::before {
      background: use-color('gray', 900);
      opacity: 0.7;
    }
  }

  &--lg {
    width: use-height-size(10);
    height: use-height-size(10);
    font-size: 28px;

    &.#{$arrows-class}--horizontal.#{$arrows-class}--start {
      inset-inline-start: $large-diff;
    }

    &.#{$arrows-class}--horizontal.#{$arrows-class}--end {
      inset-inline-end: $large-diff;
    }

    &.#{$arrows-class}--vertical.#{$arrows-class}--start {
      inset-block-start: $large-diff;
    }

    &.#{$arrows-class}--vertical.#{$arrows-class}--end {
      inset-block-end: $large-diff;
    }
  }

  &--md {
    width: use-height-size(8);
    height: use-height-size(8);
    font-size: 20px;

    &.#{$arrows-class}--horizontal.#{$arrows-class}--start {
      inset-inline-start: $middle-diff;
    }
    &.#{$arrows-class}--horizontal.#{$arrows-class}--end {
      inset-inline-end: $middle-diff;
    }

    &.#{$arrows-class}--vertical.#{$arrows-class}--start {
      inset-block-start: $middle-diff;
    }

    &.#{$arrows-class}--vertical.#{$arrows-class}--end {
      inset-block-end: $middle-diff;
    }
  }

  &--sm {
    width: use-height-size(6);
    height: use-height-size(6);
    font-size: 16px;

    &.#{$arrows-class}--horizontal.#{$arrows-class}--start {
      inset-inline-start: $small-diff;
    }
    &.#{$arrows-class}--horizontal.#{$arrows-class}--end {
      inset-inline-end: $small-diff;
    }

    &.#{$arrows-class}--vertical.#{$arrows-class}--start {
      inset-block-start: $small-diff;
    }

    &.#{$arrows-class}--vertical.#{$arrows-class}--end {
      inset-block-end: $small-diff;
    }
  }
}
