@import '~@hi-ui/core-css/lib/index.scss';

$dots-class: '#{$component-prefix}-carousel__dots' !default;
$dots-item-class: '#{$dots-class}__item' !default;
$dots-content-class: '#{$dots-class}__content' !default;

.#{$dots-class} {
  display: flex;
  align-items: center;
  justify-content: center;

  &--position-bottom,
  &--position-top {
    position: absolute;
    inset-inline-start: 0;
    width: 100%;
    height: use-height-size(8);
  }

  &--position-bottom {
    inset-block-end: 0;
  }

  &--position-top {
    inset-block-start: 0;
  }

  &--position-left,
  &--position-right {
    position: absolute;
    inset-block-start: 0;
    width: use-height-size(8);
    height: 100%;
    .#{$dots-content-class} {
      transform: rotate(90deg);
    }
  }

  &--position-left {
    inset-inline-start: 0;
  }

  &--position-right {
    inset-inline-end: 0;
  }

  &__item {
    background: use-color-static('white');
    opacity: 0.32;
    margin: 0 2px;
    cursor: pointer;

    &--active,
    &:hover {
      opacity: 1;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--type-dot {
    .#{$dots-item-class} {
      width: 6px;
      height: 6px;
      border-radius: 50%;

      &--active {
        width: 12px;
      }
    }
  }

  &--type-line {
    .#{$dots-item-class} {
      width: 20px;
      height: 4px;
      border-radius: 2px;
    }
  }

  &--type-slider {
    .#{$dots-item-class} {
      width: 12px;
      height: 4px;
      border-radius: 2px;
      transition: width 0.15s linear, background 0.2s ease-out;

      &--active {
        width: 24px;
      }
    }
  }

  &--position-outer {
    position: relative;
    width: 100%;
    height: use-height-size(8);

    .#{$dots-item-class} {
      background: use-color('gray', 500);
    }
  }
}
