@import '@hi-ui/core-css/index.scss';

.hi-checkbox {
  display: inline-block;
  cursor: pointer;

  @include component-reset();

  &:not(.hi-checkbox--disabled):hover {
    .hi-checkbox__input {
      border: 1px solid #4284f5;
    }
  }


}
