.label-checkbox {
  span {
    font-size: 12px;
    padding: 0 5px;
  }
}

.hi-checkbox {
  cursor: pointer;

  &:hover {
    .hi-checkbox-input {
      border: 1px solid #4284f5;
    }
  }

  &.hi-checkbox-disabled {
    cursor: not-allowed;

    .hi-checkbox-input {
      background: #f2f2f2;
      border: 1px solid #d8d8d8;

      &.hi-checkbox-input-checked {
        background: #f2f2f2;

        &::after {
          border-color: #d8d8d8;
        }
      }
    }
  }

  .hi-checkbox-input {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #d8d8d8;
    border-radius: 2px;
    vertical-align: middle;
    position: relative;

    .hi-checkbox-origin-input {
      opacity: 0;
      // display: none;
      cursor: pointer;
      width: 18px;
      height: 18px;
    }

    &.hi-checkbox-input-checked,
    &.hi-checkbox-input-all {
      background: #4284f5;

      &::after {
        transform: rotate(45deg) scaleY(1);
        pointer-events: none;
        box-sizing: content-box;
        content: '';
        border: 2px solid #fff;
        border-left: 0;
        border-top: 0;
        height: 8px;
        left: 5px;
        position: absolute;
        top: 1px;
        // transform: rotate(45deg) scaleY(0);
        width: 4px;
        transition: transform 0.15s cubic-bezier(0.71, -0.46, 0.88, 0.6) 0.05s;
        transform-origin: center;
      }
    }

    &.hi-checkbox-input-part {
      background: #4284f5;

      &::after {
        content: '';
        position: absolute;
        display: block;
        border: 1px solid #fff;
        margin-top: -1px;
        left: 3px;
        right: 3px;
        top: 50%;
        pointer-events: none;
      }
    }
  }

  .hi-checkbox-label {
    padding: 0 16px 0 8px;
    vertical-align: middle;
    user-select: none;
  }
}
