$prefix: 'hi-tabs' !default;
$prefixPane:'hi-tabs-pane' !default;

.#{$prefix} {
  .#{$prefix}__drag-up {
    animation: dragup ease 0.2s 1;
    animation-fill-mode: forwards;
  }

  .#{$prefix}__drag-down {
    animation: dragdown ease 0.2s 1;
    animation-fill-mode: forwards;
  }

  .#{$prefix}__drag-left {
    animation: dragleft ease 0.2s 1;
    animation-fill-mode: forwards;
  }

  .#{$prefix}__drag-right {
    animation: dragright ease 0.2s 1;
    animation-fill-mode: forwards;
  }

  .#{$prefix}__tab-items-enter {
    box-sizing: border-box;
    opacity: 0;
    transition: all 300ms linear;
  }

  .#{$prefix}__tab-items-enter-active {
    opacity: 1;
    transition: all 300ms linear;
  }

  .#{$prefix}__tab-items-exit {
    opacity: 1;
    transition: all 300ms linear;
  }

  .#{$prefix}__tab-items-exit-active {
    opacity: 0;
    transition: all 300ms linear;
  }
}

.#{$prefixPane}__slide-right {
  animation: slideRight linear 300ms 1;
  animation-fill-mode: forwards;
}

.#{$prefixPane}__slide-left {
  animation: slideLeft linear 300ms 1;
  animation-fill-mode: forwards;
}

.#{$prefixPane}__slide-right-leave {
  animation: slideRightLeave linear 300ms 1;
  animation-fill-mode: forwards;
}

.#{$prefixPane}__slide-left-leave {
  animation: slideLeftLeave linear 300ms 1;
  animation-fill-mode: forwards;
}

.#{$prefixPane}__slide-top {
  animation: slideTop linear 300ms 1;
  animation-fill-mode: forwards;
}

.#{$prefixPane}__slide-bottom {
  animation: slideBottom linear 300ms 1;
  animation-fill-mode: forwards;
}

.#{$prefixPane}__slide-top-leave {
  animation: slideTopLeave linear 300ms 1;
  animation-fill-mode: forwards;
}

.#{$prefixPane}__slide-bottom-leave {
  animation: slideBottomLeave linear 300ms 1;
  animation-fill-mode: forwards;
}

@keyframes slideRight {
  from {
    right: -100%;
  }

  to {
    right: 0;
  }
}

@keyframes slideLeft {
  from {
    left: -100%;
  }

  to {
    left: 0;
  }
}

@keyframes slideRightLeave {
  from {
    left: 0%;
    opacity: 1;
  }

  to {
    left: -100%;
    opacity: 0;
  }
}

@keyframes slideLeftLeave {
  from {
    right: 0;
    opacity: 1;
  }

  to {
    right: -100%;
    opacity: 0;
  }
}

@keyframes slideTop {
  from {
    top: -100%;
  }

  to {
    top: 0;
  }
}

@keyframes slideBottom {
  from {
    bottom: -100%;
  }

  to {
    bottom: 0;
  }
}

@keyframes slideTopLeave {
  from {
    bottom: 0%;
    opacity: 1;
  }

  to {
    bottom: -100%;
    opacity: 0;
  }
}

@keyframes slideBottomLeave {
  from {
    top: 0;
    opacity: 1;
  }

  to {
    top: -100%;
    opacity: 0;
  }
}

@keyframes dragup {
  from {
    margin-top: 0;
  }

  to {
    margin-top: 48px;
  }
}

@keyframes dragdown {
  from {
    margin-bottom: 0;
    margin-top: 48px;
  }

  to {
    margin-bottom: 48px;
    margin-top: 0;
  }
}

@keyframes dragleft {
  from {
    margin-left: 0;
  }

  to {
    margin-left: 90px;
  }
}

@keyframes dragright {
  from {
    margin-right: 0;
  }

  to {
    margin-right: 90px;
  }
}
