.drag-up {
  animation: dragup ease 0.2s 1;
  animation-fill-mode: forwards;
}

.drag-down {
  animation: dragdown ease 0.2s 1;
  animation-fill-mode: forwards;
}

.drag-left {
  animation: dragleft ease 0.2s 1;
  animation-fill-mode: forwards;
}

.drag-right {
  animation: dragright ease 0.2s 1;
  animation-fill-mode: forwards;
}

.slide-right {
  animation: slideRight linear 300ms 1;
  animation-fill-mode: forwards;
}

.slide-left {
  animation: slideLeft linear 300ms 1;
  animation-fill-mode: forwards;
}

.slide-right-leave {
  animation: slideRightLeave linear 300ms 1;
  animation-fill-mode: forwards;
}

.slide-left-leave {
  animation: slideLeftLeave linear 300ms 1;
  animation-fill-mode: forwards;
}

.slide-top {
  animation: slideTop linear 300ms 1;
  animation-fill-mode: forwards;
}

.slide-bottom {
  animation: slideBottom linear 300ms 1;
  animation-fill-mode: forwards;
}

.slide-top-leave {
  animation: slideTopLeave linear 300ms 1;
  animation-fill-mode: forwards;
}

.slide-bottom-leave {
  animation: slideBottomLeave linear 300ms 1;
  animation-fill-mode: forwards;
}

@keyframes dragup {
  from {
    margin-top: 0px;
  }

  to {
    margin-top: 48px;
  }
}

@keyframes dragdown {
  from {
    margin-bottom: 0px;
    margin-top: 48px;
  }

  to {
    margin-bottom: 48px;
    margin-top: 0px;

  }
}

@keyframes dragleft {
  from {
    margin-left: 0px;

  }

  to {
    margin-left: 90px;

  }
}

@keyframes dragright {
  from {
    margin-right: 0px;
  }

  to {
    margin-right: 90px;
  }
}



.item-enter {
  opacity: 0;
}

.item-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.item-exit {
  opacity: 1;
}

.item-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

@keyframes slideRight {
  from {
    right: -100%
  }

  to {

    right: 0;
  }
}

@keyframes slideLeft {
  from {
    left: -100%
  }

  to {

    left: 0;
  }
}

@keyframes slideRightLeave {
  from {
    left: 0%;
    opacity: 1
  }

  to {

    left: -100%;
    opacity: 0
  }
}

@keyframes slideLeftLeave {
  from {
    right: 0;
    opacity: 1
  }

  to {

    right: -100%;
    opacity: 0;
  }
}

@keyframes slideTop {
  from {
    top: -100%
  }

  to {

    top: 0;
  }
}

@keyframes slideBottom {
  from {
    bottom: -100%;
  }

  to {

    bottom: 0;
  }
}

@keyframes slideTopLeave {
  from {
    bottom: 0%;
    opacity: 1
  }

  to {

    bottom: -100%;
    opacity: 0
  }
}

@keyframes slideBottomLeave {
  from {
    top: 0;
    opacity: 1
  }

  to {
    top: -100%;
    opacity: 0;
  }
}

.tab-items-enter {
  box-sizing: border-box;
  opacity: 0;
  width: 0;
  padding: 0 !important;
  transition: all 200ms ease-in-out;
}

.tab-items-enter-active {
  opacity: 1;
  width: 'auto';
  padding: 0 8px;
  transition: all 200ms ease-in-out;
}

.tab-items-exit {
  opacity: 1;
  width: 'auto';
  padding: 0 8px;
  transition: all 200ms ease-in-out;
}

.tab-items-exit-active {
  opacity: 0;
  width: 0;
  padding:0 !important;
  transition: all 200ms ease-in-out;
}

