$prefix: 'hi-tabs' !default;

.#{$prefix} {
  .#{$prefix}__header {
    position: relative;
    font-size: 14px;
    color: #333;
  }

  .#{$prefix}__item {
    cursor: pointer;
  }
  .#{$prefix}__add {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    color: #979797;
    border-radius:2px;
    border:1px solid rgba(216,216,216,1);
    cursor: pointer;
    box-sizing: border-box;
  }

  .#{$prefix}__item-close {
    margin-left: 8px;
    font-size: 12px;
  }

  &--card {
    .#{$prefix}__header {
      border-bottom: 1px solid #E6E7E8;
    }
    .#{$prefix}__nav {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: -1px;
    }
    .#{$prefix}__item {
      height: 48px;
      line-height: 48px;
      padding: 0 16px;
      margin-right: 16px;
      box-sizing: border-box;
      &--active {
        border: 1px solid #E6E7E8;
        border-bottom-color: #fff;
        color: #4284F5;
      }
    }
    .#{$prefix}__add {
      right: 4px;
      bottom: 12px;
    }
  }

  &--desc {
    .#{$prefix}__nav {
      display: flex;
      flex-wrap: wrap;
    }
    .#{$prefix}__item {
      display: flex;
      flex-direction: column;
      padding: 16px 20px;
      text-align: center;
      border: 1px solid #E6E7E8;
      border-left-width: 0px;
      box-sizing: border-box;
      &:first-child {
        border-left-width: 1px;
      }
      &--active {
        color: #4284F5;
        border-color: #4284F5;
        border-left-width: 1px;
        .#{$prefix}__item-desc {
          color: #4284F5;
        }
      }
      &-name {
        margin-top: 4px;
      }
      &-desc {
        font-size: 12px;
        color: #999;
      }
    }
  }

  &--button {

  }

  .#{$prefix}__content {
    display: inline-block;
    position: relative;
    margin-bottom: -1px;
  }
}
