@import '../../core-css/index.scss';
@import './animate.scss';

$prefix: 'hi-tabs' !default;

.#{$prefix} {
  .#{$prefix}__header {
    position: relative;
    font-size: $font-size-normal;
    color: use-color('black');
  }

  .#{$prefix}__item {
    flex: 0 1 auto;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 300ms;
    &:not(&--disabled):focus {
      outline: none;
      color: use-color('primary');
    }

    &--disabled {
      color: use-color('gray-50') !important;
      cursor: not-allowed;
    }

    &:not(&--active) {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &--active {
      flex: none;
    }

    &--flex1 {
      flex: 1;
    }

    .hi-icon:not(.icon-close) {
      margin-right: 4px;
    }
  }

  .#{$prefix}__add {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    color: use-color('gray-70');
    border-radius: 2px;
    cursor: pointer;
    box-sizing: border-box;
    font-size: $font-size-large;
  }

  .#{$prefix}__item-close {
    margin-left: 8px;
    font-size: $font-size-large;
  }

  &__content {
    overflow: hidden;
    display: flex;
    position: relative;
    flex: 1;
  }

  &--card {
    .#{$prefix}__header {
      .#{$prefix}__nav {
        display: flex;
        flex-wrap: nowrap;
      }

      .#{$prefix}__item {
        height: 48px;
        line-height: 46px;
        padding: 0 16px;
        box-sizing: border-box;

        &:hover {
          color: use-color('primary');
        }

        &--active {
          border: 1px solid use-color('gray-20');
          border-radius: 2px;
          color: use-color('primary');
        }
      }
    }
  }

  &--card.#{$prefix}--horizontal {
    .#{$prefix}__nav {
      margin-bottom: -1px;
    }

    .#{$prefix}__header {
      border-bottom: 1px solid use-color('gray-20');
    }

    .#{$prefix}__item {
      &--active {
        border-bottom-color: use-color('white');
      }
    }
  }

  &--card.#{$prefix}--vertical {
    display: flex;
    flex-wrap: nowrap;

    .#{$prefix}__header {
      flex: none;
      display: inline-block;
      border-right: 1px solid use-color('gray-20');
    }

    .#{$prefix}__nav {
      flex-direction: column;
      margin-right: -1px;
    }

    .#{$prefix}__item {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;

      &--active {
        border-right-color: use-color('white');
      }
    }
  }

  &--editable {
    .#{$prefix}__header {
      border-bottom: 1px solid use-color('gray-20');

      .#{$prefix}__nav {
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        margin-bottom: -1px;
        margin-right: 40px;
        min-height: 40px;
      }

      .#{$prefix}__item {
        height: 40px;
        line-height: 40px;
        margin-right: 4px;
        padding: 0 8px;
        background: use-color('gray-10');
        border-radius: 2px 2px 0 0;
        border: 1px solid use-color('gray-20');
        text-align: center;
        box-sizing: border-box;
        display: flex;
        transition: all 200ms;

        &-name {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          display: block;
        }

        &:last-child {
          margin-right: 0;
        }

        &:hover:not(.#{$prefix}__item--active) {
          background-color: use-color('gray-20');
        }

        &--active {
          background-color: use-color('white');
          border-bottom-color: use-color('white');
          color: use-color('primary');
          flex: none;
        }
      }

      .#{$prefix}__add {
        right: 4px;
        bottom: 12px;
      }
    }
  }

  &--desc {
    .#{$prefix}__header {
      .#{$prefix}__nav {
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
      }

      .#{$prefix}__item {
        display: flex;
        flex-direction: column;
        padding: 16px 20px;
        text-align: center;
        border: 1px solid use-color('gray-20');
        box-sizing: border-box;
        background-color: use-color('white');

        &:not(:first-child) {
          margin-left: -1px;
        }

        &:hover {
          color: use-color('primary');

          .#{$prefix}__item-desc {
            color: use-color('primary');
          }
        }

        &--active {
          color: use-color('primary');
          border-color: use-color('primary');
          z-index: 1;

          .#{$prefix}__item-desc {
            color: use-color('primary');
          }
        }

        &-name {
          margin-top: 4px;
        }

        &-desc {
          font-size: 12px;
          color: use-color('gray-70');
        }
      }
    }
  }

  &--button {
    .#{$prefix}__header {
      .#{$prefix}__nav {
        display: flex;
        flex-wrap: wrap;
      }

      .#{$prefix}__item {
        flex: none;
        height: 36px;
        line-height: 34px;
        padding: 0 23px;
        box-sizing: border-box;
        margin-right: 24px;
        border: 1px solid use-color('gray-30');
        border-radius: 18px;

        &:hover:not(.hi-tabs__item--active) {
          color: use-color('primary');
          border: 1px solid use-color('primary');
        }

        &--active {
          color: use-color('white');
          background-color: use-color('primary');
          border: 1px solid use-color('primary');
        }
      }
    }
  }

  &--line {
    .#{$prefix}__header {
      border-bottom: 1px solid use-color('gray-20');

      .#{$prefix}__nav {
        display: flex;
        flex-wrap: nowrap;
      }

      .#{$prefix}__item {
        height: 40px;
        line-height: 40px;
        padding: 0 16px;
        box-sizing: border-box;

        &:first-of-type {
          padding-left: 0;
        }

        &:hover {
          color: use-color('primary');
        }

        &--active {
          border-radius: 2px;
          color: use-color('primary');
        }
      }
    }

    &__ink {
      content: '';
      width: 0;
      display: block;
      height: 2px;
      background-color: use-color('primary');
      bottom: -1px;
      transition: transform 300ms;
      position: absolute;

      &-disabled {
        background-color: use-color('gray-50');
      }
    }
  }

  &--line.#{$prefix}--vertical {
    display: flex;
    flex-wrap: nowrap;

    .#{$prefix}__header {
      flex: none;
      display: inline-block;
      border-right: 1px solid use-color('gray-20');
      border-bottom: 1px solid transparent;
    }

    .#{$prefix}--line__ink {
      content: '';
      display: block;
      top: 0;
      width: 2px !important;
      background-color: use-color('primary');
      right: -1px;
      height: 40px;
      transition: transform 300ms;
      position: absolute;
    }

    .#{$prefix}__nav {
      flex-direction: column;
      margin-right: -1px;
    }

    .#{$prefix}__item {
      transition: background 300ms;

      &--active {
        background: use-color('primary-20');
      }
    }
  }

  &-pane {
    position: relative;
    width: 100%;
  }

  &--scroll {
    .contain {
      position: relative;
      transition: all 300ms;
      transform: translateX(0);
    }

    .#{$prefix}__header {
      overflow: hidden;
    }

    .#{$prefix}__item {
      overflow: initial !important;
    }
  }

  &__scroll--outter {
    display: flex;

    .#{$prefix}__scroll__icon {
      cursor: pointer;
      display: flex;
      font-size: 37px;
      justify-content: center;
      align-items: center;
      color: use-color('gray-80');
    }
  }
}

.hi-tabs-dropdown {
  &__wrapper {
    max-height: 178px;
    padding: 8px 0;
    overflow: auto;
    background-color: use-color('white');
    border-radius: 2px;
    border: 1px solid use-color('gray-20');
    box-shadow: 0 2px 8px 0 rgba(56, 62, 71, 0.1);
  }

  &__toggle-title {
    margin-right: 8px;
  }

  &__items {
    max-height: 162px;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
  }

  &__item {
    height: 36px;
    min-width: 140px;
    line-height: 36px;
    padding: 0 16px;
    font-size: $font-size-normal;
    color: use-color('black');
    white-space: nowrap;
    cursor: pointer;
    box-sizing: border-box;

    &:hover {
      background-color: use-color('primary-20');
    }

    &--focus {
      background-color: use-color('primary-20');
    }

    &--active {
      color: use-color('primary');
    }
  }
}
