@import '@hi-ui/core-css/index.scss';
@import './animate.scss';

$prefix: 'hi-tabs' !default;

.#{$prefix} {
  .#{$prefix}__header {
    position: relative;
    font-size: 14px;
    color: #333;
  }

  .#{$prefix}__item {
    flex: 0 1 auto;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 300ms;

    &:not(&--active) {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &--active {
      flex: none;
    }

    &--flex1 {
      flex: 1;
    }

    .hi-icon:not(.icon-close) {
      margin-right: 4px;
    }
  }

  .#{$prefix}__add {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    color: #979797;
    border-radius: 2px;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 16px;
  }

  .#{$prefix}__item-close {
    margin-left: 8px;
    font-size: 16px;
  }

  &__content {
    overflow: hidden;
    display: flex;
    position: relative;
    flex: 1;
  }

  &--card {
    & > .#{$prefix}__header {
      .#{$prefix}__nav {
        display: flex;
        flex-wrap: nowrap;
      }

      .#{$prefix}__item {
        height: 48px;
        line-height: 46px;
        padding: 0 16px;
        box-sizing: border-box;

        &:hover {
          color: #4284f5;
        }

        &--active {
          border: 1px solid #e6e7e8;
          border-radius: 2px;
          color: #4284f5;
        }
      }
    }
  }

  &--card.#{$prefix}--horizontal {
    .#{$prefix}__nav {
      margin-bottom: -1px;
    }

    .#{$prefix}__header {
      border-bottom: 1px solid #e6e7e8;
    }

    .#{$prefix}__item {
      &--active {
        border-bottom-color: #fff;
      }
    }
  }

  &--card.#{$prefix}--vertical {
    display: flex;
    flex-wrap: nowrap;

    .#{$prefix}__header {
      flex: none;
      display: inline-block;
      border-right: 1px solid #e6e7e8;
    }

    .#{$prefix}__nav {
      flex-direction: column;
      margin-right: -1px;
    }

    .#{$prefix}__item {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;

      &--active {
        border-right-color: #fff;
      }
    }
  }

  &--editable {
    & > .#{$prefix}__header {
      border-bottom: 1px solid #e6e7e8;

      .#{$prefix}__nav {
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        margin-bottom: -1px;
        margin-right: 40px;
        min-height: 40px;
      }

      .#{$prefix}__item {
        height: 40px;
        line-height: 40px;
        margin-right: 4px;
        padding: 0 8px;
        background: #fafafa;
        border-radius: 2px 2px 0 0;
        border: 1px solid #e6e7e8;
        text-align: center;
        box-sizing: border-box;
        display: flex;
        transition: all 200ms;

        &-name {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          display: block;
        }

        &:last-child {
          margin-right: 0;
        }

        &:hover:not(.#{$prefix}__item--active) {
          background-color: #f0f0f0;
        }

        &--active {
          background-color: #fff;
          border-bottom-color: #fff;
          color: #4284f5;
          flex: none;
        }
      }

      .#{$prefix}__add {
        right: 4px;
        bottom: 12px;
      }
    }
  }

  &--desc {
    & > .#{$prefix}__header {
      .#{$prefix}__nav {
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
      }

      .#{$prefix}__item {
        display: flex;
        flex-direction: column;
        padding: 16px 20px;
        text-align: center;
        border: 1px solid #e6e7e8;
        box-sizing: border-box;
        background-color: #fff;

        &:not(:first-child) {
          margin-left: -1px;
        }

        &:hover {
          color: #4284f5;

          .#{$prefix}__item-desc {
            color: #4284f5;
          }
        }

        &--active {
          color: #4284f5;
          border-color: #4284f5;
          z-index: 1;

          .#{$prefix}__item-desc {
            color: #4284f5;
          }
        }

        &-name {
          margin-top: 4px;
        }

        &-desc {
          font-size: 12px;
          color: #999;
        }
      }
    }
  }

  &--button {
    & > .#{$prefix}__header {
      .#{$prefix}__nav {
        display: flex;
        flex-wrap: wrap;
      }

      .#{$prefix}__item {
        flex: none;
        height: 36px;
        line-height: 34px;
        padding: 0 23px;
        box-sizing: border-box;
        margin-right: 24px;
        border: 1px solid #d8d8d8;
        border-radius: 18px;

        &:hover:not(.hi-tabs__item--active) {
          color: #4284f5;
          border: 1px solid #4284f5;
        }

        &--active {
          color: #fff;
          background-color: #4284f5;
          border: 1px solid #4284f5;
        }
      }
    }
  }

  &--line {
    & > .#{$prefix}__header {
      border-bottom: 1px solid #e6e7e8;

      .#{$prefix}__nav {
        display: flex;
        flex-wrap: nowrap;
      }

      .#{$prefix}__item {
        height: 48px;
        line-height: 46px;
        padding: 0 16px;
        box-sizing: border-box;

        &:hover {
          color: #4284f5;
        }

        &--active {
          border-radius: 2px;
          color: #4284f5;
        }
      }
    }

    &__ink {
      content: '';
      width: 0;
      display: block;
      height: 2px;
      background-color: #1890ff;
      bottom: -1px;
      transition: transform 500ms;
      position: absolute;
    }
  }

  &--line.#{$prefix}--vertical {
    display: flex;
    flex-wrap: nowrap;

    .#{$prefix}__header {
      flex: none;
      display: inline-block;
      border-right: 1px solid #e6e7e8;
      border-bottom: 1px solid transparent;
    }

    .#{$prefix}--line__ink {
      content: '';
      display: block;
      top: 0;
      width: 2px !important;
      background-color: #1890ff;
      right: -1px;
      height: 48px;
      transition: transform 500ms;
      position: absolute;
    }

    .#{$prefix}__nav {
      flex-direction: column;
      margin-right: -1px;
    }

    .#{$prefix}__item {
      transition: background 500ms;

      &--active {
        background: rgba(66, 132, 245, 0.1);
      }
    }
  }

  &-pane {
    position: relative;
    width: 100%;
  }
}

.hi-tabs-dropdown {
  &__toggle-title {
    margin-right: 8px;
  }

  &__items {
    max-height: 160px;
    padding: 4px 0;
    overflow: auto;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid rgba(230, 231, 232, 1);
    box-shadow: 0 2px 8px 0 rgba(56, 62, 71, 0.1);
  }

  &__item {
    height: 36px;
    min-width: 140px;
    line-height: 36px;
    padding: 0 16px;
    font-size: 14px;
    color: #383e47;
    white-space: nowrap;
    cursor: pointer;
    box-sizing: border-box;

    &:hover {
      background-color: rgba(66, 133, 244, 0.08);
    }

    &--active {
      background-color: rgba(66, 133, 244, 0.08);
    }
  }
}

@each $key,
  $value in $theme-colors {
  .theme__#{$key}.#{$prefix} {
    &--card {
      & > .#{$prefix}__header {
        .#{$prefix}__item {
          &:hover {
            color: $value;
          }

          &--active {
            color: $value;
          }
        }
      }
    }

    &--editable {
      & > .#{$prefix}__header {
        .#{$prefix}__item {
          &--active {
            color: $value;
          }
        }
      }
    }

    &--desc {
      & > .#{$prefix}__header {
        .#{$prefix}__item {
          &:hover {
            color: $value;

            .#{$prefix}__item-desc {
              color: $value;
            }
          }

          &--active {
            color: $value;
            border-color: $value;

            .#{$prefix}__item-desc {
              color: $value;
            }
          }
        }
      }
    }

    &--button {
      & > .#{$prefix}__header {
        .#{$prefix}__item {
          &:hover:not(.hi-tabs__item--active) {
            color: $value;
            border: 1px solid $value;
          }

          &--active {
            background-color: $value;
            border: 1px solid $value;
          }
        }
      }
    }
  }

  .theme__#{$key}.hi-tabs-dropdown__items {
    .hi-tabs-dropdown__item:hover {
      background-color: rgba($value, 0.1);
    }

    .hi-tabs-dropdown__item.hi-tabs-dropdown__item--active {
      background-color: rgba($value, 0.1);
    }
  }
}
