@import '@hi-ui/core-css/index.scss';

.hi4-empty-state {
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.5715;
  text-align: center;

  &__image {
    height: 100px;
    margin-bottom: 8px;

    img {
      object-fit: cover;
      height: 100%;
      margin: auto;
    }
  }

  &__title,
  &__subtitle {
    display: block;
    margin-bottom: 4px;
  }

  &__title {
    color: rgba(0, 0, 0, 1);
  }

  &__subtitle {
    color: rgba(0, 0, 0, 0.3);
  }
}
