@import '../../style/icon/index.scss';

.hi-message__container {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1020;

  .hi-message {
    position: relative;
    padding: 9px 12px;
    margin-bottom: 10px;
    border-radius: 2px;
    transition: 0.3s ease;
    display: flex;
    align-items: flex-start;
    width: 340px;
    box-sizing: border-box;
  }

  .hi-message__title--wrapper {
    display: flex;
    align-items: center;

    .hi-message__title {
      font-size: 14px;
    }
  }

  .hi-message__icon {
    font-size: 16px;
    margin-right: 12px;
  }

  .hi-message--info {
    background: #edf2fc;
    border: 1px solid #d8e5ff;

    .hi-message__title,
    .hi-message__icon {
      color: #4284f5;
    }

    .hi-message__button {
      background-color: #4284f5;
    }
  }

  .hi-message--error {
    background: #feeff0;
    border: 1px solid #ffe0e3;

    .hi-message__title,
    .hi-message__icon {
      color: #eb5252;
    }

    .hi-message__button {
      background-color: #eb5252;
    }
  }

  .hi-message--success {
    background: #e8f6ee;
    border: 1px solid #cae9d7;

    .hi-message__title,
    .hi-message__icon {
      color: #1da653;
    }

    .hi-message__button {
      background-color: #1da653;
    }
  }

  .hi-message--warning {
    background: #fbf5e6;
    border: 1px solid #fcf0d4;

    .hi-message__title,
    .hi-message__icon {
      color: #e19d0c;
    }

    .hi-message__button {
      background-color: #e19d0c;
    }
  }

  .hi-message-enter {
    transform: translateY(-100%);
  }

  .hi-message-enter-done {
    transform: none;
  }

  .hi-message-exit {
    transform: none;
  }

  .hi-message-exit-done {
    transform: translateY(-100%);
  }
}
