@import '../../core-css/index.scss';

$color-map: (
  'primary': use-color('primary'),
  'warning': get-color($palette-secondary, 'warning'),
  'success': get-color($palette-secondary, 'success'),
  'danger': get-color($palette-secondary, 'danger')
) !default;

.hi-message__container {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1020;

  .hi-message {
    position: relative;
    padding: 9px 12px;
    margin-bottom: 10px;
    border-radius: 2px;
    transition: 0.3s ease;
    display: flex;
    align-items: flex-start;
    width: 260px;
    box-sizing: border-box;

    @each $key, $value in $color-map {
      &--#{$key} {
        background-color: use-color(#{$key}-20);
        border: 1px solid use-color(#{$key}-40);

        .hi-message__icon {
          fill: $value;
        }
      }
    }
  }

  .hi-message__header {
    line-height: $line-height-size-normal;
    display: flex;
    align-items: center;
  }

  .hi-message__title {
    color: use-color('black') !important;
    font-size: $font-size-normal;
  }

  .hi-message__icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    flex-shrink: 0;
  }

  .hi-message-enter {
    transform: translateY(-100%);
  }

  .hi-message-enter-done {
    transform: none;
  }

  .hi-message-exit {
    transform: none;
  }

  .hi-message-exit-done {
    transform: translateY(-100%);
  }
}
