@import '@hi-ui/core-css/index.scss';

.hi-checkbox-legacy {
  display: inline-block;
  cursor: pointer;

  @include component-reset();

  &:not(.hi-checkbox-legacy--disabled):hover {
    .hi-checkbox-legacy__input {
      border: 1px solid #4284f5;
    }
  }

  &--disabled {
    cursor: not-allowed;

    .hi-checkbox-legacy__input {
      background: #f2f2f2 !important;
      border: 1px solid #d8d8d8;

      &::after {
        border-color: #d8d8d8;
      }
    }

    .hi-checkbox-legacy__label {
      color: rgba(204, 204, 204, 1);
    }
  }

  &--checked {
    .hi-checkbox-legacy__input {
      background: #4284f5;

      &::after {
        transform: rotate(45deg) scaleY(1);
        pointer-events: none;
        box-sizing: content-box;
        content: '';
        border: 2px solid #fff;
        border-left: 0;
        border-top: 0;
        height: 7px;
        left: 4px;
        position: absolute;
        top: 1px;
        // transform: rotate(45deg) scaleY(0);
        width: 4px;
        // transition: transform 0.15s cubic-bezier(0.71, -0.46, 0.88, 0.6) 0.05s;
        transform-origin: center;
      }
    }
  }

  &--part {
    .hi-checkbox-legacy__input {
      background: #4284f5;

      &::after {
        content: '';
        position: absolute;
        display: block;
        border: 1px solid #fff;
        margin-top: -1px;
        left: 3px;
        right: 3px;
        top: 50%;
        pointer-events: none;
      }
    }
  }

  &__input {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #d8d8d8;
    border-radius: 2px;
    vertical-align: middle;
    position: relative;
    box-sizing: border-box;
  }

  &__label {
    padding: 0 16px 0 8px;
    vertical-align: middle;
    user-select: none;

    &.highlight {
      color: #4284f5;
    }
  }
}

@each $key, $value in $theme-colors {
  .theme__#{$key}.hi-checkbox-legacy {
    &:not(.hi-checkbox-legacy--disabled):hover {
      .hi-checkbox-legacy__input {
        border: 1px solid $value;
      }
    }

    &--part {
      .hi-checkbox-legacy__input {
        background: $value;
      }
    }

    &--checked {
      .hi-checkbox-legacy__input {
        background: $value;
        border: 1px solid $value;
      }
    }

    &__label {
      &.highlight {
        color: $value;
      }
    }
  }
}
