@import '../../core-css/index.scss';

$color-map: (
  'warn': get-color($palette-secondary, 'warning'),
  'success': get-color($palette-secondary, 'success'),
  'error': get-color($palette-secondary, 'danger')
) !default;

.hi-progress {
  &__inner {
    background-color: use-color('gray-10');
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
  }

  &__bar--active.hi-progress__bar {
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: use-color('white');
      opacity: 0;
      content: '';
      animation: hi-progress-active 2.4s cubic-bezier(0.23, 1, 0.32, 1) infinite;
    }
  }

  &__bar {
    height: 100%;
    display: block;
    position: relative;
    background-color: use-color('primary');
    transition: width 0.4s cubic-bezier(0.3, 0, 0.7, 1);

    &--primary {
      background-color: use-color('primary');
    }

    @each $key, $value in $color-map {
      &--#{$key} {
        background-color: $value;
      }
    }
  }

  &__text {
    padding-left: 25px;
    font-size: 14px;
    color: use-color('gray-80');
    display: inline-block;
    vertical-align: middle;

    &--primary {
      color: use-color('primary');
    }

    @each $key, $value in $color-map {
      &--#{$key} {
        color: $value;
      }
    }
  }

  &__text--inside {
    font-size: 14px;
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translate(100%, -50%);
    line-height: 14px;
    word-break: keep-all;

    &.inside--left {
      color: use-color('white');
      right: 5px;
      transform: translate(0, -50%);
    }
  }

  &__svg {
    position: relative;

    .hi-progress__text {
      display: block;
      position: absolute;
      width: 100%;
      text-align: center;
      line-height: 1;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      margin: 0;
      padding: 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__svgbackground {
    fill: none;
    stroke: #e9e9e7;
    stroke-width: 6;
  }

  &__circle {
    fill: none;
    stroke: use-color('primary');
    stroke-width: 6;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    transition: stroke-dashoffset 0.4s cubic-bezier(0.3, 0, 0.7, 1);

    @each $key, $value in $color-map {
      &--#{$key} {
        stroke: $value;
      }
    }
  }

  &__dashboard {
    fill: none;
    stroke: use-color('primary');
    stroke-width: 6;
    transition: stroke-dasharray 0.4s cubic-bezier(0.3, 0, 0.7, 1);

    @each $key, $value in $color-map {
      &--#{$key} {
        stroke: $value;
      }
    }
  }
}

@keyframes hi-progress-active {
  0% {
    width: 0;
    opacity: 0.1;
  }

  20% {
    width: 0;
    opacity: 0.5;
  }

  100% {
    width: 100%;
    opacity: 0;
  }
}
