@import '~@hi-ui/core-css/lib/index.scss';

$prefixCls: #{$component-prefix}-loading !default;

.#{$prefixCls} {
  @include flex(center, center, column);

  color: var('--color-primary');

  &__mask {
    @include transition;
    @include component-reset;
    @include flex;

    z-index: 19;

    &-enter {
      opacity: 0;

      &-active {
        opacity: 1;
      }
    }

    &-exit {
      opacity: 0;
    }

    &--withchildren {
      @extend %full-fill;

      position: absolute;
      background: rgba(#fff, 0.64);
    }

    &--full {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 39;
      background: rgba(#fff, 0.64);
    }
  }

  &__wrapper {
    position: relative;
    width: fit-content;
    height: fit-content;
  }

  &__icon {
    position: relative;

    div {
      border-radius: 50%;
      display: inline-block;
      position: absolute;

      @keyframes animDotF {
        0% {
          transform: translateX(0);
          z-index: 1;
        }

        25% {
          transform: translateX(100%) scale(1.5);
          z-index: 1;
        }

        50% {
          transform: translateX(200%);
          z-index: 0;
        }

        75% {
          transform: translateX(100%) scale(0.5);
          z-index: 0;
        }

        100% {
          transform: translateX(0);
          z-index: 1;
        }
      }

      @keyframes animDotL {
        0% {
          transform: translateX(0);
          z-index: 0;
        }

        25% {
          transform: translateX(-100%) scale(0.5);
          z-index: 0;
        }

        50% {
          transform: translateX(-200%);
          z-index: 1;
        }

        75% {
          transform: translateX(-100%) scale(1.5);
          z-index: 1;
        }

        100% {
          transform: translateX(0%);
          z-index: 0;
        }
      }

      &:first-child {
        background: #f63;
        left: 0;
        transform: translateX(0);
        animation: animDotF 1.5s linear infinite;
      }

      &:last-child {
        background: #4284f5;
        right: 0;
        transform: translateX(0);
        animation: animDotL 1.5s linear infinite;
      }
    }
  }

  &--size {
    &-sm {
      .#{$prefixCls}__icon {
        width: 24px;
        height: 12px;

        div {
          height: 8px;
          width: 8px;
        }
      }
    }

    &-md {
      .#{$prefixCls}__icon {
        width: 36px;
        height: 18px;

        div {
          height: 12px;
          width: 12px;
        }
      }
    }

    &-lg {
      .#{$prefixCls}__icon {
        width: 48px;
        height: 24px;

        div {
          height: 16px;
          width: 16px;
        }
      }
    }
  }

  &__label {
    margin-top: 6px;
    animation: #{$component-prefix}-flash 1.6s linear infinite;
    color: #f63;
  }
}

@keyframes #{$component-prefix}-rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes #{$component-prefix}-flash {
  0% {
    opacity: 0.1;
  }

  55% {
    opacity: 0.9;
  }

  100% {
    opacity: 0.1;
  }
}
