@import '../../core-css/index.scss';

.hi-card {
  border-radius: 2px;
  box-sizing: border-box;
  background: use-color('white');

  &--bordered {
    border: 1px solid use-color('gray-20');
  }

  &--simple {
    height: 40px;
    overflow: hidden;
    padding: 10px 12px;
    display: flex;
    align-items: center;

    &.hi-card--small {
      width: 136px;
    }

    &.hi-card--default {
      width: 156px;
    }

    &.hi-card--large {
      width: 176px;
    }
  }

  &--cover {
    // 解决 img 底部空白问题
    > img {
      display: block;
      width: 100%;
      border-radius: 2px 2px 0 0;
    }

    .hi-card__title {
      margin-bottom: 4px;
      font-size: $font-size-large;
      font-weight: $font-weight-bold;
    }

    .hi-card__content {
      padding: 16px;
    }

    &.hi-card--small {
      width: 276px;
    }

    &.hi-card--default {
      width: 376px;
    }

    &.hi-card--large {
      width: 576px;
    }
  }

  &--standard {
    .hi-card__content {
      padding: 24px;
    }

    .hi-card__title {
      height: 48px;
      padding: 0 24px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid use-color('gray-20');
      font-size: $font-size-large;
      font-weight: $font-weight-bold;
    }

    &.hi-card--small {
      width: 276px;
      min-height: 138px;
    }

    &.hi-card--default {
      width: 376px;
      min-height: 188px;
    }

    &.hi-card--large {
      width: 576px;
      min-height: 196px;
    }
  }

  &--normal {
    padding: 24px;

    .hi-card__title {
      font-size: $font-size-large;
      font-weight: $font-weight-bold;
      margin-bottom: 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &.hi-card--small {
      width: 276px;
      min-height: 138px;
    }

    &.hi-card--default {
      width: 376px;
      min-height: 188px;
    }

    &.hi-card--large {
      width: 576px;
      min-height: 196px;
    }
  }

  &--hoverable {
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 0 2px 8px 0 use-color('gray-10');
    }
  }
}
