.hi-card {
  border-radius: 2px;
  border: 1px solid rgba(231, 231, 231, 1);
  box-sizing: border-box;
  background: #fff;

  &--simple {
    height: 40px;
    overflow: hidden;
    padding: 10px 12px;
    display: flex;
    align-items: center;

    &.hi-card--small {
      width: 136px;
    }

    &.hi-card--default {
      width: 156px;
    }

    &.hi-card--large {
      width: 176px;
    }
  }

  &--cover {
    // 解决 img 底部空白问题
    > img {
      display: block;
      border-radius: 2px 2px 0 0;
    }

    .hi-card__title {
      margin-bottom: 4px;
      font-size: 16px;
      font-weight: 500;
    }

    .hi-card__content {
      padding: 16px;
    }

    &.hi-card--small {
      width: 276px;
    }

    &.hi-card--default {
      width: 376px;
    }

    &.hi-card--large {
      width: 576px;
    }
  }

  &--standard {
    .hi-card__content {
      padding: 24px;
    }

    .hi-card__title {
      height: 48px;
      padding: 0 24px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #e6e7e8;
      font-size: 16px;
      font-weight: 500;
    }

    &.hi-card--small {
      width: 276px;
      min-height: 138px;
    }

    &.hi-card--default {
      width: 376px;
      min-height: 188px;
    }

    &.hi-card--large {
      width: 576px;
      min-height: 196px;
    }
  }

  &--normal {
    padding: 24px;

    .hi-card__title {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &.hi-card--small {
      width: 276px;
      min-height: 138px;
    }

    &.hi-card--default {
      width: 376px;
      min-height: 188px;
    }

    &.hi-card--large {
      width: 576px;
      min-height: 196px;
    }
  }

  &--hoverable {
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
    }
  }
}
