@import '~@hi-ui/core-css/lib/index.scss';

$prefix: '#{$component-prefix}-search' !default;

.#{$prefix} {
  &__dropdown {
    box-sizing: border-box;
    padding: use-spacing(2);
    font-size: use-text-size('normal');
    // 填充没有选项时 loading 展示空间
    min-height: 48px;
    max-height: 276px;
    overflow-y: auto;

    &--highlight {
      color: use-color-mode('primary');
    }

    &-subitem {
      min-height: use-height-size(8);
      box-sizing: border-box;
      display: flex;
      align-items: center;
      padding: use-spacing(2) use-spacing(6) use-spacing(2) use-spacing(10);
      border-radius: use-border-radius('md');
      color: use-color('gray', 800);
      cursor: pointer;
      transition: all 0.3s;

      &--focus {
        background-color: use-color('gray', 200);
      }

      &:hover {
        background-color: use-color('gray', 200);
      }
    }

    &-group {
      min-height: use-height-size(8);
      box-sizing: border-box;
      display: flex;
      align-items: center;
      padding: use-spacing(2) use-spacing(4);
      color: use-color('gray', 600);
    }

    &-subgroup {
      padding-left: use-spacing(4);
    }

    &-item {
      &:not(.#{$prefix}__dropdown-group) {
        &:last-of-type {
          margin-bottom: 0;
        }

        box-sizing: border-box;
        min-height: use-height-size(8);
        display: flex;
        align-items: center;
        padding: use-spacing(2) use-spacing(4);
        border-radius: use-border-radius('md');
        color: use-color('gray', 800);
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          background-color: use-color('gray', 200);
        }
      }

      &--focus {
        background-color: use-color('gray', 200);
      }
    }
  }
}
