@import '~@hi-ui/core-css/lib/index.scss';

$prefix: '#{$component-prefix}-check-select' !default;

.#{$prefix} {
  &-option {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: use-border-radius('md');
    cursor: pointer;
    font-size: use-text-size('normal');
    font-weight: use-text-weight('normal');
    line-height: use-text-lineheight('normal');
    color: use-color('gray', 800);

    &__indent {
      display: inline-block;
      width: 16px;
      height: 100%;
    }

    &__title {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      width: 100%;
      padding: calc(#{use-spacing(2)} + 1px) use-spacing(4);
      font-size: inherit;
      text-size-adjust: none;
      font-weight: inherit;
      color: inherit;
      line-height: inherit;
    }

    $this: &;

    // &:not(#{$this}--checked):not(#{$this}--focused):not(#{$this}--disabled):hover {
    //   background-color: use-color('gray', 200);
    // }

    &:hover {
      background-color: use-color('gray', 100);
    }

    &--checked {
      // background-color: use-color-mode('primary', 50);
      // color: use-color-mode('primary');
    }

    &--focused {
      background-color: use-color('gray', 100);
    }

    &--disabled {
      cursor: not-allowed;
      color: use-color('gray', 600);
    }
  }

  &-option-group {
    display: inline-block;
    padding: calc(#{use-spacing(2)} + 1px) use-spacing(4);
    font-size: use-text-size('normal');
    font-weight: use-text-weight('normal');
    line-height: use-text-lineheight('normal');
    color: use-color('gray', 700);

    &__divider {
      box-sizing: border-box;
      width: calc(100% + #{use-spacing(4)});
      height: 1px;
      margin: use-spacing(2) calc(#{use-spacing(2)} * -1);
      background-color: use-color('gray', 300);

      &:first-child {
        display: none;
      }
    }
  }
}
