@import '../../core-css/index.scss';

.hi-badge {
  display: inline-block;
  position: relative;

  &-value {
    position: absolute;
    top: -10px;
    right: 0;
    transform: translateX(50%);
    height: 16px;
    padding: 0 4px;
    min-width: 8px;
    border: 2px solid use-color('white');
    border-radius: 10px;
    line-height: 16px;
    background: get-color($palette-secondary, 'danger');
    font-size: $font-size-small;
    color: use-color('white');
    letter-spacing: 0;
    text-align: center;

    &.hi-hide {
      display: none;
    }
  }

  &-dot {
    position: absolute;
    width: 8px;
    height: 8px;
    top: -5px;
    right: -5px;
    background: get-color($palette-secondary, 'danger');
    border: 1px solid use-color('white');
    border-radius: 50%;

    &.hi-hide {
      display: none;
    }
  }
}
