@import '../../../style/icon/index.scss';

.cascader-input-container{
	width: 100%;
	position: relative;
	z-index: 1;
	display: block;
	border:1px solid #ddd;
	border-radius: 2px;
	overflow: hidden;

	&:hover .icon-mark_close-circle {
		display: inline;
	}

	&.active,
	&:not(.disabled):hover {
		border-color: #4284F5;
	}
	&:not(.disabled):hover .icon-mark__remove {
			z-index: 1;
			opacity: 1;
			color: #999;
	}


	.cascader-input{
		display:block;
		border:none;
		outline:none;
		padding-right: 32px;
		padding-left: 12px;
		font-size: 14px;
		background: transparent;
		width:100%;
		cursor: pointer;
		height: 30px;
		line-height: 30px;
		box-sizing: border-box;
	}

	input::-webkit-input-placeholder{
		font-weight: 300;
		color: #ccc;
	}
	input::-moz-placeholder{   /* Mozilla Firefox 19+ */
		font-weight: 300;
		color:#ccc;
	}
	input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
		font-weight: 300;
		color:#ccc;
	}
	input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
		font-weight: 300;
		color:#ccc;
	}

	.hi-icon {
		position: absolute;
		top: 0;
		right: 0;
		width: 32px;
		height: 32px;
		line-height: 32px;
		text-align: center;
		background-color: #fff;
		z-index: 1;
		cursor: pointer;
	}

	.icon-mark_close-circle {
		display: none;
		color: #999;
	}
}
