@import '~@hi-ui/core-css/lib/index.scss';

$prefix: '#{$component-prefix}-alert' !default;

.#{$prefix} {
  position: relative;
  padding: 9px 11px;
  border-radius: 2px;
  font-size: use-text-size('normal');
  min-width: 280px;
  display: block;
  align-items: flex-start;

  &__title {
    display: flex;
    font-size: use-text-size('normal');
    align-items: center;
    line-height: use-text-lineheight('normal');

    .hi-icon {
      height: 16px;
      width: 16px;
      margin-right: 8px;
    }
  }

  &__content {
    margin: 2px 24px 0 24px;
    font-weight: 400;
    font-size: use-text-size('sm');
    line-height: use-text-lineheight('normal');
    color: use-color('gray', 800);
  }

  &__action {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    color: use-color('gray', 700);
  }

  $color-map: (
    'primary': use-color-mode('primary'),
    'warning': use-color-mode('warning'),
    'success': use-color-mode('success'),
    'danger': use-color-mode('danger'),
  ) !default;

  @each $key, $value in $color-map {
    &--#{$key} {
      background-color: use-color-mode(#{$key}-10);
      color: $value;
      border: 1px solid use-color-mode(#{$key}-30);
    }
  }
}
