@import '~@hi-ui/core-css/lib/index.scss';

$prefix: '#{$component-prefix}-alert' !default;

.#{$prefix} {
  position: relative;
  padding: use-spacing(6) use-spacing(10);
  border-radius: use-border-radius('lg');
  font-size: use-text-size('normal');
  min-width: 280px;
  display: block;
  align-items: flex-start;
  color: use-color('gray', 600);

  &.#{$prefix}--with-content {
    padding: use-spacing(10);

    .#{$prefix}__title {
      font-size: use-text-size('lg');
      font-weight: use-text-weight('medium');
      margin-bottom: use-spacing(4);
    }

    .#{$prefix}__icon {
      font-size: use-text-size('xxl');
      margin-right: use-spacing(6);
    }
  }

  &__title {
    display: flex;
    font-size: use-text-size('normal');
    align-items: center;
    color: use-color('gray', 700);

    .#{$prefix}__icon {
      font-size: use-text-size('lg');
      margin-right: use-spacing(4);
    }
  }

  &__content {
    margin-left: use-spacing(16);
    line-height: use-text-lineheight('normal');
    color: use-color('gray', 600);
  }

  &__close {
    position: absolute;
    color: use-color('gray', 600);
    cursor: pointer;
    font-size: use-text-size('normal');
    right: use-spacing(10);
    top: use-spacing(8);
  }

  $color-map: (
    'primary': use-color-mode('primary'),
    'warning': use-color-mode('warning'),
    'success': use-color-mode('success'),
    'danger': use-color-mode('danger'),
  ) !default;

  @each $key, $value in $color-map {
    &--#{$key} {
      background-color: use-color-mode('#{$key}-05');

      .#{$prefix}__icon {
        color: use-color-mode(#{$key});
      }
    }
  }
}
