@import '~@hi-ui/core-css/lib/index.scss';

$prefix: '#{$component-prefix}-tree' !default;

.#{$prefix} {
  &--editable {
    .#{$prefix}__title {
      width: 100%;
      max-width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .#{$prefix}__action {
      flex-shrink: 0;
      margin-left: 4px;
    }

    .#{$prefix}-action {
      z-index: 10;
      list-style: none;
      color: use-color('gray-80');
      background-color: use-color('white');
      width: 140px;
      box-shadow: 0 2px 8px 0 var(--color-gray-10);
      border-radius: 2px;
      padding: 4px 0;
      border-radius: 4px;

      &__item {
        list-style: none;
        padding: 0 8px;
        height: 32px;
        line-height: 32px;
        font-size: 14px;
        cursor: pointer;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        transition: background-color 0.3s;

        &:not(:last-of-type) {
          margin-bottom: 8px;
        }

        &:hover {
          background-color: #ECF2FE;
        }
      }

      &__btn {
        position: relative;
        color: use-color('gray-80');

        &:hover {
          color: use-color('primary');
        }
      }
    }

    .#{$prefix}-actions {
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s;
    }

    .#{$prefix}-node:hover {
      .#{$prefix}-actions {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  // &-modal {
  //   padding: 16px;
  //   box-sizing: border-box;
  //   width: 240px;
  //   background-color: use-color('white');
  //   box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.12);
  //   border-radius: 4px;
  //   position: relative;

  //   &-arrow {
  //     z-index: 1;

  //     &::before {
  //       content: '';
  //       position: absolute;
  //       right: 3px;
  //       bottom: 0;
  //       border-left: 6px solid transparent;
  //       border-right: 6px solid transparent;
  //       border-bottom: 6px solid #fff;
  //     }

  //     &::after {
  //       content: '';
  //       position: absolute;
  //       right: 3px;
  //       bottom: 1px;
  //       border-left: 6px solid transparent;
  //       border-right: 6px solid transparent;
  //       border-bottom: 6px solid rgba(0, 0, 0, 0.1);;
  //       filter: blur(1px);
  //       z-index: -1;
  //     }
  //   }

  //   &__body {
  //     padding-top: 4px;
  //     color: #666;
  //     line-height: 24px;
  //   }

  //   &__footer {
  //     display: flex;
  //     justify-content: flex-end;
  //     margin-top: 28px;
  //   }

  //   &__btn--confirm {
  //       margin-left: 10px;
  //   }
  // }
}
