@import '~@hi-ui/core-css/lib/index.scss';

$prefix: '#{$component-prefix}-tree' !default;

.#{$prefix} {
  &-searcher {
    position: relative;
    color: _use-color('gray', 800);

    &--empty {
      display: inline-block;
      color: _use-color('gray', 700);
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      padding: 10px 10px 0;
    }
  }

  .title__text {
    &--matched {
      color: use-color-mode('primary');
    }
  }
}
