@import '~@hi-ui/core-css/lib/index.scss';

$prefix: '#{$component-prefix}-tree' !default;

.#{$prefix} {
  @include component-reset;

  list-style-type: none;

  .motion-tree-node {
    transition: all 0.3s ease;
    overflow-y: hidden;
  }
}

.#{$prefix}-node {
  display: flex;
  align-items: center;
  padding-bottom: 4px;
  color: use-color('gray-80');
  cursor: pointer;

  &__indent {
    width: 24px;
    height: 100%;
    display: inline-block;
  }

  &__title {
    flex: 1;
    display: flex;
    border-radius: 1px;
    color: inherit;
    position: relative;

    .title__text {
      line-height: $line-height-size-large;
      font-size: $font-size-normal;
      padding: 0 4px;
      cursor: inherit;
      color: inherit;
      background-color: transparent;

      &:hover {
        background-color: use-color('primary-20');
      }
    }

    // 拖拽指示器-小圆球
    &::before {
      position: absolute;
      left: 0;
      z-index: 9999;
      display: none;
      box-sizing: border-box;
      width: 8px;
      height: 8px;
      content: '';
      background: #fff;
      border: 2px solid use-color('primary');
      border-radius: 100%;
    }

    // 拖拽指示器-线条
    &::after {
      position: absolute;
      content: '';
      // TODO: zIndex 全局约定设置
      z-index: 9998;
      display: block;
      box-sizing: border-box;
      border-bottom-width: 0;
      border-bottom-style: solid;
      border-bottom-color: use-color('primary');
      left: 0;
      width: 100%;
    }
  }

  $this: &;

  &:focus {
    outline: 0;
    color: use-color('gray-80');

    #{$this}__title {
      .title__text {
        background: use-color('primary-20');
      }
    }
  }

  // 线性连接展示
  &--linear {
    position: relative;

    #{$this}__indents--tail {
      #{$this}__indent {
        &::after {
          content: '';
          position: absolute;
          width: 50%;
          height: 1px;
          background-color: use-color('gray-70');
          left: calc(50% - 4px);
          top: 50%;
        }
      }
    }

    #{$this}__indent {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        width: 1px;
        height: calc(100% + 4px);
        background-color: use-color('gray-70');
        left: 8px;
      }

      &--parent-tail {
        &::before {
          content: none;
        }
      }

      &--tail {
        &::before {
          content: '';
          height: calc(50%);
        }
      }
    }
  }

  // TODO: 约定好组件的修饰词和元素书写顺序
  &--selected {
    .title__text {
      background: use-color('primary-40');

      &:hover {
        background: use-color('primary-40');
      }
    }
  }

  &--disabled {
    cursor: not-allowed;
    color: use-color('gray-50');

    .title__text {
      &:hover {
        background: use-color('white');
      }
    }

    &#{$this}--selected {
      color: use-color('gray-50');

      .title__text {
        background: use-color('white');

        &:hover {
          background: use-color('white');
        }
      }
    }
  }

  &--drag-before {
    #{$this}__title {
      &::before {
        display: block;
        top: 0;
        transform: translateY(-3px);
      }

      &::after {
        top: 0;
        border-bottom-width: 2px;
      }
    }
  }

  &--drag-inside {
    #{$this}__title {
      background: use-color('primary');
      color: use-color('white');
    }
  }

  &--drag-after {
    #{$this}__title {
      &::before {
        display: block;
        bottom: 0;
        transform: translateY(3px);
      }

      &::after {
        bottom: 0;
        border-bottom-width: 2px;
      }
    }
  }
}
