@import '~@hi-ui/core-css/lib/index.scss';

$prefix: '#{$component-prefix}-tree' !default;

.#{$prefix} {
  @include component-reset;

  list-style-type: none;

  // 控制折叠收起动画
  &-motion-node {
    transition: all 0.3s ease;
    overflow-y: hidden;
  }

  // &-motion {
  //   &-enter {
  //     opacity: 0;
  //     transform: translate3D(20px, 0, 0);
  //   }

  //   &-enter-active {
  //     opacity: 1;
  //     transform: translate3D(0, 0, 0);
  //   }

  //   &-enter-done {
  //     opacity: 1;
  //     transform: translate3D(0, 0, 0);
  //   }

  //   &-exit {
  //     opacity: 1;
  //     transform: translate3D(0, 0, 0);
  //   }

  //   &-exit-active {
  //     opacity: 0;
  //     transform: translate3D(20px, 0, 0);
  //   }

  //   &-exit-done {
  //     opacity: 0;
  //     transform: translate3D(20px, 0, 0);
  //   }
  // }
}

.#{$prefix}-node {
  position: relative;
  color: use-color('gray-80');
  cursor: pointer;
  // 节点间隔控制
  padding: 4px 0;

  // 用于选中涂色
  &__wrap {
    display: flex;
    align-items: center;
    justify-items: stretch;
    border-radius: 4px;
    padding: 0 4px;

    &:hover {
      background-color: use-color('primary-20');
    }

    &.dragging {
      // cursor: move;
      opacity: 0.7;
    }
  }

  &__indent {
    display: inline-block;
    width: 22px;
    height: 100%;
  }

  &__switcher {
    margin-left: -4px;
    height: 100%;

    &--loading {
      color: use-color('primary');
    }
  }

  &__title {
    flex: 1;
    display: inline-flex;
    align-items: center;
    position: relative;
    min-height: 32px;
    line-height: $line-height-size-large;
    font-size: $font-size-normal;
    cursor: inherit;
    color: inherit;
    background-color: transparent;

    // 拖拽指示器-小圆球
    &::before {
      position: absolute;
      left: 0;
      z-index: 9999;
      display: none;
      box-sizing: border-box;
      width: 8px;
      height: 8px;
      content: '';
      background: #fff;
      border: 1px solid use-color('primary');
      border-radius: 100%;
    }

    // 拖拽指示器-线条
    &::after {
      position: absolute;
      content: '';
      // TODO: zIndex 全局约定设置
      z-index: 9998;
      display: block;
      box-sizing: border-box;
      border-bottom-width: 0;
      border-bottom-style: solid;
      border-bottom-color: use-color('primary');
      left: 0;
      width: 100%;
    }
  }

  $this: &;

  &:focus {
    outline: 0;
    color: use-color('gray-80');

    #{$this}__title {
      background: use-color('primary-20');
    }
  }

  // &--open {
  //   #{$this}-switcher__icon {
  //     transform: rotate(0);
  //   }
  // }

  // &--closed {
  //   #{$this}-switcher__icon {
  //     transform: rotate(-90deg);
  //   }
  // }

  // 线性连接展示
  &--linear {
    position: relative;

    #{$this}__indent {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        width: 1px;
        height: calc(100% + 8px);
        background-color: #eee;
        left: 8px;
        top: -8px;
      }

      &--tail {
        &::before {
          content: '';
        }
      }
    }
  }

  // TODO: 约定好组件的修饰词和元素书写顺序
  &--selected {
    #{$this}__wrap {
      background: use-color('primary-20');

      #{$this}__title {
        color: #4284F5;
      }
    }
  }

  &--disabled {
    cursor: not-allowed;
    color: use-color('gray-50');

    #{$this}__title {
      &:hover {
        background: use-color('white');
      }
    }

    &#{$this}--selected {
      color: use-color('gray-50');

      #{$this}__title {
        background: use-color('white');

        &:hover {
          background: use-color('white');
        }
      }
    }
  }

  &--drag-before {
    #{$this}__title {
      &::before {
        display: block;
        top: 0;
        transform: translateY(-3px);
      }

      &::after {
        top: 0;
        border-bottom-width: 1px;
      }
    }
  }

  &--drag-inside {
    #{$this}__title {
      background: use-color('primary');
      color: use-color('white');
    }
  }

  &--drag-after {
    #{$this}__title {
      &::before {
        display: block;
        bottom: 0;
        transform: translateY(3px);
      }

      &::after {
        bottom: 0;
        border-bottom-width: 1px;
      }
    }
  }
}

// TODO: 迁移
.hi-v4-tree--icon-loading {
  animation-name: hi-rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes hi-rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
