@import '../../core-css/index.scss';
$search: 'hi-search' !default;

.#{$search} {
  display: inline-block;

  &_input {
    display: flex;

    .hi-input__inner {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      &:hover {
        .hi-btn {
          border-left-color: transparent;
        }
      }
    }

    .hi-btn {
      border-left-color: transparent;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      &:hover:not(.disabled) {
        border-color: use-color('primary');
      }

      &:focus {
        box-shadow: none;
      }
    }
  }

  .hi-icon.icon-search {
    color: use-color('primary');
  }

  &_dropdown {
    ul {
      margin: 0;
      padding: 0;
    }

    li {
      margin: 0;
      list-style: none;
    }

    p {
      margin: 0;
      padding: 0;
    }

    width: 100%;
    height: 252px;
    font-size: 12px;
    color: use-color('black');
    overflow-x: hidden;
    overflow-y: auto;
    background-color: use-color('white');
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    box-sizing: border-box;
    text-align: left;
    margin-top: -4px;

    &--item {
      flex: none;
      display: block;
      line-height: 36px;
      margin: 0;
      font-weight: 400;
      cursor: pointer;
      list-style: none;
      transition: all 0.3s ease;
      text-overflow: ellipsis;
      white-space: nowrap;

      &_normal {
        display: block;
        line-height: 36px;
        padding: 0 12px;

        &:hover:not(.hi-search_dropdown--item-title) {
          background-color: rgba(use-color('primary'), 0.08);
        }
      }

      &-title {
        color: use-color('gray-50');
        font-size: 14px;
      }

      &-history {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 12px;
        color: use-color('gray-50');
        font-size: 14px;
      }

      &-nodata {
        height: 260px;
        line-height: 260px;
        text-align: center;
        color: use-color('gray-50');
        font-size: 14px;
      }

      &__name-hightlight {
        color: use-color('primary');
      }
    }

    &--more {
      line-height: 36px;
      margin: 0;
      font-weight: 400;
      cursor: pointer;
      font-size: 12px;
      text-align: center;
    }
  }
}
