.hi-timepicker {
  width: 180px;
  background: #fff;

  &__timebody {
    display: flex;
    justify-content: space-around;
    height: 195px;
    border-bottom: 1px solid #f2f2f2;
  }

  &__time-list {
    overflow: auto;
    flex: 1;

    &-el {
      text-align: center;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.65);
      line-height: 22px;
      padding: 8px;
      border-right: 1px solid #f2f2f2;
      cursor: pointer;

      &_current {
        background: #f7f7f7;
        font-weight: bold;
      }
    }
  }

  &__time-footer {
    padding: 2px 0;
    text-align: right;

    button {
      margin-right: 4px;
    }
  }
}
