@import '~@hi-ui/core-css/lib/index.scss';

$prefix: '#{$component-prefix}-popover' !default;

.#{$prefix} {
  @include text-reset();

  color: use-color('gray', 900);
  background: use-color-static('white');

  &__title {
    padding: use-spacing(4) use-spacing(8);
    border-bottom: use-border-size('normal') use-color('gray', 200);
  }

  &__content {
    padding: use-spacing(4)  use-spacing(8);
  }
}
