@import '../../core-css/index.scss';

$tree: 'hi-tree' !default;

.#{$tree}__menu {
  background: use-color('white');
  width: 120px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 4px 0;
  margin: 0 0 0 4px;
  font-size: $font-size-normal;

  li.menu-item {
    list-style: none;
    padding: 0 15px;
    height: 36px;
    line-height: 36px;
    transition: background 0.3s;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &:hover {
      background: use-color('primary-20');
    }
  }
}

.#{$tree} {
  color: use-color('gray-80');

  &__searcher {
    position: relative;

    .searcher__result--empty {
      position: absolute;
      left: 24px;
      top: 34px;
      font-size: 12px;
      color: use-color('gray-70');
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  ul:not(.root-list) {
    padding: 0 16px;
  }

  .tree-node {
    display: flex;
    align-items: center;
    padding-bottom: 4px;

    .hi-btn--loading--icon {
      margin-top: -6px;

      svg {
        fill: use-color('primary');
      }
    }

    &__indent {
      width: 24px;
      height: 100%;
      display: inline-block;
    }

    &--line {
      position: relative;

      span:last-of-type {
        .tree-node__indent {
          &::after {
            content: '';
            position: absolute;
            width: 50%;
            height: 1px;
            background-color: use-color('gray-70');
            left: calc(50% - 4px);
            top: 50%;
          }
        }
      }

      .tree-node__indent {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          width: 1px;
          height: calc(100% + 4px);
          background-color: use-color('gray-70');
          left: 8px;
        }

        &--parent-tail {
          &::before {
            content: none;
          }
        }

        &--tail {
          &::before {
            height: calc(50%);
            content: '' !important;
          }
        }
      }
    }

    &__title {
      display: flex;
      flex: 1;
      border-radius: 1px;

      .title__text {
        height: $line-height-size-large;
        line-height: $line-height-size-large;
        font-size: $font-size-normal;
        padding: 0 4px;
        cursor: pointer;

        &:hover {
          background: use-color('primary-20');
          color: use-color('gray-80');
        }

        &--matched {
          color: use-color('primary');
        }

        &--selected {
          background: use-color('primary-40');

          &:hover {
            background: use-color('primary-40');
          }
        }
      }

      &--editing {
        display: flex;
        flex: 1;
        align-items: center;

        .save-btn {
          cursor: pointer;
          margin-right: 12px;
          color: use-color('primary');

          & + &--disabled {
            cursor: not-allowed;
            color: use-color('gray-70');
          }
        }

        span {
          display: inline-block;
        }
      }

      &--draggable {
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
      }

      &--disabled {
        cursor: not-allowed;
        color: use-color('gray-50');

        .title__text {
          cursor: not-allowed;

          &:hover {
            background: use-color('white');
            color: use-color('gray-50');
          }

          &--selected {
            background: use-color('white');
            color: use-color('gray-50');

            &:hover {
              background: use-color('white');
              color: use-color('gray-50');
            }
          }
        }
      }

      &--up {
        border-top: 2px solid use-color('primary');
      }

      &--in {
        background: use-color('primary');
        color: use-color('white');
      }

      &--down {
        border-bottom: 2px solid use-color('primary');
      }
    }
  }
}
