$tree: 'hi-editor-tree' !default;
$fontColor: #383e47 !default;
$mainColor: #4284f5 !default;
$hoverColor: rgba(66, 133, 244, 0.08) !default;

.#{$tree}__menu {
  background: #fff;
  width: 120px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 4px 0;
  margin: 0 0 0 4px;
  font-size: 14px;

  li.menu-item {
    list-style: none;
    padding: 0 15px;
    height: 36px;
    line-height: 36px;
    transition: background 0.3s;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &:hover {
      background: $hoverColor;
    }
  }
}

.#{$tree} {
  color: $fontColor;

  &__searcher {
    position: relative;

    .searcher__result--empty {
      position: absolute;
      left: 24px;
      top: 34px;
      font-size: 12px;
      color: #999;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  ul:not(.root-list) {
    padding: 0 16px;
  }

  .tree-node {
    display: flex;
    align-items: center;
    padding-bottom: 4px;
    align-items: center;

    &__title {
      display: flex;
      flex: 1;
      border-radius: 1px;

      .title__text {
        height: 24px;
        line-height: 24px;
        font-size: 14px;
        padding: 0 4px;

        &:hover {
          background: $hoverColor;
          color: #383e47;
        }

        &--selected {
          background: $mainColor;
          color: #fff;

          &:hover {
            background: $mainColor;
            color: #fff;
          }
        }
      }

      &--editing {
        display: flex;
        flex: 1;
        align-items: center;

        span {
          display: inline-block;
        }
      }

      &--draggable {
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
      }

      &--up {
        border-top: 2px solid $mainColor;
      }

      &--in {
        background: $mainColor;
        color: #fff;
      }

      &--down {
        border-bottom: 2px solid $mainColor;
      }
    }
  }
}
