@import '@hi-ui/core-css/index.scss';

$prefix: 'hi-tag' !default;
$primary: get-color($palette-primary, 'hiui-blue') !default;

.#{$prefix} {
  padding: 0 5px;
  color: #fff;
  line-height: 20px;
  box-sizing: border-box;
  border: 1px solid $primary;
  border-color: transparent;
  margin-right: 8px;
  border-radius: 2px;
  background: $primary;
  font-size: 12px;
  display: inline-block;

  &.#{$prefix}--line {
    border: 1px solid $primary;
    color: $primary;
    background: #fff;

    @each $key in 'success', 'danger', 'warning' {
      &.#{$prefix}--#{$key} {
        $status-color: map-get(get-palette(get-color($palette-secondary, $key)), '50');

        border: 1px solid $status-color;
        color: $status-color;
      }
    }
  }

  @each $key in 'success', 'danger', 'warning' {
    &--#{$key} {
      $status-color: map-get(get-palette(get-color($palette-secondary, $key)), '50');

      background: $status-color;
    }
  }
}
