@import '@hi-ui/core-css/index.scss';

$prefix: 'hi-tag' !default;
$primary: get-color($palette-primary, 'hiui-blue') !default;

.#{$prefix} {
  padding: 0 6px;
  color: #fff;
  line-height: 20px;
  box-sizing: border-box;
  border: 1px solid $primary;
  border-color: transparent;
  margin-right: 4px;
  margin-left: 4px;
  border-radius: 11px;
  background: $primary;
  font-size: 12px;
  display: inline-block;

  &.#{$prefix}--default {
    background: #999;
  }

  &.#{$prefix}--line {
    border: 1px solid $primary;
    color: $primary;
    background: #fff;

    @each $key in 'success',
      'danger',
    'warning' {
      &.#{$prefix}--#{$key} {
        $status-color: map-get(get-palette(get-color($palette-secondary, $key)), '50');

        border: 1px solid $status-color;
        color: $status-color;
      }
    }

    &.#{$prefix}--default {
      border: 1px solid #999;
      color: #999;
    }
  }

  &.#{$prefix}--hasIcon {
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(224, 225, 226, 1);
    color: #333;

    .hi-icon {
      margin-left: 3px;
      cursor: pointer;
    }
  }

  @each $key in 'success',
    'danger',
  'warning' {
    &--#{$key} {
      $status-color: map-get(get-palette(get-color($palette-secondary, $key)), '50');

      background: $status-color;
    }
  }
}
