@import '@hi-ui/core-css/index.scss';

$prefix: 'hi-tag' !default;
$primary: get-color($palette-primary, 'hiui-blue') !default;

.#{$prefix} {
  padding: 0 5px;
  color: #fff;
  line-height: 20px;
  box-sizing: border-box;
  border: 1px solid $primary;
  border-color: transparent;
  margin-right: 8px;
  border-radius: 2px;
  background: $primary;
  font-size: 12px;
  display: inline-block;

  &--line {
    border: 1px solid $primary;
    color: $primary;
    background: #fff;
  }

  &--primary {
    background: $primary;
  }
}
