@import '@hi-ui/core-css/index.scss';

$prefix: 'hi-tag' !default;
$primary: get-color($palette-primary, 'hiui-blue') !default;
$normal: #999 !default;

.#{$prefix} {
  &__container {
    height: $line-height-size-normal;
    display: inline-block;
    vertical-align: middle;
    padding: 0 6px;
    font-size: $font-size-small;
    box-sizing: border-box;
    text-align: center;
    line-height: $line-height-size-normal;
    -webkit-font-smoothing: antialiased;
    border-radius: 2px;

    & + & {
      margin-left: 10px;
    }

    &--default {
      background: $primary;
      color: $white;

      &.#{$prefix}__container--normal {
        background: $normal;
      }

      @each $key in 'success', 'danger', 'warning' {
        &.#{$prefix}__container--#{$key} {
          $status-color: map-get(get-palette(get-color($palette-secondary, $key)), '50');

          background: $status-color;
        }
      }
    }

    &--line {
      background: transparent;
      border: 1px solid $primary;
      color: $primary;
      padding: 0 5px;
      line-height: $line-height-size-normal - 2;

      &.#{$prefix}__container--normal {
        border: 1px solid $normal;
        color: $normal;
      }

      @each $key in 'success', 'danger', 'warning' {
        &.#{$prefix}__container--#{$key} {
          $status-color: map-get(get-palette(get-color($palette-secondary, $key)), '50');

          border: 1px solid $status-color;
          color: $status-color;
        }
      }
    }

    &--click {
      cursor: pointer;
    }
  }
}

@each $key, $value in $theme-colors {
  .theme__#{$key}.hi-tag__container--primary.hi-tag__container--default {
    background: $value;
  }

  .theme__#{$key}.hi-tag__container--primary.hi-tag__container--line {
    border: 1px solid $value;
    color: $value;
  }
}
