@import '~@hi-ui/core-css/lib/index.scss';

$prefix: '#{$component-prefix}-switch' !default;
$gap: 2px !default;

.#{$prefix} {
  display: inline-flex;
  border-radius: use-border-radius('full');
  cursor: pointer;
  position: relative;
  align-items: center;
  flex: none;
  flex-shrink: 0;
  width: fit-content;
  vertical-align: middle;

  &:not(.#{$prefix}--disabled) {
    background: use-color-mode('primary');
  }

  &--closed:not(.#{$prefix}--disabled) {
    background: use-color('gray', 400);
  }

  &--open.#{$prefix}--disabled {
    background: use-color-mode('primary', 200);
  }

  &--closed.#{$prefix}--disabled {
    background: use-color('gray', 200);
  }

  &--disabled {
    cursor: not-allowed;
  }

  &__handle {
    position: absolute;
    inset-block-start: $gap;
    border-radius: use-border-radius('full');
    box-shadow: use-shadow('sm');
    background: use-color-static('white');

    // @animation
    transition-duration: use-motion-duration('normal');
    transition-timing-function: use-motion-bezier('normal');
    transition-property: all;
    will-change: left;
  }

  &__text {
    color: use-color-static('white');
    user-select: none;

    // @animation
    transition-duration: use-motion-duration('normal');
    transition-timing-function: use-motion-bezier('normal');
    transition-property: all;
    will-change: margin;
  }

  &--closed {
    .#{$prefix}__handle {
      inset-inline-start: $gap;
    }
  }

  &--size-sm {
    $handle-size: use-height-size(3);

    min-width: use-height-size(7);
    height: calc(#{$handle-size} + $gap * 2);

    .#{$prefix}__handle {
      width: $handle-size;
      height: $handle-size;
      inset-block-start: calc(50% - #{$handle-size} / 2);
    }

    &.#{$prefix}--open {
      .#{$prefix}__handle {
        inset-inline-start: calc(100% - #{$handle-size} - $gap);
      }

      .#{$prefix}__text {
        margin: 0 calc(#{use-spacing(5)} + 1px) 0 1px;
      }
    }

    &.#{$prefix}--closed {
      .#{$prefix}__text {
        margin: 0 1px 0 calc(#{use-spacing(5)} + 1px);
      }
    }

    .#{$prefix}__text {
      font-size: 20px;
      transform: scale(0.5);
    }
  }

  &--size-md {
    $handle-size: calc(#{use-height-size(3)} + 2px);

    min-width: use-height-size(8);
    height: calc(#{$handle-size} + $gap * 2);

    .#{$prefix}__handle {
      width: $handle-size;
      height: $handle-size;
      inset-block-start: calc(50% - #{$handle-size} / 2);
    }

    &.#{$prefix}--open {
      .#{$prefix}__handle {
        inset-inline-start: calc(100% - #{$handle-size} - $gap);
      }

      .#{$prefix}__text {
        margin: 0 use-spacing(9) 0 use-spacing(3);
      }
    }

    &.#{$prefix}--closed {
      .#{$prefix}__text {
        margin: 0 use-spacing(3) 0 use-spacing(9);
      }
    }

    .#{$prefix}__text {
      font-size: use-text-size('sm');
    }
  }

  &--size-lg {
    $handle-size: calc(#{use-height-size(4)} + 2px);

    min-width: use-height-size(10);
    height: calc(#{$handle-size} + $gap * 2);

    .#{$prefix}__handle {
      width: $handle-size;
      height: $handle-size;
      inset-block-start: calc(50% - #{$handle-size} / 2);
    }

    &.#{$prefix}--open {
      .#{$prefix}__handle {
        inset-inline-start: calc(100% - #{$handle-size} - $gap);
      }

      .#{$prefix}__text {
        margin: 0 use-spacing(11) 0 use-spacing(3);
      }
    }

    &.#{$prefix}--closed {
      .#{$prefix}__text {
        margin: 0 use-spacing(3) 0 use-spacing(11);
      }
    }

    .#{$prefix}__text {
      font-size: use-text-size('md');
    }
  }
}
