@import '~@hi-ui/core-css/lib/index.scss';

$prefix: '#{$component-prefix}-switch' !default;

.#{$prefix} {
  &:not(.#{$prefix}--disabled):focus {
    outline: 0;
    z-index: 1;
    box-shadow: 0 0 0 2px use-color-mode('primary-20');
  }

  display: inline-flex;
  min-width: 40px;
  height: use-height-size('sm');
  border-radius: use-border-radius('full');
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  flex: none;

  &:not(.#{$prefix}--disabled) {
    background: use-color-mode('primary');
  }

  &--closed:not(.#{$prefix}--disabled) {
    background: use-color('gray', 300);
  }

  &--closed.#{$prefix}--disabled {
    background: use-color-mode('primary-05');
  }

  &--disabled {
    background: use-color('gray', 100);
    cursor: not-allowed;
  }

  &::after {
    content: '';
    width: use-height-size('xs');
    height: use-height-size('xs');
    background: use-color-static('white');
    position: absolute;
    border-radius: use-border-radius('full');
    top: calc((#{use-height-size('sm')} - #{use-height-size('xs')}) / 2);
    left: calc(100% - #{use-height-size('xs')} - #{use-spacing(2)});
    transition: all 200ms linear;
  }

  &__text {
    color: use-color-static('white');
    font-size: use-text-size('sm');
    line-height: use-height-size('sm');
    transition: all 200ms linear;
    margin: 0 use-spacing(11) 0 use-spacing(4);
    user-select: none;
  }

  &--closed {
    &::after {
      left: use-spacing(2);
    }

    .#{$prefix}__text {
      margin: 0 use-spacing(4) 0 use-spacing(11);
    }
  }
}
