@import '~@hi-ui/core-css/lib/index.scss';

$prefix: '#{$component-prefix}-switch' !default;

.#{$prefix} {
  // &:not(.#{$prefix}--disabled):focus {
  //   outline: 0;
  //   z-index: 1;
  //   box-shadow: 0 0 0 2px use-color-mode('primary', 200);
  // }

  display: inline-flex;
  border-radius: use-border-radius('full');
  cursor: pointer;
  position: relative;
  align-items: center;
  flex: none;
  flex-shrink: 0;
  width: fit-content;

  &:not(.#{$prefix}--disabled) {
    background: use-color-mode('primary');
  }

  &--closed:not(.#{$prefix}--disabled) {
    background: use-color('gray', 400);
  }

  &--open.#{$prefix}--disabled {
    background: use-color-mode('primary', 200);
  }

  &--closed.#{$prefix}--disabled {
    background: use-color('gray', 200);
  }

  &--disabled {
    cursor: not-allowed;
  }

  &__handle {
    position: absolute;
    top: use-spacing(1);
    border-radius: use-border-radius('full');
    box-shadow: use-shadow('sm');
    background: use-color-static('white');

    // @animation
    transition-duration: use-motion-duration('normal');
    transition-timing-function: use-motion-bezier('normal');
    transition-property: all;
    will-change: left;
  }

  &__text {
    color: use-color-static('white');
    user-select: none;

    // @animation
    transition-duration: use-motion-duration('normal');
    transition-timing-function: use-motion-bezier('normal');
    transition-property: all;
    will-change: margin;
  }

  &--closed {
    .#{$prefix}__handle {
      left: use-spacing(1);
    }
  }

  &--size-sm {
    min-width: use-height-size(7);
    height: use-height-size(4);

    .#{$prefix}__handle {
      width: use-height-size(3);
      height: use-height-size(3);
    }

    &.#{$prefix}--open {
      .#{$prefix}__handle {
        left: calc(100% - #{use-height-size(3)} - #{use-spacing(1)});
      }

      .#{$prefix}__text {
        margin: 0 calc(#{use-spacing(5)} + 1px) 0 1px;
      }
    }

    &.#{$prefix}--closed {
      .#{$prefix}__text {
        margin: 0 1px 0 calc(#{use-spacing(5)} + 1px);
      }
    }

    .#{$prefix}__text {
      font-size: 20px;
      transform: scale(0.5);
    }
  }

  &--size-md {
    min-width: use-height-size(8);
    height: calc(#{use-height-size(4)} + 2px);

    .#{$prefix}__handle {
      width: calc(#{use-height-size(3)} + 2px);
      height: calc(#{use-height-size(3)} + 2px);
    }

    &.#{$prefix}--open {
      .#{$prefix}__handle {
        left: calc(100% - #{use-height-size(3)} - 2px - #{use-spacing(1)});
      }

      .#{$prefix}__text {
        margin: 0 use-spacing(9) 0 use-spacing(3);
      }
    }

    &.#{$prefix}--closed {
      .#{$prefix}__text {
        margin: 0 use-spacing(3) 0 use-spacing(9);
      }
    }

    .#{$prefix}__text {
      font-size: use-text-size('sm');
    }
  }

  &--size-lg {
    min-width: use-height-size(10);
    height: calc(#{use-height-size(5)} + 2px);

    .#{$prefix}__handle {
      width: calc(#{use-height-size(4)} + 2px);
      height: calc(#{use-height-size(4)} + 2px);
    }

    &.#{$prefix}--open {
      .#{$prefix}__handle {
        left: calc(100% - #{use-height-size(4)} - 2px - #{use-spacing(1)});
      }

      .#{$prefix}__text {
        margin: 0 use-spacing(11) 0 use-spacing(3);
      }
    }

    &.#{$prefix}--closed {
      .#{$prefix}__text {
        margin: 0 use-spacing(3) 0 use-spacing(11);
      }
    }

    .#{$prefix}__text {
      font-size: use-text-size('md');
    }
  }
}
