@import '@hi-ui/core-css/index.scss';
@import '../../core-css/index.scss';

@mixin hi-switch-style($color: get-color($palette-primary, 'hiui-blue')) {
  & {
    &--disabled {
      &::after {
        background: map-get(get-palette($color), 'g50');
      }
    }
  }
}

.hi-switch {
  display: inline-block;
  min-width: 48px;
  height: 20px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  background: use-color('primary');

  &--closed,
  &--disabled {
    background: use-color('gray-50');
  }

  &::after {
    content: '';
    width: 16px;
    height: 16px;
    background: use-color('white');
    position: absolute;
    border-radius: 50%;
    top: 2px;
    left: 100%;
    transform: translateX(-100%);
    margin-left: -2px;
    transition: all 200ms linear;
  }

  &__text {
    color: use-color('white');
    font-size: $font-size-small;
    position: absolute;
    top: 0;
    line-height: 20px;
    left: 6px;
    transition: all 200ms linear;
    user-select: none;
  }

  &--closed {
    &::after {
      left: 2px;
      transform: translateX(2px);
    }

    .hi-switch__text {
      left: auto;
      right: 6px;
    }
  }

  &--disabled {
    cursor: not-allowed;
  }
}
