@import '@hi-ui/core-css/index.scss';

// Rows
.hi-grid__row {
  position: relative;
  box-sizing: border-box;
  display: flex;

  &--gutter {
    margin-left: $spacer-3 * -1;
    margin-right: $spacer-3 * -1;
  }

  + .hi-grid__row {
    margin-top: 24px;
  }
}

// Columns
.hi-grid__col--gutter {
  padding: 0 $spacer-3;
}

@for $i from 1 through 24 {
  .hi-grid__col-#{$i} {
    box-sizing: border-box;
    width: ($i / 24) * 100%;
  }

  .hi-grid__offset-#{$i} {
    margin-left: ($i / 24) * 100%;
  }
}
