@import '@hi-ui/core-css/index.scss';

.hi-form {
  position: relative;

  fieldset {
    margin: 0;
    padding: 0;
    border: 0;

    & + fieldset {
      margin-top: 16px;
    }
  }

  legend {
    margin: 0 0 16px;
    color: $gray-darker;
  }

  &__title {
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 400;
  }
}

.hi-form-item {
  font-size: $font-size-normal;
  margin-right: $spacer-2;
  // padding: $spacer-2 0;
  padding: $spacer-3 0;

  .hi-form--inline & {
    display: inline-block;
    vertical-align: top;
  }

  &__label {
    float: left;
    box-sizing: border-box;
    padding-right: $spacer-2;
    line-height: 32px;
    vertical-align: top;
    color: $gray-darker;

    .hi-form--label--left & {
      text-align: left;
    }

    .hi-form--label--right & {
      text-align: right;
    }

    .hi-form--label--top & {
      float: none;
      padding-right: 0;
      text-align: left;
    }
  }

  &__content {
    position: relative;
    vertical-align: top;
  }

  &__error {
    .hi-input__inner {
      border-color: get-color($palette-secondary, 'danger');
    }
  }

  &--msg__error {
    position: absolute;
    top: 100%;
    bottom: 0;
    font-size: $font-size-small;
    line-height: 24px;
    white-space: nowrap;
    color: get-color($palette-secondary, 'danger');

    .hi-form--inline & {
      top: 36px;
      left: 0;
      line-height: 18px;
    }
  }

  &--required {
    .hi-form-item__label::before {
      margin-right: $spacer-1;
      content: '*';
      color: get-color($palette-secondary, 'danger');
    }
  }

  &--fixed {
    position: absolute;
    top: 0;
    right: 0;
  }
}
