.hi-form-item{
  margin-bottom:20px;

  &:before{
    display: table;
    content: "";
  }

  &:after{
    display: table;
    content: "";
    clear: both;
  }

  &.is-required {
    .hi-form-item_label:before {
      content: '*';
      color: #ff4949;
      margin-right: 4px;
    }
  }


  .hi-form-item_label{
    text-align: right;
    vertical-align: middle;
    float: left;
    font-size: 14px;
    line-height: 1;
    color: #606266;
    padding: 9px 12px 9px 0;
    box-sizing: border-box;
  }

  .hi-form-item__content{
    position: relative;
    font-size: 14px;

    &:before{
      display: table;
      content: "";
    }

    &:after{
      display: table;
      content: "";
    }
  }
}
.hi-form-label-top .hi-form-item{
  .hi-form-item_label{
    float: none;
    display: inline-block;
    text-align: left;
    padding: 0 0 8px;
  }
}

.hi-form-label-left .hi-form-item {
  .hi-form-item_label {
    text-align: left;
  }
}

.hi-form-inline{
  .hi-form-item{
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
  }
}

.hi-form-item__error {
  position: absolute;
  top: 100%;
  left: 0;
  color: #ff4949;
  font-size: 12px;
  line-height: 1;
  padding-top: 4px;
}
