@import '@hi-ui/core-css/index.scss';

.hi-form {
  max-width: 100%;
  position: relative;

  fieldset {
    margin: 0;
    padding: 0;
    border: 0;

    & + fieldset {
      margin-top: 16px;
    }
  }

  legend {
    margin: 0 0 16px;
    color: $gray-darker;
  }

  &--inline {
    display: flex;
    flex-wrap: wrap;
  }

  &--readOnly {
    pointer-events: none;
  }

  &__title {
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 400;
  }

  &--label--left {
    .hi-form-item__label {
      text-align: left;
    }
  }

  &--label--right {
    .hi-form-item__label {
      text-align: right;
    }
  }

  &--label--top {
    padding-right: 0;
    text-align: left;

    &.hi-form--inline {
      // 上下布局只在水平表单中自动填充高度
      .hi-form-item__span {
        min-height: 32px;
      }
    }

    .hi-form-item {
      flex-direction: column;

      .hi-form-item__label {
        height: 22px;
        padding-right: 8px;
        margin-bottom: 8px;
      }
    }
  }
}

.hi-form-item {
  display: flex;
  font-size: $font-size-normal;
  margin-right: $spacer-2;

  &__label,
  &__span {
    flex-shrink: 0;
    box-sizing: border-box;
    vertical-align: top;
    color: $gray-darker;
    overflow-wrap: break-word;
  }

  &__label {
    min-height: 32px;
    padding-right: $spacer-2;
    line-height: 32px;
  }

  &__content {
    flex: 1;
    position: relative;
    vertical-align: top;
    min-height: 32px;

    p {
      margin: 0;
      padding: 0;
      line-height: 32px;
    }
  }

  &__error {
    .hi-form-item__content {
      .hi-input__inner,
      .hi-select__input,
      .hi-cascader__input-container,
      .hi-datepicker__input,
      .tree-select__tag-wrapper,
      .hi-input {
        border-color: get-color($palette-secondary, 'danger');
      }
    }
  }

  &--msg__error {
    font-size: $font-size-small;
    min-height: 24px;
    padding: 2px 0;
    box-sizing: border-box;
    line-height: 20px;
    transition: all 0.3s;
    transform: translateY(-50%);
    opacity: 0;
    color: get-color($palette-secondary, 'danger');

    &__show {
      opacity: 1;
      transform: translateY(0);
    }

    .hi-form--inline & {
      top: 36px;
      left: 0;
      line-height: 18px;
    }
  }

  &--required {
    .hi-form-item__label::before {
      margin-right: $spacer-1;
      content: '*';
      color: get-color($palette-secondary, 'danger');
    }
  }

  &--fixed {
    position: absolute;
    top: 0;
    right: 0;
  }
}
