@import '~@hi-ui/core-css/lib/index.scss';

$prefix: '#{$component-prefix}-message' !default;

.#{$prefix} {
  box-sizing: border-box;
  width: auto;
  padding: 8px 20px;
  margin: 6px;
  border-radius: 8px;
  pointer-events: auto;
  box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  font-size: $font-size-normal;
  line-height: $line-height-size-normal;

  &--type {
    &-info {
      background-color: use-color('primary-20');
      color: use-color('primary-50');

      svg {
        fill: use-color('primary');
      }
    }

    &-success {
      background-color: use-color('success-20');
      color: use-color('success-50');

      svg {
        color: use-color('success');
      }
    }

    &-error {
      background-color: use-color('danger-20');
      color: use-color('danger-50');

      svg {
        color: use-color('danger');
      }
    }

    &-warning {
      background-color: use-color('warning-20');
      color: use-color('warning-50');

      svg {
        color: use-color('warning');
      }
    }
  }

  $transition-duration: 0.3s;
  $transition-height-delay: 0.21s;
  $transition-height-duration: 0.2s;

  &-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    transform: translateY(-100%);
    transform-origin: 50% 50% 0;
    overflow: hidden;
    opacity: 1;
    transition: transform $transition-duration, opacity $transition-duration, height $transition-height-duration ease-out $transition-height-delay;
  }

  &--motion {
    &-enter {
      transform: translateY(-100%);
    }

    &-enter-active {
      transform: translateY(0%);
    }

    &-enter-done {
      transform: translateY(0%);
    }

    &-exit {
      transform: translateY(0%);
      opacity: 1;
    }

    &-exit-active {
      transform: translateY(0%) scale(0.84, 0.84);
      opacity: 0;
    }

    &-exit-done {
      visibility: hidden;
      opacity: 0;
    }
  }

  svg {
    margin-right: 8px;
    font-size: 16px;
  }
}
