@import '../../style/index.scss';

.hi-alert-legacy {
  position: relative;
  padding: 12px;
  background: #ebf2fd;
  border: 1px solid #b3cdfb;
  border-radius: 2px;
  color: #4284f5;
  font-size: 14px;
  overflow: hidden;
  min-width: 280px;
  display: block;

  .icon-contain {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    font-size: 0;
    color: #4284f5;

    .hi-icon {
      font-size: 20px;
    }
  }

  .text-contain {
    margin: 0 32px;
    font-weight: 400;

    .text-title {
      font-size: 14px;
      margin-bottom: 4px;
    }

    .text-message {
      font-size: 12px;
    }
  }

  .close-btn {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    font-size: 0;
    cursor: pointer;

    .hi-icon {
      font-size: 14px;
      color: #999;
    }
  }

  &.info {
    // 都是默认的
  }

  &.error {
    background: #fceded;
    border: 1px solid #f7b9b9;
    color: #eb5252;

    .icon-contain {
      color: #eb5252;
    }
  }

  &.success {
    background: #e8f6ee;
    border: 1px solid #a4dbba;
    color: #1da653;

    .icon-contain {
      color: #1da653;
    }
  }

  &.warning {
    background: #fbf5e6;
    border: 1px solid #f3d79d;
    color: #e19d0c;

    .icon-contain {
      color: #e19d0c;
    }
  }

  &.noTitle {
    //width: 280px;
    .text-contain {
      .text-message {
        font-size: 14px;
      }
    }
  }
}
