table {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  width: 100%;
  border-radius: 2px;
  border-collapse: collapse;
  border: 1px solid #e7e7e7;
  line-height: 22px;
  color: #666;
  margin-top: 16px;
}

table:not(.no-border):not(.no-vertical-border) tr > td:first-of-type {
  color: #3b77db;
}

table:not(.no-border):not(.no-vertical-border) td {
  padding: 20px 9px;
  border: 1px solid #e7e7e7;
}

table:not(.no-border):not(.no-vertical-border) th {
  text-align: left;
  border: 1px solid #e7e7e7;
  padding: 20px 10px;
  background: #f6f6f6;
}

table:not(.no-border):not(.no-vertical-border) tr > td:nth-of-type(3) {
  color: #e65069;
}

.sbdocs {
  margin-top: 20px;
}
#root {
  margin-top: 60px;
}
