@import '~@hi-ui/core-css/lib/index.scss';

$tag-input-prefix: '#{$component-prefix}-tag-input' !default;

.#{$tag-input-prefix} {
  position: relative;
  flex: 1;

  &__container {
    box-sizing: border-box;
    width: 100%;
    min-width: 160px;
    font-size: use-text-size('normal');
    vertical-align: middle;
    color: use-color-static('black');
    border: use-border-size('normal') transparent;
    background-color: use-color-static('white');
    transition: all 0.3s;
    padding: use-spacing(2) use-spacing(5);
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    min-height: use-height-size(8);
    overflow: hidden;

    // outline
    border-color: use-color('gray', 400);
    border-radius: use-border-radius('md');

    &:not(.disabled):hover {
      border-color: use-color-mode('primary');
    }

    &:not(.disabled).focused {
      // box-shadow: 0 0 0 1px use-color-mode('primary');
      border-color: use-color-mode('primary');
    }

    &.disabled {
      cursor: not-allowed;
      color: use-color('gray', 600);
      background-color: use-color('gray', 200);

      .#{$tag-input-prefix}__tag {
        background-color: use-color('gray', 300);
      }
    }
  }

  &__placeholder {
    color: use-color('gray', 600);
  }

  &__suffix {
    font-size: use-text-size('lg');
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    min-width: use-width-size(8);
  }

  &__clear {
    display: inline-flex;
    align-items: center;
    width: use-width-size(4);
    height: use-height-size(4);
    font-size: use-text-size('normal');
    color: use-color('gray', 600);
    flex-shrink: 0;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      color: use-color-static('black');
    }
  }

  &__value {
    box-sizing: border-box;
    width: 100%;
    display: inline-flex;
    align-items: center;
    height: use-text-lineheight('normal');
    line-height: use-text-lineheight('normal');
  }

  &__tags {
    flex: 0 1 auto;
    // 用于自适应高度计算
    display: inline-block;
    // 右边临近放置 `+ count`
    width: fit-content;
    white-space: nowrap;
    height: 100%;
    box-sizing: border-box;
    margin-block-start: calc(-1 * #{use-spacing(2)});
    position: relative;
  }

  &__tag,
  &__tag--left {
    display: inline-block;
    margin-inline-end: use-spacing(2);
    box-sizing: border-box;
    padding: 0 use-spacing(4);
    vertical-align: middle;
    font-size: use-text-size('sm');
    color: #333;
    user-select: none;
    background-color: use-color('gray', 200);
    border-radius: use-border-radius('md');
  }

  &__tag--total {
    display: inline-block;
    margin-inline-end: use-spacing(3);
    box-sizing: border-box;
    padding: 0 use-spacing(4);
    vertical-align: middle;
    font-size: use-text-size('sm');
    user-select: none;
    background-color: use-color-mode('primary', 100);
    color: use-color-mode('primary');
    border-radius: use-border-radius('md');
    line-height: use-text-lineheight('normal');
    cursor: inherit;
  }

  &__tag {
    display: inline-flex;
    align-items: center;

    &-content {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      box-sizing: border-box;
    }

    &-closed {
      margin-inline-start: use-spacing(4);
      font-size: use-text-size('sm');
      box-sizing: border-box;
      color: rgba(142, 142, 142, 1);
      cursor: pointer;

      .disabled & {
        cursor: not-allowed;
      }
    }

    &--left {
      margin: 0;
      max-width: 54px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: middle;
      // margin-top: 1.5px;
    }
  }

  &--nowrap {
    .#{$tag-input-prefix}__value {
      width: calc(100% - 64px);
      overflow-x: hidden;
    }
  }

  &--wrap {
    .#{$tag-input-prefix}__value {
      height: auto;
    }

    .#{$tag-input-prefix}__tags {
      white-space: normal;
      margin-block-start: calc(-1 * #{use-spacing(2)});
    }

    .#{$tag-input-prefix}__tag {
      margin-block-start: use-spacing(2);
    }
  }

  &--expanded {
    position: relative;

    .#{$tag-input-prefix}__container__expand {
      position: absolute;
      inset-block-start: 0;
      inset-inline-start: 0;
      height: auto;
      z-index: 1;
      flex: 1;
      box-sizing: border-box;
      width: 100%;
      min-width: 160px;
      font-size: use-text-size('normal');
      vertical-align: middle;
      color: use-color-static('black');
      border: use-border-size('normal') transparent;
      background-color: use-color-statc('white');
      transition: all 0.3s;
      padding: 3px 0;
      display: inline-flex;
      justify-content: space-between;
      align-items: flex-start;
      min-height: use-height-size(8);
      overflow: hidden;
      border-radius: use-border-radius('md');
      border-color: use-color-mode('primary');

      .#{$tag-input-prefix}__value {
        height: fit-content;
        max-height: 74px;
        align-items: stretch;
        overflow: scroll;
        padding-inline-start: use-spacing(5);
      }

      .#{$tag-input-prefix}__tags {
        white-space: normal;
        margin-block-start: calc(-1 * #{use-spacing(2)});
      }

      .#{$tag-input-prefix}__tag {
        margin-block-start: use-spacing(2);
      }

      .#{$tag-input-prefix}__suffix {
        align-items: flex-start;
        padding: use-spacing(2) use-spacing(5) use-spacing(2) 0;
        position: sticky;
        inset-block-start: 0;
      }
    }
  }
}
