@import '@hi-ui/core-css/index.scss';

$table: 'hi-table' !default;
$bgColor: #f7fafe !default;

$miniHeight: 32px !default;
$miniFontSize: 14px !default;

$smallHeight: 44px !default;
$smallFontSize: 14px !default;

$normalHeight: 52px !default;
$nornamFontSize: 14px !default;

$largeHeight: 64px !default;
$largeFontSize: 14px !default;
$borderColor: #e6e7e8 !default;

.hi-table-header-menu-small {
  .hi-table-header-menu {
    p {
      height: $smallHeight;
    }
  }
}

.hi-table-header-menu-mini {
  .hi-table-header-menu {
    p {
      height: $miniHeight;
    }
  }
}

.#{$table} {
  td,
  th {
    box-sizing: border-box;
  }
  //width: 100%;
  &-container {
    position: relative;
  }

  .hi-icon {
    color: #4284f5;
  }

  &-pre-header {
    height: $normalHeight;
    line-height: $normalHeight;
    border-top: 1px solid $borderColor;
    padding-left: 8px;
    padding-right: 16px;
  }

  &-pre-footer {
    height: $normalHeight;
    line-height: $normalHeight;
    border-bottom: 1px solid $borderColor;
    padding-left: 8px;
    padding-right: 16px;
    background: $bgColor;
  }

  &.striped {
    table {
      tr:nth-child(2n) {
        background: $bgColor;
      }
    }
  }

  &.bordered {
    .#{$table}-pre-header {
      border-left: 1px solid $borderColor;
      border-right: 1px solid $borderColor;
    }

    .#{$table}-pre-footer {
      border-left: 1px solid $borderColor;
      border-right: 1px solid $borderColor;
    }

    table {
      border-top: 1px solid $borderColor;

      tr {
        td,
        th {
          border-left: 1px solid $borderColor;

          &:last-child {
            border-right: 1px solid $borderColor;
          }
        }
      }
    }
  }

  &.large {
    &-pre-header {
      height: $largeHeight;
      line-height: $largeHeight;
    }

    &-pre-footer {
      height: $largeHeight;
      line-height: $largeHeight;
    }

    table {
      tr {
        height: $largeHeight;
        font-size: $largeFontSize;
      }
    }

    .hi-table-header-menu {
      > p {
        height: $smallHeight !important;
        font-size: $smallFontSize;
      }
    }

    .hi-table-setting-menu {
      > div {
        height: $smallHeight;
      }
    }
  }

  &.small {
    &-pre-header {
      height: $smallHeight;
      line-height: $smallHeight;
    }

    &-pre-footer {
      height: $smallHeight;
      line-height: $smallHeight;
    }

    table {
      tr {
        height: $smallHeight;
        font-size: $smallFontSize;
      }
    }

    .hi-table-header-menu {
      > p {
        height: $smallHeight !important;
        font-size: $smallFontSize;
      }
    }

    .hi-table-setting-menu {
      > div {
        height: $smallHeight;
      }
    }
  }

  &.mini {
    &-pre-header {
      height: $miniHeight;
      line-height: $miniHeight;
    }

    &-pre-footer {
      height: $miniHeight;
      line-height: $miniHeight;
    }

    table {
      tr {
        height: $miniHeight;
        font-size: $miniFontSize;
      }
    }

    .hi-table-header-menu {
      > p {
        height: $miniHeight !important;
        font-size: $miniHeight;
      }
    }

    .hi-table-setting-menu {
      > div {
        height: $miniHeight;
      }
    }
  }

  tbody .hi-checkbox {
    //pointer-events:none;
  }

  &-wrapper {
    //width: 100%;
  }

  &-header-menu {
    z-index: 999999;
    background: #fff;
    border: 1px solid $borderColor;
    box-shadow: 0 2px 8px 0 rgba(56, 62, 71, 0.1);
    border-radius: 2px;
    width: 140px;

    p {
      color: #383e47;
      text-align: left;
      margin: 0;
      height: $normalHeight;
      text-indent: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      &:hover {
        background: $bgColor;
        color: #4284f5;
      }
    }
  }

  &-setting-menu {
    z-index: 999999;
    background: #fff;
    //border: 1px solid $borderColor;
    //box-shadow: 0 2px 8px 0 rgba(56, 62, 71, 0.1);
    border-radius: 2px;
    width: 140px;

    > div {
      color: #383e47;
      text-align: left;
      margin: 0;
      padding-left: 16px;
      padding-right: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      height: $normalHeight;

      &:hover {
        background: $bgColor;
        color: #4284f5;
      }

      > p:first-child {
        width: 140px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .active {
      background: rgba(66, 133, 244, 0.15);
    }

    &.column-menu {
      position: absolute;
      right: 30px;
      top: 40px;
      width: 220px;
      max-height: 240px;
      overflow-y: auto;
    }
  }

  &-container table {
    width: 100%;
    border-collapse: separate;
    background: #fff;
    margin: 0;
    box-sizing: border-box;
    display: table;
    border-spacing: 0;

    col {
      display: table-column;
    }

    td,
    th {
      white-space: nowrap;
      padding-left: 8px;
      padding-right: 16px;
      border-bottom: 1px solid $borderColor;
      text-align: left;
      box-sizing: border-box;
    }

    th {
      background-color: $bgColor;
      color: #83868c;
      position: relative;

      i:hover {
        color: #4284f5;
      }
    }

    td {
      color: #3b4148;
      word-break: break-word;

      &.picked {
        background: $bgColor;
      }
    }

    tr {
      transition: 0.2s;
      //cursor: pointer;
      height: $normalHeight;
      font-size: $nornamFontSize;
      padding: 0;
      box-sizing: border-box;
      cursor: pointer;

      &.picked td {
        background: $bgColor;
      }

      &.expanded {
        background: $bgColor;
      }

      &:hover {
        background: $bgColor;
      }
    }
  }

  &-body-inner {
    height: 100%;
  }

  &-fixed-header > &-content > &-scroll > &-body {
    position: relative;
  }

  &-fixed-header &-body-inner {
    overflow: scroll;
  }

  &-fixed-header &-scroll &-header {
    overflow: scroll;
    padding-bottom: 20px;
    margin-bottom: -20px;
  }

  &-fixed-left,
  &-fixed-right {
    position: absolute;
    top: 0;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    border-radius: 0;

    table {
      width: auto;
    }
  }

  &-fixed-header &-fixed-left &-body-outer &-fixed,
  &-fixed-header &-fixed-right &-body-outer &-fixed {
    border-radius: 0;
  }

  &-fixed-left {
    left: 0;
    box-shadow: 6px 0 6px -4px rgba(0, 0, 0, 0.15);

    .#{$table}-header {
      overflow-y: hidden;
    }
    // hide scrollbar in left fixed columns
    .#{$table}-body-inner {
      margin-right: -20px;
      padding-right: 20px;
    }

    .#{$table}-fixed-header & .#{$table}-body-inner {
      padding-right: 0;
    }

    &,
    table {
      border-radius: 4px 0 0 0;
    }
  }

  &-fixed-right {
    right: 0;
    box-shadow: -6px 0 6px -4px rgba(0, 0, 0, 0.15);

    &,
    table {
      border-radius: 0 4px 0 0;
    }

    .#{$table}-expanded-row {
      color: transparent;
      //pointer-events: none;
    }
  }

  &.#{$table}-scroll-position-left &-fixed-left {
    box-shadow: none;
  }

  &.#{$table}-scroll-position-right &-fixed-right {
    box-shadow: none;
  }

  &-thead > tr > th.#{$table}-selection-column-custom {
    padding-left: 16px;
    padding-right: 0;
  }

  &-thead > tr > th.#{$table}-selection-column,
  &-tbody > tr > td.#{$table}-selection-column {
    text-align: center;
    width: 62px;
    min-width: 62px;

    .hi-radio-wrapper {
      margin-right: 0;
    }
  }

  &-placeholder {
    position: relative;
    padding: 16px;
    background: #fff;
    border-bottom: 1px solid #e6e7e8;
    text-align: center;
    z-index: 1;
  }

  &-setting {
    position: absolute;
    right: 10px;
    top: 0;
    cursor: pointer;
    width: 50px;
    text-align: center;
    box-sizing: border-box;
  }
}

@each $key, $value in $theme-colors {
  .theme__#{$key}.hi-table {
    .hi-table-container table th {
      background-color: rgba($value, 0.1);
      color: #83868c;
    }

    .hi-icon {
      color: $value;
    }

    .hi-table-container table tr:hover {
      background-color: rgba($value, 0.1);
    }

    a {
      color: $value;
    }

    .hi-table-setting-menu > div:hover {
      background-color: rgba($value, 0.15);
      color: $value;
    }
  }
}
