@import './variable.scss';
@import '../../core-css/index.scss';

.#{$table} {
  position: relative;

  &__container {
    position: relative;
    z-index: 1;
  }

  &__shadow {
    &-mask {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 20;
      pointer-events: none;
      overflow: hidden;
      height: 100%;
      width: 200px;
    }

    &-lock {
      height: 100%;
      box-sizing: border-box;
    }

    &-left {
      margin-right: 10px;
      left: 0;
      box-shadow: 6px 0 6px -4px rgba(0, 0, 0, 0.15);
    }

    &-right {
      margin-left: 10px;
      right: 0;
      box-shadow: -6px 0 6px -4px rgba(0, 0, 0, 0.15);
    }
  }

  &__container table {
    width: 100%;
    border-collapse: separate;
    background: use-color('white');
    margin: 0;
    box-sizing: border-box;
    display: table;
    border-spacing: 0;
    overflow: auto;

    col {
      display: table-column;
    }

    td,
    th {
      padding-left: 8px;
      padding-right: 16px;
      border-bottom: 1px solid rgba(231, 231, 231, 1);
      text-align: left;
      box-sizing: border-box;
    }

    th {
      background-color: #fbfbfb;
      color: use-color('gray-70');
      // position: relative;

      i:hover {
        color: use-color('primary');
      }
    }

    td {
      color: use-color('black');
      word-break: break-word;
    }

    tr {
      font-size: $font-size-normal;
      padding: 0;
      box-sizing: border-box;
      background-color: use-color('white');
    }
  }
}
