$table: 'power-table' !default;
$bgColor: rgba(238, 245, 255, 1) !default;
$secondaryColor: rgba(251, 251, 251, 1) !default;
$activeColor: #4284f5 !default;
$miniPadding: 4px !default;
$miniFontSize: 14px !default;

$smallPadding: 8px !default;
$smallFontSize: 14px !default;

$normalPadding: 14px !default;
$nornamFontSize: 14px !default;

$largePadding: 20px !default;
$largeFontSize: 14px !default;
$borderColor: rgba(231, 231, 231, 1) !default;
