@import '@hi-ui/core-css/index.scss';
@import '../../core-css/index.scss';

.hi-stepper {
  width: 100%;
  min-width: 130px;
  height: 100%;
  font-size: 14px;
  z-index: 0;

  &__list {
    display: flex;
    padding: 0 !important;
    margin: 0 !important;
    min-width: 400px;

    li {
      margin: 0 !important;
      list-style: none;
    }

    span {
      display: inline-block;
    }
  }

  &__num {
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 50%;
    text-align: center;
    color: use-color('white');
    background-color: use-color('gray-50');
  }

  &__title {
    padding: 0 0 0 8px;
    color: use-color('gray-80');
    text-align: center;
    word-break: keep-all;
    overflow: hidden;
  }

  &__icon {
    display: inline-block;
    background-color: use-color('white');
    z-index: 1;
    text-align: center;
    width: 24px;
    height: 24px;
    line-height: 24px;

    .hi-icon {
      font-size: 24px;
    }

    /* 用于自定义图片大小 */
    img {
      width: 24px;
      height: 24px;
      vertical-align: middle;
    }
  }

  &__item-content {
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    min-width: 36px;
    padding: 0 8px;
    background-color: use-color('white');
    box-sizing: border-box;
    z-index: 1;
  }

  &__item {
    position: relative;
    flex: 1 1 auto;
    z-index: 1;
    display: flex;

    &--active {
      .hi-icon {
        color: use-color('primary');
      }

      .hi-stepper__num {
        background-color: use-color('primary');
      }

      .hi-stepper__title {
        color: use-color('primary');
      }
    }

    &--done {
      &::after {
        background-color: use-color('primary') !important;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 12px;
      left: 60px;
      display: block;
      width: 100%;
      height: 1px;
      background-color: use-color('gray-50');
      z-index: -1;
    }

    &:last-child {
      flex: 0 0 auto;

      &::after {
        display: none;
      }
    }

    /* 水平或垂直方向的 上下结构 */
    &--up {
      .hi-stepper {
        &__item-content {
          padding: 0;
          text-align: center;
          background-color: transparent;
          flex-direction: column;

          > span {
            margin-bottom: 6px;
          }
        }

        &__title {
          padding: 0;
          margin-bottom: 4px;
          width: 100%;
        }

        &__icon {
          padding: 0 22px;
        }

        &__text {
          font-size: 12px;
          color: use-color('gray-80');
          width: 100%;
        }
      }
    }
  }

  /* 垂直方向 */
  &--vertical {
    .hi-stepper {
      &__list {
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        min-width: auto;
      }

      &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;

        &::after {
          content: '';
          position: absolute;
          left: 12px;
          width: 1px;
          height: 100%;
        }
      }

      &__item-content {
        padding: 0;
        flex-wrap: wrap;
      }

      &__title {
        flex: 1 1;
        text-align: left;
      }

      &__icon {
        display: inline-block;
        padding: 4px 0;
        background-color: use-color('white');
        z-index: 1;
      }

      &__text {
        flex: 1 1 100%;
        margin-left: 32px;
        font-size: 12px;
        color: use-color('gray-80');
      }
    }
  }
}
