.hi-stepper {
  width: 100%;
  min-width: 130px;
  height: 100%;
  font-size: 14px;
  z-index: 0;
  ul,
  li {
    list-style: none;
  }

  // 水平方向
  &-transverse,
  &-vertical {
    display: flex;
    padding: 0 !important;
    margin: 0 !important;

    li {
      margin: 0 !important;
    }
  }

  &-transverse {
    min-width: 400px;
  }

  &-node-trans {
    position: relative;
    width: 104px;
    flex: 1 1 auto;
    z-index: 1;

    &::after {
      content: '';
      position: absolute;
      top: 12px;
      left: 60px;
      display: block;
      width: 100%;
      height: 1px;
      background-color: #D8D8D8;
      z-index: -1;
    }

    &-box {
      display: inline-block;
      min-width: 36px;
      padding: 0 8px;
      background-color: #fff;
      box-sizing: border-box;
      z-index: 1;
    }

    .hi-stepper-title {
      word-break: keep-all;
      overflow: hidden;
    }

    span {
      display: inline-block;
    }

    .hi-stepper {
      &-sign {
        display: inline-block;
        vertical-align: middle;
        .hi-icon {
          font-size: 1.5em;
        }
      }
    
      &-num {
        width: 24px;
        height: 24px;
        line-height: 24px;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        background-color: #ccc;
      }
    
      &-img {
        width: 24px;
        height: 24px;
        vertical-align: middle;
      }
    
      &-title {
        padding: 0 0 0 8px;
        vertical-align: middle;
        color: #999;
      }
    }

    &-last {
      flex: 0 1 160px;

      &::after {
        display: none;
      }
    }
  }

  &-trans-line {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1 1 auto;
    width: auto;
    
    & > div {
      position: absolute;
      top: 12px;
      width: 100%;
      height: 1px;
      padding: 0;
      margin: 0;
      border-top: 1px solid #D8D8D8;
    }
  }

  // 基础用法的上下结构
  &-up {

    .hi-stepper-node-trans-box {
      width: 142px;
      padding: 0;
      text-align: center;
      background-color: transparent;

      > span {
        margin-bottom: 8px;
      }
      .hi-stepper-title {
        margin-bottom: 4px;
      }
    }

    & > span {
      display: block;
      text-align: center;
    }

    .hi-stepper {
      &-sign {
        padding: 0 22px;
        text-align: center;
        background-color: #fff;
      }
      &-title {
        width: 100%;
        padding: 0;
        word-break: break-all;
      }
      &-text {
        text-align: center;
        font-size: 12px;
        color: #999;
      }
    }
  }

  &-up.hi-stepper-node-trans-last {
    flex: 0 1 142px;
  }

  &-node-trans.active {
    .hi-icon {
      color: #4284F5;
    }
    .hi-stepper-num {
      background-color: #4284F5;
    }
    .hi-stepper-title {
      color: #4284F5;
    }
  }


  // 竖直方向
  &-vertical {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &-node-vertical {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    &::after {
      content: '';
      position: absolute;
      left: 12px;
      width: 1px;
      height: 100%;
      background-color: #D8D8D8;
    }

    span {
      display: inline-block;
    }

    .hi-stepper {
      &-sign {
        display: inline-block;
        vertical-align: middle;
        padding: 4px 0;
        background-color: #fff;
        z-index: 1;
        .hi-icon {
          font-size: 1.5em;
        }
      }
    
      &-num {
        width: 24px;
        height: 24px;
        line-height: 24px;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        background-color: #ccc;
        vertical-align: middle;
      }

      &-title {
        padding: 0 0 0 8px;
        vertical-align: middle;
        color: #999;
      }

      &-text {
        display: flex;
        flex: 1;
        margin-left: 32px;
        font-size: 12px;
        color: #666;
      }
      
    }

    &-last {
      flex: 0 1 auto;

      &::after {
        display: none;
      }

      .hi-stepper {
        &-text {
          margin-left: 0;
          padding-left: 32px;
          z-index: 1;
          background-color: #fff;
        }
      }
    }

  }

  &-node-vertical.active {
    .hi-icon {
      color: #4284F5;
    }
    .hi-stepper-num {
      background-color: #4284F5;
    }
    .hi-stepper-title {
      color: #4284F5;
    }
  }
  &-node-vertical.active-line {
    &::after {
      background-color: #4384F5;
    }
  }
}