.hi-alert {
  position: relative;
  padding: 9px 12px;
  background: #ebf2fd;
  border: 1px solid #b3cdfb;
  border-radius: 2px;
  color: #4284f5;
  font-size: 14px;
  min-width: 280px;
  display: block;
  align-items: flex-start;

  .hi-icon__title {
    display: flex;
    font-size: 14px;
    align-items: center;
    line-height: 22px;

    .hi-icon {
      font-size: 16px;
      margin-right: 8px;
    }
  }

  .text-message {
    margin: 2px 24px 0 24px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #666;
  }

  .close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    height: 16px;
    line-height: 16px;

    .hi-icon {
      font-size: 16px;
      color: #999;
    }
  }

  &.error {
    background: #fceded;
    border: 1px solid #f7b9b9;
    color: #eb5252;

    .icon-contain {
      color: #eb5252;
    }
  }

  &.success {
    background: #e8f6ee;
    border: 1px solid #a4dbba;
    color: #1da653;

    .icon-contain {
      color: #1da653;
    }
  }

  &.warning {
    background: #fbf5e6;
    border: 1px solid #f3d79d;
    color: #e19d0c;

    .icon-contain {
      color: #e19d0c;
    }
  }

  &.noTitle {
    .text-contain {
      .text-message {
        font-size: 14px;
      }
    }
  }
}
