.hi-transfer {
  display: flex;

  &__container {
    width: 240px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 1);
    border-radius: 2px;
    border: 1px solid rgba(231, 231, 231, 1);
    position: relative;
  }

  &__title {
    height: 40px;
    background: rgba(246, 246, 246, 1);
    line-height: 40px;
    padding-left: 15px;
    box-sizing: border-box;
    border-bottom: 1px solid #e6e7e8;
  }

  &__operation {
    width: 56px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    &--basic {
      background: url('../img/switch.png');
      background-repeat: no-repeat;
      background-position: center;
    }

    .hi-btn {
      margin: 0;
    }
  }

  &__split {
    width: 100%;
    height: 8px;
  }

  &__body {
    height: 222px;
    overflow: auto;
    // border-top: 1px solid rgb(231, 231, 231);
    // border-bottom: 1px solid rgb(231, 231, 231);
    box-sizing: border-box;

    &--empty {
      text-align: center;
      line-height: 222px;
      color: rgba(153, 153, 153, 1);
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    padding-left: 15px;
    cursor: pointer;
    user-select: none;
    position: relative;
    text-align: left;

    &:hover {
      background: rgba(66, 132, 245, 0.1);
    }

    &--disabled {
      color: rgba(204, 204, 204, 1);
      cursor: not-allowed;

      &:hover {
        background: inherit;
      }
    }

    &--limit {
      height: 40px;
      color: #999;
      font-size: 14px;
      display: flex;
      align-items: center;
    }
  }

  &__warning {
    width: 24px;
    height: 24px;
    display: inline-block;
    background: url('../img/warning.png');
    background-repeat: no-repeat;
    background-position: left center;
    // margin-right: 15px;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    height: 40px;
    border-top: 1px solid #e7e7e7;
    box-sizing: border-box;

    &--checkbox-part {
      .hi-checkbox__input {
        background: #4284f5;

        &::after {
          content: '';
          position: absolute;
          display: block;
          border: 1px solid #fff;
          margin-top: -1px;
          left: 3px;
          right: 3px;
          top: 50%;
          pointer-events: none;
        }
      }
    }
  }

  &__searchbar {
    height: 40px;
    width: 208px;
    margin: 0 auto;
    border-bottom: 1px solid #e6e7e8;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    .hi-input__inner {
      border: none;
    }
  }

  &__limit-tips {
    position: absolute;
    background: #4a4a4a;
    color: #fff;
    font-size: 12px;
    padding: 2px 5px;
    left: 50%;
    transform: translateX(-50%);
    top: 40px;
    z-index: 2;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  &__underline {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgba(66, 132, 245, 1);
    left: 0;
    top: 36px;
  }

  &__mask {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    background: rgba(246, 246, 246, 0.7);
    cursor: not-allowed;
  }

  .hi-checkbox__input {
    box-sizing: border-box;
  }
}
