@import '~@hi-ui/core-css/lib/index.scss';

$prefix: '#{$component-prefix}-rate' !default;

.#{$prefix} {
  list-style: none;
  outline: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  width: fit-content;
  align-items:center;
  height: 24px;
  line-height: 24px;
  font-size: 24px;
  color: #FF8E26;
  fill: #FF8E26;

  &__star {
    cursor: pointer;
    position: relative;
    display: inline-block;
    transition: 0.3s ease;
    margin: 0 6px;
    height: 100%;


    &:active,
    &:hover {
      transform: scale(1.2);
    }

    &--disabled {
      cursor: not-allowed;

      &:hover {
        transform: none;
      }
    }

    &--readonly {
      cursor: auto;

      &:hover {
        transform: none;
      }
    }

    &__half {
      display: inline-block;
      z-index: 1;
      height: 100%;

      &.grayscale {
        filter: grayscale(100%);
      }

      &--left,
      &--right {
        height: 100%;
      }

      // 覆盖层
      &--left {
        width: 50%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        overflow: hidden;
      }

      &--bottom,
      &--top {
        width: 100%;
      }

      // 覆盖层
      &--top {
        height: 50%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        overflow: hidden;
      }
    }
  }

  // &__desc {
  //   margin-left: 14px;
  //   display: flex;
  //   padding-top: 4px;
  // }

  &__icon {
    display: inline-block;
    font-size: inherit;
    width: 1em;
    height: 1em;

    svg {
      font-size: inherit;
      width: 1em;
      height: 1em;
    }
  }
}
