.hi-upload {
  &--disabled {
    cursor: not-allowed;
  }

  &__button {
    display: inline-block;
    width: 88px;
    height: 32px;
    font-size: 14px;
    background: #4284f5;
    color: #fff;
    cursor: pointer;
    line-height: 32px;
    text-align: center;
    border-radius: 2px;

    &--disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  &__tips {
    font-size: 12px;
    color: rgb(153, 153, 153);
    // padding-top: 12px !important;

    &--single-line {
      display: block;
      padding: 12px 0 8px;
    }

    &--exist {
      padding-left: 3px;
    }
  }

  &__list {
    width: 100%;
    overflow: hidden;
  }

  &__item {
    height: 36px;
    cursor: default;
    color: #666;
    display: flex;
    align-items: center;
    padding: 4px 0;
    overflow: hidden;
    position: relative;

    &-tips {
      color: #428ef5;
      background: #edf2fc;
      border-radius: 2px;
      font-size: 14px;
      padding: 4px 6px;
      height: auto !important;
      border: 1px solid #d8e5ff;
    }

    .hi-icon {
      cursor: pointer;
      font-size: 18px;
    }

    .icon-plus {
      font-size: 32px;
    }
  }

  &__right-content {
    position: relative;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding-left: 8px;
    overflow: hidden;
  }

  &__filename {
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;

    &--error {
      color: rgb(255, 0, 0);
    }
  }

  &__upstatus {
    width: 100%;
    height: 2px;
    background: #f2f2f2;
    border-radius: 9px;
    position: absolute;
    bottom: 0;

    &-line {
      display: inline-block;
      height: 2px;
      width: 0;
      background: #4284f5;
      border-radius: 4px 0 0 4px;
      position: absolute;
      left: 0;
      top: 0;
      transition: width 0.1s linear;
    }

    &-num {
      position: absolute;
      right: 38px;
      top: -32px;
      font-style: normal;
      font-size: 12px;
      color: #999;
    }
  }

  // 拖拽样式
  &--drag {
    position: relative;
    width: 100%;
    min-height: 140px;
    box-sizing: border-box;
    border: 1px dashed #dbdbdb;
    cursor: pointer;
    padding: 12px;

    &:hover:not(.hi-upload--nohover) {
      border-color: #4284f5;
    }

    .hi-upload__operate-icon {
      color: #4284f5;
      cursor: pointer;
    }

    &.hi-upload--disabled {
      cursor: not-allowed;
      opacity: 0.6;

      &,
      &:hover {
        border-color: #d9d9d9;
      }

      .drop-click {
        cursor: not-allowed;
      }
    }

    .hi-upload__item {
      &:not(:first-child):not(:last-child) {
        border-bottom: 1px solid rgba(230, 230, 230, 1);
      }
    }

    .drop-content {
      display: none;
    }

    .show-drop-content {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      display: inline-block;
      height: 60px;
      text-align: center;
      font-size: 12px;
      color: #333;
      letter-spacing: 0;
      line-height: 20px;
      cursor: inherit;

      .icon {
        display: block;
        cursor: inherit;
        margin-bottom: 10px;

        &::before {
          font-size: 30px;
          color: #4284f5;
        }
      }
    }

    .drop-over {
      border: 1px dashed #0099fb;
    }
  }

  &--avatar,
  &--photo {
    &.hi-upload--disabled {
      .photo-upload {
        cursor: not-allowed;

        &,
        &:hover {
          border-color: #d9d9d9;
        }
      }
    }

    .hi-upload__list {
      overflow: visible;
    }

    .hi-upload__item {
      width: 140px;
      height: 140px;
      display: inline-block;
      position: relative;
      text-align: center;
      padding: 0;
      margin: 8px;
      // margin-right: 16px;
      overflow: visible;
      // margin-top: 0;
      vertical-align: middle;
      background: #fff;
      // margin-bottom: 16px;

      &:not(:last-child) {
        background: #e7e7e7;
      }

      img {
        margin-top: 50%;
        transform: translateY(-50%);
      }

      &--upload {
        text-align: center;
        font-size: 28px;
        color: #e7e7e7;
        border: 1px dashed rgba(216, 216, 216, 1);
        line-height: 140px;

        &:hover {
          border-color: #0099fb;
        }
      }

      &:hover {
        .hi-upload__photo-del {
          display: block;
        }
      }
    }
  }

  &__photo-del {
    position: absolute;
    right: -8px;
    top: -12px;
    font-size: 18px;
    display: none;
    z-index: 2;
  }

  &__precent {
    position: absolute;
    width: 140px;
    height: 140px;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__loading-bar {
    width: 0;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #4284f5;
  }

  &__thumb {
    max-width: 140px;
    max-height: 140px;
  }

  &--picture-card {
    .upload--disabled {
      cursor: not-allowed;
    }

    .hi-upload__list {
      margin-top: 15px;
      overflow: auto;

      .hi-upload__item {
        height: 64px;
        box-sizing: border-box;
        border: 1px solid #d8d8d8;
        border-radius: 2px;
        padding: 8px 18px 8px 8px;
        margin-bottom: 8px;
        font-size: 12px;
        color: #333;

        &--error {
          border: 1px solid rgba(244, 65, 65, 1);
        }

        &:hover {
          background: rgba(247, 247, 247, 1);
        }

        &.loading {
          color: #999;
        }

        .img-wrap {
          float: left;
          width: 50px;
          height: 50px;
          margin-right: 12px;
          position: relative;

          img {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            max-width: 50px;
            max-height: 50px;
          }

          .img-mask {
            width: 50px;
            height: 50px;
            position: absolute;
            left: 0;
            top: 0;
            background: rgba(0, 0, 0, 0.3);
          }
        }
      }
    }
  }

  &__modal-tips {
    display: flex;
    padding-bottom: 15px;
  }

  &__error {
    &—content {
      margin: 14px;
    }

    &-title {
      width: 300px;
      line-height: 24px;
      font-size: 24px;
      color: #333;
      margin-bottom: 8px;
    }

    &-info {
      font-size: 14px;
      color: #666;
    }
  }

  p {
    margin: 0;
    padding: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    list-style: none;
  }
}

.hi-modal {
  .content {
    font-size: 0;
  }
}
