@import '../../core-css/index.scss';

.hi-upload {
  &--disabled {
    cursor: not-allowed;
  }

  &__tips {
    font-size: $font-size-small;
    color: use-color('gray-70');
    line-height: 20px;
    margin-top: 8px;

    &--single-line {
      display: block;
      padding: 7px 0 8px;
    }

    &--exist {
      padding-left: 3px;
      line-height: 22px;
    }
  }

  &__list {
    width: 100%;
    overflow: hidden;
  }

  &__item {
    height: 36px;
    cursor: default;
    color: use-color('gray-80');
    display: flex;
    align-items: center;
    padding: 6px;
    overflow: hidden;
    position: relative;

    &:hover {
      background: use-color('primary-10');
    }

    a:focus {
      outline: 0;
    }

    &:focus {
      background: use-color('primary-10');
      outline: 0;
    }

    a.hi-upload__filename {
      flex: 1;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-size: $font-size-normal;
      cursor: pointer;
      color: use-color('gray-80');

      &--error {
        color: get-color($palette-secondary, 'danger');

        &:not([href]) {
          color: get-color($palette-secondary, 'danger');
        }
      }
    }

    &-tips {
      color: use-color('primary');
      border-radius: 2px;
      font-size: 14px;
      padding: 8px 12px;
      height: auto !important;
      background-color: use-color('primary-20');
      border: 1px solid use-color('primary-40');
    }

    .hi-icon {
      cursor: pointer;
      font-size: 16px;
      color: use-color('gray-50');
    }

    .icon-plus {
      font-size: 24px;
    }
  }

  &__right-content {
    position: relative;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding-left: 8px;
    overflow: hidden;
  }

  &__upstatus {
    width: calc(100% - 30px);
    margin-left: 30px;
    height: 2px;
    background: #f2f2f2;
    border-radius: 9px;
    position: absolute;
    bottom: 0;

    &-line {
      display: inline-block;
      height: 2px;
      width: 0;
      background: use-color('primary');
      border-radius: 4px 0 0 4px;
      position: absolute;
      left: 0;
      top: 0;
      transition: width 0.1s linear;
    }

    &-num {
      position: absolute;
      right: 60px;
      top: -32px;
      font-style: normal;
      font-size: 12px;
      color: use-color('primary');
    }
  }

  // 拖拽样式
  &--drag {
    position: relative;
    width: 100%;
    min-height: 172px;
    box-sizing: border-box;
    border: 1px dashed use-color('gray-30');
    transition: border-color 0.3s;
    border-radius: 2px;
    cursor: pointer;
    padding: 12px;

    &:hover:not(.hi-upload--nohover) {
      border-color: use-color('primary');
    }

    &:focus {
      border-color: use-color('primary');
      outline: 0;
    }

    .hi-upload__operate-icon {
      color: use-color('primary');
      cursor: pointer;
    }

    .hi-upload__item-tips {
      .hi-icon {
        color: use-color('primary');
      }
    }

    &.hi-upload--disabled {
      cursor: not-allowed;
      opacity: 0.6;

      &,
      &:hover {
        border-color: use-color('gray-30');
      }
    }

    .hi-upload__item {
      &:not(:first-child) {
        border-bottom: 1px solid use-color('gray-20');
      }
    }

    .drag-upload__desc {
      display: flex;
      flex-direction: column;
      height: 172px;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      color: use-color('black');

      .hi-upload__tips--single-line {
        padding: 0;
        margin-top: 4px;
      }

      .icon {
        margin-bottom: 6px;
        fill: use-color('primary');
        height: 40px;
        width: 40px;
      }
    }

    &.drop-over {
      border: 1px dashed use-color('primary');
    }
  }

  &--avatar,
  &--photo {
    &.hi-upload--disabled {
      .photo-upload {
        cursor: not-allowed;

        &,
        &:hover {
          border-color: use-color('gray-30');
        }
      }
    }

    .hi-upload__list {
      overflow: visible;
    }

    .hi-upload__item {
      width: 140px;
      height: 140px;
      display: inline-block;
      position: relative;
      text-align: center;
      padding: 0;
      margin: 8px;
      overflow: visible;
      vertical-align: middle;
      background: use-color('white');
      border-radius: 2px;

      &--photo-error {
        height: 28px;
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        width: 100%;
        color: use-color('white');
        bottom: 0;
        line-height: 28px;
        font-size: 16px;
        border-radius: 0 0 2px 2px;
      }

      &:not(:last-child) {
        background: use-color('gray-20');
      }

      img {
        margin-top: 50%;
        transform: translateY(-50%);
      }

      &--upload {
        text-align: center;
        font-size: 28px;
        color: use-color('gray-50');
        border: 1px dashed use-color('gray-30');
        transition: border-color 0.3s;
        line-height: 140px;

        &:hover {
          border-color: use-color('primary');
        }
      }

      &-mask {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.4);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: use-color('white');
        opacity: 0;
        transition: 0.3s ease;
        z-index: 2;
        border-radius: 4px;
        cursor: pointer;

        i {
          line-height: 32px;
          font-size: 32px;
        }

        span {
          font-size: 16px;
        }
      }

      &:hover {
        .hi-upload__photo-del {
          display: block;
          color: use-color('black');
          z-index: 4;
        }

        .hi-upload__item-mask {
          opacity: 1;
        }
      }
    }
  }

  &--photo {
    .hi-upload__item--small {
      width: 80px;
      height: 80px;
      line-height: 80px;

      .hi-upload__thumb {
        max-width: 80px;
        max-height: 80px;
      }
    }

    .hi-upload__item--large {
      width: 200px;
      height: 200px;
      line-height: 200px;

      .hi-upload__thumb {
        max-width: 200px;
        max-height: 200px;
      }
    }
  }

  &__thumb {
    max-width: 140px;
    max-height: 140px;
  }

  &--avatar {
    .hi-upload__item--upload {
      width: 80px;
      height: 80px;
      line-height: 80px;
      box-sizing: border-box;
      cursor: pointer;
    }
  }

  &__photo-del {
    position: absolute;
    right: -8px;
    top: -8px;
    font-size: 20px;
    display: none;
    z-index: 3;
  }

  &__precent {
    position: absolute;
    width: 140px;
    height: 140px;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    color: use-color('white');
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
  }

  &__precent--small {
    width: 80px;
    height: 80px;
  }

  &__precent--large {
    width: 200px;
    height: 200px;
  }

  &__loading-bar {
    width: 0;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: use-color('primary');
    z-index: 3;
  }

  &__loading-shadow {
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: use-color('black');
    opacity: 0.34;
    z-index: 2;
  }

  &--picture-card {
    .hi-upload__upstatus {
      width: 100%;
      margin-left: 0;
    }

    .hi-upload__right-content {
      padding-left: 0;
    }

    .upload--disabled {
      cursor: not-allowed;
    }

    .hi-upload__list {
      margin-top: 15px;
      overflow: auto;

      .hi-upload__item {
        height: 64px;
        box-sizing: border-box;
        border: 1px solid use-color('gray-30');
        border-radius: 2px;
        padding: 8px 18px 8px 6px;
        margin-bottom: 12px;
        font-size: 12px;
        color: use-color('black');

        &--error {
          border: 1px solid get-color($palette-secondary, 'danger');
        }

        &:hover {
          background: use-color('gray-10');
        }

        &.loading {
          color: use-color('gray-70');
        }

        .img-wrap {
          float: left;
          width: 50px;
          height: 50px;
          margin-right: 12px;
          position: relative;

          img {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            max-width: 50px;
            max-height: 50px;
          }

          .img-mask {
            width: 50px;
            height: 50px;
            position: absolute;
            left: 0;
            top: 0;
            background: rgba(0, 0, 0, 0.3);
          }
        }
      }
    }
  }

  .hi-modal__content {
    padding: 16px 24px;
  }

  &__modal-tips {
    display: flex;
  }

  &__error {
    &—content {
      margin: 12px;
    }

    &-title {
      width: 300px;
      line-height: 24px;
      font-size: 16px;
      color: use-color('black');
      margin-bottom: 4px;
    }

    &-info {
      font-size: 14px;
      color: use-color('gray-80');
    }
  }

  p {
    margin: 0;
    padding: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    list-style: none;
  }
}

.hi-modal {
  .content {
    font-size: 0;
  }
}
