@mixin button-variant($color, $background, $border,$backgroundhover,$borderhover) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:hover {
    color: $color;
    background-color: $backgroundhover;
        border-color: $borderhover;
  }
}

@mixin wf-btn($color, $textColor: #fff, $borderColor: $color) {
  background: none;
  color: $color;
  border-color: $borderColor;
  &:hover, &:focus {
    color: $textColor;
    background-color: $borderColor;
  }
}

@mixin link-btn($color, $textColor: #fff, $borderColor: $color) {
  @include wf-btn($color, $textColor, $borderColor);
  border-color: transparent;
}

// Button sizes
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  line-height: $line-height;
  // border-radius: $border-radius;
}