.hi-preview {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.54);
  z-index: 1800;
  &--hide {
    display: none;
    .hi-preview-image {
      width: 0;
      height: 0;
    }
  }
  &--width {
    img {
      width: 100%;
    }
  }
  &--height {
    img {
      height: 100%;
    }
  }
  &-image {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width 1s height 1s;
  }
}