.maxSize_content {
  div,
  p {
    margin: 0;
    padding: 0;
  }

  display: flex;
  height: 140px;
  width: 40px;

  .upload_Modal_txt {
    margin: 14px;

    p {
      width: 400px;
    }

    .upload_Modal_title {
      line-height: 24px;
      font-size: 24px;
      color: #333;
      margin-bottom: 8px;
    }

    .upload_Modal_tip {
      font-size: 14px;
      color: #666;
    }
  }
}
