@import './reset.scss';

@mixin rtl {
  [data-direction='rtl'] & {
    @content;
  }
}

// TODO: 抽成原子 css 或者专门的 Flex 布局组件
@mixin flex($j: center, $a: center, $d: row) {
  display: flex;
  justify-content: $j;
  align-items: $a;
  flex-direction: $d;
}

/// 文本行溢出省略号策略
/// @param {Number} $lines  - 显示的行数
@mixin ellipsis($lines: false) {
  @if $lines {
    /* autoprefixer: ignore next */
    display: -webkit-box !important; /* stylelint-disable-line */
    -webkit-box-orient: vertical; /* stylelint-disable-line */
    -moz-box-orient: vertical; /* stylelint-disable-line */
    -webkit-line-clamp: $lines;
    -moz-line-clamp: $lines;
    word-break: break-word;
    white-space: nowrap;
  }

  @else {
    display: inline-block;
    white-space: nowrap;
  }

  overflow: hidden;
  text-overflow: ellipsis;
}

/// Image Replacement
@mixin hide-text() {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
