@import '@hi-ui/core-css/index.scss';

$primary-color: get-color($palette-primary, 'hiui-blue') !default;
$imgurl: '../../../static/img/home/' !default;

.layout--classic {
  // .layout__header {
  //   z-index: 1999;
  // }
  .layout__main {
    // 默认情况下，元素不会缩短至小于内容框尺寸，若想改变这一状况，请设置元素的min-width
    flex: 0 1 100%;
    // overflow: hidden;
    // min-width: -webkit-fill-available;
  }
}

/* module */
.flat-list {
  display: flex;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  justify-content: space-between;

  &--fade {
    opacity: 0;
    transition: all $speed-slow $easing;
  }

  &--show {
    opacity: 1;
  }

  &__item {
    text-align: center;
  }

  &__figure {
    margin: 0 auto 18px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  &__name {
    margin: 0 auto 15px;
    font-size: 16px;
    font-weight: 400;
  }

  &__desc {
    line-height: 2;
  }
}

/* section */
.section {
  -webkit-font-smoothing: antialiased;

  &__container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
  }

  &__content {
    position: relative;
    z-index: 2;
    padding-top: 90px;

    p {
      margin: 0;
    }
  }

  &__title {
    margin: 0;
    font-size: 30px;
    font-weight: 400;
    text-align: center;

    &--fade {
      opacity: 0;
      transform: translateY(30px);
      transition: all $speed-slow $easing;
    }

    &--show {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  &__desc {
    line-height: 2;

    &--fade {
      opacity: 0;
      transform: translateY(30px);
      transition: all $speed-slow $easing 0.15s;
    }

    &--show {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  &__figure {
    position: absolute;
    z-index: 1;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    &--fade {
      opacity: 0;
      transition: all $speed-slow $easing 0.15s;
    }

    &--show {
      opacity: 1;
    }
  }
}

.section--intro {
  height: 550px;
  background-color: $white;

  .section {
    &__content {
      width: 540px;
      padding-top: 116px;
    }

    &__title {
      margin-bottom: 20px;
      font-size: 42px;
      text-align: left;

      //[lang="en-US"] & {
      //  font-size: 38px;
      //}
    }

    &__desc {
      width: 442px;
      margin-bottom: 54px;
      font-size: 18px;
    }

    &__figure {
      top: 40px;
      right: 0;
      width: 720px;
      height: 440px;
      background-image: url('#{$imgurl}1-1.png');
    }
  }

  .hi-btn {
    width: 130px;
    height: 40px;
    border-radius: 20px;
    font-size: 16px;
    line-height: 22px;
  }

  @at-root {
    .github-link {
      display: inline-block;
      margin-left: $spacer-4;
      vertical-align: middle;
      font-size: 16px;
      line-height: 40px;
      color: $black;
      transition: color $speed-fast $easing;

      .hi-fa {
        display: inline-block;
        margin-right: 4px;
        font-size: 20px;
        line-height: 40px;
        vertical-align: top;
      }
    }
  }
}

.section--design {
  height: 630px;
  background-color: #f9fcfc;

  .section {
    &__title {
      margin-bottom: 54px;
    }
  }

  .flat-list {
    width: 1176px;

    &__item {
      width: 265px;
      height: 310px;
      padding: 15px 50px;
      background-color: $white;
      transition: box-shadow $speed-normal $easing;

      &:hover {
        box-shadow: 0 0 32px rgba($black, 0.05);
      }

      &:nth-child(1) {
        .flat-list__figure {
          background-image: url('#{$imgurl}2-1.png');
        }
      }

      &:nth-child(2) {
        .flat-list__figure {
          background-image: url('#{$imgurl}2-2.png');
        }
      }

      &:nth-child(3) {
        .flat-list__figure {
          background-image: url('#{$imgurl}2-3.png');
        }
      }
    }

    &__figure {
      width: 170px;
      height: 170px;
      margin: 0 auto 18px;
    }
  }
}

.section--efficiency {
  height: 440px;
  background-color: $white;

  .section {
    &__content {
      width: 400px;
      padding-top: 135px;
      margin: 0 160px 0 auto;
    }

    &__title {
      margin-bottom: 30px;
    }

    &__desc {
      width: 380px;
    }

    &__figure {
      top: 35px;
      left: 12px;
      width: 480px;
      height: 360px;
      background-image: url('#{$imgurl}3-2.png');
    }
  }
}

.section--feature {
  height: 500px;
  background-color: #f9fcfc;

  .section {
    &__title {
      margin-bottom: 75px;
    }
  }

  .flat-list {
    &__item {
      width: 200px;

      &:nth-child(1) {
        .flat-list__figure {
          background-image: url('#{$imgurl}4-1.png');
        }
      }

      &:nth-child(2) {
        .flat-list__figure {
          background-image: url('#{$imgurl}4-2.png');
        }
      }

      &:nth-child(3) {
        .flat-list__figure {
          background-image: url('#{$imgurl}4-3.png');
        }
      }

      &:nth-child(4) {
        .flat-list__figure {
          background-image: url('#{$imgurl}4-4.png');
        }
      }
    }

    &__figure {
      width: 90px;
      height: 90px;
      margin: 0 auto 12px;
    }
  }
}

.section--tool {
  height: 392px;
  background-color: $white;

  .section {
    &__title {
      margin-bottom: 75px;
    }
  }

  .flat-list {
    justify-content: space-around;

    &__item {
      width: 450px;
      text-align: left;

      &:nth-child(1) {
        .flat-list__figure {
          background-image: url('#{$imgurl}5-1.png');
        }
      }

      &:nth-child(2) {
        .flat-list__figure {
          background-image: url('#{$imgurl}5-2.png');
        }
      }
    }

    &__figure {
      float: left;
      width: 70px;
      height: 70px;
      margin-right: 12px;
    }

    &__name {
      margin: 8px 0 4px;
    }
  }
}

.section--colophon {
  font-size: 12px;
  background-color: #1c1f1f;
  color: $gray-darker;

  .section {
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 70px;
      padding-top: 0;
    }
  }
}
