@import '~@hi-ui/core-css/lib/index.scss';

$prefix: '#{$component-prefix}-pop-confirm' !default;

.#{$prefix} {
  @include text-reset;

  position: relative;
  background: use-color-static('white');
  white-space: nowrap;
  border: use-border-size('normal') use-color('gray', 300);
  border-radius: use-border-radius('xl');
  padding: use-spacing(8) use-spacing(10);
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    align-items: center;

    &-icon {
      margin-right: use-spacing(4);
      color: use-color-mode('primary');
      font-size: use-text-size('lg');
    }

    &-title {
      color: use-color('gray', 900);
      font-weight: use-text-weight('semibold');
    }
  }

  &__body {
    margin: use-spacing(2) 0 0 use-spacing(12);
    white-space: normal;
    color: use-color('gray', 900);

    .#{$prefix}--icon-less & {
      margin-left: 0;
    }
  }

  &__footer {
    display: flex;
    justify-content: end;
    margin-top: use-spacing(8);
  }
}
