/* stylelint-disable */
//全局调色板

$palettePrimary: (
  black: #000,
  blackLight: #424242,
  grayDarker: #616161,
  grayDark: #757575,
  grayDarkLight: #b0b0b0,
  grayDarkLighter: #e0e0e0,
  gray: #f5f5f5,
  grayLight: #eee,
  grayLighter: #fafafa,
  white: #fff,
);

// list 值分别对应 normal、:hover
$paletteSecondary: (
  default: (#ccc,#999),
  primary: (#4284f5, #3b77db),
  green: (#1da653, #1a954a),
  blue: (#3da8f5, #3696dc),
  yellow: (#e19d0c, #ca8c0a),
  red: (#eb5252, #e34949),
);

// 主色变量
// -------------------------

// 黑色
$black: get-color($palettePrimary, black); // #333333
$blackLight: get-color($palettePrimary, blackLight); // #424242

// 中灰
$grayDarker: get-color($palettePrimary, grayDarker); // #616161
$grayDark: get-color($palettePrimary, grayDark); // #757575

// 浅中灰
$grayDarkLight: get-color($palettePrimary, grayDarkLight); // #b0b0b0
$grayDarkLighter: get-color($palettePrimary, grayDarkLighter); // #e0e0e0

// 灰
$gray: get-color($palettePrimary, gray); // #f5f5f5

// 浅灰
$grayLight: get-color($palettePrimary, grayLight); // #eee
$grayLighter: get-color($palettePrimary, grayLighter); // #fafafa

// 白色 #fff
$white: get-color($palettePrimary, white);

// 辅色变量
// -------------------------
$default: get-color($paletteSecondary, default);
$primary: get-color($paletteSecondary, primary);
$green: get-color($paletteSecondary, green);
$blue: get-color($paletteSecondary, blue);
$yellow: get-color($paletteSecondary, yellow);
$red: get-color($paletteSecondary, red);
