@import '~@hi-ui/core-css/lib/index.scss';

$prefix: '#{$component-prefix}-filter' !default;

.#{$prefix}-item {
  display: flex;
  height: 44px;
  line-height: 44px;
  font-size: use-text-size('normal');

  &__label {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::after {
      display: inline-block;
      content: '';
      width: 1px;
      height: 14px;
      background-color: use-color('gray', 300);
    }

    &-title {
      display: inline-block;
      font-size: use-text-size('normal');
      color: use-color('gray', 600);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__values {
    @include list-reset;

    display: flex;
    flex-wrap: wrap;
    margin-inline-start: use-spacing(8);
  }

  &__value {
    @include list-item-reset;

    font-size: use-text-size('normal');
    color: use-color('gray', 700);
    margin-inline-end: use-spacing(20);
    cursor: pointer;
    transition: color 0.3s;

    &:last-child {
      margin-inline-end: 0;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: background-color 0.3s;
    }

    &--active {
      color: use-color-mode('primary');

      &-underline {
        position: relative;

        &::after {
          display: inline-block;
          width: 24px;
          height: 2px;
          background-color: use-color-mode('primary');
        }
      }
    }

    &--disabled {
      @include disabled;

      color: use-color('gray', 400);
    }
  }
}
