@import '~@hi-ui/core-css/lib/index.scss';

$prefix: '#{$component-prefix}-timeline' !default;

.#{$prefix} {
  position: relative;
  padding: use-spacing(4);

  ul {
    margin: 0 !important;
    padding: 0 !important;
  }

  &--cross {
    .timeline__item {
      position: relative;
      margin-bottom: use-spacing(12);

      .item__line {
        top: 7px;
        height: calc(100% + #{use-spacing(12)});
      }

      &:last-of-type {
        margin-bottom: 0;

        .item__line {
          height: 0;
        }
      }

      &:nth-of-type(odd) {
        width: calc(50% - #{use-spacing(11)});
        margin-right: calc(50% + #{use-spacing(11)});
        text-align: right;

        .item__dot {
          width: 8px;
          height: 8px;
          border: 2px solid use-color-mode('primary');
          background: use-color-static('white');
          border-radius: 50%;
          box-sizing: border-box;
          position: absolute;
          top: 7px;
          right: -22px;
          transform: translateX(50%);
          z-index: 2;
        }

        .item__icon {
          position: absolute;
          background: use-color-static('white');
          top: 7px;
          right: -22px;
          transform: translateX(50%);
          z-index: 2;
        }

        .item__line {
          position: absolute;
          right: calc(-22px);
          width: 2px;
          background: use-color('gray', 200);
          transform: translateX(50%);
        }

        .item__time {
          color: use-color('gray', 500);
          font-size: use-text-size('sm');
          line-height: use-text-lineheight('sm');
        }

        .item__title {
          color: use-color('gray', 700);
          font-size: use-text-size('normal');
          line-height: use-text-lineheight('normal');
          font-weight: use-text-weight('medium');
          margin-bottom: use-spacing(2);
        }

        .item__content {
          color: use-color('gray', 600);
          font-size: use-text-size('sm');
          line-height: use-text-lineheight('sm');
          margin-bottom: use-spacing(4);
        }
      }

      &:nth-of-type(even) {
        width: calc(50% - #{use-spacing(11)});
        margin-left: calc(50% + #{use-spacing(11)});

        .item__dot {
          width: 8px;
          height: 8px;
          border: 2px solid use-color-mode('primary');
          background: use-color-static('white');
          border-radius: 50%;
          box-sizing: border-box;
          position: absolute;
          top: 7px;
          left: -22px;
          transform: translateX(-50%);
          z-index: 2;
        }

        .item__line {
          position: absolute;
          left: -22px;
          width: 2px;
          background: use-color('gray', 200);
          transform: translateX(-50%);
        }

        .item__time {
          color: use-color('gray', 500);
          font-size: use-text-size('sm');
          line-height: use-text-lineheight('sm');
        }

        .item__extra {
          color: use-color('gray', 600);
          font-size: use-text-size('sm');
          line-height: use-text-lineheight('sm');
        }

        .item__title {
          color: use-color('gray', 700);
          font-size: use-text-size('normal');
          line-height: use-text-lineheight('normal');
          margin-bottom: 2px;
        }

        .item__content {
          color: use-color('gray', 600);
          font-size: use-text-size('sm');
          line-height: use-text-lineheight('sm');
        }
      }
    }
  }

  &--right {
    .timeline__item {
      position: relative;
      margin-bottom: use-spacing(12);
      margin-left: 24px;

      .item__title {
        color: use-color('gray', 700);
        font-size: use-text-size('normal');
        line-height: use-text-lineheight('normal');
        font-weight: use-text-weight('medium');
        margin-bottom: use-spacing(2);
      }

      .item__content {
        color: use-color('gray', 600);
        font-size: use-text-size('sm');
        line-height: use-text-lineheight('sm');
        margin-bottom: use-spacing(4);
      }

      .item__time {
        color: use-color('gray', 500);
        font-size: use-text-size('sm');
        line-height: use-text-lineheight('sm');
      }

      &:last-of-type {
        margin-bottom: 0;

        .item__line {
          height: 0;
        }
      }

      .item__dot {
        width: 8px;
        height: 8px;
        border: 2px solid use-color-mode('primary');
        background: use-color-static('white');
        border-radius: 50%;
        box-sizing: border-box;
        position: absolute;
        top: 7px;
        left: -20px;
        transform: translateX(-50%);
        z-index: 2;
      }

      .item__icon {
        position: absolute;
        background: use-color-static('white');
        top: 7px;
        left: -20px;
        transform: translateX(-50%);
        z-index: 2;
      }

      .item__line {
        position: absolute;
        left: -22px;
        top: 7px;
        width: 2px;
        background: use-color('gray', 200);
        height: calc(100% + #{use-spacing(12)});
        transform: translateX(50%);
      }
    }
  }

  &--default {
    .timeline__group {
      .timeline__item {
        .item__line {
          position: absolute;
          left: 30%;
          width: 2px;
          background: use-color('gray', 200);
          height: 100% !important;
          top: 7px !important;
          transform: translateX(-50%);
        }
      }

      &:first-of-type {
        .timeline__item {
          &:first-of-type {
            .item__line {
              top: 7px !important;
              height: 100% !important;
            }
          }
        }
      }

      &:last-of-type {
        .timeline__item {
          &:last-of-type {
            .item--right {
              margin-bottom: 0;
            }

            .item__line {
              height: 0 !important;
            }
          }
        }
      }
    }

    .timeline__group-title {
      text-align: right;
      width: calc(30% - #{use-spacing(11)});
      font-size: use-text-size('sm');
      margin-right: use-spacing(11);
      margin-bottom: use-spacing(2);
      color: use-color('gray', 600);
      position: relative;

      .item__line {
        position: absolute;
        top: 7px;
        left: calc(100% + #{use-spacing(11)});
        right: 0;
        width: 2px;
        background: use-color('gray', 200);
        height: calc(100% + 7px);
        transform: translateX(-50%);
      }
    }

    .timeline__item {
      display: flex;
      position: relative;

      .item--left {
        text-align: right;
        width: calc(30% - #{use-spacing(11)});
        margin-right: use-spacing(11);

        .item__time {
          color: use-color('gray', 600);
          font-size: use-text-size('normal');
          line-height: use-text-lineheight('normal');
          font-weight: use-text-weight('medium');
        }

        .item__extra {
          color: use-color('gray', 600);
          font-size: use-text-size('sm');
          line-height: use-text-lineheight('sm');
        }
      }

      .item__dot {
        width: 8px;
        height: 8px;
        border: 2px solid use-color-mode('primary');
        background: use-color-static('white');
        border-radius: 50%;
        box-sizing: border-box;
        position: absolute;
        top: 7px;
        left: 30%;
        transform: translateX(-50%);
        z-index: 2;
      }

      .item__icon {
        position: absolute;
        background: use-color-static('white');
        top: 7px;
        left: 30%;
        transform: translateX(-50%);
        z-index: 2;
      }

      .item__line {
        position: absolute;
        left: 30%;
        top: 7px;
        width: 2px;
        background: use-color('gray', 200);
        height: 100%;
        transform: translateX(-50%);
      }

      .item--right {
        width: calc(70% - #{use-spacing(11)});
        margin-left: use-spacing(11);
        margin-bottom: use-spacing(12);

        .item__title {
          color: use-color('gray', 700);
          font-size: use-text-size('normal');
          line-height: use-text-lineheight('normal');
          font-weight: use-text-weight('medium');
          margin-bottom: use-spacing(2);
        }

        .item__content {
          color: use-color('gray', 600);
          font-size: use-text-size('sm');
          line-height: use-text-lineheight('sm');
        }
      }

      &:last-of-type {
        .item--right {
          margin-bottom: 0;
        }

        .item__line {
          height: 0;
        }
      }
    }
  }
}
