@import '~@hi-ui/core-css/lib/index.scss';

$prefix: '#{$component-prefix}-timeline' !default;

.#{$prefix} {
  position: relative;
  padding: 4px;

  ul {
    margin: 0 !important;
    padding: 0 !important;
  }

  &--cross {
    .timeline__item {
      position: relative;
      margin-bottom: 20px;
      display: flex;

      &:last-of-type {
        margin-bottom: 0;

        .item__line {
          height: 7px !important;
        }
      }

      &:first-of-type {
        .item__line {
          top: 7px;
          height: calc(100% + 20px - 7px) !important;
        }
      }

      &:nth-of-type(odd) {
        width: calc(50% - 20px);
        margin-right: calc(50% + 20px);
        flex-direction: row-reverse;

        .item__dot {
          width: 8px;
          height: 8px;
          border: 2px solid use-color('primary');
          background: use-color('white');
          border-radius: 50%;
          box-sizing: border-box;
          position: absolute;
          top: 7px;
          right: -20px;
          transform: translateX(50%);
          z-index: 2;
        }

        .item__icon {
          position: absolute;
          background: use-color('white');
          top: 7px;
          right: -20px;
          transform: translateX(50%);
          z-index: 2;
        }

        .item__line {
          position: absolute;
          right: -20px;
          width: 2px;
          background: use-color('gray-20');
          height: calc(100% + 20px);
          transform: translateX(50%);
        }

        .item--left {
          text-align: right;
          width: calc(30% - 20px);
          margin-left: 20px;

          .item__time {
            color: use-color('black');
            font-size: $font-size-normal;
            line-height: $line-height-size-normal;
            margin-bottom: 2px;
          }

          .item__extra {
            color: use-color('gray-80');
            font-size: $font-size-small;
            line-height: 20px;
          }
        }

        .item--right {
          text-align: right;
          width: 70%;

          .item__title {
            color: use-color('black');
            font-size: $font-size-normal;
            line-height: $line-height-size-normal;
            margin-bottom: 2px;
          }

          .item__content {
            color: use-color('gray-80');
            font-size: $font-size-small;
            line-height: 20px;
          }
        }
      }

      &:nth-of-type(even) {
        width: calc(50% - 20px);
        margin-left: calc(50% + 20px);

        .item__dot {
          width: 8px;
          height: 8px;
          border: 2px solid use-color('primary');
          background: use-color('white');
          border-radius: 50%;
          box-sizing: border-box;
          position: absolute;
          top: 7px;
          left: -20px;
          transform: translateX(-50%);
          z-index: 2;
        }

        .item__line {
          position: absolute;
          left: -20px;
          width: 2px;
          background: use-color('gray-20');
          height: calc(100% + 20px);
          transform: translateX(-50%);
        }

        .item--left {
          width: calc(30% - 20px);
          margin-right: 20px;

          .item__time {
            color: use-color('black');
            font-size: $font-size-normal;
            line-height: $line-height-size-normal;
            margin-bottom: 2px;
          }

          .item__extra {
            color: use-color('gray-80');
            font-size: $font-size-small;
            line-height: 20px;
          }
        }

        .item--right {
          width: 70%;

          .item__title {
            color: use-color('black');
            font-size: $font-size-normal;
            line-height: $line-height-size-normal;
            margin-bottom: 2px;
          }

          .item__content {
            color: use-color('gray-80');
            font-size: $font-size-small;
            line-height: 20px;
          }
        }
      }
    }
  }

  &--right {
    .timeline__item {
      position: relative;
      margin-bottom: 20px;
      margin-left: 24px;

      .item__title {
        color: use-color('black');
        font-size: $font-size-normal;
        line-height: $line-height-size-normal;
        margin-bottom: 2px;
      }

      .item__content {
        color: use-color('gray-80');
        font-size: $font-size-small;
        line-height: 20px;
        margin-bottom: 6px;
      }

      .item__time {
        color: use-color('gray-70');
        font-size: $font-size-small;
        line-height: 20px;
      }

      &:last-of-type {
        margin-bottom: 0;

        .item__line {
          height: 7px;
        }
      }

      &:first-of-type {
        .item__line {
          top: 7px;
          height: calc(100% + 20px - 7px);
        }
      }

      .item__dot {
        width: 8px;
        height: 8px;
        border: 2px solid use-color('primary');
        background: use-color('white');
        border-radius: 50%;
        box-sizing: border-box;
        position: absolute;
        top: 7px;
        left: -20px;
        transform: translateX(-50%);
        z-index: 2;
      }

      .item__icon {
        position: absolute;
        background: use-color('white');
        top: 7px;
        left: -20px;
        transform: translateX(-50%);
        z-index: 2;
      }

      .item__line {
        position: absolute;
        left: -22px;
        top: 0;
        width: 2px;
        background: use-color('gray-20');
        height: calc(100% + 20px);
        transform: translateX(50%);
      }
    }
  }

  &--default {
    .timeline__group {
      .timeline__item {
        .item__line {
          position: absolute;
          left: 30%;
          width: 2px;
          background: use-color('gray-20');
          height: 100% !important;
          top: 0 !important;
          transform: translateX(-50%);
        }
      }

      &:first-of-type {
        .timeline__item {
          &:first-of-type {
            .item__line {
              top: 7px !important;
              height: calc(100% + 20px - 7px) !important;
            }
          }
        }
      }

      &:last-of-type {
        .timeline__item {
          &:last-of-type {
            .item--right {
              margin-bottom: 0;
            }

            .item__line {
              height: 7px !important;
            }
          }
        }
      }
    }

    .timeline__group-title {
      text-align: right;
      width: calc(30% - 20px);
      margin-right: 20px;
      margin-bottom: 10px;
      color: use-color('black');
      font-weight: $font-weight-bold;
      position: relative;

      .item__line {
        position: absolute;
        top: 0;
        left: calc(100% + 20px);
        right: 0;
        width: 2px;
        background: use-color('gray-20');
        height: calc(100% + 10px);
        transform: translateX(-50%);
      }
    }

    .timeline__item {
      display: flex;
      position: relative;

      .item--left {
        text-align: right;
        width: calc(30% - 20px);
        margin-right: 20px;

        .item__time {
          color: use-color('black');
          font-size: $font-size-normal;
          line-height: $line-height-size-normal;
          margin-bottom: 2px;
        }

        .item__extra {
          color: use-color('gray-80');
          font-size: $font-size-small;
          line-height: 20px;
        }
      }

      .item__dot {
        width: 8px;
        height: 8px;
        border: 2px solid use-color('primary');
        background: use-color('white');
        border-radius: 50%;
        box-sizing: border-box;
        position: absolute;
        top: 7px;
        left: 30%;
        transform: translateX(-50%);
        z-index: 2;
      }

      .item__icon {
        position: absolute;
        background: use-color('white');
        top: 7px;
        left: 30%;
        transform: translateX(-50%);
        z-index: 2;
      }

      .item__line {
        position: absolute;
        left: 30%;
        width: 2px;
        background: use-color('gray-20');
        height: 100%;
        transform: translateX(-50%);
      }

      .item--right {
        width: calc(70% - 20px);
        margin-left: 20px;
        margin-bottom: 20px;

        .item__title {
          color: use-color('black');
          font-size: $font-size-normal;
          line-height: $line-height-size-normal;
          margin-bottom: 2px;
        }

        .item__content {
          color: use-color('gray-80');
          font-size: $font-size-small;
          line-height: 20px;
        }
      }

      &:last-of-type {
        .item--right {
          margin-bottom: 0;
        }

        .item__line {
          height: 7px;
        }
      }

      &:first-of-type {
        .item__line {
          top: 7px;
          height: calc(100% + 20px - 7px);
        }
      }
    }
  }
}
