@font-face {
  font-family: "diy-icon";
  src: url("data:application/x-font-ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwR1NVQrD+s+0AAAE4AAAAQk9TLzJXAkrVAAABfAAAAFZjbWFw1GfZpAAAAkQA AAOEZ2x5ZiBV7mEAAAYEAAARaGhlYWQRArcMAAAA4AAAADZoaGVhB+ADnAAAALwAAAAkaG10eG/p AAAAAAHUAAAAcGxvY2FCYj4GAAAFyAAAADptYXhwAS0AcwAAARgAAAAgbmFtZT5U/n0AABdsAAAC bXBvc3Qh6ghWAAAZ3AAAAUoAAQAAA4D/gABcBAAAAP//BAEAAQAAAAAAAAAAAAAAAAAAABwAAQAA AAEAAAuSBRBfDzz1AAsEAAAAAADW8TmOAAAAANbxOY4AAP9sBAEDhwAAAAgAAgAAAAAAAAABAAAA HABnAAcAAAAAAAIAAAAKAAoAAAD/AAAAAAAAAAEAAAAKAB4ALAABREZMVAAIAAQAAAAAAAAAAQAA AAFsaWdhAAgAAAABAAAAAQAEAAQAAAABAAgAAQAGAAAAAQAAAAAAAQP/AZAABQAIAokCzAAAAI8C iQLMAAAB6wAyAQgAAAIABQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAUGZFZABAAHjo3QOA/4AAXAOH AJQAAAABAAAAAAAABAAAAAPpAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAE AAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQA AAAEAAAABAAAAAAAAAUAAAADAAAALAAAAAQAAAIwAAEAAAAAASoAAwABAAAALAADAAoAAAIwAAQA /gAAAC4AIAAEAA4AeOYC5gbmCeYL5hHmFeYe5i7mMOYz5jfmPOZA5kzmWeZo5nbmfubq53bo3f// AAAAeOYC5gXmCeYL5hHmE+Ye5i7mMOYz5jfmPOZA5kzmWeZo5nTmfubq53bo3f//AAAAAAAAAAAA AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAuAC4ALgAwADAAMAAwADQANAA0 ADQANAA0ADQANAA0ADQANAA4ADgAOAA4AAAAAQAJAAYADAAXABAADwAYABkAEwAUAAgABQAWABIA AgANAAMABwARAAsACgAVABsADgAaAAQAAAEGAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA AAwAAAAAAVQAAAAAAAAAGwAAAHgAAAB4AAAAAQAA5gIAAOYCAAAACQAA5gUAAOYFAAAABgAA5gYA AOYGAAAADAAA5gkAAOYJAAAAFwAA5gsAAOYLAAAAEAAA5hEAAOYRAAAADwAA5hMAAOYTAAAAGAAA 5hQAAOYUAAAAGQAA5hUAAOYVAAAAEwAA5h4AAOYeAAAAFAAA5i4AAOYuAAAACAAA5jAAAOYwAAAA BQAA5jMAAOYzAAAAFgAA5jcAAOY3AAAAEgAA5jwAAOY8AAAAAgAA5kAAAOZAAAAADQAA5kwAAOZM AAAAAwAA5lkAAOZZAAAABwAA5mgAAOZoAAAAEQAA5nQAAOZ0AAAACwAA5nUAAOZ1AAAACgAA5nYA AOZ2AAAAFQAA5n4AAOZ+AAAAGwAA5uoAAObqAAAADgAA53YAAOd2AAAAGgAA6N0AAOjdAAAABAAA AAAAdgDMARABRgGWAdwCfgLSAxADpgQMBFYEtAU4BZgFyAYKBjgGbgbUBvYHNgdeB5gH4AhwCLQA AAAFAAD/4QO8AxgAEwAoADEARABQAAABBisBIg4CHQEhJzQuAisBFSEFFRcUDgMnIychByMiLgM9 ARciBhQWMjY0JhcGBwYPAQ4BHgEzITI2Jy4CJwE1ND4COwEyFh0BARkbGlMSJRwSA5ABChgnHoX+SgKiARUfIxwPPi3+SSw/FDIgEwh3DBISGRISjAgGBQUIAgIEDw4BbRcWCQUJCgb+pAUPGhW8HykC HwEMGScaTFkNIBsSYYg0bh0lFwkBAYCAARMbIA6nPxEaEREaEXwaFhMSGQcQDQgYGg0jJBQBd+QL GBMMHSbjAAAAAAQAAP+ABAADgAAPABsAJwAwAAABIyIGBxMUFjsBPgE1Ey4BJwYABxYAFzYANyYA Ay4BJz4BNx4BFw4BJyIGFBYyNjQmAgYMDxcBDREPBg8RBwEXFdn+3wYGASHZ2QEhBgb+39m7+gUF+ru7+gUF+rsUGBgoGBgCphcP/o0TFAEXDwFzDxfaBv7f2dn+3wYGASHZ2QEh/EwF+ru7+gUF+ru7+ugZJxkZJxkAAAADAAD/bAPAAuwACwAcACwAAAEOAQceARc+ATcuAQc0NjsBMhYVERYGKwEiJjUn ExQGKwEiJj0BNDY7ATIWFQIAvv0FBf2+vv0FBf35DQlKCQwBDQlKCA0Bdg0JSgkNDQlKCQ0C7AX9 vr79BQX9vr790QYKCgb+3gYKCgZx/uUKDg4KKAoODgoAAQAAAAADHgJKACMAAAE3NjQnMSYiDwEn JiIHMQYUHwEHBhQXMRYyPwEXFjI3MTY0JwIt5wkJChoK5uYKGgoJCefnCQkKGgrm5wkaCgkJASzn CRoKCQnn5wkJChoK5uYKGgoJCefnCQkKGgoAAwAA/4AEAAOAAAsAFwApAAATNgA3FgAXBgAHJgAn FgAXNgA3JgAnBgAFJiIPAScmIgYWHwEWMj8BNjQzBQEExMQBBAUF/vzExP78OAUBIdraASEFBf7f 2tr+3wK7CxwLyVMLHRUBCmwLHAviCwGAxAEEBQX+/MTE/vwFBQEExNr+3wUFASHa2gEhBQX+30sK CsxUChUdC20KCuULHQAAAAIAAP+ABAADgAALACcAAAEGAAcWABc2ADcmABMHFxYUBiIvAQcGIiY0 PwEnJjQ2Mh8BNzYyFhQCANr+3wUFASHa2gEhBQX+3xO+qAoUGwuovAocFAq+qAoUHAqovAsbFAOA Bf7f2tr+3wUFASHa2gEh/sK+vAocFAq7uwoUHAq+vAocFAq7uwoUHAAABwAA/38DnwOAAB4AJQAv AD8ATABZAGYAAAEjLgEnDgEHIw4BBxUeARcRHgEXIT4BNxE+ATc1LgElHgEXIz4BAQ4BByEuAScR ITcOASMhIiYnNT4BNyEeARcBPgE1ETQmIgYVERQWFz4BNxEuASIGBxEeARc+ATURNCYiBhURFBYD KZ8HTTY2TAifMkIBASghAUIyAb4yQgEhKAEBQv6lHywHpAcsATwBIxr+QhojAQI6SgEjGv2uGiMB ASMaAlIaIwH+BAwQEBgPD6EMDwEBDxgPAQEPoQwPDxgQEAMFNUUBAUU1AUIyBiU6Df3XMkIBAUIy AikNOiUGMkJFASUeHiX8rRojAQEjGgIgdRojIxoGGiMBASMa/W4BDwwBOQsQEAv+xwwPAQEPDAE5 CxAQC/7HDA8BAQ8MATkLEBAL/scMDwAABAAAAAADvgKzAA0AGwAnADAAAAEeARczLgEnDgEHMz4B Ey4BJyMeARc+ATcjDgElHgEXPgE3LgEnDgEFDgEiJjQ2MhYB/oDJNEM47pqa7ThCNMmAgMk0Qjjt mpruOEM0yf7fAltERVoCAlpFRFsBBAE5Vjg4VjkCdgKDbIekAwOkh2yD/h8Cg22HpQICpYdtg/BF WwEBW0VEWwICW0QrOTlVOTkAAAAAAgAA/34EAQOCABAAIQAANxYENwYEJyYSNzY0JiIHBhABJiQH NiQXFgIHBhQWMjc2EJebAZKeiv6ufnoNhBw6TR2WA2mb/m6eigFSfnoNgxw5TR2WFpMFkH0JeIAB WIoeTDocnv5oAjaTBZB9CXiA/qiKHkw6HJ4BmAAAAAIAAP+6A/8DRQA9AGQAAAEiJy4BJw4BBxQH DgEHHgEXMzI2NCYrAS4BJz4BPwE2NSc+ATceAR8BFjMXHgEXDgEHIyIGFBY7AT4BNS4BBTAxJy4B DwEGFBcWMxcWNj8BNhYXERQWMjY1ET4BHwEeAT8BNjQnAwAEAiKObIytDAVBUgEDe1pdDRMSDl0/ WAICRzYXBgIBi3lecRgGAQUSXIADAWJTSQ4SEg5JeHsCkP6rCAcTB3wHBgEBBwcTBzgDCAESGxMB CAM7BxIHCQYHAoAEWWcBA7CJBQEYek9ihgMTHBICYUg/XgsEAgUZeJoDAVlSEgQBBH1dWI4FEhwT CLVucpzzCQcBCIsHEwgBBQcDB0ADAwX+yg0TEw0BNgUDA0IHAgcGBxMIAAAAAAMAAP/7A5sDBQAd AC0AQgAABSEuAScRNDYyFhcRFBYXIT4BNxE0NjIWFxEOAwEuASMxIgYVERQWFzE+ATcDIiY0PwE2 Mh8BFhQGIi8BJiIPAQYDJf22MkMBCQ0IATIlAkolMQEJDQgBAREgLP7SAQgHBwgIBwcIAdQGCgV8 I2EjfAUKDAV8GkcafAUEAVA8AQ8HCAgH/vEvPgEBPi8BDwcICAf+8RwzKBYCwgkLCwn96QgLAQEL CAGkCgwFfCIifAUMCgV8GRl8BQAAAAYAAP+oA2kDXgACAAgACwARAB4AJwAAAREhBREhESERAREh BREhESERJR4BPgMuAQ4DBxY+AiYOAgI5AR7+vP6rAqv+qgEe/rz+qwKr/dwFGSEfFwcKGSEgFwdE BhocCwsaHAsDN/7QJQFV/HECOgF7/tAmAVb8cQI5zwcCDBUbGA8CDBUbGH8IAhQXEAITGAAAAAAD AAD/gAQAA4AACwAXADUAAAUmACc2ADcWABcGAAMOAQceARc+ATcuAQMiLwEHBi4CPwEnJj4CHwE3 Nh4CDwEXHgEOAQIA2v7fBQUBIdraASEFBf7f2rHrBATrsbHrBATrARQOjo4PJRwBDY6ODQEcJQ+O jg8lHAENjo4KBgwXgAUBIdraASEFBf7f2tr+3wObBOuxsesEBOuxsev9hA6Ojg0BHCUPjo4PJRwB DY6ODQEcJQ+OjgscGxAAAAYAAP/AA30DQQALABcAIwA3AEkAVwAAJSEiJjQ2MyEyFhQGJyEiJjQ2 MyEyFhQGJyMuATQ2OwEyFhQGBSMuASc1NDYyFh0BFBYXMzIWFAYDIS4BJxE+ATchMh8BFhURDgEB IgYHER4BFyE+ATcRJwKC/qwICgoIAVQICgoI/qwICgoIAVQICgqpswgKCgizBwsLAYOzJjMBChAK HxezBwsKWf3DJjMBATMmAZMHBvsFAjz9nhceAQEeFwI9FycB8N8KDwsLDwqhChAKChAKoQEKDwoK DwoBATMmswgKCgizFx4BCg8K/Z4BMyYCzSYyAQX7BQj95ygxA1sfFv0zFx4BAR4XAhLwAAMAAP/+A4MDAgAMACIAOAAAASYiDwEGFBYyPwE2NAEGLgI/ASYGDwEGFh8BHgE/AT4BJwEnLgEPAQ4BFzc2 HgIPARY2PwE2JgJPCBMIewgPFAh7B/7ZECogFg3kGjoUrR0EHiMgXSCtEgIIAUcjIF0grBMCB+wP KyAVDeQaOhWsHQQBzwgIewgTDwd7CBT+hA0WHysQ6wcCEq0gXR8kHQUdrBU6GgGNJB0EHawVORrj DRYfKxDqBwETrCBeAAAAAAEAAP/5A5QDFQAbAAABIREUBiImJxEhIiY0NjchET4BMhYVESEeARQG A1L+9iY4JQH+9xwmJhwBCQElOCYBChwlJQFF/vYcJSUcAQomOCUBAQkdJSUd/vcBJTgmAAAAAAMA AP+fA6ADYAANABMAKAAAAREOAQchLgEnET4BNyEXIy4BJzUDIiY1ESMiJjQ2MyEyFhQGKwERFAYD oAEkG/1AGyQBASQbAkDAgBskAeAKDmgKDg4KAQAKDg4KaA4CoP1AGyQBASQbA0AbJAHAASQbgP0o DgoBKA4UDg4UDv7YCg4AAAIAAAAAAzkCZAAMABkAACUiLwEmNDYyHwEWFAYjIiY0NwE2MhYUBwEG AasZD6sRIywSqhIhGBkgEQFVEiwjEf6qD5wSqhIsIxGrEiwjIywSAVUSIywS/qsSAAAAAwAA/7cD 0ANsAA0AGQAfAAATIgYVERQWFyE+ATURJwEXBzM3FzMnNyMHJwEVFBY7AaIOFBQOAu8PE83+mXuE RGJiRIV8RFlZATIVD7cDYhQO/JoPEwEBEw8Cu83+yrG8kJC8sYSEAUC2DxUABwAA/4wDkwOHAA0A EwAZACQAKAA2AEMAAAEhIgYHER4BMyEyNjcRAyERIRUzESERIRUzATMVBzMVIzU3IzU7AREjEzMe AxQOAisBFSM3MxY+AjQuAisBFQKZ/ksbIwEBIxsCcBsjASz9agGw5v1qAbDm/bPHmJzWmIztLS1l cxwiEwcHEyIcRi0tQwgQDggHDRAIRAOGJBv8hRskJBsCvP1EA6H5/UUDofn+6yO6KCW4KP77AQUB EBcdGBwYEGOJAQYJEBoQCgRWAAAAAgAA/74DwgNCAAMAEAAAExEhEQEjJwcjAzMXNzMXNzM+A4P+vEA8PEJJPy06SDQtPANC/HwDhP2o6OgBLNbW2NgAAAADAAD/uAPIA0gADwAeACkAABMhMhYVERQG IyEuAScRNDYBLgErARUzBzM1MzI2NTQHBisBNTMyHgEVFI4C5CMyMiP9HCQwATICORVINsoBAUeI T1RPFTOUkyMkGANHMiP9HCMyATAkAuQjMv7EHRHkjo48OSRRD3IIHRMcAAAAAAIAAAAAAkYCjAAI ABUAACUuATQ2MhYUBicuATUnPgEyFhcHFAYCBhskJDYkJBsRExwBJDYkARwTeQEjNiMjNiOhASMZ 9RsjJBvyGiQAAAAAAgAA/4sD9QN1ABIAHgAAAQcGIzEiLwEmPgEWHwE3PgEeAQMGAAcWABc2ADcm AALJ5QwTEg1wCgIaIA1RxgwhGgLV1f7lBQUBG9XVARsFBf7lAbT7DQ59DSEXAgtb2A0BGCEBtAX+5dXV/uUFBQEb1dUBGwACAAD/lAPsA2wAGwAnAAABFg4CLwEHBiImND8BJyY0NjIfATc2Mh4BDwED BgAHFgAXNgA3JgACsAwBGCANfn8MIhgMf38LGCANf34NIBgBDH4y0P7qBQUBFtDRARUFBf7rAQoN IBgBDH5+DBghDX5/DSAYC39/CxggDX8B4wX+6tDR/usFBQEV0dABFgAAAAAHAAD/rQOBA1MADQAT ACMALQBEAFUAYAAAASEiBhURFBYzITI2NRElHgE7AQkBNTMyFhcWFxYXFgYnIxUjNzM2NzY1LgEn Ixc1MzYXFhcWHwEWFRYGBw4DBwYnIzczFj8BNjc2Nz4BNTQmJyMVFzUzFSMVMxUjFSMCgP42GB4e GAKUGB7/AAEeGMn/AP6EaAcNBAoFBwEBIikyGxsyGAsMAQwKSptCFwwRChIGBQIBCgYDCwsMBg0S RhsrEg0JBAMKBQMBFwxOr4RpXl4bA1IfF/zIFx8fFwJuNhgeAQD9g8IEAwcNCxAYIwFOYQEHCxAN DAanwgEFBAsMFxYKDxYhCwUJCwMDBQEfAQUFAQYMCwYVDB0jBpQXwhc+F1oAAAAEAAD/rAOtA2AA BgAWAB8AJwAAAScHMxUhJwEhAREUBiMhIiY1ET4BNzYTMjY0JiIGFBYlIyIuAj0BAes2npUBSXv+DQICASMgE/0OFR8BCAcO1BceHi0eHgJ+5goSDggBIGy3AvABnf7g/Z8TIB0WA04JEwgP/kEeLR8f LR6oBw8SCeYAAAAAAAASAN4AAQAAAAAAAAAVAAAAAQAAAAAAAQAIABUAAQAAAAAAAgAHAB0AAQAA AAAAAwAIACQAAQAAAAAABAAIACwAAQAAAAAABQALADQAAQAAAAAABgAIAD8AAQAAAAAACgArAEcA AQAAAAAACwATAHIAAwABBAkAAAAqAIUAAwABBAkAAQAQAK8AAwABBAkAAgAOAL8AAwABBAkAAwAQ AM0AAwABBAkABAAQAN0AAwABBAkABQAWAO0AAwABBAkABgAQAQMAAwABBAkACgBWARMAAwABBAkA CwAmAWkKQ3JlYXRlZCBieSBpY29uZm9udAppY29uZm9udFJlZ3VsYXJpY29uZm9udGljb25mb250 VmVyc2lvbiAxLjBpY29uZm9udEdlbmVyYXRlZCBieSBzdmcydHRmIGZyb20gRm9udGVsbG8gcHJv amVjdC5odHRwOi8vZm9udGVsbG8uY29tAAoAQwByAGUAYQB0AGUAZAAgAGIAeQAgAGkAYwBvAG4A ZgBvAG4AdAAKAGkAYwBvAG4AZgBvAG4AdABSAGUAZwB1AGwAYQByAGkAYwBvAG4AZgBvAG4AdABp AGMAbwBuAGYAbwBuAHQAVgBlAHIAcwBpAG8AbgAgADEALgAwAGkAYwBvAG4AZgBvAG4AdABHAGUA bgBlAHIAYQB0AGUAZAAgAGIAeQAgAHMAdgBnADIAdAB0AGYAIABmAHIAbwBtACAARgBvAG4AdABl AGwAbABvACAAcAByAG8AagBlAGMAdAAuAGgAdAB0AHAAOgAvAC8AZgBvAG4AdABlAGwAbABvAC4A YwBvAG0AAAAAAgAAAAAAAAAKAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAcAQIBAwEEAQUBBgEHAQgB CQEKAQsBDAENAQ4BDwEQAREBEgETARQBFQEWARcBGAEZARoBGwEcAR0AAXgEd29ybgd3YXJuaW5n BmNyb3NzMQZyaWdodDIZTENfaWNvbl9jbG9zZV9maWxsX2NpcmNsZRVMQ19pY29uX2RlbGV0ZV9s aW5lXzEGcmV2aWV3FGppc2hpLWNvcHktY29weS1jb3B5B3VwbG9hZDEGdXBsb2FkB3dlbmppYW4I MTRDSVJDTEUEZmlsZQdsaWFuamllBWNyb3NzA1RYVAZyaWdodDEFRVhDRUwDWklQBHdvcmQDcHB0 CmdhbnRhbmhhby0FcmlnaHQFd3JvbmcXc2h1aXBpbmctd2VuamlhbnR1Ymlhby0DaW1nAAAAAA==") format("truetype");
  font-weight: normal;
  font-style: normal;
}

[class^="Ficon-"]::before,
[class*=" Ficon-"]::before {
  font-family: "diy-icon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 16px;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.Ficon-img:before {
  content: '\e67e';
  color: #54c34c;
}
.Ficon-pdf:before {
  content: '\e776';
  color: #e4525c;
}
.Ficon-ppt:before {
  content: '\e633';
  color: #fb4428;
}
.Ficon-word:before {
  content: '\e676';
  color: #0096d8;
}
.Ficon-excel:before {
  content: '\e615';
  color: #5cad47;
}
.Ficon-txt:before {
  content: '\e668';
  color: #2da9ef;
}
.Ficon-zip:before {
  content: '\e61e';
  color: #4cbbfc;
}
.Ficon-other:before {
  content: '\e606';
  color: #f2d9a4;
  font-size: 18px;
}
.Ficon-warning:before {
  content: '\e64c';
  color: #e4525c;
}
.Ficon-right:before {
  content: '\e613';
  color: #0096d8;
}
.Ficon-wrong:before {
  content: '\e614';
  color: #ff6724;
  cursor: pointer;
}
.Ficon-loading:before {
  content: '\e602';
  color: #8e98fb;
}
.Ficon-cross:before{
  content: '\e60b';
}
.Ficon-img-right:before{
  content: '\e637';
  color: #ffffff;
}
.Ficon-img-warning:before{
  content: '\e609';
  color: #ffffff;
}
.Ficon-img-delete:before{
  content: '\e8dd';
  color: #ffffff;
}
.Ficon-upload:before {
  content: '\e674';
  color: #000000;
}
.Ficon-uploadDrag:before {
  content: '\e675';
  color: #000000;
}
.Ficon-doc:before {
  content: '\e6ea';
  color: #000000;
}
.Ficon-delete:before {
  content: '\e640';
  color: #000000;
}
.Ficon-delete1:before {
  content: '\e674';
  color: #000000;
}
.Ficon-success:before {
  content: '\e674';
  color: #000000;
}
.Ficon-error:before {
  content: '\e674';
  color: #000000;
}
.Ficon-link:before {
  content: '\e674';
  color: #000000;
}
.Ficon-origin:before {
  content: '\e62e';
  color: #000000;
}
.Ficon-delete-photo:before {
  content: '\e659';
  color: #000000;
}
.Ficon-warn:before {
  content: '\e63c';
  color: #000;
}
