@import '../common/index.scss';
@import '../tokens/index.scss';

/// 获取 border 对应 css 变量名
/// @access private
@function get-height-css-name-var($key) {
  $var-name: 'height-' + $key;

  @return with-prefix-var($var-name);
}

/// 获取 height 对应 css 变量值
/// @access private
@function use-height-size-var($key) {
  $var-name: get-height-css-name-var($key);
  $var-value: get-height($key);

  @return var(#{$var-name}, #{$var-value});
}

/// 设置 height size 值
@function use-height-size($key) {
  @return use-height-size-var($key);
}
