// Author: Sivan[sunxingfan@xiaomi.com]
// Description: i18n config etc.

@import '../variables';

// 增加中文字体族
$font-family-sans: ($_font-stack-sans, PingFang SC, PingFang TC, Hiragino Sans GB, Heiti SC, Heiti TC, Microsoft YaHei, Source Han Sans SC, Source Han Sans TC, Noto Sans CJK SC, Noto Sans CJK TC, WenQuanYi Micro Hei, sans-serif, $_font-stack-symbol);
$font-family-black: ($_font-stack-sans, Lantinghei SC, Lantinghei TC, PingFang SC, PingFang TC, Hiragino Sans GB, Heiti SC, Heiti TC, Microsoft YaHei, Source Han Sans SC, Source Han Sans TC, Noto Sans CJK SC, Noto Sans CJK TC, sans-serif, $_font-stack-symbol);
$font-family-serif: ($_font-stack-serif, Songti SC, Songti TC, SimSun, serif, $_font-stack-symbol);
$font-family-mono: ($_font-stack-mono, monospace, $_font-stack-symbol);
