name: Release

on:
  pull_request:
    types:
      - closed
    branches:
      - master

jobs:
  if_merged:
    if: startsWith(github.head_ref, 'release/') && github.event.pull_request.merged == true
    name: Publish packages
    runs-on: ubuntu-latest
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
    steps:
      - name: Test
        run: echo $HOME ${{ github.ref }} ${{ github.head_ref }} ${{ github.event.pull_request.merged }}

      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Setup Node.js 14.21.x
        uses: actions/setup-node@v4
        with:
          node-version: 14.21.x
          cache: 'yarn'

      - name: Setup npmrc
        run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > .npmrc

      - name: Install dependencies
        run: |
          yarn config set strict-ssl false
          yarn

      - name: Build packages
        run: |
          yarn run build

      - name: Publish
        run: |
          yarn run publish
          git checkout -- .npmrc
          git push origin --follow-tags
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Read Version
        id: package
        uses: rexdefuror/read-package-json@v1.0.5
        with:
          file: package.json
          path: ./packages/ui/hiui


      - name: Read ChangeLog
        id: changelog
        uses: BinPar/read-conventional-commit-changelog@v2.0.2
        with:
          changelog-path: ./packages/ui/hiui/CHANGELOG.md
          version: ${{ env.PACKAGE_VERSION }}

      - name: Create Release Log
        uses: ncipollo/release-action@v1
        with:
          # This pulls from the "Get Changelog Entry" step above, referencing it's ID to get its outputs object.
          # See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps
          tag: "@hi-ui/hiui@${{ env.PACKAGE_VERSION }}"
          name: ${{ env.PACKAGE_VERSION }}
          body: ${{ steps.changelog.outputs.version-changelog }}
          allowUpdates: true
          token: ${{ secrets.GITHUB_TOKEN }}
