@import '~@hi-ui/core-css/lib/index.scss';

$panel-prefix: '#{$component-prefix}-collapse-panel' !default;
$icon-class: #{$panel-prefix}__icon !default;

.#{$panel-prefix} {
  font-size: use-text-size('normal');
  position: relative;
  z-index: 0;
  border-bottom: 1px solid use-color('gray', 200);

  &:last-of-type {
    border-radius: 0 0 use-border-radius('normal') use-border-radius('normal');
    overflow: hidden;
    border-bottom: none;
  }

  &:first-of-type {
    border-radius: use-border-radius('normal') use-border-radius('normal') 0 0;
    overflow: hidden;
  }

  &__head {
    display: flex;
    align-items: center;
    background-color: use-color-static('white');
    padding: use-spacing(7) 0;
    color: use-color('gray', 700);
    font-weight: use-text-weight('medium');
    cursor: pointer;
    border-bottom: 1px solid transparent;

    [class^=hi-v4-icon] {
      font-size: use-text-size('lg');
    }

    &:focus {
      outline: none;
    }
  }

  &__title {
    flex: 1;
    margin-right: 10px;
    font-size: use-text-size('normal');
  }

  .#{$icon-class} {
    transition: all 0.2s ease-out;

    &--right {
      transition: all 0.2s ease-out;
    }

    margin-right: use-spacing(5);
  }

  &__content-wrapper {
    transition: all 0.2s ease-out;
    transform-origin: top;
    overflow: hidden;
  }

  &__content {
    padding: use-spacing(3) use-spacing(10) use-spacing(10) use-spacing(10);
    color: use-color('gray', 700);
  }

  &--show {
    &::after {
      background-color: transparent;
    }
    .#{$icon-class} {
      transform: rotate(90deg);

      &--right {
        transform: rotate(180deg);
      }
    }
  }

  &--disabled {
    .#{$panel-prefix}__head {
      cursor: not-allowed;
      color: use-color('gray', 300);
    }
  }
}
