@import '~@hi-ui/core-css/lib/index.scss';

$panel-prefix: '#{$component-prefix}-collapse-panel' !default;
$icon-class: #{$panel-prefix}__icon !default;

.#{$panel-prefix} {
  font-size: use-text-size('normal');
  position: relative;
  z-index: 0;
  // border-bottom: use-border-size('normal') use-color-static('transparent');

  &::after {
    content: '';
    display: block;
    margin: 1px 20px;
    box-sizing: border-box;
    border-bottom: 1px solid use-color('gray', 200);
  }

  &:last-of-type {
    border-radius: 0 0 use-border-radius('lg') use-border-radius('lg');
    overflow: hidden;

    &::after {
      border-bottom: none;
    }
  }

  &:first-of-type {
    border-radius: use-border-radius('lg') use-border-radius('lg') 0 0;
    overflow: hidden;
  }

  &__head {
    display: flex;
    align-items: center;
    padding: use-spacing(7) use-spacing(10);
    color: use-color('gray', 700);
    font-weight: use-text-weight('semibold');
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  &__title-container {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: use-text-size('normal');
    justify-content: space-between;
  }

  .#{$icon-class} {
    transition-property: transform;
    transition-duration: use-motion-duration('normal');
    transition-timing-function: use-motion-bezier('normal');
    font-size: use-text-size('lg');
    color: use-color('gray', 600);

    &--left {
      margin-inline-end: use-spacing(3);
    }
  }

  &__extra {
    color: use-color('gray', 600);
  }

  &__content-wrapper {
    transition-property: height;
    transition-duration: use-motion-duration('normal');
    transition-timing-function: use-motion-bezier('normal');
    transform-origin: top;
    overflow: hidden;
  }

  &__content {
    padding: 0 use-spacing(10) use-spacing(10);
    color: use-color('gray', 700);
  }

  &--show {
    &::after {
      background-color: use-color-static('transparent');
    }
    .#{$icon-class} {
      &--left {
        transform: rotate(90deg);
      }

      &--right {
        transform: rotate(180deg);
      }
    }
  }

  &--disabled {
    .#{$panel-prefix}__head {
      cursor: not-allowed;
      color: use-color('gray', 300);
    }
  }
}
