@import '~@hi-ui/core-css/lib/index.scss';

$panel-prefix: '#{$component-prefix}-collapse-panel' !default;
$icon-class: #{$panel-prefix}__icon !default;

.#{$panel-prefix} {
  font-size: use-text-size('normal');
  position: relative;
  z-index: 0;

  &::after {
    content: '';
    display: block;
    box-sizing: border-box;

    .#{$component-prefix}-collapse--size-sm & {
      margin: 0 use-spacing(6);
    }

    .#{$component-prefix}-collapse--size-md & {
      margin: 0 use-spacing(8);
    }

    .#{$component-prefix}-collapse--size-lg & {
      margin: 0 use-spacing(10);
    }
  }

  &:last-of-type {
    border-radius: 0 0 use-border-radius('lg') use-border-radius('lg');
    overflow: hidden;

    &::after {
      border-bottom: none;
    }

    .#{$panel-prefix}__head {
      &::after {
        border-bottom: none;
      }
    }
  }

  &:first-of-type {
    border-radius: use-border-radius('lg') use-border-radius('lg') 0 0;
    overflow: hidden;
  }

  &__head {
    position: relative;
    display: flex;
    align-items: center;
    color: use-color('gray', 800);
    cursor: pointer;

    .#{$component-prefix}-collapse--size-sm & {
      padding: use-spacing(5) use-spacing(6);
      font-weight: use-text-weight('medium');
    }

    .#{$component-prefix}-collapse--size-md & {
      padding: calc(#{use-spacing(7)} - 1px) use-spacing(8);
      font-weight: use-text-weight('medium');
    }

    .#{$component-prefix}-collapse--size-lg & {
      padding: use-spacing(8) use-spacing(10);
      font-weight: use-text-weight('semibold');
    }

    &:focus {
      outline: none;
    }

    &::after {
      content: '';
      display: block;
      box-sizing: border-box;
      position: absolute;
      bottom: 0;
      border-bottom: 1px solid use-color('gray', 300);

      .#{$component-prefix}-collapse--size-sm & {
        left: use-spacing(6);
        right: use-spacing(6);
      }

      .#{$component-prefix}-collapse--size-md & {
        left: use-spacing(8);
        right: use-spacing(8);
      }

      .#{$component-prefix}-collapse--size-lg & {
        left: use-spacing(10);
        right: use-spacing(10);
      }
    }
  }

  &__title-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .#{$component-prefix}-collapse--size-sm & {
      font-size: use-text-size('sm');
      line-height: use-text-lineheight('sm');
    }

    .#{$component-prefix}-collapse--size-md & {
      font-size: use-text-size('md');
      line-height: use-text-lineheight('md');
    }

    .#{$component-prefix}-collapse--size-lg & {
      font-size: use-text-size('lg');
      line-height: use-text-lineheight('lg');
    }
  }

  .#{$icon-class} {
    font-size: use-text-size('lg');
    color: use-color('gray', 700);
    line-height: 1em;

    // @animation
    transition-property: transform;
    transition-duration: use-motion-duration('normal');
    transition-timing-function: use-motion-bezier('normal');
    will-change: transform;

    &--left {
      margin-inline-end: use-spacing(3);
    }
  }

  &__extra {
    color: use-color('gray', 700);
  }

  &__content-wrapper {
    // @animation
    overflow: hidden;
    transition-property: height;
    transition-duration: use-motion-duration('normal');
    transition-timing-function: use-motion-bezier('normal');
    transform-origin: top;
    will-change: height;
  }

  &__content {
    color: use-color('gray', 800);

    .#{$component-prefix}-collapse--size-sm & {
      padding: use-spacing(6);
    }

    .#{$component-prefix}-collapse--size-md & {
      padding: use-spacing(8);
    }

    .#{$component-prefix}-collapse--size-lg & {
      padding: use-spacing(10);
    }
  }

  &--show {
    &::after {
      border-bottom: 1px solid use-color('gray', 300);
    }

    > .#{$panel-prefix}__head {
      .#{$icon-class} {
        &--left {
          transform: rotate(90deg);
        }

        &--right {
          transform: rotate(180deg);
        }
      }
    }
  }

  &--disabled {
    .#{$panel-prefix}__head {
      cursor: not-allowed;
      color: use-color('gray', 400);
    }

    .#{$icon-class} {
      color: use-color('gray', 400);
    }
  }
}
