@import '~@hi-ui/core-css/lib/index.scss';

$panel-prefix: '#{$component-prefix}-collapse-panel' !default;
$icon-class: #{$panel-prefix}__icon;

.#{$panel-prefix} {
  font-size: $font-size-normal;
  position: relative;
  z-index: 0;

  &::after{
    transition: all 0.2s ease-out;
    position: absolute;
    z-index: 1;
    content: '';
    width: 100%;
    height: 1px;
    background-color: use-color('gray-30');
    bottom: 0;
    left: 0;
  }

  &__head {
    display: flex;
    align-items: center;
    background-color: use-color('white');
    padding: 12px 0 12px 16px;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  &__title {
    flex: 1;
    line-height: 1;
    margin-right: 10px;
  }

  .#{$icon-class} {
    transition: all 0.2s ease-out;
    margin-right: 10px;
  }



  &__content-wrapper {
    transition: all 0.2s ease-out;
    transform-origin: top;
    overflow: hidden;
  }

  &__content {
    padding: 16px;
    color: rgba(0, 0, 0, 0.65);
    background-color: use-color('gray-10');
  }

  &--show {

    &::after{
      background-color: transparent;
    }
    .#{$icon-class} {
      transform: rotate(-180deg);
    }
  }

  &--disabled {
    .#{$panel-prefix}__head {
      cursor: not-allowed;
      color: use-color('gray-50');
    }
  }

}
