@import '~@hi-ui/core-css/lib/index.scss';

$prefix: '#{$component-prefix}-collapse' !default;

.#{$prefix} {
  padding: 0 use-spacing(10);
  border: 1px solid use-color('gray', 200);
  border-radius: use-border-radius('normal');
}
